<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Sobre a Plataforma MOOC TIM Tec</h4>
</div>
<div class="modal-body">
    <p>A Plataforma MOOC de Cursos Livres Online Gratuitos dos Institutos Federais de Educação, Ciência e Tecnologia foi desenvolvida e cedida gratuitamente pelo Instituto TIM.</p>

    <p>TIM Tec é uma iniciativa do Instituto TIM, que está alinhada aos ideais e objetivos da SETEC – Secretaria de Educação Profissional e Tecnológica do Ministério da Educação, para ampliação e melhoria da oferta da educação profissional no Brasil.</p>

    <p>Os cursos oferecidos pela Plataforma MOOC, em sua maioria, correspondem ao Eixo Tecnológico “Informação e Comunicação”, terminologia adotada pela SETEC. Cursos que ensinam linguagens de programação, banco de dados, websites, desenho de jogos, entre outros, estão disponíveis gratuitamente.</p>

    <p>TIM Tec é uma plataforma do tipo MOOC (massive open online courses) e foi desenvolvida em código aberto para que instituições de ensino interessadas também possam se apropriar da plataforma e adaptá-la aos seus interesses e objetivos.</p>

    <h5>Conselho Consultivo</h5>

    <p>Para o desenvolvimento da Plataforma MOOC TIM Tec foi estruturado um Conselho Consultivo Técnico-científico, responsável pela análise dos cursos e da plataforma. Conheça os profissionais que compõem o conselho:</p>

    <p><strong>Regina Melo Silveira:</strong> professora e pesquisadora da Escola Politécnica da Universidade de São Paulo (Poli-USP) a atua na Rede Nacional de Pesquisa (RNP). Realizou pós-doutorado pela Universidade da Califórnia em Santa Cruz e doutorado pela Poli-USP.</p>

    <p><strong>Jarbas Barato:</strong> doutor pela Universidade Estadual de Campinas (UNICAMP), mestre pela San Diego State University e professor. Foi consultor da UNESCO, PNUD, Ministério da Educação, Fundação Bradesco e Fundação Padre Anchieta (TV Cultura).</p>

    <p><strong>Lucia Franco:</strong> doutora pela Escola Politécnica da USP. Professora Associada da Universidade Federal do ABC (UFABC) onde coordena o Núcleo de Tecnologia da Informação.</p>

    <p><strong>Bianca Santana:</strong> autora e colaboradora de livros e objetos educacionais multimídia, é uma das fundadoras da Casa da Cultura Digital, atual diretora de educação do Instituto Educadigital, mestre pela Universidade de São Paulo (USP).</p>

    <p><strong>Luís Otoni Ribeiro:</strong> doutor em Informática na Educação pela Universidade Federal do Rio Grande do Sul (UFRGS). Professor do Instituto Federal Sul-rio-grandese (IFSul) e vinculado ao Programa de Pós-graduação em Educação e Tecnologia.</p>
</div>
