{% extends "socialaccount/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<div id="signup" class="page">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">
        <!-- CONTAINER -->
        <div class="container js-fullheight c1 centered">
            <header class="page-header-double">
                <h2 class="textcenter">
                    <i class="fa fa-frown-o"></i><br/>
                    {% trans "Login Cancelled" %}
                </h2>
            </header>
            {% url 'account_login' as login_url %}
            <h3 class="textcenter">{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</h3>
        </div>
    </div>
</div>
{% endblock %}