{% extends 'admin-base.html' %}
{% load i18n %}
{% load compressed %}
{% load staticfiles %}
{% load timtec_markdown %}

{% block head %}
    {{ block.super }}
    {% compressed_js 'course_material' %}
    {% compressed_js 'admin_course_header' %}
    <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}"></script>
{% endblock %}

{% block content %}
<!-- CONTAINER -->
<div id="course" class="course-material" ng-app="courseMaterial">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <div class="container js-fullheight c1">

            <div ng-controller="HeaderController">
                {% include "_admin_header_inline.html"%}
            </div>

            <section id="course-content" ng-controller="CourseMaterialEditorCtrl">
                <header>
                    <div class="row">
                        <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-12">
                            <h1>{% trans "Course Material" %}</h1>
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8">
                        <modalmarkdowneditor tabindex="2" on-save="save()" title="{% trans "Course Material" %}" content="course_material.text"></modalmarkdowneditor>
                    </div>
                    <!-- ASIDE -->
                    <aside class="col-sm-3 col-lg-3">
                        <form action="{% url 'file_upload' course.slug %}" class="dropzone textcenter" drop-zone id="file-dropzone">
                            <p class="btn btn-success btn-drop"><strong>{% trans 'Drop' %}</strong> {% trans 'files to upload' %}<br>{% trans '(or click)' %}</p>
                            {% csrf_token %}
                            <input type="hidden" name="course_material" value="{{ course_material.id }}" id="id_course_material">
                        </form>
                        <ul class="uploaded-files-list">
                            <li>
                                <h5>{% trans "Files" %}</h5>
                            </li>
                            {% for file in course_material.files.all %}
                            <li>
                                <a href="{{ file.file.url }}">{{ file.file.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <!-- END ASIDE -->
                </div>
            </section>
        </div>
    </div>

</div>
<!-- END CONTAINER -->
{% endblock %}
