<div class="question textleft">
    <span ng-bind-html="getReadingActivityHtml()"></span>
</div>
<slide-panel></slide-panel>

<!--<div class="submit">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12 textright">-->
            <!--<button class="btn btn-success text-uppercase" ng-click="sendAnswerText()" translate>-->
              <!--<i class="fa fa-check-square-o"></i>-->
                <!--Continuar-->
              <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
