<div class="question textleft">
    <h1 class="top">{{ currentUnit.activity.data.question }}</h1>
</div>
<div class="answers trueorfalse-answers">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 textcenter">Verdadeiro</div>
        <div class="col-lg-2 col-md-2 col-sm-2 textcenter">Falso</div>
    </div>
    <div class="answer" ng-repeat="alt in alternatives track by $index">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <label class="radio">
                    {{ alt.title }}
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 textcenter">
                <radio ng-model="$scope.answer.given[$index]" ng-value="true" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 textcenter">
                <radio ng-model="$scope.answer.given[$index]" ng-value="false" />
            </div>
        </div>
    </div>
</div>
