<div ng-controller="DiscussionActivityCtrl">
    <!-- special activity is not open yet -->
    <div class="open-activity closed" ng-if="!activity_open && !activity_expired">
        <div class="topbar"></div>

        <h2 class="title">Atividade Especial Aberta</h2>

        <div class="message">
            <h3>Opa, esse conteúdo ainda não está disponível! ;)</h3>

            <p>A atividade especial será lançada no dia {{ currentActivity.data[0].start_date  | date : 'dd/MM/yyyy' }}.</p>
            <p>
              Enquanto você espera, pode dar uma olhada nos outros conteúdos do curso.
            </p>

            <a href="" class="btn btn-success">continuar curso</a>
        </div>
    </div>

    <!-- special activity is open -->
    <div class="open-activity">
        <div class="topbar">
            <a href="/discussion/#!/forum/{{new_topic.forum}}" class="btn btn-link jump-to">ver atividades dos colegas</a> |
            <a href="" class="btn btn-link jump-to">ver comentários</a>
        </div>

        <h2 class="title">Atividade Especial Aberta</h2>

        <p class="intro" ng-bind-html="currentActivity.data[0].content"></p>

        <!-- <p class="textcenter">
            <img src="http://placehold.it/500x200" alt="">
        </p> -->

        <!-- the activity has not been submited yet -->
        <form class="new-thread">
            <!-- <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="thread-forum">Em qual fórum ele deve estar? <span class="help-text">escolha apenas um</span></label>
                        <select ng-model="new_topic.forum" class="form-control" id="thread-forum"
                                ng-options="forum.id as forum.title for forum in forums" >
                            <option>Escolha o fórum</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <!-- <div class="form-group">
                <label for="thread-name">Como se chamará o novo tópico?</label>
                <input ng-model="new_topic.title" type="text" class="form-control" id="thread-name" placeholder="Escreva o título aqui">
            </div> -->
            <div class="form-group">
                <label for="thread-text">Escreva aqui sua resposta</label>
                <textarea ui-tinymce
                          ng-model="new_topic.content"
                          placeholder="Escreva aqui sua resposta"></textarea>
            </div>
            <button ng-disabled="sending" ng-click="save_answer()" class="btn btn-success new-topic"><i class="fa fa-sign-in" aria-hidden="true"></i> postar nova resposta</button>
        </form>

        <!-- the activity has been submited already and can be viewed -->
        <div class="user-activity forums thread" ng-show="answer">
            <h3 class="title">Sua atividade:</h3>
            <div class="forum-thread" ng-cloak>
                <div class="user-icon">
                    <img src="http://placehold.it/40" alt="{{ topic.author.name }}">
                </div>
                <div class="info">
                    <h4 class="thread-header pull-left">por <span class="user-name">{{topic.author.name}}</span> <span class="last-edit">última edição: {{topic.last_activity_at | date : 'dd/MM/yyyy'}}</span></h4>

                    <button class="btn btn-sm btn-success edit pull-right">editar</button>
                </div>

                <div class="thread-post">
                    <p ng-bind-html="topic.content"></p>
                </div>

                <div class="actions">
                    <div class="pull-left">
                        <a ng-click="topic.show_comment_input=true" class="action replies">comentar</a>
                    </div>
                    <div class="pull-right">
                        <span class="action replies">{{ topic.count_replies }} respostas</span>
                    </div>
                </div>

                <form class="comments-form" ng-show="topic.show_comment_input">
                    <textarea ui-tinymce="tinymceOptions" ng-model="topic.new_comment" placeholder="Escreva aqui o seu comentário"></textarea>
                    <button class="btn btn-xs btn-success reply" ng-click="save_comment(topic, null)">comentar</button>
                    <button class="btn btn-xs btn-danger delete" ng-click="topic.show_comment_input=false">descartar</button>

                </form>

                <!-- Comments about the activity -->

                <div class="comments">
                    <h3 class="comments-title">Comentários</h3>
                    <div class="thread" ng-repeat="comment in topic.comments">
                        <div class="user-icon">
                            <img ng-src="{{ comment.author.picture }}" alt="{{ comment.author.name }}">
                        </div>
                        <div class="info">
                            <span class="user-name">
                              <a ng-href="/profile/{{ comment.author.username }}">{{ comment.author.name }}</a>
                            </span>
                            <div class="comment-post">
                                <div ng-bind-html="comment.text"></div>

                                <!-- TODO: transformar em diretiva -->
                                <button class="btn btn-xs attached"
                                        ng-show="(comment.files.length > 1) && !comment.show_files"
                                        ng-click="comment.show_files=true">
                                    <u>{{comment.files.length}} arquivos anexos</u> + ...
                                </button>
                                <div class="post-attachments"
                                     ng-show="(comment.files.length === 1) || comment.show_files">
                                    <div class="attachments">
                                        <span translate
                                              translate-n="comment.files.length"
                                              translate-plural="{{$count}} arquivos anexos:">1 arquivo anexo:</span>
                                        <ul>
                                            <li ng-repeat="file in comment.files">
                                                <a ng-href="{{file.file}}">{{file.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- TODO END: transformar em diretiva -->
                            </div>
                        </div>
                        <div class="actions">
                            <div class="pull-left">
                                <a ng-click="comment_like(comment)"
                                   ng-class="{ 'active': comment.user_like }"
                                   class="action liked">gostei</a>
                                <a ng-click="comment.show_comment_input=true" class="action replies">comentar</a>
                                <!-- <span class="last-edit">xx de xx de xxxx às xxhxx</span> -->
                            </div>
                            <div class="pull-right">
                                <span class="action liked"
                                      ng-class="{ 'active': comment.count_likes }"
                                      translate
                                      translate-n="comment.count_likes"
                                      translate-plural="{{$count}} gostaram">1 gostou</span>
                                <!--<span class="action replies">30 respostas</span>-->
                            </div>
                        </div>
                        <div class="info">
                            <form class="comments-form" ng-show="comment.show_comment_input">
                                <textarea ui-tinymce
                                          ng-model="comment.new_comment"
                                          placeholder="Escreva aqui o seu comentário"></textarea>
                                <!-- <button class="btn btn-xs btn-primary attach pull-left">anexar arquivo</button> -->
                                <button id="select-file-comment"
                                       class="btn btn-xs btn-primary attach pull-left"
                                       ngf-select="uploadCommentFiles($file, comment)"
                                       ngf-multiple="false">anexar arquivo</button>
                                <button class="btn btn-xs btn-success reply pull-right" ng-click="save_comment(topic, comment);comment.show_comment_input=false;">comentar</button>
                                <button class="btn btn-xs btn-danger delete pull-right" ng-click="comment.show_comment_input=false">descartar</button>
                                <div class="post-attachments"
                                     ng-show="comment.new_comment_files">
                                    <div class="attachments">
                                        <span translate
                                              translate-n="comment.new_comment_files.length"
                                              translate-plural="{{$count}} arquivos anexos:">1 arquivo anexo:</span>
                                        <ul>
                                            <li ng-repeat="file in comment.new_comment_files">
                                                <a ng-href="{{file.file}}">{{file.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="thread" ng-repeat="reply in comment.comment_replies">
                            <div class="user-icon">
                                <img ng-src="{{ reply.author.picture }}" alt="{{ reply.author.name }}">
                            </div>
                            <div class="info">
                                <span class="user-name">
                                  <a ng-href="/profile/{{ reply.author.username }}">{{ reply.author.name }}</a>
                                </span>
                                <div class="comment-post">
                                    <div ng-bind-html="reply.text"></div>
                                    <!-- TODO: transformar em diretiva -->
                                    <button class="btn btn-xs attached"
                                            ng-show="(reply.files.length > 1) && !reply.show_files"
                                            ng-click="reply.show_files=true">
                                        <u>{{reply.files.length}} arquivos anexos</u> + ...
                                    </button>
                                    <div class="post-attachments"
                                         ng-show="(reply.files.length === 1) ||reply.show_files">
                                        <div class="attachments">
                                            <span translate
                                                  translate-n="reply.files.length"
                                                  translate-plural="{{$count}} arquivos anexos:">1 arquivo anexo:</span>
                                            <ul>
                                                <li ng-repeat="file in reply.files">
                                                    <a ng-href="{{file.file}}">{{file.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- TODO END: transformar em diretiva -->
                                </div>
                                <form class="comments-form" ng-show="reply.show_comment_input">
                                    <textarea ui-tinymce
                                              ng-model="comment.new_comment"
                                              placeholder="Escreva aqui o seu comentário"></textarea>
                                    <button id="select-file-reply"
                                            class="btn btn-xs btn-primary attach pull-left"
                                            ngf-select="uploadCommentFiles($file, comment)"
                                            ngf-multiple="false">anexar arquivo</button>
                                    <button class="btn btn-xs btn-success reply pull-right" ng-click="save_comment(topic, comment);reply.show_comment_input=false;">comentar</button>
                                    <button class="btn btn-xs btn-danger delete pull-right" ng-click="reply.show_comment_input=false">descartar</button>
                                    <div class="post-attachments"
                                         ng-show="comment.new_comment_files">
                                        <div class="attachments">
                                            <span translate
                                                  translate-n="comment.new_comment_files.length"
                                                  translate-plural="{{$count}} arquivos anexos:">1 arquivo anexo:</span>
                                            <ul>
                                                <li ng-repeat="file in comment.new_comment_files">
                                                    <a ng-href="{{file.file}}">{{file.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="actions">
                                <div class="pull-left">
                                    <a ng-click="comment_like(reply)"
                                       ng-class="{ 'active': reply.user_like }"
                                       class="action liked">gostei</a>
                                    <a ng-click="reply.show_comment_input=true" class="action replies">comentar</a>
                                    <!-- <span class="last-edit">xx de xx de xxxx às xxhxx</span> -->
                                </div>
                                <div class="pull-right">
                                    <span class="action liked"
                                          ng-class="{ 'active': reply.count_likes }"
                                          translate
                                          translate-n="reply.count_likes"
                                          translate-plural="{{$count}} gostaram">1 gostou</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-activity forums forum-list" ng-show="activities_loaded">
        <h3 class="title">Atividades dos colegas</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>autor</th>
                    <th>atividade</th>
                    <th>reações</th>
                </tr>
            </thead>
            <tbody>
                <tr class="new" ng-repeat="activity in latest_activities">
                    <td>
                        <div class="user-icon">
                            <img src="{{activity.author.picture}}" alt="{{activity.author.name}}">
                        </div>
                        <div class="info">
                            por <span class="user-name">{{activity.author.name}}</span>: <a href="/discussion/topic/#!/topic/{{activity.id}}/" ng-bind-html="activity.content"></a>
                        </div>
                    </td>
                    <td>Última atividade <b>{{activity.last_activity_at | date : 'dd/MM/yyyy' }}</b></td>
                    <td>
                        <span class="action liked">{{ activity.count_likes }} curtiram</span>
                        <span class="action replies">{{ activity.count_replies }} responderam</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
