<div class="slides question" ng-controller="SlidesRevealActivityCtrl">
    <!-- <span ng-init="$parent.answer.given='image'"></span> -->
    <!-- <img class="img-responsive" ng-src="{{ currentActivity.image_url }}"> -->
    <iframe framepreview cm-bind="currentActivity.data.content" style="width: 1019px; height: 600px;" src='/empty/'>
    </iframe>
    <div class="slides-navigation">
        <span class="previous" ng-click="previous_slide()" translate>anterior</span>
        <div class="slides-number">{{ current_slide+1 }} de {{ totalSlides }}</div>
        <span class="next" ng-click="next_slide()" translate>próximo</span>
    </div>
</div>
