<div ng-controller="PHPCtrl">
    <div class="row">
        <tabset>
            <tab ng-repeat="file in currentActivity.files" heading="{{file.name}}" select="refresh()" active="file.active">
                <div class="col-xs-12">
                    <textarea ui-codemirror="codemirrorConfig" ng-model="file.content" ui-refresh="cm_refresh || file.id">
                    </textarea>
                </div>
            </tab>
            <tab heading="Result" disabled="true">
            </tab>
        </tabset>
    </div>
</div>
