<div ng-controller="PHPCtrl">
    <div class="row">
        <tabset>
            <tab ng-repeat="file in answer.given" heading="{{file.name}}" select="refresh()" active="file.active">
                <div class="col-xs-12">
                    <textarea ui-codemirror="codemirrorConfig" ng-model="file.content" ui-refresh="cm_refresh || file.id">
                    </textarea>
                </div>
            </tab>
            <tab heading="Result" disabled="true">
            </tab>
        </tabset>
    </div>
    <div class="submit">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <button onClick="ga('send', 'event', 'activity', 'skip activity');" class="btn btn-default" ng-click="nextStep(true)">Skip</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 textright">
            <button onClick="ga('send', 'event', 'activity', 'rewatch video');" class="btn btn-info" ng-click="play()">Review the video</button>
            <button class="btn btn-success" ng-click="sendAnswer()">Send</button>
        </div>
    </div>
</div>
