<!DOCTYPE html>
<html ng-app="admin">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ course }}</title>

  <script src="//www.youtube.com/iframe_api"></script>

  {% load static %}
  {% load compressed %}

  {% compressed_css 'admin' %}
  {% compressed_js 'all' %}

  <script type="text/javascript" src="{% static 'js/admin/admin.js' %}" charset="utf-8"></script>
</head>
<body id="admin" ng-controller="CourseEdit">

  <!-- NAVBAR -->
  <div id="main-navbar" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="/">TIM Tec - ADMIN</a>
      <ul class="nav navbar-nav pull-right">
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Usuários</a></li>
        <li><a href="#">Estatísticas</a></li>
      </ul>
    </div>
  </div>
  <!-- END NAVBAR -->


  <!-- WRAPPER -->
  <div class="wrapper">
    <!-- CONTAINER -->
    <div id="course-content" class="course-intro">
      <!-- HEADER -->
      <header id="main-header" class="container">
        <div class="page-header">
          <div class="row">
            <div class="col-sm-9 col-lg-9">
              <h1 class="top editable"><span contenteditable="true" ng-model="course.name"></span></h1>
              <h5><span class="icon-addable icon-plus-sign-alt"></span> Adicionar professores ao curso</h5>
            </div>
            <div class="col-sm-3 col-lg-3 textright">
              <a href="aula.html" class="btn btn-lg btn-info col-lg-12 uppercase disabled">Começar o curso</a>
            </div>
          </div>
        </div>
      </header>
      <!-- END HEADER -->

      <!-- MAIN CONTENT -->
      <section id="main-content" class="container">
        <div class="row">
          <div class="col-sm-9 col-lg-9">
            <section class="course-video top row">

              <div class="col-lg-12">
                <div ng-show="video.youtube_id">
                  {% verbatim %}
                  <div id="youtube-player" youtube-player></div>
                  {% endverbatim %}
                  <button ng-click="video.youtube_id=null" class="btn btn-danger btn-lg uppercase">Alterar vídeo</button>
                </div>
                <div class="add-video-intro col-sm-12 col-lg-12 left right textcenter" ng-hide="video.youtube_id">
                  <div class="centered">
                    <i class="icon-youtube-play"></i>
                    <h1 class="top">Vídeo de introdução</h1>
                    <p class="form-group">
                        <input type="text" class="form-control" ng-model="video.youtube_id_temp"/>
                    </p>
                    <p>
                        <button ng-click="video.reset()" ng-show="course.intro_video.youtube_id" class="btn btn-danger btn-lg uppercase">Cancelar</button>
                        <button ng-click="video.save()" class="btn btn-success btn-lg uppercase">Adicionar</button>
                    </p>
                  </div>
                </div>
              </div>

            </section>

            {% verbatim %}
            <section class="course-info row">
              <div class="col-sm-6 col-lg-6">
                <div class="page-header-double">
                  <h3 class="top"><i class="icon-double-angle-right"></i> Aplicação do Conhecimento</h3>
                </div>
                <div class="editable {{modals.application.status}}" ng-bind-html="course.application"></div>
                <a data-toggle="modal" href="#applicationModal">Editar texto</a>
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="page-header-double">
                  <h3 class="top"><i class="icon-double-angle-right"></i> O que preciso saber</h3>
                </div>
                <div class="editable {{modals.requirement.status}}" ng-bind-html="course.requirement"></div>
                <a data-toggle="modal" href="#requirementModal">Editar texto</a>
              </div>
            </section>
            {% endverbatim %}

            <section class="course-lessons row" ng-controller="LessonList">
              <div class="col-sm-12 col-lg-12">
                <div class="page-header-double">
                  <h3><i class="icon-double-angle-right"></i> Aulas</h3>
                </div>

                <a href="#lessonModal" ng-click="newLesson()"
                   data-toggle="modal" class="btn btn-success">Adicionar</a>

                {% verbatim %}
                <ul class="no-bullet">
                  <li ng-repeat="lesson in lessons">
                    <div class="row">
                      <div class="col-lg-3 col-sm-3">
                        <img src="/static/img/lesson-default.png" class="img-thumbnail">
                      </div>
                      <div class="col-lg-9 col-sm-9">
                        <p>

                          <!-- lesson selector -->
                          <a href="#lessonModal" data-toggle="modal" class="title"
                             ng-click="select(lesson)">{{ lesson.name }}</a>

                          <span class="description">{{ lesson.desc }}</span>
                        </p>
                        <table class="table">
                          <tr>
                            <td ng-repeat="unit in lesson.units">
                              <span class="has-tooltip unit" data-toggle="tooltip" data-placement="bottom" data-original-title="Unidade {{ $index }}">&nbsp;<i ng-show="unit.activity" class="icon-list"></i></span>
                            </td>
                          </tr>
                        </table>
                        <p><i class="icon-youtube-play"></i> <small>{{ countVideos(lesson) }} vídeos</small> | <i class="icon-list"></i> <small>{{ countActivities(lesson) }} atividades</small></p>
                      </div>
                    </div>
                  </li>
                </ul>
                {% endverbatim %}
              </div>
            </section>

            <section class="course-instructors row">
              <div class="col-sm-12 col-lg-12">
                <div class="page-header-double">
                  <h3><i class="icon-double-angle-right"></i> Professores</h3>
                </div>
                <a href="#professorModal" data-toggle="modal" class="btn btn-success">Adicionar</a>
              </div>

              <br/>{# TODO: resolver esse <br/> (anderson) #}

              {% verbatim %}
              <div ng-repeat="professor in course.professors" class="col-sm-12 col-lg-12">
                <div id="{{ professor.user.username }}" class="instructor row">
                  <div class="col-sm-3 col-lg-3">
                    <img ng-src="{{professor.user.picture}}" class="img-thumbnail">
                  </div>
                  <div class="col-sm-9 col-lg-9">
                    <h1 class="fullname bottom top">{{ professor.user.name }}</h1>
                    <h2 class="job-title top">{{ professor.role }}</h2>
                    <p>{{ professor.biography }}</p>
                  </div>
                </div>
              </div>
              {% endverbatim %}
            </section>
          </div>

          <div class="col-sm-3 col-lg-3">
            <div class="row">
              {% verbatim %}
              <section class="course-summary col-sm-12 col-lg-12">
                <div class="page-header-double top">
                  <h3 class="top"><i class="icon-double-angle-right"></i> Resumo</h3>
                </div>
                <div class="editable {{modals.abstract.status}}" ng-bind-html="course.abstract"></div>
                <a data-toggle="modal" href="#abstractModal">Editar texto</a>
                <hr/>

                <div class="page-header-double top">
                  <h3 class="top"><i class="icon-double-angle-right"></i> Estrutura do curso</h3>
                </div>
                <div class="editable {{modals.structure.status}}" ng-bind-html="course.structure"></div>
                <a data-toggle="modal" href="#structureModal">Editar texto</a>
                <hr/>

                <div class="page-header-double top">
                  <h3 class="top"><i class="icon-double-angle-right"></i> Carga horária</h3>
                </div>
                <div class="editable {{modals.workload.status}}" ng-bind-html="course.workload"></div>
                <a data-toggle="modal" href="#workloadModal">Editar texto</a>
                <hr/>
              </section>
              {% endverbatim %}

              <section class="course-social col-sm-12 col-lg-12" style="position:relative;overflow:hidden;">
              </section>
            </div>
          </div>
        </div>
      </section>
      <!-- END MAIN CONTENT -->
    </div>
    <!-- END CONTAINER -->
  </div>
  <!-- END WRAPPER -->



  <!-- FOOTER -->
  <div id="main-footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <ul class="no-bullet">
            <li><a href="">Sobre</a></li>
            <li><a href="">Equipe</a></li>
            <li><a href="">Imprensa</a></li>
            <li><a href="">Contato</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-lg-3">
          <ul class="no-bullet">
            <li><a href="">Blog</a></li>
            <li><a href="">Ajuda</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-lg-3">
          <ul class="no-bullet">
            <li><a href="">Política de Uso</a></li>
            <li><a href="">Política de Privacidade</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-lg-3">
          Coluna 4
        </div>
      </div>
    </div>
  </div>
  <!-- END FOOTER -->

  {% verbatim %}
  <div ng-repeat="modal in modals">
    <div class="modal fade" id="{{modal.window}}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog {{modal.status}}">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="text-editor">
              <div class="row">
                <div class="col-lg-12">
                  <i class="icon-bold"></i>
                  <i class="icon-italic"></i>
                  <i class="icon-link"></i>
                  <i class="icon-quote-left"></i>
                  <i class="icon-code"></i>
                  <i class="icon-list-ol"></i>
                  <i class="icon-align-left"></i>
                  <i class="icon-align-center"></i>
                  <i class="icon-align-right"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-group">
                  <textarea ng-model="modal.data" class="col-lg-12 form-control" rows="15"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="modal.reset()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" ng-click="modal.save()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endverbatim %}

  <div class="modal professor-modal fade" id="professorModal" tabindex="-1" role="dialog" aria-labelledby="professorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Adicionar Professor</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-4">
              <p class="form-group"><input type="search" class="form-control col-lg-12" placeholder="Procurar professor"></p>
              <ul class="contacts">
                <li class="title">A</li>
                <li>Anderson Orui</li>
                <li class="title">B</li>
                <li>Bruno Martin</li>
                <li class="title">C</li>
                <li>Cátia Kitahara</li>
                <li class="title">D</li>
                <li class="title">E</li>
                <li class="title">F</li>
                <li>Fábio Montefuscolo</li>
                <li class="title">G</li>
                <li class="title">H</li>
                <li class="title">I</li>
                <li class="title">J</li>
                <li class="title">K</li>
                <li class="title">L</li>
                <li class="title">M</li>
                <li class="title">N</li>
                <li class="title">O</li>
                <li class="title">P</li>
                <li class="title">Q</li>
                <li class="title">R</li>
                <li class="title">S</li>
                <li class="title">T</li>
                <li class="title">U</li>
                <li class="title">V</li>
                <li class="title">X</li>
                <li class="title">W</li>
                <li class="title">Y</li>
                <li class="title">Z</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <form>
                <div class="form-group">
                  <label>Nome do professor</label>
                  <input type="text" class="form-control col-lg-12" placeholder="Nome do professor">
                </div>
                <div class="form-group">
                  <label>Biografia</label>
                  <div class="text-editor">
                    <div class="row">
                      <div class="col-lg-12">
                        <i class="icon-bold"></i>
                        <i class="icon-italic"></i>
                        <i class="icon-link"></i>
                        <i class="icon-quote-left"></i>
                        <i class="icon-code"></i>
                        <i class="icon-list-ol"></i>
                        <i class="icon-align-left"></i>
                        <i class="icon-align-center"></i>
                        <i class="icon-align-right"></i>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <textarea class="col-lg-12 form-control" rows="15"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% verbatim %}
  <div class="modal lesson-modal fade" id="lessonModal" ng-controller="LessonEdit"
       tabindex="-1" role="dialog" aria-labelledby="lessonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" ng-hide="selectedLesson.name">Adicionar Aula</h4>
          <h4 class="modal-title" ng-show="selectedLesson.name">{{selectedLesson.name}}</h4>
        </div>
        <div class="modal-body">
          <div class="main-lesson-content row" ng-show="active=='content'">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control"
                       placeholder="Título da aula" ng-model="selectedLesson.name">
              </div>
              <div class="form-group">
                <label>Descrição</label>
                <textarea class="col-lg-12 form-control" ng-model="selectedLesson.desc" rows="5"></textarea>
              </div>
              <div class="form-group">
                <label>Notas do professor</label>
                <div class="text-editor">
                  <div class="row">
                    <div class="col-lg-12">
                      <i class="icon-bold"></i>
                      <i class="icon-italic"></i>
                      <i class="icon-link"></i>
                      <i class="icon-quote-left"></i>
                      <i class="icon-code"></i>
                      <i class="icon-list-ol"></i>
                      <i class="icon-align-left"></i>
                      <i class="icon-align-center"></i>
                      <i class="icon-align-right"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <textarea class="col-lg-12 form-control" rows="15"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <nav class="textcenter">
                      <div class="circle selected"></div>
                      <div class="circle"></div>
                      <button class="next btn btn-success" ng-click="active='units'">Continuar <i class="icon-double-angle-right"></i></button>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="main-lesson-units row" ng-show="active=='units'">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-3">
                  <p><button class="btn btn-success btn-lg col-lg-12 uppercase">adicionar unidade</button></p>
                  <ul class="units">
                    <li class="selected" ng-repeat="unit in selectedLesson.units">
                      <div class="row">
                        <div class="col-lg-1"><i class="icon-reorder"></i></div>
                        <div class="col-lg-8">
                            <a href="" ng-click="selectUnit($index)">Unidade {{$index+1}}</a>
                        </div>
                        <div class="col-lg-2 textright"><i class="icon-remove alignright"></i></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-9">
                  <div class="page-header top">
                    <h3 class="top">{{selectedUnit().title}}</h3>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Vídeo ID</label>
                    <input type="text" class="form-control video-url" placeholder="http://www.youtube.com/watch?v="
                           ng-model="selectedUnit().video.youtube_id">
                  </div>

                  <div class="form-group">
                    <label class="control-label">Atividade</label>
                    <p class="{{activity().type}}">
                      <button ng-click="changeTypeTo('simplechoice')"
                              class="{{typeIs('simplechoice')?'active':''}} btn btn-sm btn-default">Escolha simples
                      </button>

                      <button ng-click="changeTypeTo('multiplechoice')"
                              class="{{typeIs('multiplechoice')?'active':''}} btn btn-sm btn-default">Múltipla escolha
                      </button>

                      <button ng-click="changeTypeTo('trueorfalse')"
                              class="{{typeIs('trueorfalse')?'active':''}} btn btn-sm btn-default">Verdadeiro ou falso
                      </button>

                      <button ng-click="changeTypeTo('order')"
                              class="{{typeIs('order')?'active':''}} btn btn-sm btn-default">Ordenação
                      </button>

                    </p>
                  </div>

                  <div class="form-group singlechoice" ng-show="typeIs('simplechoice')">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-lg-3">Pergunta</label>
                        <div class="col-lg-8 col-lg-offset-1">
                          <textarea class="form-control" placeholder="Digite a pergunta" ng-model="activity().data.question"></textarea>
                        </div>
                      </div>
                      <div class="form-group" ng-repeat="alt in activity().data.alternatives track by $index">
                        <label class="control-label col-lg-3">Alternativa {{$index+1}}</label>
                        <div class="col-lg-1">
                            <input type="radio" ng-model="activity().expected" ng-value="$index" />
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="Digite uma resposta"
                                 ng-model="activity().data.alternatives[$index]"/>
                        </div>
                      </div>
                    </div>
                    <button class="next btn" ng-click="addAlternative()">Adicionar resposta</button>
                  </div>

                  <div class="form-group multiplechoice" ng-show="typeIs('multiplechoice')">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-lg-3">Pergunta</label>
                        <div class="col-lg-8 col-lg-offset-1">
                          <textarea class="form-control" placeholder="Digite a pergunta" ng-model="activity().data.question"></textarea>
                        </div>
                      </div>
                      <div class="form-group" ng-repeat="alt in activity().data.alternatives track by $index">
                        <label class="control-label col-lg-3">Alternativa {{$index+1}}</label>
                        <div class="col-lg-1">
                            <input type="checkbox" ng-model="activity().expected[$index]" />
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="Digite uma resposta"
                                 ng-model="activity().data.alternatives[$index]"/>
                        </div>
                      </div>
                    </div>
                    <button class="next btn" ng-click="addAlternative()">Adicionar resposta</button>
                  </div>


                  <!-- div class="form-group trueorfalse">Verdadeiro ou falso</div-->
                  <!-- div class="form-group order">Ordenação</div-->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <nav class="textcenter">
                      <button class="prev btn btn-success" ng-click="active='content'"><i class="icon-double-angle-left"></i> Voltar</button>
                      <div class="circle"></div>
                      <div class="circle selected"></div>
                      <button class="next btn btn-success disabled">Continuar <i class="icon-double-angle-right"></i></button>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="selectedLesson.restore()">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="selectedLesson.$update()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endverbatim %}

</body>
</html>
