<div>
    <div ng-show="answer.correct" class="alert alert-success">
        <i class="fa fa-smile-o"></i><span translate> Your answer is <strong>correct!</strong></span>
    </div>

    <div ng-show="answer.correct === false" class="alert alert-danger">
        <i class="fa fa-frown-o"></i> <span translate>Your answer is <strong>wrong</strong>. Review the video more attentively and try again.</span>
    </div>

    <div class="submit">
        <!-- if no answer or incorrect -->
        <div class="row" ng-if="! answer.correct">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button onClick="ga('send', 'event', 'activity', 'skip activity');" class="btn btn-default" ng-click="nextStep(true)" translate>Skip</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 textright">
                <button onClick="ga('send', 'event', 'activity', 'rewatch video');" class="btn btn-info" ng-click="play()" translate>Review the video</button>
                <button class="btn btn-success" ng-click="sendAnswer()" translate>Send</button>
            </div>
        </div>
        <!-- if correct -->
        <div class="row" ng-if="answer.correct">
            <div class="col-lg-12 col-md-12 col-sm-12 textright">
                <button class="btn btn-success" ng-click="nextStep()" translate>Continue</button>
            </div>
        </div>
    </div>
</div>
