<div>
    <div class="submit">
        <!-- if no answer or incorrect -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 textright">
                <button class="btn btn-default btn-sm pull-left" ng-click="previous_activity_from_image()" translate>< Anterior</button>
                <!--<button onClick="ga('send', 'event', 'activity', 'rewatch video');" class="btn btn-info" ng-click="play()" translate>Rever o vídeo</button>-->
                <button class="btn btn-success btn-sm" ng-click="next_activity_from_image()" translate>Próximo ></button>
            </div>
        </div>
    </div>
</div>
