Django==1.5.2
jsonfield
django-suit==0.2.4
Pillow==2.1.0
docutils==0.11
django-rosetta==0.7.2
django-pipeline==1.3.14
django-debug-toolbar==0.9.4
-e git+https://github.com/hacklabr/django-registration.git#egg=django-registration-dev
