-e git+https://github.com/django/django@stable/1.6.x#egg=Django
-e git+https://github.com/bradjasper/django-jsonfield#egg=jsonfield
django-suit==0.2.4
Pillow==2.1.0
docutils==0.11
django-rosetta==0.7.2
django-pipeline==1.3.15
-e git+https://github.com/django-debug-toolbar/django-debug-toolbar@7e4ecfd04cfe61b51e1fd6fdf0ce1c800a3ebb3b#egg=django_debug_toolbar
-e git+https://github.com/hacklabr/django-registration.git#egg=django-registration-dev
djangorestframework==2.3.8
django-positions==0.4.6
django-extensions==1.2.1
psycopg2==2.5.1
Pygments==1.6
django-filter==0.7
django-autoslug==1.7.1
