{% load i18n %}
<script type="text/ng-template" id="courseCompleteModal.html" xmlns="http://www.w3.org/1999/html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
            {% trans "Course Complete" %}</h4>
    </div>
    <div class="modal-body">
        {% verbatim %}
        <div class="row">
            <div class="col-md-6">
                <h2>Parabéns por chegar ao fim do curso {{ cs.name }}!</h2>
                <p>
                    Você concluiu {{ cs.percent_progress }}% do curso.
                </p>
                <p>Continue participando das conversas no <a href="http://ava.paralapraca.org.br/mod/forum/view.php?id=7">fórum</a>. Esse é um espaço para seguir a formação!</p>
            </div>
            <!--<div class="col-md-6">-->
                <!--<span class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Importante</span>-->
                <!--<p>-->
                    <!--O <strong>comprovante</strong> é a prova de que você concluiu a carga mínima necessária do curso, designada pelos instrutores. Porém, ele <strong>não</strong> possui a validade de um <strong>certificado</strong>.-->
                <!--</p>-->
                <!--<p ng-show="cs.certificate.processes.length">-->
                    <!--Processo de certificação em andamento, para verificar o status do processo, clique-->
                    <!--{% endverbatim %}-->
                    <!--<a href="{% url 'user_courses' %}#my-certificates">aqui</a>-->
                    <!--{% verbatim %}-->
                <!--</p>-->
                <!--<p ng-show="cs.can_emmit_receipt && !cs.certificate.processes.length">-->
                    <!--Para obter um certificado, é necessário ser aprovado na avaliação do curso. Peça a emissão-->
                    <!--do certificado clicando abaixo.-->
                <!--</p>-->
                <!--<p ng-show="cs.can_emmit_receipt && !cs.user.is_profile_filled" class="alert alert-danger">-->
                    <!--Você precisa preencher seu perfil antes de entrar em um processo de certificação-->
                <!--</p>-->
                <!--&lt;!&ndash; TODO trocar o link pra emissão de certificado &ndash;&gt;-->
                <!--<div ng-show="cs.can_emmit_receipt && cs.user.is_profile_filled" class="text-right">-->
                    <!--<a ng-hide="cs.certificate.processes.length"-->
                       <!--ng-click="createCertificationProcess()" class="btn btn-success">-->
                        <!--{% endverbatim %}-->
                        <!--Pedir certificado-->
                        <!--{% verbatim %}-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        {% endverbatim %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">{% trans "Close" %}</button>
    </div>
</script>
