<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Sobre a Plataforma MOOC TIM Tec</h4>
</div>
<div class="modal-body">
    <p>O novo portal MOOC do IFSul é uma plataforma de cursos online, livres e gratuitos.</p>

    <p>Lançado durante a programação da 3ª Semana Acadêmica Binacional (SEMABI) dos cursos técnicos do campus Santana do Livramento do IFSul, o portal funciona por meio do software livre TIM Tec, desenvolvido pelo Instituto TIM para os Institutos Federais de Educação, Ciência e Tecnologia.</p>

    <p>É uma plataforma de cursos massivos - MOOCs (Massive Open Online Courses), que combinam vídeos online com elementos interativos como testes, simuladores e fóruns. Estudantes podem assistir aulas fracionadas em pequenos capítulos, acessar materiais complementares e fazer anotações em um caderno virtual, gestores e professores podem acompanhar os avanços dos alunos, gerenciar turmas e fóruns de discussão.</p>

    <p>Essa iniciava expressa o compromisso do IFSUL em implementar processos educativos que ampliem as possibilidades de inclusão e desenvolvimento social.</p>
</div>
