{% extends "default:lesson.html" %}

{% load i18n %}

{% block header %}
    {% include 'header_plpc.html' %}
{% endblock %}

{% block content %}
<!-- COURSE -->
<div id="course" class="course-lesson" ng-app="lesson">

    <!-- HEADER -->
    {% include "_course-header-inline.html"  with course=lesson.course %}
    <!-- END HEADER -->

    <!-- COURSE CONTENT -->
    <section id="course-content" class="container">

        <div id="lesson-header" class="clearfix">
        {% block lesson_headder %}
            {% include '_lesson_header.html' %}
        {% endblock %}
        </div>

        <!-- ROW -->
        <div ng-controller="MainCtrl">
            <div class="row">
                <!-- UNITS NAVIGATION FOR TABLET AND DESKTOP -->
                <div class="col-md-1 col-sm-2 hidden-xs" id="lesson-units-nav">
                    {% block units_nav %}
                    {{ block.super }}
                    {% endblock %}
                </div>
                <!-- END UNITS NAVIGATION FOR TABLET AND DESKTOP -->

                <!-- UNITS NAVIGATION FOR PHONES -->
                <div class="col-xs-12 visible-xs">
                    {% block units_nav_mobile %}
                    {{ block.super }}
                    {% endblock %}
                </div>
                <!-- END UNITS NAVIGATION FOR PHONES -->

                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                    {% block lesson_video %}
                    <!--
                    this class exists to circunvent a flash + youtube api error
                    in which if the video div is really hidden the api breaks
                    -->
                    <div ng-class="{hidder: section!='video'}" class="video embed-responsive embed-responsive-16by9">
                        <div class="embed-responsive-item" id="youtube-player" youtube-player></div>
                    </div>
                    <div ng-show="section=='activity'" class="course-activity">
                        <ng:include src="activityTemplateUrl"></ng:include>
                    </div>
                    <div ng-show="section=='comment'" class="comment">
                        <div class="panel panel-default" style="min-height: 368px;">
                            <div class="panel-heading">
                                <h2 class="panel-title">{% trans 'Professor comment' %}</h2>
                            </div>
                            <div class="panel-body" ng-bind-html="currentActivity.comment|markdown"></div>
                        </div>
                        <div class="row" ng-if="answer.correct">
                            <div class="col-lg-12 col-md-12 col-sm-12 textright">
                                <button class="btn btn-success" ng-click="nextStep()">{% trans 'Continue' %}</button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="section=='end'" class="next-lesson">
                        <div class="centered">
                            {% if next_url %}
                                <a class="btn btn-info btn-lg" href="{{ next_url }}"><span>Vá para a próxima aula</span><i class="fa fa-caret-right"></i></a>
                            {% else %}
                                <a class="btn btn-info btn-lg" href="{% url 'course_intro' lesson.course.slug %}"><span>Voltar para home do curso</span><i class="fa fa-caret-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% endblock %}
                </div>

                <!-- div ng-view></div -->

                <!-- NOTES -->
                <div class="col-lg-3 col-md-3 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1"
                     id="student-notes"
                     ng-lesson-fullheight>
                    {% block lesson_annotation %}
                    {{ block.super }}
                    {% endblock %}
                </div>
                <!-- END NOTES -->
            </div>
            <!-- END ROW -->

            <div class="row">
                <div class="col-lg-8 col-sm-10 col-lg-offset-1 col-sm-offset-1" id="materials">
                    {% block lesson_adicional_material %}
                    {{ block.super }}
                    {% endblock %}

                    <!-- FORUM -->
                    {% include "_forum_inline.html"  with course=lesson.course question_form=1 %}
                    <!-- END FORUM -->
                </div>
            </div>
        </div>
    </section>
    <!-- END COURSE CONTENT -->
    {% block complete_modal_template %}
    {{ block.super }}
    {% endblock %}
</div>
<!-- END COURSE -->
{% endblock %}
