{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="email-confirm" class="page">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <!-- CONTAINER -->
        <div class="container">

            <div class="container">
                <div class="message">
                    <p>{% trans "Mission accomplished" %}.</p>
                    <p>{% trans "You have an active account" %}.</p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}