{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div id="login" class="page">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <!-- CONTAINER -->
        <div class="container">

            <header class="page-header-double">
                <h2>{% trans "Sign In" %}</h2>
            </header>

            <form method="post" action="{% url 'timtec_login' %}" class="form-horizontal">{% csrf_token %}
                <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                    <label class="col-lg-2 col-md-3 col-sm-4">{% trans "Username" %}</label>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <input name="username" type="text" class="form-control"
                               value="{{login_form.username.value}}" placeholder='{% trans "E-mail or username" %}'/>
                        {% for error in login_form.username.errors %}
                        <small>{{error}}</small>
                        {% endfor error in %}
                    </div>
                </div>
                <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                    <label class="col-lg-2 col-md-3 col-sm-4">{% trans "Password" %}</label>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <input name="password" type="password" class="form-control" placeholder='{% trans "Password" %}'>
                        {% for error in login_form.password.errors %}
                        <small>{{error}}</small>
                        {% endfor %}
                        {% for error in login_form.non_field_errors %}
                        <small>{{error}}</small>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="submit col-lg-6 col-md-8 col-sm-10 textright">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="{% url 'account_reset_password' %}" class="alignleft">{% trans "Forgot my password" %}</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 textright">
                                <button class="btn btn-success alignright">{% trans "Sign In" %}</button>
                            </div>
                            
                            <div class="col-lg-12 textright">
                            <hr />
                                {% load socialaccount %}<a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-primary">Facebook Connect</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}
