{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="reset-pass" class="page">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <!-- CONTAINER -->
        <div class="container">
            <header class="page-header-double">
                <h2>{% trans "Forgot my password" %}</h2>
            </header>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <form onclick="event.stopPropagation()" method="post" action="{% url 'account_reset_password' %}">{% csrf_token %}
                        {% with errors=form.email.errors %}
                        <div class="form-group{{ errors|yesno:' has-error,' }}">
                          <p>{% trans "Insert your e-mail so we can send you the instructions to recover your password" %}</p>
                            <p><input name="email" type="email" class="form-control" placeholder="{% trans 'Your e-mail' %}"></p>
                            {% for error in errors %}<small>{{ error }}</small>{% endfor %}
                        </div>
                        {% endwith %}

                        <div class="submit textright">
                            <button class="btn btn-success">{% trans "Send" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
