{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<!-- TABLET AND DESKTOP -->
<div id="activation-wrapper" class="container visible-lg visible-md visible-sm">
    <div class="centered">
        <h1 class="textcenter">
            <i class="icon-thumbs-up-alt"></i><br/>
            {% trans "Password reset complete" %}</br>
        </h1>
        <form onclick="event.stopPropagation()" method="post" action="{% url 'timtec_login' %}" class="form-horizontal">{% csrf_token %}
            <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                <label class="col-lg-4 col-md-4 control-label">{% trans "Username" %}</label>
                <div class="col-lg-8 col-md-8">
                    <input name="username" type="text" class="form-control"
                           value="{{login_form.username.value}}" placeholder='{% trans "E-mail or username" %}'/>
                    {% for error in login_form.username.errors %}
                    <small>{{error}}</small>
                    {% endfor error in %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 control-label">{% trans "Password" %}</label>
                <div class="col-lg-8 col-md-8">
                    <input name="password" type="password" class="form-control" placeholder="{% trans 'Password' %}">
                </div>
            </div>
            <div class="submit">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 clearfix">
                        <a href="{% url 'account_reset_password' %}" class="alignleft">{% trans "Forgot my password" %}</a>
                        <button class="btn btn-success alignright">{% trans "Sign In" %}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr/>
                <p class="bottom textcenter">
                    {% load socialaccount %}
                    <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a>
                </p>
            </div>
            <input type="hidden" name="next" value="{% url 'home_view' %}"/>
        </form>
    </div>
</div>
<!-- END TABLET AND DESKTOP -->

<!-- MOBILE -->
<div class="container visible-xs">
    <h1 class="textcenter">
        <i class="icon-thumbs-up-alt"></i><br/>
        {% trans "Password reset complete" %}</br>
    </h1>
    <form onclick="event.stopPropagation()" method="post" action="{% url 'timtec_login' %}" class="form-horizontal">{% csrf_token %}
        <div class="form-group{% if login_form.errors %} has-error{% endif %}">
            <label class="col-xs-12 control-label">{% trans "Login" %}</label>
            <div class="col-xs-12">
                <input name="username" type="text" class="form-control"
                       value="{{login_form.username.value}}" placeholder='{% trans "E-mail or username" %}'/>
                {% for error in login_form.username.errors %}
                <small>{{error}}</small>
                {% endfor error in %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 control-label">{% trans "Password" %}</label>
            <div class="col-xs-12">
                <input name="password" type="password" class="form-control" placeholder="{% trans 'Password' %}">
            </div>
        </div>
        <div class="submit">
            <div class="row">
                <div class="col-xs-12 clearfix">
                    <button class="btn btn-success btn-lg col-xs-12">{% trans "Sign In" %}</button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <hr/>
            <p class="bottom textcenter">
                {% load socialaccount %}
                <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a>
            </p>
        </div>
        
        <input type="hidden" name="next" value="{% url 'home_view' %}"/>
    </form>
</div>
<!-- END MOBILE -->
{% endblock %}