{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% block content %}

<div id="reset-pass" class="page">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <!-- CONTAINER -->
        <div class="container">

            {% if token_fail %}
              <div class="message">
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid,<br>possibly because it has already been used.</p>
                <p>Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
              </div>
            {% else %}
            
            {% if form %}
              <header class="page-header-double">
                <h2>{% trans "Change your password" %}</h2>
              </header>
              <form action="" method="post" class="form-horizontal col-lg-4 col-md-6">{% csrf_token %}

                {% with errors=form.password2.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                  <p><input name="password1" type="password" class="form-control" placeholder="{{form.password1.label}}"></p>
                  <input name="password2" type="password" class="form-control" placeholder="{{form.password2.label}}">
                  {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                <div class="submit row textright">
                  <button class="btn btn-success">{% trans "Save" %}</button>
                </div>
              </form>
            {% else %}
            <div class="message">
              <p>{% trans 'Your password is now changed.' %}</p>
            </div>
            {% endif %}
          {% endif %}
      </div>
  </div>
</div>

{% endblock %}
