{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="reset-pass" class="page">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <div class="container">

            <div class="message">
                <p>{% trans "Check your inbox" %}!</p>
                <p>{% trans "We sent you an e-mail with the instructions to recover your password" %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}