{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="signup" class="page">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">
        <!-- CONTAINER -->
        <div class="container js-fullheight">
            <header class="page-header-double">
                <h2>{% trans "Sign Up" %}</h2>
            </header>

                <form onclick="event.stopPropagation()" method="post" action="{% url 'account_signup' %}" class="form-horizontal">{% csrf_token %}
                    {% with errors=form.username.errors %}
                    <div class="form-group{{ errors|yesno:' has-error,' }}">
                        <label class="col-lg-2 col-md-3 col-sm-4">{% trans "Username" %}</label>
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <input name="username" type="text" value="{{form.username.value}}" class="form-control" placeholder="{% trans 'Username' %}">
                            {% for error in errors %}<small>{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}

                    {% with errors=form.email.errors %}
                    <div class="form-group{{ errors|yesno:' has-error,' }}">
                        <label class="col-lg-2 col-md-3 col-sm-4">{% trans "E-mail" %}</label>
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <input name="email" type="email" value="{{form.email.value}}" class="form-control" placeholder="{% trans 'Your e-mail' %}">
                            {% for error in errors %}<small>{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}

                    {% with errors=form.password1.errors %}
                      <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                        <label class="col-lg-2 col-md-3 col-sm-4">{% trans "Password" %}</label>
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <p><input name="password1" type="password" class="form-control" placeholder="{% trans 'Really strong password' %}"></p>
                            <input name="password2" type="password" class="form-control" placeholder="{% trans 'Password confirmation' %}">
                            {% for error in errors %}<small>{{error}}</small>{% endfor %}
                            {% for error in form.non_field_errors %}<small>{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}

                    {% with errors=form.accept_terms.errors %}
                    <div class="form-group{{ errors|yesno:' has-error,' }}">
                        <div class="col-lg-offset-2 col-lg-4 col-md-offset-3 col-md-5 col-sm-offset-4 col-sm-6">
                            <span class="checkbox-wrapper"><input name="accept_terms" type="checkbox" {% if form.accept_terms.value %}checked=""{% endif %} class=""></span>
                            <label>Aceito os <a href="{% url 'django.contrib.flatpages.views.flatpage' url='terms/' %}" target="_blank">termos de uso</a></label>
                            {% for error in errors %}<small>{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}

                    <div class="row">
                        <div class="submit col-lg-6 col-md-8 col-sm-10 textright">
                            <button class="btn btn-success">{% trans "Sign Up" %}</button>
                            <hr/>
                            {% load socialaccount %}
                            <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-primary">Facebook Connect</a>
                        </div>
                    </div>
                </form>

        </div>

    </div>

</div>
{% endblock %}
