{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="email-confirm" class="page static-page">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <!-- CONTAINER -->
        <div class="container js-fullheight">

            <div class="content">
                <h2>{% trans "Validation email sent" %}.</h2>
                <p>{% trans "Check your inbox" %}!</p>
            </div>

        </div>

    </div>
</div>

{% endblock %}
