// MAIN FOOTER
// ********************************************************************* //
#main-footer {
    background-color: darken(@brand-light, 10%);
    ul {
        li {
            &:after {
                color: @brand-primary;
            }
            a {
                color: darken(@brand-primary, 10%);
            }
        }
    }
}
