// NAVBAR
// Reset inverted navbar basics
@navbar-inverse-color:                      @brand-primary;
@navbar-inverse-bg:                         @brand-light;
@navbar-inverse-border:                     transparent;

// Inverted navbar links
@navbar-inverse-link-color:                 darken(@brand-primary, 10%);
@navbar-inverse-link-hover-color:           @brand-primary;
@navbar-inverse-link-hover-bg:              white;
@navbar-inverse-link-active-color:          @brand-primary;
@navbar-inverse-link-active-bg:             white;
@navbar-inverse-link-disabled-color:        transparent;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

@dropdown-link-hover-bg:                    @brand-light;
@dropdown-border:                           transparent;
@dropdown-divider-bg:                       @brand-light;
@dropdown-link-color:                       @brand-primary;
@dropdown-link-hover-color:                 @brand-primary;


// MAIN NAVBAR - DROPDOWN MENUS FOR SIGNIN AND SIGNUP
// ********************************************************************* //
#main-navbar {
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    font-family: @font-family-base;
    margin-bottom: 50px;
    z-index: 20;
    .navbar-brand {
        .text-hide();
        background-color: white;
        background-image: url(../img/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 130px;
        border-top: 3px solid @brand-primary;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        height: 70px;
        margin-left: 0;
        position: absolute;
        width: 150px;
        z-index: 900;
        @media (max-width: @screen-xs-max) {
            margin-left: 15px;
        }
        @media (max-width: @screen-sm-max) {
            background-size: 90%;
            border-radius: 0;
            border-top: none;
            box-shadow: none;
            height: 50px;
            width: 120px;
        }
    }

    .navbar-toggle {
        border-color: #fff;
        &:hover,
        &:focus {
            background-color: @brand-hover;
        }
    }

    .navbar-divider {
        @media (min-width: @screen-sm-min) {
            border-right: 1px solid @brand-light;
        }
        @media (max-width: @screen-xs-max) {
            border-top: 1px solid @brand-light;
        }
    }

    #session-nav {
        background-color: darken(@brand-light, 10%);
        padding: 0 5px;
        @media (min-width: @screen-sm-min) {
        margin-right: -15px;
        }
    }
}

@media screen and (max-width: @screen-xs-max) {
    #session-nav {
        padding: 8px 0 0 0;
    }
    #site-nav {
        float: none !important;
    }
    .dropdown-menu .divider {
        background-color:  @brand-light;
    }
}

.navbar-nav {
    > li > a {
        border-radius: @border-radius-base;
        line-height: @line-height-computed;
        padding-top: 0px;
        padding-bottom: 10px;
        @media (min-width: @grid-float-breakpoint) {
            margin: 15px 5px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        @media (max-width: @screen-sm-max) {
            margin: 5px;
        }
    }
}
