{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block content %}

<div id="activation-accomplished" class="container">
    <div class="centered">
    {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}  
      <h1 class="textcenter">
          <i class="icon-thumbs-up-alt"></i><br/>
          {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
      </h1>

      <form onclick="event.stopPropagation()" method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="form-horizontal">{% csrf_token %}
        <button class="btn btn-success btn-lg" type="submit">{% trans 'Confirm' %}</button>
      </form>

    {% else %}

      {% url 'account_email' as email_url %}

      <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url}}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
})
</script>

{% endblock %}
