@import 'bootstrap/bootstrap.less';
@import 'flatui/checkbox-and-radio.less';

// COLORS
@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

// @gray-darker:            #34495e;
// @gray-dark:              #7f8c8d;
// @gray:                   #95a5a6;
// @gray-light:             #bdc3c7;
// @gray-lighter:           #ecf0f1;


// @brand-primary:         #00bebe;
// @brand-success:         #7ab800;
// @brand-warning:         #fed100;
// @brand-danger:          #981e32;
// @brand-info:            #2583b1;

@brand-primary:         #3498db;
@brand-success:         #2ecc71;
@brand-warning:         #f1c40f;
@brand-danger:          #e74c3c;
@brand-info:            #3498db;

body {
  color:#333;
}

// TYPOGRAPHY
h1, h2, h3, h4, h5, h6 {
  font-family:'Questrial';
}
// Headings
h1 {
  font-size:28px;
}

h2 {
  font-size:24px;
}

h3 {
  font-size:20px;
}

h4 {
  font-size:18px;
}

h5 {
  text-transform:uppercase;
}

h6 {
  font-size:14px;
  margin-bottom:0;
  text-transform:uppercase;
}

a,
a:hover,
a:active {
  text-decoration:none;
  .transition(all .25s ease-out);
}

a.instructor {
  color:@brand-success;
  &:hover {
    color:darken(@brand-success, 10%);
  }
}

.page-header-double {
  border-bottom:1px solid @gray-lighter;
  margin:40px 0 20px;
  padding:0;
  h1,h2,h3,h4,h5,h6 {
    border-bottom:1px solid @gray-lighter;
    color:#2c3e50;
    margin-bottom:1px;
    padding-bottom:7px;
    i {
      color:#2980b9;
    }
  }
}


// LINKS
@link-color:            @brand-info;
@link-hover-color:      darken(@link-color, 15%);


// COMPONENTS
@border-radius-base:             2px;
@border-radius-large:            2px;
@border-radius-small:            2px;

@padding-large-vertical:         14px;

// BUTTONS
@btn-default-color:              #333;
@btn-default-bg:                 #e2e2e2;

.btn:hover {
  .transition(all .25s ease-out);
}

.btn-lg {
  font-size:14px;
}

// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.button-variant(@color; @background; @border) {
  border: none !important;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    border: none !important;
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    border: none !important;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      border: none !important;
    }
  }
}



// NAVBAR
// Reset inverted navbar basics
@navbar-inverse-color:                      #fff;
@navbar-inverse-bg:                         #001e36;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 #fff;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              darken(@navbar-inverse-bg, 5%);
@navbar-inverse-link-active-color:          #fff;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 5%);
@navbar-inverse-link-disabled-color:        #fff;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;


// Scale up the modal
@media screen and (min-width: @screen-tablet) {
  .modal-dialog {
    max-width:1024px;
    width:80%;
  }
}

#login-modal .panel {
  border:none;
  box-shadow:none;
  .panel-heading {
    h3 {
      border-bottom:1px solid @gray-lighter;
      padding-bottom:14px;
    }
  }
  a {
    line-height:2.5;
  }
}


// MIXINS
// ------------------------------------------------
.bottom(@margin:0, @padding:0) {
  margin-bottom:@margin !important;
  padding-bottom:@padding !important;
}

.left(@margin:0, @padding:0) {
  margin-left:@margin !important;
  padding-left:@padding !important;
}

.right(@margin:0, @padding:0) {
  margin-right:@margin !important;
  padding-right:@padding !important;
}

.top(@margin:0, @padding:0) {
  margin-top:@margin !important;
  padding-top:@padding !important;
}

// Calculate width
.calculate-width(@value:0) {
  width:-moz-calc(~'100% - @{value}');
  width:-webkit-calc(~'100% - @{value}');
  width:calc(~'100% - @{value}');
}

// Vertical align
.vertical-align(@position) {
  display:inline-block;
  vertical-align:@position;
}

// Arrows
.arrow-up(@width, @color) {
  border-bottom:@width solid @color;
  border-left:@width solid transparent;
  border-right:@width solid transparent;
  .size(0,0);
}
.arrow-down(@width, @color) {
  border-left:@width solid transparent;
  border-right:@width solid transparent;
  border-top:@width solid @color;
  .size(0,0);
}
.arrow-right(@width, @color) {
  border-bottom:@width solid transparent;
  border-left:@width solid @color;
  border-top:@width solid transparent;
  .size(0,0);
}
.arrow-left(@width, @color) {
  border-bottom:@width solid transparent;
  border-right:@width solid @color;
  border-top:@width solid transparent;
  .size(0,0);
}



// HELPERS
// ------------------------------------------------
.alignleft  { float:left; }
.alignright { float:right; }
.textcenter { text-align:center; }
.textleft   { text-align:left; }
.textright  { text-align:right; }
.uppercase  { text-transform:uppercase; }
.bottom     { .bottom(0,0); }
.left       { .left(0,0); }
.right      { .right(0,0); }
.top        { .top(0,0); }
.no-bullet  { .left(0,0); list-style:none; }
.hidden     { display:none !important; }


// FORMS
.has-error {
  text-align:left;
  small {
    color:@brand-danger;
    font-family:@font-family-sans-serif;
    text-align:left;
  }
}

// LAYOUT
.wrapper {
  padding-top:51px;
}

// HOME
#home {
  #highlight {
    background: @gray-lighter;
    min-height: 500px;
  }
  #courses {
    margin-bottom: 40px;
    margin-top: 40px;
    .course{
      margin-bottom: 60px;
      .img {
        overflow: hidden;
        position: relative;
        height: 145px;
      }
      .info {
        background: @gray-lighter;
        height: 120px;
        max-height: 120px;
        overflow: hidden;
        padding: 10px 20px;
        position: relative;
        h1 {
          font-size: 24px;
          margin: 10px 0 5px;
          a {
            color: @gray;
          }
        }
        .instructor {
          a {
            color: @gray-light;
          }
        }
      }
      .enroll {
        span.btn {
          cursor: default;
        }
        span.btn, button {
          border-radius: 0;
          font-size: 14px;
          text-transform: uppercase;
        }
        span.btn-success {
          .button-variant(#fff; darken(@brand-success, 5%); transparent);
        }
      }
    }
  }
}


// MAIN NAVBAR - DROPDOWN MENUS FOR SIGNIN AND SIGNUP
#main-navbar {

  font-family:'Questrial';

  .navbar-brand {
    img {
      height: 18px;
      margin-right: 10px;
      vertical-align: top;
      width: auto;
    }
  }
  
  .dropdown-signin {
    padding:14px;
    width:320px;

    .submit {
      a {
        display:block;
        margin-left:3px;
        margin-top:7px;
        &:hover {
          background:none !important;
        }
      }
    }
  }

  .dropdown-signup {
    padding:14px;
    width:360px;

    a:hover {
      background:none !important;
    }
  }

  a.username i {
    margin-left:3px;
  }
}


// REGISTRATION AND AUTHENTICATION
#activation-accomplished {
  text-align:center;
  &:before {
    content:'';
    height:100%;
    .vertical-align(middle);
  }

  .centered {
    .vertical-align(middle);
    width:400px;
  }

  form {
    border-top:1px solid @gray-lighter;
    .top(14px,21px);
    .submit {
      a {
        margin-top:7px;
        &:hover {
          background:none !important;
        }
      }
    }
  }
}

// PROFILE
#profile {
  .top(27px,27px);
  label.upload-avatar {
    position:relative;
    &:hover span {
      display:block;
    }
    span {
      background:rgba(0,0,0,.8);
      bottom:10px;
      color:#fff;
      cursor:pointer;
      display:none;
      font-size:13px;
      font-weight:normal;
      left:10px;
      padding:3px 9px;
      position:absolute;
      right:10px;
    }
  }
}

// COURSE
// Course intro - list of lessons
.course-lessons {
  .top(27px);
  ul {
    .title {
      display:block;
      font-weight:bold;
    }

    .description {
      font-size:13px;
    }

    li {
      margin:36px 0;
    }
  }

  .table {
    margin-bottom:7px;
    tr {
      td {
        border:none;
        margin:0;
        padding:0;
      }
    }
  }

  i.icon-youtube-play {
    color:@brand-danger;
  }

  i.icon-list {
    color:@brand-info;
  }

  .unit {
    background:@gray-lighter - 20%;
    .box-shadow(inset -1px 0 0 #fff);
    color:#fff;
    cursor:pointer;
    display:block;
    font-size:12px;
    height:20px;
    line-height:1.75;
    margin:0;
    padding:0;
    position:relative;
    text-align:left;
    z-index:10;
    &.watching, &.watching:hover {
      background:@brand-info;
      .transition(all .25s ease-out);
      &:hover {
        background:darken(@brand-info, 10%);
      }
    }
    &.done, &.done:hover {
      background:@brand-success;
      .transition(all .25s ease-out);
      &:hover {
        background:darken(@brand-success, 10%);
      }
    }
    &:hover {
      background:@gray-light;
      color:#fff;
      .transition(all .25s ease-out);
    }
    i {
      color:#fff;
      font-size:14px;
      margin:3px 0 0 0;
    }
    i.icon-caret-right {
      color:@brand-info;
      font-size:18px;
      left:-10px;
      line-height:1;
      top:-2px;
    }
    i {
      position:absolute;
      right:6px;
    }
  }
}


// Course intro - list of instructors
.course-instructors {
  .top(27px);

  .instructor {
    margin-bottom:45px;
  }
  h1.fullname {
    .bottom(0,0);
    font-size:21px;
    text-transform:none;
  }

  h2.job-title {
    border-bottom:1px solid @gray-lighter;
    .bottom(9px,9px);
    font-size:14px;
  }
  .missing-avatar {
    border:1px solid #ddd;
    text-align:center;
    &:before {
      content:'';
      .vertical-align(middle);
    }
    .centered {
      margin:-16px 4px 4px 4px;
      .vertical-align(middle);
      .calculate-width(8px);
      i {
        background:#ddd;
        color:#c0c0c0;
        display:block;
        font-size:72px;
        padding:27px 0;
      }
    }
  }
}

// Course social
.course-social {
  .top(27px);
}

// Course sections - navigation links (intro, lessons, notes, forum, wiki)
.course-sections {
  span {
    background:@gray-lighter;
    color:@gray-light;
    display:inline-block;
    font-size:22px;
    height:28px;
    margin-left:-3px;
    overflow:hidden;
    padding:3px 9px;
    position:relative;
    text-align:center;
    &:hover {
      background:@brand-primary;
      color:@gray-lighter;
      cursor:pointer;
      text-decoration:none;
      .transition(all 0.1s ease-out);
    }
  }
}

// Course lessons nav
.course-lessons-nav {
  .bottom(9px,9px);
  button {
    font-size:14px;
    // text-transform:uppercase;
  }
  ul {
    margin-top:0;
    padding:9px 0;
    text-transform:none;
    li.active a, li.active a:hover {
      color:@brand-info;
    }
    li a {
      color:@gray;
    }
    li a:hover {
      background:@gray-lighter;
      color:@gray-darker;
    }
  }
}

// Course - unit video
.course-video {
  margin-top:21px;

  iframe {
    border:1px solid @gray-lighter;
  }

  // Unit navigation links
  .unit {
    background:@gray-lighter - 20%;
    .box-shadow(inset -1px 0 0 #fff);
    color:#fff;
    cursor:pointer;
    display:block;
    font-size:12px;
    height:20px;
    line-height:1.75;
    margin-bottom:1px;
    padding-left:3px;
    position:relative;
    text-align:left;
    z-index:10;
    &.watching, &.watching:hover {
      background:@brand-info;
      .transition(all .25s ease-out);
      &:hover {
        background:darken(@brand-info, 10%);
      }
    }
    &.done, &.done:hover {
      background:@brand-success;
      .transition(all .25s ease-out);
      &:hover {
        background:darken(@brand-success, 10%);
      }
    }
    &:hover {
      background:@gray-light;
      color:#fff;
      .transition(all .25s ease-out);
    }
    i {
      color:#fff;
      font-size:14px;
      margin:3px 0 0 0;
    }
    i.icon-caret-right {
      color:@brand-info;
      font-size:18px;
      left:-10px;
      line-height:1;
      top:-2px;
    }
    i {
      position:absolute;
      right:6px;
    }
  }

  // Subtitles
  .tab-pane#subtitles {
    border-bottom:1px solid @gray-lighter;
    font-size:12px;
    height:386px;
    position:relative;
    overflow:auto;
    table.table {
      tr:first-child td {
        border-top:none !important;
      }
      tr.now {
        font-weight:bold;
      }
    }
  }

  // Notes
  .tab-pane#notes {
    border-bottom:1px solid @gray-lighter;
    padding-top:18px;
    form {
      border-bottom:1px solid @gray-lighter;
      margin-bottom:14px;
      padding-bottom:14px;
      textarea {
        border:2px solid @gray-lighter;
        border-radius:4px;
        margin-bottom:14px;
      }
    }
    ol {
      font-size:12px !important;
      height:173px;
      margin-left:0;
      padding-left:21px;
      overflow:auto;
      position:relative;
      a:first-child {
        display:block;
        margin-bottom:7px;
      }
      li {
        border-top:1px dotted @gray-light;
        padding-top:14px;
      }
    }
  }
}

// Activities
.course-activity {
    border: 1px solid @gray-lighter;
    padding: 40px 20px;
    position:relative;

    .question {
        h1 {
            border-bottom: 1px solid @gray-lighter;
            // color: rgb(44,61,147);
            color: @brand-info;
            font-family: "Teuton";
            margin-bottom: 40px;
            padding-bottom: 20px;
            text-align: center;
        }
    }

    .answers {
        margin: 20px 0;
    }
    
    .multiplechoice-answers {
        .answer {
            border-bottom: 1px solid @gray-lighter;
            font-size: 16px;
            label {
                vertical-align: top;
                .icons {
                    display: inline !important;
                    margin-top: 10px;
                    position: initial !important;
                }
            }
        }
    }

    .trueorfalse-answers {
        .answer {
            border-bottom: 1px solid @gray-lighter;
            font-size: 16px;
            margin: 10px 0;
            padding: 10px 0;
        }
    }

    .relationship-answers {
        .answer {
            border-bottom: 1px solid @gray-lighter;
            font-size: 16px;
            margin: 10px 0;
            padding: 10px 0;
            > * {
                line-height: 2;
            }
        }
    }

    .submit {
        margin-top: 40px;
    }
    
    label {
        font-weight:normal;
    }

    .wrong {
        color:@brand-danger;
    }
    
    .correct {
        color:@brand-success;
    }
    
    table tr, table tr td {
        border:none;
    }
}

// Course forum
.course-forum {

  .questions {
    border-top:1px solid @gray-lighter;
    .top(14px,14px);
  }

  .search-filter {
    border-bottom:1px solid @gray-lighter;
    .bottom(14px,14px);
  }

  ul.dropdown-menu {
    a {
      color:@gray-light;
    }
    a:hover {
      background:none;
      color:@gray;
    }
  }

  article {

    .bottom(18px, 18px);
    border-bottom:1px solid @gray-lighter;

    &:before {
      content:'';
      display:inline-block;
      height:100%;
      vertical-align:middle;
      width:10px;
    }

    .stats {
      background-color:@gray-lighter;
      font-size:12px;
      margin:4px 20px 0 -14px;
      padding:9px 9px 0 9px;
      position:relative;
      text-align:center;
      .vertical-align(top);
      width:78px;

      .numbers-votes, .numbers-answers {
        display:block;
        font-size:18px;
        line-height:1;
      }

      .arrow-right {
        .arrow-right(12px, @gray-lighter);
        position:absolute;
        right:-12px;
      }
    }

    .question {
      .calculate-width(102px);
      font-size:14px;
      font-weight:bold;
      line-height:1.5;
      .vertical-align(top);
    }

    .description {
      font-size:12px;
      font-weight:normal;
    }

    .author {
      font-size:12px;
      padding:3px 0;
      text-align:right;
    }

    .rating {
      .left(-14px);
      .right(10px);
      .vertical-align(middle);
      width:40px;

      .arrow-up(14px, @graypLight) {
        margin:0 auto;
        &:hover, &.active {
          border-bottom-color:@timGreen1;
          cursor:pointer;
        }
      }
      .arrow-down(14px, @graypLight) {
        margin:0 auto;
        .size(0,0);
        &:hover, &.active {
          border-top-color:@timGreen1;
          cursor:pointer;
        }
      }
      .votes {
        font-size:18px;
        margin:6px 0;
        text-align:center;
      }
    }
  }

  footer {
    background-color:@gray-lighter;
    border-radius:0 0 6px 6px;
    border-top:1px solid @gray-light + 60%;
    font-size:11px;
    margin-top:36px;
    padding:9px 18px;
    text-align:center;
    text-transform:uppercase;
  }
}

// MY COURSES
#my-courses {
  .courses {
    h1 {
      font-size:24px;
    }

    .course {
      border-bottom:1px solid @gray-lighter;
      margin-bottom:36px;
      padding-bottom:14px;

      header {
        a {
          margin-top:10px;
        }
        .btn-group {
          text-transform:uppercase;
        }
      }

      h1 {
        font-size:18px;
      }

      .info {
        color:@gray;
        font-size:12px;
        margin-left:9px;
      }

      .progress {
        background:@gray-lighter;
        border-radius:0;
        height:12px;
        position:relative;

        .progress-bar {
          border-radius:0;
        }
      }
    }
  }
}

// MY NOTES
#my-notes {
  .courses {
    .course {
      border-bottom:1px solid @gray-lighter;
      padding:9px 0;
    }
    .btn {
      text-transform:uppercase;
    }
  }
  .course-notes {
    header {
      .btn-group {
        margin-top:12px;
        text-transform:uppercase;
      }
    }
    ul {
      list-style:none;
      li {
        border-bottom:1px solid @gray-lighter;
        margin:0 0 14px 0;
        padding:3px 0 14px 0;
        a {
          color:@gray-dark;
          display:block;
          margin-bottom:7px;
          text-transform:uppercase;
          &:hover {
            color:@brand-info;
            text-decoration:none;
          }
        }
        ul {
          margin:0;
          padding:0;
          li {
            border-bottom:none;
            margin:0;
            padding:3px 14px;
            a {
              margin:0;
              text-transform:none;
            }
          }
        }
      }
    }
    .notes {
      margin-bottom:42px;
      h1 {
        border-bottom:1px solid @gray-lighter;
        .bottom(14px,7px);
        font-size:21px;
      }
      .note {
        border-bottom:1px solid @gray-lighter;
        .bottom(14px,14px);
        a:hover {
          text-decoration:none;
        }
        p i {
          display:none;
        }
        p:hover i {
          display:inline-block;
        }
      }
    }
    #lessons {
      .goto-class {
        margin-bottom:14px;
      }
    }
  }
}

// FORUM
#course-forum {
  #main-content {
    margin-top:20px;
    a.ask-a-question {
      display:block;
    }
    .add-comment {
      margin-top:21px;
      a {
        color:@gray-light;
        font-size:12px;
      }
    }
    .comment-form {
      textarea {
        margin-bottom:7px;
        width:100%;
      }
    }
    .search-forum {
      margin-top:18px;
    }
    article {
      header {
        border-bottom:1px solid @gray-lighter;
        .bottom(18px,7px);
        h1 {
          color:#00bebe;
          font-size:27px;
        }
      }
      
      .author {
        background:@gray-lighter;
        font-size:12px;
        margin-top:14px;
        padding:6px;
        a {
          font-weight:bold;
        }
      }
      
      .question-tag {
        border-top:1px solid @gray-lighter;
        .top(14px, 14px);
        span.tag-label {
          display:inline-block;
          font-size:12px;
          font-weight:bold;
          margin-top:7px;
          text-transform:uppercase;
        }
        a.tag {
          background:@gray-lighter;
          color:@gray;
          display:inline-block;
          font-size:12px;
          padding:7px 14px;
          &:hover {
            color:@brand-info;
          }
        }
      }
      
      .rating {
        .vertical-align(middle);
        text-align:center;
        .arrow-up {
          .arrow-up(21px, @gray-light);
          margin:0 auto;
          &:hover, &.active {
            border-bottom-color:@brand-warning;
            cursor:pointer;
          }
        }
        .arrow-down {
          .arrow-down(21px, @gray-light);
          margin:0 auto;
          .size(0,0);
          &:hover, &.active {
            border-top-color:@brand-warning;
            cursor:pointer;
          }
        }
        .votes {
          font-family:"Questrial";
          font-size:18px;
          margin:6px 0;
          text-align:center;
        }
        .set-correct {
            color:@gray-light;
            cursor:pointer;
            font-size:36px;
            margin-top:10px;
            &:hover, &.selected {
                color:@brand-success;
            }
        }
      }
    }
    
    
    .questions {
      .top(18px,0);
      article {
        .bottom(18px, 18px);
        border-bottom:1px solid @gray-lighter;
        &:before {
          content:'';
          display:inline-block;
          height:100%;
          vertical-align:middle;
          width:10px;
        }
        .stats {
          background-color:@gray-lighter;
          font-size:12px;
          margin:4px 20px 0 -14px;
          padding:9px 9px 0 9px;
          position:relative;
          text-align:center;
          .vertical-align(top);
          width:78px;
          .numbers-votes, .numbers-answers {
            display:block;
            font-size:18px;
            line-height:1;
          }
          .arrow-right {
            .arrow-right(12px, @gray-lighter);
            position:absolute;
            right:-12px;
          }
        }
        .question {
          .calculate-width(102px);
          font-size:14px;
          font-weight:bold;
          line-height:1.5;
          .vertical-align(top);
        }
        .description {
          font-size:12px;
          font-weight:normal;
        }
        .author {
          background:none;
          font-size:12px;
          padding:3px 0;
          text-align:right;
        }
        .rating {
          .left(-14px);
          .right(10px);
          .vertical-align(middle);
          width:40px;
          .arrow-up(14px, @gray-light) {
            margin:0 auto;
            &:hover {
              border-bottom-color:@brand-warning;
              cursor:pointer;
            }
          }
          .arrow-down(14px, @gray-light) {
            margin:0 auto;
            .size(0,0);
            &:hover {
              border-top-color:@brand-warning;
              cursor:pointer;
            }
          }
          .votes {
            font-size:18px;
            margin:6px 0;
            text-align:center;
          }
        }
      }
    }

    .answers {
      .top(21px,21px);
      header {
        border-bottom:1px solid @gray-lighter;
        .bottom(7px,7px);
        h1 {
          font-size:21px;
        }
        .btn-group {
          margin-top:14px;
          button {
            text-transform:uppercase;
          }
          ul.dropdown-menu {
            a {
              color:@gray-light;
            }
            a:hover {
              background:none;
              color:@gray;
            }
          }
        }
      }
      article {
        border-bottom:1px solid @gray-lighter;
        .bottom(21px,21px);
        .top(21px,21px);
      }
    }

    .your-answer {
      .top(21px,21px);
      header {
        border-bottom:1px solid @gray-lighter;
        h1 {
          font-size:21px;
        }
      }
      textarea {
        width:100%;
      }
      .submit {
        margin-top:14px;
      }
    }

    aside {
      .heading {
        h3 {
          font-size:18px;
          top:10px;
        }
      }
      .related-questions {
        margin-top:21px;
        a {
          border-bottom:1px solid @gray-lighter;
          .bottom(14px,14px);
          color:@gray-light;
          display:block;
          font-size:12px;
          &:hover {
            color:@gray;
          }
        }
      }
    }
  }
}


// TEXT EDITOR
.wmd-panel {
  margin-top:20px;
  .btn-group {
    margin-bottom:1px;
    .btn {
      margin-right:2px;
    }
  }
}

// UPLOADED FILES LIST
ul.uploaded-files-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid @gray-lighter;
    padding: 5px 0;
  }
}

// MAIN FOOTER
#main-footer {
  background: @brand-info;
  margin-top: 60px;
  padding: 40px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &:after {
        color: #fff;
        content: "•";
        font-size: 18px;
        margin: 0 8px 0 10px;
      }
      &:last-child:after {
        content: "";
      }
      a {
        color: #fff;
        display: inline-block;
      }
    }
  }
}




/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropzone {
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.02);
  padding: 1em;
  margin-bottom: 20px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone.dz-drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}
.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}
.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}
.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}
.dropzone {
  border: 1px solid rgba(0,0,0,0.03);
  min-height: 180px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.03);
  padding: 23px;
}
.dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  // background-image: url("../img/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}
.dropzone .dz-default.dz-message span {
  display: none;
}
.dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  width: 268px;
  margin-left: -134px;
  height: 174px;
  margin-top: -87px;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
}
.dropzone.dz-started .dz-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  font-size: 14px;
}
.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  background-image: url("../images/spritemap@2x.png");
  -webkit-background-size: 428px 406px;
  -moz-background-size: 428px 406px;
  background-size: 428px 406px;
}
.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: url("../images/spritemap.png");
  background-repeat: repeat-x;
  background-position: 0px -400px;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  background-image: url("../images/spritemap@2x.png");
  -webkit-background-size: 428px 406px;
  -moz-background-size: 428px 406px;
  background-size: 428px 406px;
}
.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eee));
  background-image: -webkit-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: linear-gradient(top, #fafafa 0, #eee 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  padding: 4px 5px;
  text-align: center;
  color: #aaa;
  margin-top: 26px;
}
.dropzone a.dz-remove:hover,
.dropzone-previews a.dz-remove:hover {
  color: #666;
}
@-moz-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-ms-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
