.page {

  .illust {
    background-image: url(../img/timtec/illustrations/instituto-l.png);
    @media (max-width: 1366px) {
            background-image: url(../img/timtec/illustrations/instituto-m.png);
    }
  } // .illust

  .main-content {
    margin-top: -40px;

    &>.container {
      padding-top: 70px;
      padding-bottom: 15px;
    }   
  }

  // Page Headers
  .page-header-double {
    margin-bottom: 10px;
    h2 {
      margin: 0; 
      font-family: 'teuton_26';
      color: #007dc3;
    }
  }

  .message {
    
    p {
      font-size: 30px;
      text-align: center;
      color: #0d4c8f;
    }
  }

  @media (min-width: @screen-sm-min) { 

    .main-content {
      margin-top: -695px;
    } // .content
  }
}

#signup, #login, #reset-pass {
  .page-header-double {
    margin-bottom: 30px;
  }
}

.static-page {

  .main-content {

    &>.container {
      background: url(../img/timtec/illustrations/instituto-container-m.png) rgba(255,255,255,0.5) no-repeat bottom right;
      padding-right: 360px;
      min-height: 600px;

      h2 {
        margin-bottom: 0 0 10px;
        font-family: 'teuton_26';
        color: #007dc3;
      }
    } 

  }  
}