{% extends "default:course.html" %}

{% load staticfiles %}
{% load i18n %}
{% load timtec_markdown %}
{% load is_assistant_or_coordinator %}


{% block content %}

<div class="header-courses">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{course.name}}</h1>
                {% include "_course-details-inline.html" with course=course %}
            </div>
            <a href="/course/timfazciencia/enroll/" class="btn btn-lg btn-info js-login-required">Ir para o curso</a>
        </div>
    </div>
</div>
{{block.super}}

{% endblock %}
