{% extends 'base.html' %}
{% load i18n %}
{% load is_enrolled %}

{% block wrapper_classes %}
wrapper-courses
{% endblock %}

{% block content %}
        <!-- CONTAINER -->
        <div id="courses-page" class="container">
            <header class="page-header-double">
                <h2><i class="fa fa-angle-double-right"></i> {% trans 'Courses' %}</h2>
            </header>

            <section id="courses" class="row">
                <div class="col-md-8">
{#                    <div class="filters">#}
{#                        <!--  FORM INLINE -->#}
{#                        <div class="form-inline">#}
{#                            <!-- ROW -->#}
{#                            <div class="row">#}
{#                                <div class="status col-sm-7">#}
{#                                    <button class="btn btn-info">Todos</button>#}
{#                                    <button class="btn btn-default">Em andamento</button>#}
{#                                    <button class="btn btn-default">Próximos</button>                                #}
{#                                </div>#}

{#                                <div class="col-sm-5 textright">#}
{#                                    <div class="search input-group">#}
{#                                        <input type="text" ng-model="filters.textsearch" placeholder="Pesquisar" class="form-control ng-pristine ng-valid">#}
{#                                        <span class="input-group-btn"><button class="btn btn-info"><i class="fa fa-search"></i></button></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- END FORM INLINE -->#}
{#                    </div>#}
                    {% for course in courses %}
                    <!-- COURSE -->
                    <div class="course{% if user|is_enrolled:course %} started{% endif %}">
                        <a href="{% url "course_intro" course.slug %}" class="course-link">
                            {% if not course.has_started %}<span class="coming-soon-label">{% trans 'Soon' %}</span>{% endif %}
                            <div class="thumb-wrapper">
                                <div class="mouseover"></div>
                                <div class="thumb" {% if course.home_thumbnail %}style="background-image: url({{ course.home_thumbnail.url }})"{% endif %}></div>

                            </div>
                            <div class="info-box">
                                <div class="fa fa-check"></div>
                                <div class="info">

                                    <h3>{{ course.name }}</h3>
                                    <p class="instructors">{% for professor in course.get_video_professors %}{{ professor.user.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                    <p class="abstract">{{ course.abstract }}</p>
                                </div>
                                <div class="enroll">
                                    {% if course.start_date %}
                                    <span>
                                        <i class="fa fa-calendar"></i> {{ course.start_date |date:"M, Y" }}
                                    </span>
                                    <span class="enroll-link textright uppercase">
                                        {% trans 'Go to course' %} <i class="fa fa-angle-right"></i>
                                    </span>
                                    {% else %}
                                        <span class="enroll-link textright uppercase">
                                            {% trans 'More information' %} <i class="fa fa-angle-right"></i>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- END COURSE -->
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <aside class="more-info">
                        <div class="box">
                            <h3>Fique atento</h3>
                            <p>Fique atento ao lançamento de novos cursos na plataforma MOOC do IFSul. Acompanhe e divulgue!</p>
                        </div>
                        <div class="box">
                            <h3>Participe</h3>
                            <p>Nossa equipe no IFSul está empenhada em oferecer a você os melhores professores e cursos.</p>
                            <p>A única coisa que você precisa é de uma conexão com a internet! Invista em você. Melhore sua qualificação profissional atualizando-se com os cursos disponíveis nessa plataforma MOOC.</p>
                        </div>
                        <div class="box">
                            <h3>Como funciona?</h3>
                            <ol>
                                <li>Entre num curso que te interesse.</li>
                                <li>Clique em “Fazer curso” e cadastre-se.</li>
                                <li>Comece o curso ou espere até que ele seja lançado.</li>
                                <li>Qualifique-se. Invista na sua formação. </li>
                            </ol>
                        </div>
                        <div class="box">
                            <h3>Você é professor?</h3>
                            <p>Você está interessado em fazer um curso aberto na plataforma MOOC do IFSul? Entre em contato com o Núcleo de Produção e Tecnologia Educacional - NPTE do IFSul.</p>
                            <a href="#" class="btn btn-info btn-block btn-lg" data-toggle="modal" data-target="#modal-contact">Entre em contato <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </aside>
                </div>
            </section>
        </div>
        <!-- CONTAINER -->
{% endblock %}
