{% extends 'base.html' %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}

    <div class="registration">
        <div id="activation-wrapper" class="container visible-lg visible-md visible-sm">
            <div class="centered">
                {% block account_content %}
                {% endblock %}
            </div>
        </div>

        <div class="container visible-xs textcenter">
            {% block account_content_mobile %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
