{% extends 'account/base.html' %}
{% load i18n %}

{% block body_attrs %}class="registration registration--password-reset-key"{% endblock %}

<!-- TABLET AND DESKTOP -->
{% block account_content %}
    <h1 class="textcenter">
        <i class="fa fa-thumbs-o-up"></i><br/>
        {% trans "Password reset complete" %}</br>
    </h1>
    <form onclick="event.stopPropagation()" method="post" action="{% url 'account_login' %}" class="form-horizontal">{% csrf_token %}

        {% if request.GET.next %}
            <input type='hidden' name='next' value='{{ request.GET.next }}'>
        {% else %}
            <input type='hidden' name='next' value='{{ request.path }}'>
        {% endif %}
        
        <div class="form-group{% if form.errors %} has-error{% endif %}">
            <label class="col-lg-4 col-md-4 control-label">{% trans 'E-mail or login' %}</label>
            <div class="col-lg-8 col-md-8">
                <input name="login" type="text" class="form-control"
                       value="{{form.login.value}}" placeholder='{% trans "E-mail or login" %}'/>
                {% for error in form.login.errors %}
                <small>{{error}}</small>
                {% endfor error in %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">{% trans "Password" %}</label>
            <div class="col-lg-8 col-md-8">
                <input name="password" type="password" class="form-control" placeholder="{% trans 'Password' %}">
            </div>
        </div>
        <div class="submit">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 clearfix">
                    <a href="{% url 'account_reset_password' %}" class="alignleft">{% trans "Forgot my password" %}</a>
                    <button class="btn btn-success alignright">{% trans "Sign In" %}</button>
                </div>
            </div>
        </div>
    <!--
        <div class="row">
            <hr/>
            <p class="bottom textcenter">
                {% load socialaccount %}
                <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a>

                {% for provider in openid_providers %}
                <span> | </span>
                <a href="{% provider_login_url "openid" openid=provider.openid_url  next=current_path %}">{{ provider.name }}</a>
                {% endfor %}
            </p>
        </div>
        <input type="hidden" name="next" value="{% url 'home_view' %}"/>
    -->
    </form>
{% endblock %}
<!-- END TABLET AND DESKTOP -->

<!-- MOBILE -->
{% block account_content_mobile %}
    <h1 class="textcenter">
        <i class="fa fa-thumbs-o-up"></i><br/>
        {% trans "Password reset complete" %}</br>
    </h1>
    <form onclick="event.stopPropagation()" method="post" action="{% url 'account_login' %}" class="form-horizontal">{% csrf_token %}
        <div class="form-group{% if form.errors %} has-error{% endif %}">
            <label class="col-xs-12 control-label">{% trans 'E-mail or login' %}</label>
            <div class="col-xs-12">
                <input name="login" type="text" class="form-control"
                       value="{{form.login.value}}" placeholder='{% trans "E-mail or login" %}'/>
                {% for error in form.login.errors %}
                <small>{{error}}</small>
                {% endfor error in %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 control-label">{% trans "Password" %}</label>
            <div class="col-xs-12">
                <input name="password" type="password" class="form-control" placeholder="{% trans 'Password' %}">
            </div>
        </div>
        <div class="submit">
            <div class="row">
                <div class="col-xs-12 clearfix">
                    <button class="btn btn-success btn-lg col-xs-12">{% trans "Sign In" %}</button>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <hr/>
            <p class="bottom textcenter">
                {% load socialaccount %}
                <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a>

                {% for provider in openid_providers %}
                <span> | </span>
                <a href="{% provider_login_url "openid" openid=provider.openid_url  next=current_path %}">{{ provider.name }}</a>
                {% endfor %}
            </p>
        </div>
        -->
        {% if request.GET.next %}
            <input type='hidden' name='next' value='{{ request.GET.next }}'>
        {% else %}
            <input type='hidden' name='next' value='{{ request.path }}'>
        {% endif %}
    </form>
{% endblock %}
<!-- END MOBILE -->
