{% extends 'account/base.html' %}
{% load i18n %}

{% block body_attrs %}class="registration registration--password-reset"{% endblock %}

<!-- TABLET AND DESKTOP -->
{% block account_content %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h1 class="textcenter">
                <i class="fa fa-frown-o"></i><br/>
                {% trans "Forgot my password" %}
            </h1>
          </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <form onclick="event.stopPropagation()" method="post" action="{% url 'account_reset_password' %}" class="col-lg-12 col-md-12">{% csrf_token %}
                {% with errors=form.email.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <div class="col-lg-12 col-md-12 textcenter">
                      <p>{% trans "Insert your e-mail so we can send you the instructions to recover your password" %}</p>
                    </div>
                    <div class="col-lg-12 2">
                        <p><input name="email" type="email" class="form-control" placeholder="{% trans 'Your e-mail' %}"></p>
                        {% for error in errors %}<small>{{ error }}</small>{% endfor %}
                    </div>
                </div>
                {% endwith %}

                <div class="submit textcenter">
                    <button class="btn btn-success">{% trans "Send" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
<!-- END TABLET AND DESKTOP -->


<!-- MOBILE -->
{% block account_content_mobile %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="textcenter">
                <i class="fa fa-frown-o"></i><br/>
                {% trans "Forgot my password" %}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form onclick="event.stopPropagation()" method="post" action="{% url 'account_reset_password' %}" class="form-horizontal">{% csrf_token %}
                {% with errors=form.email.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <div class="col-xs-12 textcenter">
                      <p>{% trans "Insert your e-mail so we can send you the instructions to recover your password" %}</p>
                    </div>
                    <div class="col-xs-12">
                        <p><input name="email" type="email" class="form-control" placeholder="{% trans 'Your e-mail' %}"></p>
                        {% for error in errors %}<small>{{ error }}</small>{% endfor %}
                    </div>
                </div>
                {% endwith %}
                <div class="submit textcenter">
                    <button class="btn btn-success">{% trans "Send" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
<!-- END MOBILE -->
