{% extends 'account/base.html' %}
{% load i18n %}
{% block content %}

<!-- TABLET AND DESKTOP -->
<div id="activation-wrapper" class="container visible-lg visible-md visible-sm">
    <div class="centered">
        <h1 class="bottom">
            <i class="fa fa-inbox"></i><br/>
            {% trans "Check your inbox" %}!<br/>
        </h1>
        <h3>{% trans "We sent you an e-mail with the instructions to recover your password" %}</h3>
    </div>
</div>
<!-- END TABLET AND DESKTOP -->

<!-- MOBILE -->
<div class="container textcenter visible-xs">
    <h1 class="bottom">
        <i class="fa fa-inbox"></i><br/>
        {% trans "Check your inbox" %}!<br/>
    </h1>
    <h3>{% trans "We sent you an e-mail with the instructions to recover your password" %}</h3>
</div>
<!-- END MOBILE -->

{% endblock %}