{% extends 'account/base.html' %}
{% load i18n %}
{% load url from future %}

{% block body_attrs %}class="registration registration--password-reset-key-done"{% endblock %}

<!-- TABLET AND DESKTOP -->
{% block account_content %}
    <h1>
        <i class="fa fa-unlock-alt"></i><br/>
        {% trans "Change your password" %}
    </h1>
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
      {% if form %}
        <form action="" method="post" class="form-horizontal">{% csrf_token %}

          {% with errors=form.password2.errors %}
          <div class="form-group{{ errors|yesno:' has-error,' }}">

              <div class="2 col-lg-12">
                  <p><input name="password1" type="password" class="form-control" placeholder="{{form.password1.label}}"></p>
                  <input name="password2" type="password" class="form-control" placeholder="{{form.password2.label}}">
                  {% for error in errors %}<small>{{error}}</small>{% endfor %}
              </div>
          </div>
          {% endwith %}

          <div class="submit">
            <button class="btn btn-success">{% trans "Save" %}</button>
          </div>
        </form>
      {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
      {% endif %}
    {% endif %}
{% endblock %}
<!-- END TABLET AND DESKTOP -->


<!-- MOBILE -->
{% block account_content_mobile %}
    <div class="row">
        <div class="col-xs-12">
            <h1>
                <i class="fa fa-unlock-alt"></i><br/>
                {% trans "Change your password" %}
            </h1>
        </div>
    </div>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form action="" method="post" class="form-horizontal">{% csrf_token %}
                {% with errors=form.password2.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <div class="col-xs-12">
                        <p><input name="password1" type="password" class="form-control" placeholder="{{form.password1.label}}"></p>
                        <input name="password2" type="password" class="form-control" placeholder="{{form.password2.label}}">
                        {% for error in errors %}<small>{{error}}</small>{% endfor %}
                    </div>
                </div>
                {% endwith %}

                <div class="submit">
                    <button class="btn btn-success btn-lg col-xs-12">{% trans "Save" %}</button>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
<!-- END MOBILE -->
