{% extends 'account/base.html' %}
{% load i18n %}
{% block content %}

<!-- TABLET AND DESKTOP -->
<div id="activation-wrapper" class="container visible-lg visible-md visible-sm">
    <div class="centered">
        <h1 class="textcenter">
            <i class="fa fa-inbox"></i><br/>
            {% trans "Validation email sent" %}.<br/>
            {% trans "Check your inbox" %}!
        </h1>
    </div>
</div>
<!-- END TABLET AND DESKTOP -->


<!-- MOBILE -->
<div class="container visible-xs textcenter">
    <h1 class="textcenter">
        <i class="fa fa-inbox"></i><br/>
        {% trans "Validation email sent" %}.<br/>
        {% trans "Check your inbox" %}!
    </h1>
</div>
<!-- END MOBILE -->

{% endblock %}