// MAIN FOOTER
// ********************************************************************* //
#main-footer {
    background-color: #FFFFFF;
    @media (max-width: @screen-xs-max) {
        padding-bottom: 16px;
        padding-top: 16px;
    }
    .container {
        .row {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    ul {
        text-align: right;
        li {
            font-family: "ek-mukta-extralight";
            font-size: 24px;
            a {
                color: #000000;
                text-decoration: none !important;
            }
        }
    }
}
