// HEADER COURSE
// ********************************************************************* //
.header-courses, .header-static {
    box-shadow: inset 0 8px 20px -12px #000, inset 0 -8px 20px -12px #000;
    background-color: #EDEBEC;
    @media ( min-width: @screen-sm-min ) {
        margin-top: -20px;
    }
    > .container {
        background-image: url("/static/img/colors-header.png");
        background-repeat: no-repeat;

        @media (max-width: @screen-xs-max) {
            background-position: 0 -190px;
        }
        @media (min-width: @screen-sm-min) {
            background-position: 0 -125px;
        }
        @media (min-width: @screen-lg-min) {
            background-position: 257px -90px;
        }
        background-color: transparent;
    }
    .container {
        position: relative;
        h1 {
            font-size: 38px;
            @media (min-width: @screen-sm-min) {
                font-size: 42px;
            }
            font-family: "ek-mukta-extralight";
            font-weight: normal;
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 8px 0px;
        }
    }
}

.wrapper-course-intro {
    .main-header {
        .page-header {
            border: none;
            h1 {
                font-size: 26px;
            }
            .course-details {
                span.label {
                    display: none;
                }
                a.course-instructor {
                    color: #444444;
                    display: inline-block;
                    font-size: 22px;
                    margin-top: 8px;
                }
            }
            #course-nav {
                @media (max-width: @screen-xs-max) {
                    text-align: center;
                }
                a {
                    color: #446E02;
                }
            }
        }
    }
}

// Page Headers
.page-header-double {
    border-bottom: 0;
    margin: 40px 0 10px;
    h1,h2,h3,h4,h5,h6 {
        border-bottom: 0;
        font-size: 26px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    h3 {
        text-transform: uppercase;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'ek-mukta-extralight', @font-family-base;
    i {
        display: none !important;
    }
}

// SHARED HEADER STYLES
.main-header {
    .page-header {
        border-bottom: 1px solid @brand-light;
        margin-bottom: 20px;
        h1 {
            font-size: 28px;
        }
        ul.instructors {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.secondary-header {
    border-bottom: none;
    h1 {
        border-bottom: 2px solid @brand-primary;
        color: @gray-light;
        font-size: 36px;
        margin-top: 35px;
        padding-bottom: 5px;
        text-transform: uppercase;
        @media (min-width: @screen-md-min) {
            font-size: 40px;
        }
    }
    .btn {
        background-color: @brand-primary;
        border-radius: 0;
        font-family: 'ek-mukta-extralight', @font-family-base;
        font-size: 20px;
        margin-top: 24px;
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            margin-top: 28px;
        }
        @media (min-width: @screen-md-min) {
            font-size: 24px;
        }
    }
}

#course.course-intro,
#my-notes {
    .main-header {
        display: none;
    }
}
