{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

<script type="text/javascript">
window.lessonId = {{ lesson.pk }};

$(document).ready(function() {
  $(".nav-tabs a").click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  })
})
</script>

<link rel="stylesheet/less" href="{% static 'css/flatui/checkbox-and-radio.less' %}" type="text/css">
<script type="text/javascript" src="{% static 'js/lesson.js' %}" charset="utf-8"></script>


<!-- CONTAINER -->
<div id="course-content" ng-app="lesson">

  <!-- HEADER -->
  {% include "_course-header-inline.html"  with course=lesson.course %}
  <!-- END HEADER -->

  <!-- MAIN CONTENT -->
  <section id="main-content" class="container" ng-controller="LessonMainCtrl">
    <nav class="course-lessons-nav row">
      <div class="col-lg-12 col-sm-12">
        <div class="btn-group button-watching">
          <button type="button" class="btn btn-sm btn-info">{{ lesson.name }}
          </button>
          <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">
            <i class="icon-chevron-down"></i>
          </button>
          <ul class="dropdown-menu">
            {% for list_lesson in lesson.course.lesson_set.all %}
            <li><a href="{% url 'lesson' list_lesson.slug %}"><span class="title">{{ list_lesson.name }}</span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- COURSE-VIDEO -->
    <section class="course-video">
      <!-- lesson_video.html -->
      <div class="row">

        {% verbatim %}
        <div class="col-lg-1 col-sm-1">

          <a style="display:block;" data-placement="right" data-original-title="{{ unit.position + 1 }}"
             href="#/{{ $index+1 }}" class="has-tooltip unit track" data-toggle="tooltip"
             ng-repeat="unit in lesson.units"
             ng-class="{watching: isSelected($index), done: isDone(unit)}"
             ng-click="select($index)">

            <i class="icon-caret-right" ng-if="isSelected($index)"></i>
            <span class="position">{{ unit.position + 1 }}</span>
            <i class="icon-list" ng-if="unit.activity !== null"></i>
          </a>
        </div>
        {% endverbatim %}

        <div ng-view></div>
      </div>
    </section>

    <section class="course-instructions col-sm-10 col-sm-offset-1 hidden-lg">
      <div class="page-header-double">
        <h3><i class="icon-double-angle-right"></i> Informações e Instruções</h3>
      </div>
      <p>In eu placerat, porta urna integer pellentesque adipiscing nascetur magna, diam amet, scelerisque proin massa a, mid enim nec mus, mattis sit sagittis pulvinar, augue ac nunc proin! Scelerisque nec? Montes penatibus risus ridiculus, platea porttitor, ac in cras. Augue. Dapibus nisi purus, integer adipiscing dignissim dictumst cum, odio turpis.</p>
      <p>A. Porttitor in? Sagittis, amet dictumst parturient vut amet? Dis in sit quis non, odio vel, turpis, porta natoque, et pulvinar! Ultricies adipiscing porta. Nascetur platea, tortor tempor montes et adipiscing porttitor eros, rhoncus velit nisi elit montes nascetur diam dictumst tempor integer augue nunc odio, nec, aliquet. Adipiscing.</p>
      <p>Pulvinar mus lectus, enim a. Eros tristique dolor ac, sociis urna enim, vel egestas augue odio mid magna mus eros, enim duis adipiscing, arcu a turpis mus vut, mattis porttitor scelerisque? Odio eros sed! Rhoncus? Ac a dolor et phasellus aliquet cum vut sociis, lundium, aenean quis et placerat.</p>
      <ul>
        <li>Sit magna pellentesque hac dignissim.</li>
        <li>Proin porta ac aliquet, integer.</li>
        <li>Hac nisi placerat egestas integer.</li>
        <li>Augue, vut ut urna urna.</li>
        <li>Massa duis mauris placerat auctor.</li>
        <li>Platea platea placerat in dignissim.</li>
        <li>Ultrices purus? Ut risus, dis.</li>
      </ul>
      <p>Et pid habitasse! Natoque dapibus pellentesque lacus? Platea pulvinar, porta elementum sagittis, urna cursus etiam, lacus ut pulvinar elementum odio vel, montes augue, est. Nec sit aliquam et pulvinar! Dictumst nascetur ridiculus tincidunt scelerisque! Natoque risus porttitor, adipiscing cum? Eu sit duis? Et! Vut etiam pulvinar? Ut nec phasellus.</p>
    </section>

  <!-- END COURSE-VIDEO -->

  <!-- FORUM -->
  <div class="row">
    {% include "_forum_inline.html"  with course=lesson.course %}
    <div class="col-lg-4 hidden-md">
      <section class="course-instructions">
        <div class="page-header-double">
          <h3><i class="icon-double-angle-right"></i> Informações e Instruções</h3>
        </div>
        <p>In eu placerat, porta urna integer pellentesque adipiscing nascetur magna, diam amet, scelerisque proin massa a, mid enim nec mus, mattis sit sagittis pulvinar, augue ac nunc proin! Scelerisque nec? Montes penatibus risus ridiculus, platea porttitor, ac in cras. Augue. Dapibus nisi purus, integer adipiscing dignissim dictumst cum, odio turpis.</p>
        <p>A. Porttitor in? Sagittis, amet dictumst parturient vut amet? Dis in sit quis non, odio vel, turpis, porta natoque, et pulvinar! Ultricies adipiscing porta. Nascetur platea, tortor tempor montes et adipiscing porttitor eros, rhoncus velit nisi elit montes nascetur diam dictumst tempor integer augue nunc odio, nec, aliquet. Adipiscing.</p>
        <p>Pulvinar mus lectus, enim a. Eros tristique dolor ac, sociis urna enim, vel egestas augue odio mid magna mus eros, enim duis adipiscing, arcu a turpis mus vut, mattis porttitor scelerisque? Odio eros sed! Rhoncus? Ac a dolor et phasellus aliquet cum vut sociis, lundium, aenean quis et placerat.</p>
        <ul>
          <li>Sit magna pellentesque hac dignissim.</li>
          <li>Proin porta ac aliquet, integer.</li>
          <li>Hac nisi placerat egestas integer.</li>
          <li>Augue, vut ut urna urna.</li>
          <li>Massa duis mauris placerat auctor.</li>
          <li>Platea platea placerat in dignissim.</li>
          <li>Ultrices purus? Ut risus, dis.</li>
        </ul>
        <p>Et pid habitasse! Natoque dapibus pellentesque lacus? Platea pulvinar, porta elementum sagittis, urna cursus etiam, lacus ut pulvinar elementum odio vel, montes augue, est. Nec sit aliquam et pulvinar! Dictumst nascetur ridiculus tincidunt scelerisque! Natoque risus porttitor, adipiscing cum? Eu sit duis? Et! Vut etiam pulvinar? Ut nec phasellus.</p>
      </section>

      <section class="course-social" style="position:relative;overflow:hidden;">
      </section>
    </div>
  </div>
  <!-- END FORUM -->

</section>
<!-- END MAIN CONTENT -->
</div>
<!-- CONTAINER -->
{% endblock %}
