{% extends "base.html" %}

{% block content %}
<!-- CONTAINER -->
<div id="course-content">

  <!-- HEADER -->
  <header id="main-header" class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <h1 class="course-name bottom top">{{ lesson.course.name }}</h1>
          {% include "_course-professors-inline.html" with course=lesson.course %}
        </div>
        <div class="col-lg-4 col-sm-4">
          <!-- COURSE-SECTION-NAV -->
          <nav class="course-sections textright">
            <a href="aula-intro.html"><span class="has-tooltip icon-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
            <a href="aula.html"><span class="has-tooltip icon-facetime-video" data-toggle="tooltip" data-placement="top" data-original-title="Aulas"></span></a>
            <a href="profile-note.html"><span class="has-tooltip icon-pencil" data-toggle="tooltip" data-placement="top" data-original-title="Anotações"></span></a>
            <a href="forum-course.html"><span class="has-tooltip icon-list" data-toggle="tooltip" data-placement="top" data-original-title="Fórum"></span></a>
            <a href=""><span class="has-tooltip icon-exclamation-sign" data-toggle="tooltip" data-placement="top" data-original-title="Wiki"></span></a>
          </nav>
          <!-- END COURSE-SECTION-NAV -->
        </div>
      </div>
    </div>
  </header>
  <!-- END HEADER -->

  <!-- MAIN CONTENT -->
  <section id="main-content" class="container">
    <nav class="course-lessons-nav row">
      <div class="col-lg-12 col-sm-12">
        <div class="btn-group button-watching">
          <button type="button" class="btn btn-sm btn-info">{{ lesson.name }}
          </button>
          <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">
            <i class="icon-chevron-down"></i>
          </button>
          <ul class="dropdown-menu">
            {% for list_lesson in lesson.course.lesson_set.all %}
            <li><a href="{% url 'lesson' list_lesson.slug %}"><span class="title">{{ list_lesson.name }}</span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- COURSE-VIDEO -->
    <section class="course-video">
      <div class="row">
        <!-- BLOCKS -->
        <div class="col-lg-1 col-sm-1">
          {% for unit in lesson.unit_set.all %}
          <a style="display:block;" href="#" class="has-tooltip unit {% if forloop.first %}
          watching
          {% endif %}" data-toggle="tooltip" data-placement="right" data-original-title="{{ unit.position|add:1 }}">
          {% if forloop.first %}
          <i class="icon-caret-right"></i>
          {% endif %}
          <span class="position">{{ unit.position|add:1 }}</span>
          {% if unit.activity != None %}
          <i class="icon-list"></i>
          {% endif %}
        </a>
        {% endfor %}
      </div>
      <!-- END BLOCKS -->

      <!-- PLAYER AND SUBTITLE-->
      <div class="col-lg-8 col-sm-11 left">
        <!-- PLAYER -->
        <iframe id="ytplayer" type="text/html" height="429" width="100%" src="https://www.youtube.com/embed/IvvE7syPEZA?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
        <!-- END PLAYER -->
      </div>
      <!-- PLAYER -->

      <!-- NOTES -->
      <div class="col-lg-3 hidden-md hidden-sm">
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function() {
            $(".nav-tabs a").click(function(e) {
              e.preventDefault();
              $(this).tab('show');
            })
          })
        </script>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#subtitles" data-toggle="tab">Transcrição</a></li>
          <li><a href="#notes" data-toggle="tab">Anotações</a></li>
          <li><a href="" class="has-tooltip" data-toggle="tooltip" data-placemente="top" data-original-title="Esconder transcrição/anotações"><i class="icon-double-angle-right"></i></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="subtitles">
            <table class="table">
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr class="now">
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
              <tr>
                <td><i class="icon-star-empty"></i></td>
                <td>00:00</td>
                <td>Lorem ipsum dolor sit met</td>
              </tr>
            </table>
          </div>
          <div class="tab-pane" id="notes">
            <form class="textright">
              <textarea rows="5" class="col-lg-12 left right"></textarea>
              <input type="submit" class="btn btn-success" value="Salvar">
            </form>
            <ol>
              <a href="">Ver todas as anotações</a>
              <li>
                <p>Eu integer? Dolor augue elit velit natoque tristique, ridiculus, mauris rhoncus ac augue. Aliquet a risus, a magna! Mattis, natoque, risus turpis, aliquam magna aenean! Ut amet amet elit dis magna enim penatibus. Pulvinar elementum? Tempor cum dapibus vut lundium.</p>
                <p>Ac arcu ridiculus! A, tortor porta porta elit tincidunt, tincidunt! Adipiscing pulvinar amet? Placerat odio tempor, enim augue penatibus purus lorem magnis, adipiscing magna. Facilisis dictumst facilisis adipiscing phasellus! Sed in, scelerisque nascetur pellentesque et, urna platea pid integer.</p>
                <p>Arcu eu, aenean, vel tortor elementum nisi platea dis? Est vut nisi a amet, in, lacus lectus. Mid rhoncus et tristique diam adipiscing magna massa et placerat, adipiscing urna urna scelerisque facilisis etiam penatibus phasellus tincidunt turpis lectus porttitor.</p>
                <p>Odio urna aliquet ac adipiscing, adipiscing integer! In vel. Phasellus ac, sed vel porta ac sociis eros magna augue? Sed, a, mauris ultrices lundium elementum rhoncus sit eu et! Velit hac, et duis enim! Pulvinar! Augue a duis sociis.</p>
                <p>Nisi, sed proin in tempor dolor aliquet. Arcu, elementum nunc, eros in odio, integer? Sit ac phasellus a egestas hac ultrices, ac mattis egestas, nunc augue sit adipiscing in, egestas nascetur! Urna arcu placerat aliquet odio vel magna phasellus.</p>
              </li>
              <li>
                <p>Eu integer? Dolor augue elit velit natoque tristique, ridiculus, mauris rhoncus ac augue. Aliquet a risus, a magna! Mattis, natoque, risus turpis, aliquam magna aenean! Ut amet amet elit dis magna enim penatibus. Pulvinar elementum? Tempor cum dapibus vut lundium.</p>
                <p>Ac arcu ridiculus! A, tortor porta porta elit tincidunt, tincidunt! Adipiscing pulvinar amet? Placerat odio tempor, enim augue penatibus purus lorem magnis, adipiscing magna. Facilisis dictumst facilisis adipiscing phasellus! Sed in, scelerisque nascetur pellentesque et, urna platea pid integer.</p>
                <p>Arcu eu, aenean, vel tortor elementum nisi platea dis? Est vut nisi a amet, in, lacus lectus. Mid rhoncus et tristique diam adipiscing magna massa et placerat, adipiscing urna urna scelerisque facilisis etiam penatibus phasellus tincidunt turpis lectus porttitor.</p>
                <p>Odio urna aliquet ac adipiscing, adipiscing integer! In vel. Phasellus ac, sed vel porta ac sociis eros magna augue? Sed, a, mauris ultrices lundium elementum rhoncus sit eu et! Velit hac, et duis enim! Pulvinar! Augue a duis sociis.</p>
                <p>Nisi, sed proin in tempor dolor aliquet. Arcu, elementum nunc, eros in odio, integer? Sit ac phasellus a egestas hac ultrices, ac mattis egestas, nunc augue sit adipiscing in, egestas nascetur! Urna arcu placerat aliquet odio vel magna phasellus.</p>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- END NOTES -->
    
      <section class="course-instructions col-sm-10 col-sm-offset-1 hidden-lg">
        <div class="page-header-double">
          <h3><i class="icon-double-angle-right"></i> Informações e Instruções</h3>
        </div>
        <p>In eu placerat, porta urna integer pellentesque adipiscing nascetur magna, diam amet, scelerisque proin massa a, mid enim nec mus, mattis sit sagittis pulvinar, augue ac nunc proin! Scelerisque nec? Montes penatibus risus ridiculus, platea porttitor, ac in cras. Augue. Dapibus nisi purus, integer adipiscing dignissim dictumst cum, odio turpis.</p>
        <p>A. Porttitor in? Sagittis, amet dictumst parturient vut amet? Dis in sit quis non, odio vel, turpis, porta natoque, et pulvinar! Ultricies adipiscing porta. Nascetur platea, tortor tempor montes et adipiscing porttitor eros, rhoncus velit nisi elit montes nascetur diam dictumst tempor integer augue nunc odio, nec, aliquet. Adipiscing.</p>
        <p>Pulvinar mus lectus, enim a. Eros tristique dolor ac, sociis urna enim, vel egestas augue odio mid magna mus eros, enim duis adipiscing, arcu a turpis mus vut, mattis porttitor scelerisque? Odio eros sed! Rhoncus? Ac a dolor et phasellus aliquet cum vut sociis, lundium, aenean quis et placerat.</p>
        <ul>
          <li>Sit magna pellentesque hac dignissim.</li>
          <li>Proin porta ac aliquet, integer.</li>
          <li>Hac nisi placerat egestas integer.</li>
          <li>Augue, vut ut urna urna.</li>
          <li>Massa duis mauris placerat auctor.</li>
          <li>Platea platea placerat in dignissim.</li>
          <li>Ultrices purus? Ut risus, dis.</li>
        </ul>
        <p>Et pid habitasse! Natoque dapibus pellentesque lacus? Platea pulvinar, porta elementum sagittis, urna cursus etiam, lacus ut pulvinar elementum odio vel, montes augue, est. Nec sit aliquam et pulvinar! Dictumst nascetur ridiculus tincidunt scelerisque! Natoque risus porttitor, adipiscing cum? Eu sit duis? Et! Vut etiam pulvinar? Ut nec phasellus.</p>
      </section>
    </div>
  </section>
  <!-- END COURSE-VIDEO -->

  <!-- FORUM -->
  <div class="row">
    <div class="col-lg-8 col-sm-10 col-lg-offset-0 col-sm-offset-1">
      <section class="course-forum">
        <div class="page-header-double">
          <h3><i class="icon-double-angle-right"></i> Perguntas e Respostas</h3>
        </div>
        <!-- QUESTION FORM -->
        <div class="row">
          <form class="col-lg-12 col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Qual é a sua dúvida?">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="4" placeholder="Descrição da sua dúvida"></textarea>
            </div>
            <div class="form-group bottom">
              <div class="row">
                <div class="col-lg-8 col-sm-8">
                  <small><a href="">Política de Perguntas e Respostas</a></small>
                </div>
                <div class="col-lg-4 col-sm-4 textright">
                  <input type="submit" class="btn btn-success" value="Enviar">
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- END QUESTION FORM -->

        <!-- QUESTIONS LIST-->
        <section class="questions clearfix">
          <div class="search-filter">
            <div class="row">
              <div class="col-lg-7 col-sm-7">
                <div class="btn-group">
                  <button type="button" class="btn btn-info">Mais votadas</button>
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-chevron-down"></i>
                  </button>
                  <ul class="dropdown-menu top">
                    <li><a href="">Mais votadas</a></li>
                    <li><a href="">Mais recentes</a></li>
                    <li><a href="">Mais respondida</a></li>
                    <li><a href="">Ver todas</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-5 col-sm-5 textright">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="Pesquisar perguntas e respostas">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <i class="icon-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">1234</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam. Non urna, vel auctor, nisi mus, auctor odio, diam eu ultrices?</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">12</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam.</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">12</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam.</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">1234</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam. Non urna, vel auctor, nisi mus, auctor odio, diam eu ultrices?</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">12</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam.</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">12</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam.</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">1234</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam. Non urna, vel auctor, nisi mus, auctor odio, diam eu ultrices?</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">12</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam.</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <article>
            <div class="stats">
              <div class="arrow-right"></div>
              <p><span class="numbers-votes">12</span>votos</p>
              <p><span class="numbers-answers">0</span>respostas</p>
            </div>
            <div class="question">
              <p><a href="forum-question.html">Elementum dictumst adipiscing, sit, aliquet diam adipiscing tincidunt, mus nunc nunc est hac egestas amet, diam.</a></p>
              <p class="description">Nascetur proin est ridiculus aliquet mattis pellentesque integer est cras, integer tincidunt, enim vut vut sit porta sit cum dignissim aenean nascetur pulvinar proin tortor velit ac quis amet cras ac vel elit nec, ac ultricies montes pulvinar etiam penatibus, dis augue, ut a scelerisque cras, elementum integer, nisi diam [...]</p>
            </div>
            <div class="author">
              Pergunta feita há 1 dia por <a href="">Username</a>
            </div>
          </article>
          <p class="textcenter"><a href="forum-course.html" class="all-questions btn btn-info">Ver todas as perguntas e respostas</a></p>
        </section>
        <!-- QUESTIONS LIST-->
      </section>
    </div>
    <div class="col-lg-4 hidden-md">
      <section class="course-instructions">
        <div class="page-header-double">
          <h3><i class="icon-double-angle-right"></i> Informações e Instruções</h3>
        </div>
        <p>In eu placerat, porta urna integer pellentesque adipiscing nascetur magna, diam amet, scelerisque proin massa a, mid enim nec mus, mattis sit sagittis pulvinar, augue ac nunc proin! Scelerisque nec? Montes penatibus risus ridiculus, platea porttitor, ac in cras. Augue. Dapibus nisi purus, integer adipiscing dignissim dictumst cum, odio turpis.</p>
        <p>A. Porttitor in? Sagittis, amet dictumst parturient vut amet? Dis in sit quis non, odio vel, turpis, porta natoque, et pulvinar! Ultricies adipiscing porta. Nascetur platea, tortor tempor montes et adipiscing porttitor eros, rhoncus velit nisi elit montes nascetur diam dictumst tempor integer augue nunc odio, nec, aliquet. Adipiscing.</p>
        <p>Pulvinar mus lectus, enim a. Eros tristique dolor ac, sociis urna enim, vel egestas augue odio mid magna mus eros, enim duis adipiscing, arcu a turpis mus vut, mattis porttitor scelerisque? Odio eros sed! Rhoncus? Ac a dolor et phasellus aliquet cum vut sociis, lundium, aenean quis et placerat.</p>
        <ul>
          <li>Sit magna pellentesque hac dignissim.</li>
          <li>Proin porta ac aliquet, integer.</li>
          <li>Hac nisi placerat egestas integer.</li>
          <li>Augue, vut ut urna urna.</li>
          <li>Massa duis mauris placerat auctor.</li>
          <li>Platea platea placerat in dignissim.</li>
          <li>Ultrices purus? Ut risus, dis.</li>
        </ul>
        <p>Et pid habitasse! Natoque dapibus pellentesque lacus? Platea pulvinar, porta elementum sagittis, urna cursus etiam, lacus ut pulvinar elementum odio vel, montes augue, est. Nec sit aliquam et pulvinar! Dictumst nascetur ridiculus tincidunt scelerisque! Natoque risus porttitor, adipiscing cum? Eu sit duis? Et! Vut etiam pulvinar? Ut nec phasellus.</p>
      </section>

      <section class="course-social" style="position:relative;overflow:hidden;">
      </section>
    </div>
  </div>
  <!-- END FORUM -->

</section>
<!-- END MAIN CONTENT -->
</div>
<!-- CONTAINER -->
{% endblock %}
