{% load i18n %}
<!-- ALERT -->
<div class="tt-popup notifications" alert-popup ng-class="{'hideTop': alert.hidden}">
    <div class="alert fade in" ng-class="'alert-' + alert.type">
        <button type="button" class="close" ng-click="alert.hidden=true">×</button>
        <h4 ng-bind="alert.title"></h4>
        <div class="bottom">
            <ol class="bottom">
                <li ng-repeat="message in alert.messages" ng-bind="message"></li>
            </ol>
        </div>
        <div ng-show="alert.showControls">
            <hr/>
            <button type="button" class="btn" ng-class="'btn-'+alert.type"
                     ng-click="alert.hidden=true">{% trans 'Close' %}</button>
        </div>
    </div>
</div>
<!-- ALERT -->
