{% extends "base.html" %}
{% load compressed %}
{% load static %}
{% load i18n %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'core' %}
    {% compressed_js 'certificate' %}
{% endblock %}

{% block content %}

<!-- TODO add controller, ng-app and id -->
<section id="certificate" ng-app="certification" ng-controller="CertificateTemplateCtrl">
    <!-- ACTIONS -->
    <div class="actions-menu" fixed-bar>
        <div class="container">
            <div class="actions-buttons">
                <button class="btn btn-danger">{% trans 'Cancel' %} | <i class="fa fa-times"></i></button>
                <button class="btn btn-success">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
            </div>
            {% include 'administration/_alert.html' %}
        </div>
    </div>
    <!-- END ACTIONS -->
    {% include "_admin_header_inline.html" with course=course %}
    <!-- TODO add form -->

    <div class="container">

        <header class="secondary-header">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{% trans "Certificate Settings" %}</h1>
                </div>
            </div>
        </header>

        <!-- Nav tabs -->
        <!--<ul class="nav nav-tabs" role="tablist">-->
            <!--<li role="presentation" class="active"><a href="#edit-certificate" aria-controls="edit-certificate" role="tab" data-toggle="tab">{% trans 'Edit certificate' %}</a></li>-->
            <!--<li role="presentation"><a href="#edit-receipt" aria-controls="edit-receipt" role="tab" data-toggle="tab">{% trans 'Edit receipt text' %}</a></li>-->
        <!--</ul>-->
        <!-- Tab panes -->
        <div class="tab-content">
            {% block certificate-options %}
            <div role="tabpanel" class="tab-pane edit-certificates active" id="edit-certificate">
                <div class="alert alert-info" role="alert">
                    Edite os elementos numerados de <strong>1 a 4</strong> com as informações que serão exibidas no certificado final do curso.
                </div>
                <div class="certificate-container certificate-admin">
                    <div class="institute-logo">
                        <!-- TODO add file preview -->
                        <img alt="Logo da Istituição" src="">
                        <input type="file" id="">
                    </div>
                    <div class="text-center certificate-info">
                        <p>
                            O <span class="institute editable editable-text">
                        <input type="text"
                           ng-model=""
                           placeholder="Digite o nome do Instituto" />
                       </span> certifica que
                        </p>
                        <!-- TODO add course info -->
                        <p class="student">Nome do(a) concluinte</p>
                        <p class="text-muted">
                            concluiu o curso <strong>{{ course.name }}</strong>, com <strong>40</strong> horas, no período de _______________________.
                        </p>
                        <p class="text-muted">
                            <strong>_____________</strong>, <strong>__</strong> de <strong>__________</strong> de 20<strong>__</strong>.
                        </p>
                    </div>
                    <footer class="certificate-signature">
                        <div class="editable editable-text role-signature">
                            <input type="text" ng-model="" placeholder="Digite o cargo, ex.: Diretora da Unidade" />
                        </div>
                    </footer>
                </div>
            </div>
            {% endblock %}
            <!--<div role="tabpanel" class="tab-pane edit-certificates" id="edit-receipt">-->
                <!--<div class="alert alert-info" role="alert">-->
                    <!--Edite o texto que aparecerá no comprovante emitido automaticamente após a conclusão do curso. Este comprovante <strong>não possui</strong> a mesma validade do certificado.-->
                <!--</div>-->

                <!--&lt;!&ndash; TODO add real info and form &ndash;&gt;-->
                <!--<div class="certificate-container certificate-admin">-->
                    <!--<p>MARIA JOSÉ DA SILVA assistiu a 97% do conteúdo do curso <em>TIM faz ciência</em> com duração de 9 horas.</p>-->
                    <!--<span class="institute editable editable-text">-->
                        <!--<input type="text"-->
                               <!--ng-model=""-->
                               <!--placeholder="Digite o texto que complementará as informações acima." />-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>
{% endblock %}