{% extends "base.html" %}
{% load pipeline %}
{% load static %}
{% load i18n %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{ block.super }}
    {% javascript 'reports' %}
    <script>
        window.course_id = {{ course.pk }};
        window.user_id = {{ user.pk }};
        {% if user.is_staff or user.is_superuser  %}
        window.is_admin = true;
        {% else %}
        window.is_admin = false;
        {% endif %}
    </script>
{% endblock %}

{% block content %}
<div id="stats" class="course-stats" ng-app="reports">

    {% if in_admin %}
        {% include "_admin_header_inline.html" with course=course %}
    {% else %}
        {% include "_course-header-inline.html"  with course=course %}
    {% endif %}

    <section id="stats-content" class="container" ng-controller="ReportsCtrl">

        <header class="secondary-header">
            <div class="row">
                <div class="col-sm-9">
                    <h1>{% trans "Course reports" %}</h1>
                </div>
            </div>
        </header>

        <!-- FILTERS -->
        <div class="filters">
            <!--  FORM INLINE -->
            <form class="form-inline">
                <!-- ROW -->
                <div class="row">
                    <div class="col-md-5 col-sm-8">
                        <label for="filter-class"> {% trans "Filter classes" %}:
                            <select class="form-control" id="filter-class" ng-model="filters.selected_class" ng-change="filter_stats()">
                                <optgroup label="Liste por:">
                                    <option ng-if="my_classes.length" value="my_classes">Minhas turmas</option>
                                    <option value="all" ng-if="current_user_role == 'coordinator'">Todas as turmas deste curso</option>
                                    <option value="others_classes" ng-if="current_user_role == 'coordinator' && others_classes.length">Turmas dos outros professores</option>
                                </optgroup>
                                <optgroup ng-if="others_classes.length || my_classes.length " label="Ou escolha uma turma:">
                                    {% verbatim %}
                                    <option ng-repeat="klass in my_classes" id="{{klass.id}}" value="{{klass.id}}">{{ klass.name }}</option>
                                    <option ng-repeat="klass in others_classes" id="{{klass.id}}" value="{{klass.id}}">{{ klass.name }}</option>
                                    {% endverbatim %}
                                </optgroup>
                            </select>
                        </label>
                    </div>
                    <div class="filter-keyword col-md-3 col-sm-5 textright">
                        <input type="text" ng-model="filters.textsearch" placeholder="{% trans 'Keyword' %}" class="form-control">
                    </div>
                    <!-- END COL-LG-3 -->
                    <!-- COL-LG-3 -->
                    <div class="filter-ordering col-md-2 col-sm-5 textright">
                        <select ng-model="ordering" class="form-control">
                            <option value="name">{% trans 'Name' %}</option>
                            <option value="course_progress">{% trans 'Progress' %}</option>
                        </select>
                    </div>
                    <!-- END COL-LG-3 -->
                    <div class="filter-reverse col-md-2 col-sm-2 textright">
                        <button class="btn btn-info btn-block" ng-class="{active:reverse}" ng-click="reverse=!reverse">{% trans 'Invert' %}</button>
                    </div>
                </div>
                <!-- END ROW -->
            </form>
            <!-- END FORM INLINE -->
        </div>
        <!-- END FILTERS -->

        <section class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#students" data-toggle="tab">{% trans "Students" %}</a></li>
                    <li><a href="#lessons" data-toggle="tab">{% trans "Lessons" %}</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="students">
                        <div class="col-lg-12" ng-hide="users_reports.$resolved">
                            <p>{% trans 'Loading students report' %}...   <i class="loading fa fa-refresh fa-spin"></i></p>
                        </div>
                        <div class="row" ng-show="users_reports.$resolved">
                            <div class="col-sm-8">
                                <h3>{% trans 'Students progress' %}</h3>
                                <h4>{% trans 'Total number of students' %}: {% verbatim %}{{ users_reports.length }}{% endverbatim %}</h4   >
                            </div>
                            <!--
                            <div class="col-sm-4 textright">
                                <input type="text" placeholder="{% blocktrans %}Search student{% endblocktrans %}" class="form-control search-filter">
                            </div>
                            -->
                        </div>
                        <ul class="students" ng-show="users_reports.$resolved">
                            <li ng-repeat="user in (filteredList = (users_reports | orderBy:ordering:reverse | filter:filters.check))">
                                <div class="row">
                                {% verbatim %}
                                    <div class="col-md-3 col-sm-4 col-xs-10"><strong>{{ user.name }}<br>({{ user.email }})</strong></div>
                                    <div class="col-lg-1 col-xs-2 textright">{{ user.course_progress }}%</div>
                                    <div class="col-md-2 col-sm-3 hidden-xs">
                                        <div class="progress">
                                            <div class="progress-bar" style="width:{{ user.course_progress }}%;"></div>
                                        </div>
                                    </div>
                                {% endverbatim %}
                                    <div class="col-md-2 col-sm-3 col-xs-12 textright">
                                        <span class="label label-default pointer" ng-click="show_user_progress_details(user);showLessons=!showLessons">
                                            {% trans 'Show lessons' %}
                                            <i class="fa" ng-class="{'fa fa-caret-down':!showLessons,'fa fa-caret-up':showLessons}"></i>
                                        </span>
                                    </div>
                                    <div class="lessons col-xs-12" ng-if="showLessons">
                                        <div class="col-lg-12" ng-hide="user.lessons_stats.$resolved">
                                            <span>{% trans 'Loading student report' %}...   <i class="loading fa fa-refresh fa-spin"></i></span>
                                        </div>
                                        <div class="lesson" ng-repeat="lesson in user.lessons_stats.lessons_progress">
                                            {% verbatim %}
                                            <div class="row">
                                                <div class="col-lg-5 col-md-6 col-sm-7 col-xs-10">{{ lesson.name }}</div>
                                                <div class="col-md-1 col-sm-2 col-xs-2 textright">{{ lesson.progress | number:0 }}%</div>
                                                <div class="col-md-2 col-sm-3 hidden-xs">
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width:{{ lesson.progress }}%;"></div>
                                                    </div>
                                                </div>
                                                <!--<div class="col-lg-5">
                                                    <span>0 perguntas no fórum</span>
                                                    <span>0 respostas no fórum</span>
                                                    <span>0 anotações</span>
                                                </div>-->
                                            </div>
                                            {% endverbatim %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade in" id="lessons">
                        <div class="row">
                            <div class="col-lg-8">
                                <h3>{% trans 'Average student progress per class' %}</h3>
                                <div class="col-lg-12" ng-hide="course_stats.$resolved">
                                    <p>{% trans 'Loading lessons report' %}...   <i class="loading fa fa-refresh fa-spin"></i></p>
                                </div>
                            </div>
                        </div>
                        <ul class="lessons">
                            <li class="lesson" ng-repeat="lesson in course_stats.lessons_avg_progress">
                                {% verbatim %}
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-7 col-xs-10">{{ lesson.name }}</div>
                                    <div class="col-sm-1 col-xs-2 textright">{{ lesson.progress  | number:0  }}%</div>
                                    <div class="col-md-2 col-sm-3 hidden-xs">
                                        <div class="progress">
                                            <div class="progress-bar" style="width:{{ lesson.progress }}%;"></div>
                                        </div>
                                    </div>
                                    <!--<div class="col-lg-5">
                                        <span>0 perguntas no fórum</span>
                                        <span>0 respostas no fórum</span>
                                        <span>0 anotações</span>
                                    </div>-->
                                </div>
                                {% endverbatim %}
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>


{% endblock content %}
