{% extends "base.html" %}
{% load compressed %}
{% load i18n %}
{% load in_group %}
{% load append_to_get %}

{% block js %}
{{ block.super }}
    {% compressed_js 'users_admin' %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<!-- COURSES -->
<section id="users" ng-app="users-admin" ng-controller="UsersAdminController">

    <div class="container">
        <!--  HEADER -->
        <header>
            <div class="row">
                <div class="col-lg-6">
                    <h1>{% trans 'Users' %}</h1>
                </div>
            </div>
        </header>
        <!-- END HEADER -->

        <h3>{% trans 'Total users number:' %} {{ total_users_number }}</h3>
        <div class="filters">
            <form role="form" class="form-inline" method="GET">
                    <div class="filter-checkbox form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="admin" {% if request.GET.admin %}checked{% endif %}> {% trans 'Administrators' %}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="keyword">{% trans 'Keyword' %}</label>
                        <input type="text" placeholder="{% trans 'Keyword' %}" class="form-control" id="keyword" name="keyword" {% if request.GET.keyword %}value="{{ request.GET.keyword }}"{% endif %}>
                        <button class="btn btn-info" ng-click="filter_users()">{% trans 'Filter' %}</button>
                    </div>
            </form>
            <!-- END FORM INLINE -->
        </div>
        <!-- END FILTERS -->

        <section id="all-courses" class="user-list">
            <table class="table table-list">
                <tr>
                    <th class="username">{% trans "Username" %}</th>
                    <th class="email">{% trans "Email" %}</th>
                    <th class="fullname">{% trans "Full name" %}</th>
                    <th class="role text-center">{% trans 'Administrator' %}</th>
                    <th class="role text-center">{% trans 'Active' %}</th>
                    <th class="actions">{% trans "Actions" %}</th>
                </tr>
                <tr ng-repeat="user in users_page">
                {% verbatim %}
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td class="text-center">
                        <input type="checkbox" ng-model="user.is_superuser" ng-click="change_superuser_status(user)">
                    </td>
                    <td class="text-center">
                        <input class="js-update" type="checkbox" ng-model="user.is_active" ng-click="change_blocked_user_status(user)">
                    </td>
                    <td class="textcenter">
                        <button class="btn btn-warning js-delete" ng-click="delete_user(user)"><i class="fa fa-trash-o"></i></button>
                    </td>
                {% endverbatim %}
                </tr>
            </table>
        </section>
        <pagination total-items="{{ total_users_number }}"
                    items-per-page="50"
                    ng-model="current_page"
                    ng-change="page_changed()"
                    max-size="5"
                    boundary-links="true"
                    previous-text="{% trans 'Previous' %}"
                    next-text="{% trans 'Next' %}"
                    first-text="{% trans 'First' %}"
                    last-text="{% trans 'Last' %}">
        </pagination>
    </div>

</section>
<!-- END COURSES -->


{% endblock %}
