{% extends "base.html" %}
{% load pipeline %}
{% load i18n %}
{% load in_group %}
{% load append_to_get %}

{% block js %}
{{ block.super }}
    {% javascript 'users_admin' %}
    <script>
        window.total_users_found = {{ total_users_number }};
    </script>
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<!-- COURSES -->
<section id="users" ng-app="users-admin" ng-controller="UsersAdminController">
    <!-- ACTIONS -->
    <div class="actions-menu actions-menu-message" ng-hide="alert.hidden" fixed-bar>
        <div class="container">
            {% include 'administration/_alert.html' %}
        </div>
    </div>
    <!-- END ACTIONS -->
    <div class="container">
        <!--  HEADER -->
        <header>
            <div class="row">
                <div class="col-lg-6">
                    <h1>{% trans 'Users' %}</h1>
                </div>
            </div>
        </header>
        <!-- END HEADER -->
        <h3>{% trans 'Users found:' %} {% verbatim %}{{ total_users_found }}{% endverbatim %}</h3>
        <div class="filters">
            <form role="form" class="form-inline" method="GET">
                <div class="filter-checkbox form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="admin" ng-model="filters.admin"> {% trans 'Administrators' %}
                        </label>
                        <label>
                            <input type="checkbox" name="admin" ng-model="filters.blocked"> {% trans 'Blockeds' %}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="keyword">{% trans 'Keyword' %}</label>
                    <input type="text"
                           placeholder="{% trans 'Keyword' %}"
                           class="form-control" id="keyword"
                           name="keyword"
                           ng-model="filters.keyword">
                    <button class="btn btn-info" ng-click="filter_users()">{% trans 'Filter' %}</button>
                </div>
            </form>
            <!-- END FORM INLINE -->
        </div>
        <!-- END FILTERS -->
		<div class="col-lg-12" ng-hide="users_page.$resolved">
			<p>{% trans 'Loading users list' %}...   <i class="loading fa fa-refresh fa-spin"></i></p>
		</div>
        <div class="col-lg-12" ng-if="users_page.$resolved && users_page.length==0">
			<p>{% trans 'No users found' %}.</p>
		</div>
        <section id="all-courses" class="user-list" ng-show="users_page.$resolved">
            <table class="table table-list">
                <tr>
                    <th class="username">{% trans "Username" %}</th>
                    <th class="email">{% trans "Email" %}</th>
                    <th class="fullname">{% trans "Full name" %}</th>
                    <th class="role text-center">{% trans 'Administrator' %}</th>
                    <th class="role text-center">{% trans 'Active' %}</th>
                    <th class="actions">{% trans "Actions" %}</th>
                </tr>
                <tr ng-repeat="user in users_page">
                {% verbatim %}
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td class="text-center">
                        <input type="checkbox" ng-model="user.is_superuser" ng-change="update_user(user)">
                    </td>
                    <td class="text-center">
                        <input type="checkbox" ng-model="user.is_active" ng-change="update_user(user)">
                    </td>
                    <td class="textcenter">
                        <button class="btn btn-warning js-delete" ng-click="delete_user(user, $index)"><i class="fa fa-trash-o"></i></button>
                    </td>
                {% endverbatim %}
                </tr>
            </table>
        </section>
        <pagination total-items="total_users_found"
                    items-per-page="50"
                    ng-model="current_page"
                    ng-change="page_changed()"
                    max-size="5"
                    boundary-links="true"
                    previous-text="{% trans 'Previous' %}"
                    next-text="{% trans 'Next' %}"
                    first-text="{% trans 'First' %}"
                    last-text="{% trans 'Last' %}"
                	ng-hide="filtered">
        </pagination>
    </div>

</section>
<!-- END COURSES -->
{% endblock %}
