// Globals
// --------------------------------------------------

//## Set shared styles for all pages
//##
body {
    &.user-unlogged {
        background-color: #f6f6f6;

        .wrapper {
            margin: 0 auto; 
            max-width: 946px;
        }
        .home {
            margin-top: -63px !important;
        }
    }
    &.user-logged {
        background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/73/75/ef737591ab4e6fee1ab6025ba968a58b.jpg);
        background-color: transparent;
        
        // wrap the whole content of the site to prevent overflow on mobile devices
        .site-wrapper {
            overflow: hidden;
            position: relative;
            width: 100%;
        }
        // content wrapper
        .wrapper {
            position: relative;
            bottom: 0;
            left: 100px;
            right: 0;
            top: 80px;
            padding-bottom: 85px;
            padding-right: 100px;
            @media screen and (min-width: $screen-md-min) { 
                padding-bottom: 130px;
                padding-top: 50px;
            }
        }
        .container-fluid {
            max-width: 946px;
        }
    }

    // when the main navbar is opened
    &.main-nav-opened {
        .wrapper {
            left: 250px;
            padding-right: 250px;
        }
    }
}

//## Set shared styles for all pages
//##
.page {
    @include card(rgba($gray,0.5));

    .page-header {
        margin-bottom: 30px;
    }
}

//## Minor layout adjusts on form controls styles
//##
.form-control {
    border: 0; 
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}