body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.wrapper {
    position: relative;
    bottom: 0;
    left: 80px;
    right: 0;
    top: 0;
    padding-right: 80px;
}

.container-fluid {
    max-width: 1170px;
}

// When the main navbar is opened
// --------------------------------------------------

.main-nav-opened {
    .wrapper {
        left: 300px;
        padding-right: 300px;
    }
}