body {
    background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/73/75/ef737591ab4e6fee1ab6025ba968a58b.jpg);
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
}

.wrapper {
    position: relative;
    bottom: 0;
    left: 100px;
    right: 0;
    top: 80px;
    padding-right: 100px;
}

.container-fluid {
    max-width: 1170px;
}

// When the main navbar is opened
// --------------------------------------------------

.main-nav-opened {
    .wrapper {
        left: 300px;
        padding-right: 300px;
    }
    .site-header {
        left: 300px;
    }
}