// Main navigation styles
// --------------------------------------------------

.main-nav {
    background-color: $yellow; 
    bottom: 0;
    left: 0;
    top: 0;
    position: fixed;
    transition: width 0.5s ease;
    z-index: 1000;
    a {
        color: #fff;
    }
    ul, ul ul {
        @extend .list-unstyled;
        color: #fff;
    }
}

.user-info {
    background-color: $green;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    font-size: 10px;
    height: 80px;
    padding: 4%;
    .user-icon {
        text-align: center; 
    }
    .user-name {
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        margin-top: 4%;
        text-align: center; 
    }
}

.user-nav {
    font-size: $font-size-small;
    font-weight: 700;
    margin: 8%; 
    li {
        margin-bottom: 10%;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .submenu {
        border-bottom: 1px solid #fff;
        font-weight: 400;
        margin-bottom: 15%;
        padding-bottom: 15%; 
        ul {
            font-weight: 700;
            margin-top: 10%;
        }
    }
    a {
        &:before {
            display: block;
            font-size: $font-size-large;
        }
    }
    .repositories {
        @include icon(before, repositories);
    }
    .forum {
        @include icon(before, forum);
    }
    .help {
        @include icon(before, help);
    }
    .logout {
        @include icon(before, logout);
    }
}

.site-info {
    display: none;
}

.main-nav-opened {
    .main-nav {
        width: 300px;
        .user-info {
            padding: 20px 8%;
            .user-icon {
                float: left;
                margin-right: 2%;
            }
            .user-name {
                float: left;
                font-size: $font-size-base;
                margin-top: 10px;
                text-align: left;
            }
        }
        .user-nav {
            font-size: $font-size-large;
            a {
                &:before {
                    display: inline-block;
                    margin-right: 4%;
                }
            }
        }
        .site-info {
            position: absolute;
            bottom: 0;
        }
    }
}