// Site header styles
// --------------------------------------------------

.site-header {
    background-color: $site-header-bg-color;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 80px;
    overflow: hidden;
    @include transition(width 0.5s ease);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.user-info {
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    height: 80px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    .user-icon {
        border-radius: 100%;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
        height: 40px;
        text-align: center; 
        width: 40px;
        img {
            height: 40px;
            width: 40px;
        }
    }
    .user-name {
        display: none;
        float: left;
        font-size: $font-size-base;
        font-weight: $semi-bold;
        margin-top: 10px;
        text-align: left;
    }
    .menu-label {
        display: block;
        font-size: $font-size-base;
        font-weight: $semi-bold;
        text-align: center; 
    }
}

.main-nav-opened { // when the offcanvas menu is opened
    .user-info {
        padding: 20px 25px;
        width: 300px;
        .user-icon {
            float: left;
            margin-right: 10px;
        }
        .user-name {
            display: block;
        }
        .menu-label {
            display: none;
        }
    }
}

.site-logo {
    height: 80px;
    @include transition(all 0.5s ease);
    position: absolute;
    left: 15px;
    @media screen and (min-width: $screen-sm-min) {
        left: 150px;
        right: 150px;
    }
    h1 {
        margin: 0;
        width: 100%;
        @media screen and (min-width: $screen-sm-min) {
            text-align: center;
        }
    }
    a {
        display: block;
    }
    img {
        margin: 25px 0; 
        max-height: 30px;
    }
}

.main-nav-opened { // when the offcanvas menu is opened
    .site-logo {
        @media screen and (min-width: $screen-sm-min) {
            left: 300px;
        }
    }
}

.user-tools {
    @extend %list-inline;
    position: absolute;
    right: 15px;
    top: 25px;
    li {
        margin-left: 15px;
    }
    a {
        color: #000;
        font-size: $font-size-small;
        font-weight: 700;
        line-height: 120%;
        text-align: center; 
        text-decoration: none; 
        text-transform: lowercase;
        @include transition(color 0.25s ease);
        &:hover {
            color: $brand-primary;
        }
        &:before {
            display: block;
            font-size: $font-size-large;
        }
    }
    .chat {
        @extend %icon-chat;
    }
    .notifications {
        @extend %icon-notifications;
    }
}

.notifications-panel {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 2px 2px 6px 0 rgba(0, 0, 0, 0.38);
    min-width: 300px;
    max-width: 420px;
    position: absolute;
    right: 19px;
    top: 80px;
    z-index: 1100;
    &:before {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid $purple;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        right: 15px;
        top: -20px;
    }
    .notifications-title {
        background-color: $purple;
        color: #fff;
        font-family: $font-family-sans-serif;
        font-size: $font-size-small;
        font-weight: $bold;
        margin: 0;
        padding: 10px;
    }
    .notifications-list {
        background-color: #fff;
        list-style: none;
        height: 490px;
        margin-bottom: 0;
        overflow: hidden;  
        padding: 0;
        .notifications-item {
            border-bottom: 1px solid rgba($purple,0.3);
            font-size: 11px;
            overflow: hidden; 
            padding: 10px;
            &.not-read {
                background-color: rgba($purple,0.15);
            }
            a {
                border-bottom: 1px solid;
                color: $gray-dark;
                font-weight: $bold;
                text-decoration: none;
                @include transition(border 0.25s ease);
                &:hover {
                   border-color: transparent; 
                }
            }
            .icon {
                border-radius: 100%;
                display: block;
                float: left;
                height: 40px;
                width: 40px;
                img {
                    border-radius: 100%;
                    height: 40px;
                    width: 40px;
                }
            }
            .info, .date {
                display: block;
                margin-left: 50px;
            }
            .date {
                color: $gray;
            }
        }
    }
    .see-more {
        background-color: #ededed;
        box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.3);
        color: $purple;
        display: block;
        font-size: 11px;
        font-weight: $bold;
        line-height: 11px;
        padding: 5px;
        text-align: center; 
        text-decoration: none; 
    }
}