{% extends 'admin-base.html' %}
{% load i18n %}
{% load compressed %}
{% load staticfiles %}
{% load timtec_markdown %}

{% block js %}
    {{block.super}}
    {% compressed_js 'forum' %}
    {% compressed_js 'admin_course_header' %}
{% endblock %}

{% block content %}

<div id="course" class="course-forum" ng-app="forum">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <div class="container js-fullheight c1">
            <div ng-controller="HeaderController">
                {% include "_admin_header_inline.html"  with course=course %}
            </div>
            <section id="forumxxx">
                <header>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1">
                            <h1>{% trans "Questions & Answers" %}</h1>
                        </div>
                        <div class="col-lg-3 textright">
                            <a href="{% url 'forum_question_create' course.slug %}" class="ask-a-question btn btn-lg btn-danger uppercase">{% trans "Ask a question" %}</a>
                        </div>
                    </div>
                </header>

                <section class="questions col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1">
                    <div class="row" ng-app="forum">
                        {% include "_forum_inline.html"  with course=course %}
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>

{% endblock %}
