{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load timtec_markdown %}
{% block content %}

<div id="forum" class="course-forum">

    {% include "_course-header-inline.html"  with course=course question_form=false %}

    <section id="forum-content" class="container">
        <div class="row" ng-app="forum">
            <section class="questions col-sm-9 col-lg-9 clearfix">
                {% include "_forum_inline.html"  with course=course %}
            </section>

            <aside class="col-sm-3 col-lg-3">
                <p><a href="{% url 'forum_question_create' course.slug %}" class="ask-a-question btn btn-lg btn-danger uppercase">Fazer uma pergunta</a></p>
            </aside>

        </div>
    </section>

</div>

{% endblock %}
