{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load timtec_markdown %}
{% block content %}
<!-- CONTAINER -->
<div id="forum" class="course-forum">
    <!-- HEADER -->
    {% include "_course-header-inline.html"  with course=course %}
    <!-- END HEADER -->
    <!-- MAIN CONTENT -->
    <section id="forum-content" class="container">
        <div class="row">
            <!-- QUESTIONS -->
            <section class="questions col-sm-9 col-lg-9 clearfix">
                {% for question in questions %}
                <article class="question">
                    <div class="stats">
                        <div class="arrow-right"></div>
                        <p><span class="numbers-votes">{{ question.count_votes }}</span>voto{% if question.count_votes > 1 %}s{% endif %}</p>
                        <p><span class="numbers-answers">{{ question.answers.count }}</span>resposta{% if question.answers.count > 1 %}s{% endif %}</p>
                    </div>
                    <div class="question">
                        <p><a href="{% url 'forum_question' question.slug %}">{{ question.title }}</a></p>
                        <span class="description">{{ question.text|timtec_markdown|truncatewords_html:50 }}</span>
                    </div>
                    <div class="author">
                        Pergunta feita em {{ question.timestamp|date }} por <a href="{% url 'profile' question.user.username %}">{{ question.user.username }}</a>
                    </div>
                </article>
                {% endfor %}
            </section>
            <!-- END QUESTIONS -->

            <!-- ASIDE -->
            <aside class="col-sm-3 col-lg-3">
                <p><a href="{% url 'forum_question_create' course.slug %}" class="ask-a-question btn btn-lg btn-danger uppercase">Fazer uma pergunta</a></p>
            </aside>
            <!-- END ASIDE -->
        </div>
    </section>
    <!-- END MAIN CONTENT-->

</div>
<!-- END CONTAINER -->
{% endblock %}
