{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
        <!-- CONTAINER -->
        <div id="course-forum">
            <!-- HEADER -->
            <header id="main-header" class="container">
                <div class="page-header-double">
                    <div class="row">
                        <div class="col-lg-9 col-sm-9">
                            <h1 class="top"><i class="icon-double-angle-right"></i>{{ course.name }}</h1>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <!-- COURSE-SECTION-NAV -->
                            <script type="text/javascript" charset="utf-8">
                                $(document).ready(function() {
                                    $('nav.course-sections > a > span').tooltip();
                                });
                            </script>
                            <nav class="course-sections textright">
                                <a href="aula-intro.html"><span class="icon-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
                                <a href="aula.html"><span class="icon-facetime-video" data-toggle="tooltip" data-placement="top" data-original-title="Aulas"></span></a>
                                <a href="profile-note.html"><span class="icon-pencil" data-toggle="tooltip" data-placement="top" data-original-title="Anotações"></span></a>
                                <a href="forum-course.html"><span class="icon-list" data-toggle="tooltip" data-placement="top" data-original-title="Fórum"></span></a>
                                <a href=""><span class="icon-exclamation-sign" data-toggle="tooltip" data-placement="top" data-original-title="Wiki"></span></a>
                            </nav>
                            <!-- END COURSE-SECTION-NAV -->
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER -->

            <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('.comment-form').hide();
                $('.add-comment-link').click(function(e) {
                    e.preventDefault();
                    $(this).parent().parent().height(170);
                    $(this).parent().parent().find('form').slideDown();
                    $(this).hide();
                })
            
                $('.cancel-comment').click(function(e) {
                    e.preventDefault();
                    $(this).parent().parent().slideUp()
                    $(this).parent().parent().parent().find('.add-comment-link').slideDown().show();
                    $(this).parent().parent().parent().height(30);
                })
            })
            </script>

            <!-- MAIN CONTENT -->
            <section id="main-content" class="container">
                <div class="row">
                    <!-- QUESTIONS -->
                    <section class="questions col-sm-9 col-lg-9 clearfix">
                        {% for question in questions %}
                        <article class="question">
                            <div class="stats">
                                <div class="arrow-right"></div>
                                <p><span class="numbers-votes">{{ question.votes.count }}</span>votos</p>
                                <p><span class="numbers-answers">{{ question.answers.count }}</span>respostas</p>
                            </div>
                            <div class="question">
                                <p><a href="forum-question.html">{{ question.title }}</a></p>
                                <p class="description">{{ question.text }}[...]</p>
                            </div>
                            <div class="author">
                                Pergunta feita em {{ question.timestamp|date }} por <a href="">{{ question.user.username }}</a>
                            </div>
                        </article>
                        {% endfor %}
                    <!-- END QUESTIONS -->

                    <!-- ASIDE -->
                    <aside class="col-sm-3 col-lg-3">
                        <p><a href="" class="ask-a-question btn btn-lg btn-danger uppercase">Fazer uma pergunta</a></p>
                        <form class="search-forum">
                            <div class="page-header-double">
                                <h3><i class="icon-double-angle-right"></i> Pesquisar Fórum</h3>
                            </div>
                            <div class="input-group">
                                <input type="search" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="icon-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </aside>
                    <!-- END ASIDE -->
                </div>
            </section>
            <!-- END MAIN CONTENT-->

        </div>
        <!-- END CONTAINER -->
{% endblock %}
