{% extends 'admin-base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load timtec_markdown %}

{% block js %} {{block.super}}
{% include "_forum_angular.html" %}
{% endblock %}

{% block content %}

<div id="forum" class="course-forum" ng-app="forum">

    <div ng-controller="HeaderController">
        {% include "_admin_header_inline.html"%}
    </div>

    <section id="forum-content" class="container">
        <header>
            <div class="row">
                <div class="col-lg-9">
                    <h1>{% trans "Questions & Answers" %}</h1>
                </div>
                <div class="col-lg-3">
                    <a href="{% url 'forum_question_create' course.slug %}" class="ask-a-question btn btn-lg btn-danger uppercase">{% trans "Ask a question" %}</a>
                </div>
            </div>
        </header>
        
        <section class="questions col-sm-12 col-lg-12 clearfix">
            <div class="row" >
                {% include "_forum_inline.html"  with course=course %}
            </div>
        </section>
    </section>
</div>

{% endblock %}
