{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load forum_markdown %}
{% block content %}

<script type="text/javascript" src="{% static 'js/question.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/vote.js' %}" charset="utf-8"></script>
<script>
 window.question_id = {{ question.pk }};
</script>

<!-- CONTAINER -->
<div id="course-forum">
    <!-- HEADER -->
    <header id="main-header" class="container">
        <div class="page-header-double">
            <div class="row">
                <div class="col-lg-9 col-sm-9">
                    <h1 class="top"><i class="icon-double-angle-right"></i> {{ question.course.name }}</h1>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <!-- COURSE-SECTION-NAV -->
                    <script type="text/javascript" charset="utf-8">
                        $(document).ready(function() {
                            $('nav.course-sections > a > span').tooltip();
                        });
                    </script>
                    <nav class="course-sections textright">
                        <a href="aula-intro.html"><span class="icon-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
                        <a href="aula.html"><span class="icon-facetime-video" data-toggle="tooltip" data-placement="top" data-original-title="Aulas"></span></a>
                        <a href="profile-note.html"><span class="icon-pencil" data-toggle="tooltip" data-placement="top" data-original-title="Anotações"></span></a>
                        <a href="forum-course.html"><span class="icon-list" data-toggle="tooltip" data-placement="top" data-original-title="Fórum"></span></a>
                        <a href=""><span class="icon-exclamation-sign" data-toggle="tooltip" data-placement="top" data-original-title="Wiki"></span></a>
                    </nav>
                    <!-- END COURSE-SECTION-NAV -->
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    <script type="text/javascript" charset="utf-8">

    </script>

    <!-- MAIN CONTENT -->
    <section id="main-content" class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-9" ng-app="answer" ng-controller="AnswerCtrl">
                <!-- QUESTION -->
                <article class="question">
                    <header>
                        <h1>{{ question.title }}</h1>
                    </header>
                    <div class="row">
                        <div class="col-sm-2 col-lg-2">
                            <div class="row">
                                <div class="rating col-sm-12 col-lg-12" ng-app="vote" ng-controller="QuestionVoteCtrl">
                                    <div class="arrow-up" ng-class="user_question_vote_up" ng-click=voteUp()></div>
                                    <div class="votes" ng-init="question_votes={{ question.count_votes }}">{% verbatim angularjs %}{{ question_votes }}{% endverbatim angularjs %}</div>
                                    <div class="arrow-down" ng-class="user_question_vote_down" ng-click=voteDown()></div>
                                </div><!-- .rating -->
                            </div>
                            <div class="author clearfix">
                                pergunta feita em <strong>{{ question.timestamp|date:"j/m/y" }}</strong> por <a href="profile.html">{{ question.user.username }}</a>
                            </div>
                        </div>
                        <div class="question-body col-sm-10 col-lg-10">
                            <p>{{ question.text|my_markdown }}</p>
                        </div><!-- .question-body -->
                    </div>
                </article>
                <!-- END QUESTION -->

                <!-- ANSWERS -->
                <section class="answers">
                    <!-- HEADER -->
                    <header>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <h1>{{ question.answers.count }} Respostas:</h1>
                            </div>
                        </div>
                    </header>
                    <!-- END HEADER -->

                    <!-- ANSWER -->
                    {% for answer in question.answers.all %}
                    <article class="answer">
                        <div class="row">
                            <div class="col-sm-2 col-lg-2">
                                <div class="row">
                                    <div class="rating col-sm-12 col-lg-12">
                                        <div class="arrow-up"></div>
                                        <div class="votes">{{ answer.votes.count }}</div>
                                        <div class="arrow-down"></div>
                                    </div><!-- .rating -->
                                </div>
                                <div class="author clearfix">
                                    resposta feita em <strong>{{ answer.timestamp|date:"j/m/y" }}</strong> por <a href="profile.html">{{ answer.user.username }}</a>
                                </div>
                            </div>

                            <div class="answer-body col-sm-10 col-lg-10">
                                <p>{{ answer.text|my_markdown }}</p>
                            </div><!-- .answer-body -->
                        </div>
                    </article>
                    {% endfor %}
                    <!-- END ANSWER -->
                    <!-- NEW ANSWER -->
                    {% verbatim angularjs %}
                    <script type="text/ng-template" id="answer_create.html">
                        <div class="row">
                            <div class="col-sm-2 col-lg-2">
                                <div class="row">
                                    <div class="rating col-sm-12 col-lg-12">
                                        <div class="arrow-up"></div>
                                        <div class="votes">{{ new_answer.votes }}</div>
                                        <div class="arrow-down"></div>
                                    </div><!-- .rating -->
                                </div>
                                <div class="author clearfix">
                                    resposta feita em <strong>{{ new_answer.timestamp|date:"dd/mm/yy" }}</strong> por <a href="profile.html">{{ new_answer.username }}</a>
                                </div>
                            </div>

                            <div class="answer-body col-sm-10 col-lg-10">
                                <span ng-bind-html="answer_html_text" ></span>
                            </div><!-- .answer-body -->
                        </div>
                    </script>
                    {% endverbatim angularjs %}
                    <article class="answer" ng-view></article>
                </section>
                <!-- END NEW ANSWER -->
                <!-- END ANSWERS -->
                <!-- YOUR ANSWER -->
                <section class="your-answer" ng-show="editor_enabled" id="editor">
                    <header>
                        <h1>Sua Resposta</h1>
                    </header>
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        <textarea ng-model="new_answer_text" class="form-control" id="wmd-input" rows="10"></textarea>
                        <input type="hidden" ng-model="question_id" value="{{ question.pk }}" mp-value-copy/>
                    </div>
                    <div class="submit textright">
                        <a href="#/forum/question/answer/create" class="btn btn-success">Enviar</a>
                    </div>
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                </section>
                <!-- END YOUR ANSWER -->
            </div>

            <!-- ASIDE -->
            <aside class="col-sm-3 col-lg-3">
                <p><a href="{% url 'forum_question_create' question.course.slug %}" class="ask-a-question btn btn-lg btn-danger uppercase">Fazer uma pergunta</a></p>
                <form class="search-forum">
                    <div class="page-header-double">
                        <h3><i class="icon-double-angle-right"></i> Pesquisar Fórum</h3>
                    </div>
                    <div class="input-group">
                        <input type="search" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="icon-search"></i></button>
                        </span>
                    </div>
                </form>
                <div class="related-questions">
                    <div class="page-header-double">
                        <h3><i class="icon-double-angle-right"></i> Perguntas Relacionadas</h3>
                    </div>
                    <ul class="no-bullet">
                        <li><a href="">Risus lectus non pulvinar sed ut integer. Ac elementum nunc facilisis ultricies, enim tincidunt integer mus, auctor sagittis? Et egestas.</a></li>
                        <li><a href="">Phasellus enim lectus augue et dis natoque amet hac magna sagittis nec elementum, velit et, phasellus pulvinar magnis aliquet.</a></li>
                        <li><a href="">Vel cursus nunc est dapibus hac tincidunt in tortor, aliquet pellentesque et et, tincidunt. Nec, mus placerat vel magna.</a></li>
                        <li><a href="">Scelerisque adipiscing ridiculus velit nunc, integer porttitor sed ac mus nisi egestas dictumst sed! Ultrices pulvinar. Ac! Ac adipiscing.</a></li>
                        <li><a href="">Tempor lacus parturient augue ac augue platea placerat lectus! In. Proin! Dapibus, rhoncus dapibus amet! Aliquet porttitor, sagittis! Nisi.</a></li>
                    </ul>
                </div>
            </aside>
            <!-- END ASIDE -->
        </div>
    </section>
    <!-- END MAIN CONTENT-->
</div>
<!-- END CONTAINER -->
{% endblock %}
