{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load timtec_markdown %}

{% block head %}
{{ block.super }}
{% include "_forum_angular.html" %}
{% endblock %}

{% block content %}
<script>
 window.question_id = {{ question.pk }};
 window.user_id = {{ user.pk }};
</script>

<!-- CONTAINER -->
<div id="course-forum">
    <!-- HEADER -->
    {% include "_course-header-inline.html"  with course=question.course %}
    <!-- END HEADER -->

    <script type="text/javascript" charset="utf-8">

    </script>

    <!-- MAIN CONTENT -->
    <section id="main-content" class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9" ng-app="forum" ng-controller="QuestionCtrl">
                <!-- QUESTION -->
                <article class="question">
                    <header>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="row">
                                    <div class="rating col-lg-12 col-sm-12" ng-app="vote" ng-controller="QuestionVoteCtrl">
                                        <div class="arrow-up" ng-class="user_question_vote_up" ng-click=voteUp()></div>
                                        <div class="votes" ng-init="question_votes={{ question.count_votes }}">{% verbatim angularjs %}{{ question_votes }}{% endverbatim angularjs %}</div>
                                        <div class="arrow-down" ng-class="user_question_vote_down" ng-click=voteDown()></div>
                                    </div><!-- .rating -->
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <h1 class="top">{{ question.title }}</h1>
                                <p class="author textright clear">
                                    Pergunta feita em <strong>{{ question.timestamp|date:"j/m/y" }}</strong> por <a href="{% url 'profile' question.user.username %}">{{ question.user.username }}</a>
                                </p>
                            </div>
                        </div>
                    </header>
                    <div class="row">
                        <div class="question-body col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10">
                            <p>{{ question.text|timtec_markdown }}</p>
                        </div><!-- .question-body -->
                    </div>
                </article>
                <!-- END QUESTION -->

                <!-- ANSWERS -->
                <section class="answers">
                    <!-- HEADER -->
                    <header>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h1><span ng-init="num_answers={{ question.answers.count }}">{% verbatim angularjs %} {{ num_answers }} {% endverbatim angularjs %}</span> Resposta<span ng-if="num_answers>1">s</span></h1>
                            </div>
                        </div>
                    </header>
                    <!-- END HEADER -->

                    <!-- ANSWER -->
                    {% verbatim angularjs %}
                    <div>
                        <article class="answer" ng-repeat="answer in answers">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="row" ng-controller="AnswerVoteCtrl">
                                        <div class="rating col-lg-12 col-md-12 col-sm-12" ng-app="vote" ng-controller="AnswerVoteCtrl">
                                            <div class="arrow-up" ng-class="user_answer_vote_up" ng-click=voteUp($index)></div>
                                            <div class="votes">{{ answer.votes }}</div>
                                            <!-- <div class="votes" ng-init="answer_votes{{ answer.pk }}={{ answer.count_votes }}">{{ answer_votes }}</div> -->
                                            <div class="arrow-down" ng-class="user_answer_vote_down" ng-click=voteDown($index)></div>
                                            <!-- <div class="set-correct col-lg-12 col-md-12 col-sm-12">
                                               <i class="fa fa-ok"></i>
                                           </div> -->
                                        </div><!-- .rating -->
                                    </div>
                                </div>
                                <div class="answer-body col-lg-10 col-md-10 col-sm-10">
                                    <p ng-bind-html="answer.text|markdown"></p>
                                    <p class="author textright clearfix">
                                        Resposta feita em <strong>{{ answer.timestamp|date:"dd/MM/yy" }}</strong> por <a href="/profile/{{ answer.username }}">{{ answer.username }}</a>
                                    </p>
                                </div><!-- .answer-body -->
                            </div>
                        </article>
                    </div>
                    {% endverbatim angularjs %}
                    <!-- END ANSWER -->
                <!-- END ANSWERS -->
                <!-- YOUR ANSWER -->
                <section class="your-answer" ng-show="editor_enabled" id="editor">
                    <header>
                        <h1>Sua Resposta</h1>
                    </header>
                    <div class="wmd-panel" markdowneditor="true">
                        <div id="wmd-button-bar" class="js-button-bar"></div>
                        <textarea ng-model="new_answer_text" class="form-control" id="wmd-input" rows="10"></textarea>
                        <input type="hidden" ng-model="question_id" value="{{ question.pk }}" mp-value-copy/>
                    </div>
                    <div class="submit textright">
                        <button ng-click="new_answer()" class="btn btn-success">Enviar</button>
                    </div>
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                </section>
                <!-- END YOUR ANSWER -->
            </div>

            <!-- ASIDE -->
            <aside class="col-lg-3 col-md-3 col-sm-3">
                <p><a href="{% url 'forum_question_create' question.course.slug %}" class="ask-a-question btn btn-lg btn-danger uppercase">Fazer uma pergunta</a></p>
            </aside>
            <!-- END ASIDE -->
        </div>
    </section>
    <!-- END MAIN CONTENT-->
</div>
<!-- END CONTAINER -->
{% endblock %}