{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <script>
    // FIXME refactor this to angular
    $(document).ready(function() {
        var converter1 = Markdown.getSanitizingConverter();
        var editor1 = new Markdown.Editor(converter1);
        editor1.run();
    });
    </script>
{% endblock %}

{% block content %}
<!-- CONTAINER -->
<div id="course" class="course-forum">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">
        <div class="container">
            <!-- HEADER -->
            {% include "_course-header-inline.html"  with course=course %}
            <!-- END HEADER -->

            <!-- MAIN CONTENT -->
            <section id="forum-content" class="row">
                <header class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-12">
                    <h1>Qual a sua pergunta?</h1>
                </header>

                <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-12">
                    <!-- QUESTION FORM -->
                    <form class="forum-form " action="{% url 'forum_question_create' course.slug %}" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="form-group">
                            <input id="id-title" name="title" type="text" class="form-control" placeholder="Qual é a sua dúvida?">
                        </div>
                        <div class="form-group text-editor">
                            <div class="wmd-panel" markdowneditor="true">
                                <div id="wmd-button-bar" class="js-button-bar"></div>
                                <div class="form-group">
                                    <textarea id="wmd-input" name="text" class="form-control" rows="4" placeholder="Descrição da sua dúvida"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                        </div>
                        <div class="form-group bottom">
                            <div class="row">
                                <div class="col-lg-8 col-sm-8">
                                    <small><a href="">Política de Perguntas e Respostas</a></small>
                                </div>
                                <div class="col-lg-4 col-sm-4 textright">
                                    <input type="submit" class="btn btn-success" value="Enviar">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
