{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
        <!-- CONTAINER -->
        <div id="course-forum">
            <!-- HEADER -->
            <header id="main-header" class="container">
                <div class="page-header-double">
                    <div class="row">
                        <div class="col-lg-9 col-sm-9">
                            <h1 class="top"><i class="icon-double-angle-right"></i> {{ course.name }}</h1>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <!-- COURSE-SECTION-NAV -->
                            <script type="text/javascript" charset="utf-8">
                                $(document).ready(function() {
                                    $('nav.course-sections > a > span').tooltip();
                                });
                            </script>
                            <nav class="course-sections textright">
                                <a href="aula-intro.html"><span class="icon-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
                                <a href="aula.html"><span class="icon-facetime-video" data-toggle="tooltip" data-placement="top" data-original-title="Aulas"></span></a>
                                <a href="profile-note.html"><span class="icon-pencil" data-toggle="tooltip" data-placement="top" data-original-title="Anotações"></span></a>
                                <a href="forum-course.html"><span class="icon-list" data-toggle="tooltip" data-placement="top" data-original-title="Fórum"></span></a>
                                <a href=""><span class="icon-exclamation-sign" data-toggle="tooltip" data-placement="top" data-original-title="Wiki"></span></a>
                            </nav>
                            <!-- END COURSE-SECTION-NAV -->
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER -->
            <!-- MAIN CONTENT -->
            <section id="main-content" class="container">
                <div class="row">
                    <div class="col-sm-9 col-lg-9">
                        <!-- QUESTION FORM -->
                        <div class="row">
                          <form class="col-lg-12 col-sm-12" action="{% url 'forum_question_create' course.slug %}" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                              <input id="id-title" name="title" type="text" class="form-control" placeholder="Qual é a sua dúvida?">
                            </div>
                            <div class="form-group">
                              <textarea id="id-text" name="text" class="form-control" rows="4" placeholder="Descrição da sua dúvida"></textarea>
                            </div>
                            <div class="form-group bottom">
                              <div class="row">
                                <div class="col-lg-8 col-sm-8">
                                  <small><a href="">Política de Perguntas e Respostas</a></small>
                                </div>
                                <div class="col-lg-4 col-sm-4 textright">
                                  <input type="submit" class="btn btn-success" value="Enviar">
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- END QUESTION FORM -->
                    </div>
                </div>
            </section>
            <!-- END MAIN CONTENT-->
        </div>
        <!-- END CONTAINER -->
{% endblock %}
