{% extends 'base.html' %}
{% load i18n %}
{% load compressed %}
{% load staticfiles %}
{% load timtec_markdown %}

{% block head %}
    {{block.super}}
    {% compressed_js 'forum' %}
    {% compressed_js 'admin_course_header' %}
{% endblock %}

{% block content %}
<script>
 window.question_id = {{ question_django.pk }};
 window.user_id = {{ user.pk }};
</script>

<!-- CONTAINER -->
<div id="course" class="course-forum">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">
        <div class="container">
            <!-- HEADER -->
            {% include "_course-header-inline.html"  with course=question_django.course %}
            <!-- END HEADER -->

            <!-- MAIN CONTENT -->
            <section id="forum-content" class="row" ng-app="forum" ng-controller="QuestionCtrl">
                {% verbatim angularjs %}
                <article class="question no-bottom-border col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-12">
                    <header>
                        <table>
                            <tr>
                                <td>
                                    <div class="rating" ng-app="vote" ng-controller="QuestionVoteCtrl">
                                        <div class="arrow-up" ng-class="{active: question_vote.value==1}" ng-click=vote('up')></div>
                                        <div class="votes" >{{ question.votes }}</div>
                                        <div class="arrow-down" ng-class="{active: question_vote.value==-1}" ng-click=vote('down')></div>
                                    </div>
                                </td>
                                <td style="vertical-align: middle; width: 100%;">
                                    <h1 class="top bottom">{{ question.title }}</h1>
                                    <p class="author bottom">Pergunta feita em <strong>{{ question.timestamp|date:"dd/MM/yy" }}</strong> por <a href="{% url 'profile' question.user.username %}">{{ question.user.username }}</a></p>
                                </td>
                            </tr>
                        </table>
                    </header>
                    <div class="content">
                        <p ng-bind-html="question.text|markdown"></p>
                    </div>
                </article>
                {% endverbatim angularjs %}

                <!-- ANSWERS -->
                <section class="answers">
                    <div class="col-lg-11 col-lg-offset-1">
                        <header class="no-bottom-border">
                            <h2><span ng-init="num_answers={{ question_django.answers.count }}">{% verbatim angularjs %} {{ num_answers }} {% endverbatim angularjs %}</span> Resposta<span ng-if="num_answers>1">s</span></h2>
                        </header>
                        {% verbatim angularjs %}
                        <article class="answer top" ng-repeat="answer in answers">
                            <table>
                                <tr>
                                    <td>
                                        <div class="rating" ng-app="vote" ng-controller="AnswerVoteCtrl">
                                            <div class="arrow-up" ng-class="{active: answer_vote.value==1}" ng-click=vote('up')></div>
                                            <div class="votes">{{ answer.votes }}</div>
                                            <div class="arrow-down" ng-class="{active: answer_vote.value==-1}" ng-click=vote('down')></div>
                                        </div>
                                    </td>
                                    <td style="vertical-align:top; width: 100%;">
                                        <div class="content">
                                            <p ng-bind-html="answer.text|markdown"></p>
                                            <p class="author textright clearfix">
                                                Resposta feita em <strong>{{ answer.timestamp|date:"dd/MM/yy" }}</strong> por <a href="/profile/{{ answer.username }}">{{ answer.username }}</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </article>
                        {% endverbatim angularjs %}

                        <section class="your-answer" ng-show="editor_enabled" id="editor">
                            <header>
                                <h2>Sua Resposta</h2>
                            </header>
                            <div class="forum-form">
                                <div class="form-group text-editor">
                                    <div class="wmd-panel" markdowneditor="true">
                                        <div id="wmd-button-bar" class="js-button-bar"></div>
                                        <textarea ng-model="new_answer_text" class="form-control" id="wmd-input" rows="10"></textarea>
                                        <input type="hidden" ng-model="question_id" value="{{ question.pk }}" mp-value-copy/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                                </div>
                                <div class="form-group textright bottom">
                                    <button ng-click="new_answer()" class="btn btn-success">Enviar</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                <!-- END MAIN CONTENT-->
            </section>
        </div>
    </div>
</div>
<!-- END CONTAINER -->
{% endblock %}