<div class="question textleft">
    <h1 class="top" ng-model="currentActivity.data.question"
        contenteditable placeholder="Título da atividade"></h1>
</div>
<div class="answers simplechoice-answers">
    <div ng-repeat="alt in currentActivity.data.alternatives track by $index" class="answer">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11">
                <input type="radio" ng-model="currentActivity.expected" ng-value="$index"/>
                <label ng-model="currentActivity.data.alternatives[$index]"
                       contenteditable placeholder="Texto para alternativa"></label>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <button class="btn btn-danger"
                        title="Apagar alternativa"
                        ng-click="currentActivity.data.alternatives.splice($index,1);">
                        <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
        <br/>
    </div>
    <div>
        <button class="btn btn-success"
                ng-click="currentActivity.data.alternatives.push('')">Adicionar alternativa</button>
    </div>
</div>
