{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div id="signup-wrapper" class="container">
    <div class="centered" ng-app="">
        <h1>
            <i class="fa fa-smile-o"></i><br/>
            {% trans "Please verify and complete you account information" %}
        </h1>
        <form method="post" action="{% url 'signup_completion' %}" class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">{% trans "Full Name" %}</label>

                <div class="col-sm-8 col-xs-12">
                    <div class="row">
                        {% with errors=form.first_name.errors %}
                        <div class="col-sm-6 col-xs-12{{ errors|yesno:" has-error,"}}">
                            <input name="first_name" type="text" class="form-control first-name" placeholder="Primeiro nome" value="{{form.first_name.value}}">
                            {% for error in errors %}<small>{{error}}</small>{% endfor %}
                        </div>
                        {% endwith %}

                        {% with errors=form.last_name.errors %}
                        <div class="col-sm-6 col-xs-12{{ errors|yesno:" has-error,"}}">
                            <input name="last_name" type="text" class="form-control" placeholder="Último nome" value="{{form.last_name.value}}">
                            {% for error in errors %}<small>{{error}}</small>{% endfor %}
                        </div>
                        {% endwith %}
                    </div>
                </div>
            </div>

            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label class="col-sm-3 col-xs-12 control-label">{% trans "E-mail" %}</label>
                <div class="col-sm-8 col-xs-12">
                    <input name="email" type="email" value="{{form.email.value|default_if_none:""}}" class="form-control" placeholder="Your e-mail">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% with errors=form.password1.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <label class="col-sm-3 col-xs-12 control-label">{% trans "Password" %}</label>
                <div class="col-sm-8 col-xs-12">
                    <p><input name="password1" type="password" class="form-control" placeholder="{% trans 'Really strong password' %}"></p>
                    <input name="password2" type="password" class="form-control" placeholder="{% trans 'Password confirmation' %}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                    {% for error in form.non_field_errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% with errors=form.city.errors %}
            <div class="form-group{{ errors|yesno:" has-error,"}}">
                <label class="col-sm-3 col-xs-12 control-label">{% trans "City" %}</label>
                <div class="col-sm-8 col-xs-12">
                    <input name="city" type="text" class="form-control" placeholder="Qual cidade você vive?" value="{{form.city.value}}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% with errors=form.campus.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label class="col-sm-3 col-xs-12 control-label">{% trans "Campus" %}</label>
                <div class="col-sm-8 col-xs-12">
                    <select id="id_campus" class="form-control" name="campus">
                        {% for x,y in form.fields.campus.choices %}
                            <option value="{{ x }}">{{ y }}</option>
                        {% endfor %}
                    </select>
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% if is_professor %}

            {% with errors=form.siape.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label class="col-sm-3 col-xs-12 control-label">Siape</label>
                <div class="col-sm-8 col-xs-12">
                    <input name="siape" type="text" value="{{form.siape.value|default_if_none:""}}" class="form-control" placeholder="Siape">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% with errors=form.cpf.errors %}
            <div class="form-group{{ errors|yesno:" has-error,"}}">
                <label class="col-sm-3 col-xs-12 control-label">CPF</label>
                <div class="col-sm-8 col-xs-12">
                    <input name="cpf" type="text" class="form-control" placeholder="Qual seu CPF?" value="{{form.cpf.value}}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% else %}

            {% with errors=form.ifid.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label class="col-sm-3 col-xs-12 control-label">{% trans "Academic Identifier" %}</label>
                <div class="col-sm-8 col-xs-12">
                    <input name="ifid" type="text" value="{{form.ifid.value|default_if_none:""}}" class="form-control" placeholder="{% trans 'Academic Identifier' %}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% with errors=form.course.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label class="col-sm-3 col-xs-12 control-label">{% trans "Course" %}</label>
                <div class="col-sm-8 col-xs-12">
                    <input name="course" type="text" value="{{form.course.value|default_if_none:""}}" class="form-control" placeholder="{% trans 'Course' %}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% with errors=form.klass.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label class="col-sm-3 col-xs-12 control-label">{% trans "Class" %}</label>
                <div class="col-sm-8 col-xs-12">
                    <input name="klass" type="text" value="{{form.klass.value|default_if_none:""}}" class="form-control" placeholder="{% trans 'Class' %}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            {% endif %}

            <div class="row submit textright">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                </div>
            </div>
        </form>
</div>
{% endblock %}
