{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div id="profile" class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <fieldset>
          <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
              function onFileSelected(event) {
                var selectedFile = event.target.files[0];
                var reader = new FileReader();
                var imgtag = document.getElementById("profile-avatar");
                imgtag.title = selectedFile.name;

                reader.onload = function(event) {
                  imgtag.src = event.target.result;
                };

                reader.readAsDataURL(selectedFile);;
              }

              function onImgNotFound(event) {
                $(this).attr('src', '{% static "img/avatar-default.png" %}')
              }

              $("#upload-avatar").change(onFileSelected);

              $("#profile-avatar").error(onImgNotFound);
            });
          </script>

          <label for="upload-avatar" class="upload-avatar">
            <span><i class="icon-picture"></i> {% trans "Upload avatar" %}</span>
            <div class="thumbnail">
              <img id="profile-avatar" width="256" src="{{ profile_user.get_picture_url }}">
            </div>
          </label>
        </fieldset>
      </div>

      <div class="col-lg-8 col-sm-8">
        <fieldset>
          <div class="page-header-double textleft top">
            <h3 class="top"><i class="icon-double-angle-right"></i> {% trans "Profile Info" %}</h3>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">{% trans "Full Name" %}</label>
            <div class="col-lg-9 col-sm-9">
              <div class="col-lg-6 col-sm-6 left">
                  <p>{{profile_user.first_name}}</p>
              </div>
              <div class="col-lg-6 col-sm-6 right">
                  <p>{{profile_user.last_name}}</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">{% trans "Occupation" %}</label>
            <div class="col-lg-9 col-sm-9">
              <p>{{profile_user.occupation}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">{% trans "City" %}</label>
            <div class="col-lg-9 col-sm-9">
                <p>{{profile_user.city}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">{% trans "Site" %}</label>
            <div class="col-lg-9 col-sm-9">
              <p>{{profile_user.site}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">{% trans "Bio" %}</label>
            <div class="col-lg-9 col-sm-9">
                <p>{{profile_user.biography}}</p>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <hr/>
          <div class="page-header-double textleft top">
            <h3><i class="icon-double-angle-right"></i> {% trans "Account Settings" %}</h3>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">{% trans "Username" %}</label>
            <div class="col-lg-9 col-sm-9">
                <p>{{profile_user.username}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">{% trans "E-mail" %}</label>
            <div class="col-lg-9 col-sm-9">
              <p>{{profile_user.email}}</p>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
</div>
{% endblock %}
