<div>
<div class="row">
<div class="col-lg-12">
<textarea id="texto" name="" rows="10" codemirror="codeMirrorChange()">
<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>Hello world! This is HTML5 Boilerplate.</p>
  </body>
</html></textarea>
</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <iframe class="col-lg-6" style="border:1px dashed #272822;height:300px;" id="empty" src="/empty/" onLoad="onLoadEmpty()"></iframe>
        <iframe class="col-lg-6" style="height:300px;" id="expected_iframe" src="/empty/" onLoad="onLoadExpected()"></iframe>
    </div>
</div>
</div>
