<div>
<div class="row">
<div class="col-xs-12">
<textarea id="texto" name="" rows="10" codemirror="codeMirrorChange()">
</textarea>
</div>
</div>
<div class="row">
    <div class="col-md-6" style="padding-right:0;">
        <iframe style="border:1px dashed #272822;height:210px;width:100%;" id="empty" src="/empty/" onLoad="onLoadEmpty()">
        </iframe>
    </div>
    <div class="col-md-6" style="padding-left: 0;">
        <iframe style="height:210px;width:100%;" id="expected_iframe" src="/empty/" onLoad="onLoadExpected()">
        </iframe>
    </div>
</div>
</div>
