{% load timtec_markdown %}
<div class="col-lg-8 col-md-10 col-sm-10">
    <div class="course-activity">
        <ng:include src="activity_template"></ng:include>

        <div ng-show="answer.correct" class="alert alert-success">
            <i class="fa fa-smile-o"></i> Sua resposta está <strong>correta!</strong>
        </div>

        <div ng-show="answer.correct === false" class="alert alert-danger">
            <i class="fa fa-frown-o"></i> <span>Sua resposta está <strong>incorreta</strong>. Reveja o vídeo com mais atenção e tente novamente.</span>
        </div>

        <div class="submit">
            <!-- if no answer or incorrect -->
            <div class="row" ng-if="! answer.correct">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <button onClick="ga('send', 'event', 'activity', 'skip activity');" class="btn btn-default" ng-click="nextVideo()">Pular</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 textright">
                    <button onClick="ga('send', 'event', 'activity', 'rewatch video');" class="btn btn-info" ng-click="replayVideo()">Rever Vídeo</button>
                    <button class="btn btn-success" ng-click="sendAnswer()">Enviar</button>
                </div>
            </div>
            <!-- if correct -->
            <div class="row" ng-if="answer.correct">
                <div class="col-lg-12 col-md-12 col-sm-12 textright">
                    <button class="btn btn-success" ng-click="nextVideo()">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>
