// Shared course header
// --------------------------------------------------

.main-header {
    background-color: $yellow;
    .course-name {
        a {
            color: #000;
            &:hover {
                border-color: #000; 
            } 
        }
    }
    .course-details {
        display: none;
    }
}

// Course content (used on course intro and lesson page)
// -----------------------------------------------------

.course-intro {
    .course-content {
        .course-info {
            .column {
                background-color: rgba($light-blue,0.4);
                &:last-child {
                    background-color: rgba($green,0.4);
                }
            }
        }
    }
}