// Courses' page
// --------------------------------------------------

//## Course box used on course widget on dashboard and course list page
//##
.course-box {
    .progress-bar {
        background-color: $blue;
    }
    .progress-label {
        color: $blue;
    }
    .button-continue {
        background-color: $purple;
    }
}