// Globals
// --------------------------------------------------

//## Set shared button's styles
//##

.btn {
    font-weight: $bold;
}

.btn-lg {
    font-weight: $extra-bold;
}

//## Set shared styles for all pages
//##
.page {
    @include card(rgba($light-blue,0.6));
    padding: 60px;
}