// Page's headers
// --------------------------------------------------

.page-header {
    h1, h2, h3, h4, h5, h6 {
        color: $purple;
        font-size: 48px;
        text-transform: lowercase;
        i {
            display: none;
        }
    }
}

// Secondary page's headers
// --------------------------------------------------

.secondary-page-header {
    h1, h2, h3, h4, h5, h6 {
        color: #000;
        text-transform: lowercase;
        i {
            display: none;
        }
    }
}