// Declare specifc theme variables 
// --------------------------------------------------

//== Colors
//
//## Parapraca brand colors

$blue:          #006eb1;
$light-blue:    #87c2e4;
$green:         #87b726;
$yellow:        #eabc00;
$orange:        #de6f10;
$red:           #d51300;
$pink:          #cf086a;
$purple:        #993671;

//## Override Bootstrap's variables 
// --------------------------------------------------

$brand-primary:     $orange;
$brand-success:     $green;
$brand-info:        $light-blue;
$brand-warning:     $yellow;
$brand-danger:      $red;

$btn-font-weight:                $bold !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         20px !default;
$btn-border-radius-large:        20px !default;
$btn-border-radius-small:        20px !default;

//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            20px !default;
//** Large `.form-control` border radius
$input-border-radius-large:      20px !default;
//** Small `.form-control` border radius
$input-border-radius-small:      20px !default;


// Override base theme variables 
// --------------------------------------------------

//== Specific component colors
//
//** Site header background color
$site-header-bg-color:      rgba(255,255,255,0.75);

//** Main navigation background color
$main-nav-bg-color:         rgba($purple,0.75);

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global textual link color.
$link-color:        $brand-primary;

//== Typography
//
$headings-font-family: "Neuton", $font-family-sans-serif;