// Widget's common styles
// --------------------------------------------------

.widget-title {
    text-transform: lowercase;
}

.section-title {
    color: $brand-primary;
    text-transform: lowercase;
}

// Courses widget
// --------------------------------------------------

.courses-widget {
    @include card(rgba($light-blue,0.6));
    
    .widget-header {
        margin-bottom: 30px;
    }
    .widget-title {
        color: $purple;
    }
    .widget-filter {
        label {
            color: $purple;
        }
        .form-control {
            color: $light-blue;
            &:focus {
                border-color: $light-blue;
            }
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {
    .widget-title {
        color: $brand-primary;
    }

    .widget-filter {
        input {
            color: $brand-primary;
        }
    }
}