// COURSE CONTENT
#course-content {
  background-color: rgba(255,255,255,0.5);

  // COURSE LESSONS - Course intro
  // ********************************************************************* //
  .lessons {
    background-color: rgba(255,255,255,0.5);
    padding: 15px;
    margin: 20px -15px 0;
    a {
      text-decoration: none;
    }
    .page-header-double {
      margin-top: 0;
      h3 {
        margin-top: 0;
      }
    }
    .lesson {
      background-color: transparent;
    }
  }
  // END LESSONS
  .summary {
    background-color: rgba(40,112,187,0.5);
    margin-top: 15px;
    padding: 15px;
    > .page-header-double {
      margin-top: 0;
    }
  }
}

// COURSE INTRO
#course.course-intro {
  .video {
    .top(15px);
  }
}
