// COURSE CONTENT
#course-content {
  margin-top: -150px;
  padding-top: 150px;
  background-color: rgba(255,255,255,0.5);

  // COURSE LESSONS - Course intro
  // ********************************************************************* //
  .lessons {
    background-color: rgba(255,255,255,0.5);
    padding: 15px;
    margin: 20px -15px 0;
    a {
      text-decoration: none;
    }
    .page-header-double {
      margin-top: 0;
      h3 {
        color: #000;
        font-weight: bold;
        margin-top: 0;
        i {
          display: none;
        }
      }
    }
    .lesson {
      background-color: transparent;
    }
  }
  // END LESSONS

  // COURSE SUMMARY - Course intro
  // ********************************************************************* //
  .summary {
    background-color: rgba(40,112,187,0.5);
    margin: 0 -15px;
    padding: 150px 15px 0;
    > .page-header-double {
      margin-top: 0;
    }
    .page-header-double {
      margin-bottom: 0;
      h3 {
        font-weight: bold;
        color: #fff;
        i {
          display: none;
        }
      }
    }
    p, a {
      color: #fff;
    }
  }
  .instructors {
    h1.fullname {
      border-bottom: 0;
      color: #fff;
    }
    h2.job-title {
      border-bottom: 0;
    }
  }
  // END INSTRUCTORS

  // COURSE INFO - Course intro
  // ********************************************************************* //
  .course-info {
    .page-header-double {
      margin: 10px 0 0;
      h3 {
        color: #333;
        font-weight: bold;
      }
    }
  }
  // END INFO

  // COURSE UNITS - General
  // ********************************************************************* //
  .units {
    .unit {
      background: #f0ad4e;
      &:hover {
        background: darken(#f0ad4e, 10%);
      }
      &.current {
        background-color: @brand-info;
      }
    }
    // END UNIT
  }
  // END COURSE UNITS

  // COURSE NOTES - General
  // ********************************************************************* //
  .notes {
    textarea {
      margin-top: 0;
      @media (min-width: @screen-lg-min) { height: 330px; }
    }
  }

  #forum #forum-content {
    background-color: transparent;
    padding: 0;
    margin-top: 0;
    .page-header-double {
      margin-bottom: 0;
      overflow: hidden;
      h3 {
        margin: 0;
        padding: 10px;
        float: left;
        background: #959595;
        color: #fff;
      }
    }
  }
}

// COURSE INTRO
#course.course-intro {
  #course-content {
    padding-top: 0;
    background-color: transparent;
    > div.row > div:first-child {
      padding-top: 150px;
      background-color: rgba(255,255,255,0.5);
    }
  }
  #go-to-course {
    background-color: @brand-success;
    text-decoration: none;
    &:hover {
      background-color: darken(@brand-success, 10%);
    }
  }
  .video {
    .top(15px);
  }
}
