// FORUM
// ********************************************************************* //
#forum {
  #forum-content {
    margin-top: -150px;
    padding-top: 150px;
    background-color: rgba(255,255,255,0.5);
    #forum-content {
      background: none;
      margin-top: 0;
      padding-top: 0;
    }
    .title {
      font-weight: bold;
    }
    .question {
      // IF IS HIDDEN
      &.is-hidden {
        background-color: #fff;
        .why-hidden {
          h1 {
            color: #007dc3;
            font-family: @teuton-26;
          }
        }
      }
    }
  }
}
