#main-navbar {
    border-color: #1451a2;
    .box-shadow(0px 5px 5px 0px rgba(0, 0, 0, 0.3));
    .gradient (@startColor: #007dc3, @endColor: #1451a2);
    height: 80px;
    margin-bottom: 0;
    position: relative;
    z-index: 9999;

    a {
        text-decoration: none;
    }

    h1, h2 {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        float: left;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    h1 {
        margin-top: 26px;
        width: 236px/1.5;
        height: 36px/1.5;
        @media (min-width: @screen-lg-min) {
            margin-top: 20px;
            width: 236px;
            height: 36px;
        }
        background-image: url('../img/logo-instituto-tim.png');
    }
    h2 {
        margin: 26px 0 0 70px;
        width: 106px/1.5;
        height: 36px/1.5;
        @media (min-width: @screen-lg-min) {
            margin-top: 20px;
            width: 106px;
            height: 36px;
        }
        background-image: url('../img/logo-timtec.png');
    }
    #main-navbar-collapse {
        @media (min-width: @screen-sm-min) {
            position: absolute;
            top: 79px;
            float: none;
        }
    }
    .tim {
        font-family: @teuton-26;
    }
    .tec {
        text-transform: initial;
    }
    .navbar-divider {
        height: 79px;
        border-right: 1px solid #0d4c8f;
    }
    .container > .navbar-header {
            margin: 0;
    }
    .navbar-nav {
        @media (min-width: @screen-sm-min) {
            float: left;
            margin: 0;
        }
        > li {
            @media (min-width: @screen-sm-min) {
                float: left;
                margin-right: 15px;
            }
            > a {
                background-color: #b7e5f7;
                .box-shadow(0 5px 15px 0 rgba(0,0,0,0.3));
                color: #0d4c8f;
                font-family: @teuton-24;
                font-size: 16px;
                padding: 12px 15px;
                text-align: center;
                text-transform: uppercase;
                .transition(all .3s);
                @media (min-width: @screen-sm-min) {
                    width: 120px;
                }
                white-space: nowrap;
                &:hover {
                    background-color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown-menu {
        background-color: rgba(193, 224, 244, 0.7);
        border-radius: 0;
        font-family: @font-family-sans-serif;
        label {
            font-weight: bold;
        }
        &.user-menu {
            background-color: rgba(0, 116, 190, 0.7);
            width: initial;
            li {
                border-bottom: 2px solid #fff;
                &:last-child {
                    border-bottom: 0;
                }
                a {
                    color: #fff;
                    font-family: @teuton-24;
                    padding: 7px 15px;
                    text-align: right;
                    text-transform: uppercase;
                    &:hover {
                        background-color: #b7e5f7;
                        color: #0074be;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-sm-min) {

    }
}
