//
// Styles specific to this theme
// --------------------------------------------------


//== Background images
//
//## Pages background illustrations.

.wrapper-courses {
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url('../img/illustrations/courses-list-l.png');
        @media (max-width: 1366px) {
        background-image: url('../img/illustrations/courses-list-m.png');
        background-size: 1366px 498px;
    }
}