//
// Styles specific to this theme
// --------------------------------------------------


//== Background images
//
//## Pages background illustrations.


.wrapper-bg {
	padding-top: 20px;
	background-repeat: no-repeat;
	background-position: top center;
}

.wrapper-courses {
	background-image: url('../img/illustrations/courses-list-l.png');
        @media (max-width: 1366px) {
        background-image: url('../img/illustrations/courses-list-m.png');
    }
}

.wrapper-course-intro {
	background-image: url('../img/illustrations/course-intro-l.png');
        @media (max-width: 1366px) {
        background-image: url('../img/illustrations/course-intro-m.png');
    }
}

.wrapper-course-lesson {
	background-image: url('../img/illustrations/course-lesson-l.png');
        @media (max-width: 1366px) {
        background-image: url('../img/illustrations/course-lesson-m.png');
    }
}