{% extends 'account/base.html' %}
{% load i18n %}

{% block body_attrs %}class="registration registration--password-reset-done"{% endblock %}

<!-- TABLET AND DESKTOP -->
{% block account_content %}
    <h1 class="bottom">
        <i class="fa fa-inbox"></i><br/>
        {% trans "Check your inbox" %}!<br/>
    </h1>
    <h3>{% trans "We sent you an e-mail with the instructions to recover your password" %}</h3>
{% endblock %}
<!-- END TABLET AND DESKTOP -->

<!-- MOBILE -->
{% block account_content_mobile %}
    <h1 class="bottom">
        <i class="fa fa-inbox"></i><br/>
        {% trans "Check your inbox" %}!<br/>
    </h1>
    <h3>{% trans "We sent you an e-mail with the instructions to recover your password" %}</h3>
{% endblock %}
<!-- END MOBILE -->
