{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}

<div id="activation-wrapper" class="container">
    <div class="centered">
        <h1 class="textcenter">
            <i class="fa fa-frown-o"></i><br/>
            {% trans "Social Network Login Failure" %}
        </h1>
        {% url 'account_login' as login_url %}
        <h3>{% trans "An error occurred while attempting to login via your social network account." %}</h3>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
})
</script>

{% endblock %}
