{% load i18n %}

<!-- Modal -->
<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="loginModalLabel" class="textcenter">
          <i class="fa fa-smile-o"></i><br/>{% trans "You need to sign in or up to see this content" %}
        </h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel left-xs right-xs top-xs">
              <div class="panel-heading left-xs right-xs">
                <h3 class="bottom-xs top-xs"><i class="fa fa-angle-double-right"></i> {% trans 'Sign In' %}</h3>
              </div>

              <div class="panel-body bottom-xs left-xs right-xs top-xs">
                <form class="form-horizontal" method="post" action="{% url 'timtec_login' %}">{% csrf_token %}
                  <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12">{% trans 'Login' %}</label>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <input name="username" type="text" class="form-control"
                      value="{{login_form.username.value}}" placeholder="{% trans 'E-mail or username' %}"/>
                      {% for error in login_form.username.errors %}
                      <small>{{error}}</small>
                      {% endfor error in %}
                    </div>
                  </div>
                  <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12">{% trans 'Password' %}</label>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <input name="password" type="password" class="form-control" placeholder="{% trans 'Password' %}">
                      {% for error in login_form.password.errors %}
                      <small>{{error}}</small>
                      {% endfor %}
                      {% for error in login_form.non_field_errors %}
                      <small>{{error}}</small>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="submit">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 col-sm-8 col-xs-12">
                        <a href="{% url 'account_reset_password' %}">{% trans 'Forgot my password' %}</a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 textright">
                        <button class="btn btn-success col-xs-12">{% trans 'Sign In' %}</button>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="next" />
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel bottom-xs left-xs right-xs top-xs">
              <div class="panel-heading left-xs right-xs">
                <h3 class="bottom-xs"><i class="fa fa-angle-double-right"></i> {% trans 'Sign Up' %}</h3>
              </div>

              <div class="panel-body bottom-xs left-xs right-xs top-xs">
                <form onclick="event.stopPropagation()" method="post" action="{% url 'account_signup' %}" class="form-horizontal">{% csrf_token %}
                  <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12">{% trans "Username" %}</label>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <input name="username" type="text" class="form-control" placeholder="{% trans 'Choose an username' %}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12">{% trans 'E-mail' %}</label>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <input name="email" type="email" class="form-control" placeholder="{% trans 'Insert your e-mail' %}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12">{% trans 'Password' %}</label>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <p><input name="password1" type="password" class="form-control" placeholder="{% trans 'A really strong password' %}"></p>
                      <input name="password2" type="password" class="form-control" placeholder="{% trans 'Confirm your password' %}">
                    </div>
                  </div>
                  <div class="submit textright">
                    <div class="row">
                      <div class="col-lg-4 col-lg-offset-8 col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-12 textright">
                        <button class="btn btn-success col-xs-12">{% trans 'Sign Up' %}</button>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="next" />
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="divider bottom-xs top-xs"></div>
        <p class="bottom textcenter">{% load socialaccount %}<a href="{% provider_login_url 'facebook' method='oauth2' %}">{% trans 'Facebook connect' %}</a></p>
      </div>
    </div>
  </div>
</div>
