  <header id="main-header" class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-9 col-sm-9">
          <h1 class="course-name bottom top">
              <a href="{% url 'course_intro' course.slug %}">{{ course.name }}</a>
          </h1>
          {% include "_course-professors-inline.html" with course=course %}
        </div>
        <div class="col-lg-3 col-sm-3">
          <!-- COURSE-SECTION-NAV -->
          <nav class="course-sections textright">
            <a href="{% url 'course_intro' course.slug %}"><span class="has-tooltip fa fa-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
            <a href="{% url "lesson" course.slug course.first_lesson.slug %}"><span class="has-tooltip fa fa-film" data-toggle="tooltip" data-placement="top" data-original-title="Aulas"></span></a>
            {% comment %}
            <!-- TODO: Bruno Martin -->
            <a href="profile-note.html"><span class="has-tooltip fa fa-pencil" data-toggle="tooltip" data-placement="top" data-original-title="Anotações"></span></a>
            {% endcomment %}
            <a href="{% url 'forum' course.slug %}"><span class="has-tooltip fa fa-comments" data-toggle="tooltip" data-placement="top" data-original-title="Fórum"></span></a>
            <a href="{% url 'course_material' course.slug %}"><span class="has-tooltip fa fa-file" data-toggle="tooltip" data-placement="top" data-original-title="Material Didádico"></span></a>
          </nav>
          <!-- END COURSE-SECTION-NAV -->
        </div>
      </div>
    </div>
  </header>
