<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% load compressed %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Timtec{% endblock %}</title>

    <script src="//youtube.com/iframe_api"></script>

    {% compressed_css 'common' %}
    {% compressed_css 'public' %}
    {% compressed_js 'all' %}

    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Converter.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Editor.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Sanitizer.js' %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'js/vendor/flatui-checkbox.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/vendor/flatui-radio.js' %}" charset="utf-8"></script>

    {% load metron_tags %}
    {% analytics %}

    <script type="text/javascript" charset="utf-8">
        (function(){
            function resize_player() {
                var $p = $('#youtube-player');
                $p.css('width','100%');
                $p.height(Math.floor($p.width() * 0.5624));
            }
            
            function resize_activation_wrapper() {
                windowHeight = window.innerHeight;
                navbarHeight = $('#main-navbar').innerHeight();
                footerHeight = $('#main-footer').innerHeight();
                $('#activation-wrapper').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
            }

            $(document).ready(function() {
                $('.has-tooltip').tooltip();
                $(document).on('DOMNodeInserted','#player-outter', resize_player);
                resize_player();
                resize_activation_wrapper();
            });
            $(window).resize(resize_player);
            $(window).resize(resize_activation_wrapper);
        })();
    </script>
    {% endblock %}
</head>
<body>
<script>
window.STATIC_URL = '{{ STATIC_URL }}'
</script>

    {% if user.is_authenticated %}
        {% include 'header-authenticated.html' %}
    {% else %}
        {% include 'header-guest.html' %}
        {% include 'account/login_modal.html' %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                var $modal = $("#login-modal");
                var $next = $modal.find('input[name=next]');
                $('a.js-login-required').click(function(e){
                    $next.val($(this).attr('href'));
                    $modal.modal();
                    return false;
                })
            })
        </script>
    {% endif %}

    <div class="wrapper">
        {% block content %}
        <h1>missing content block</h1>
        {% endblock %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
