<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>

    {% include "_assets.html" %}
    {% load metron_tags %}
    {% analytics %}
    <script type="text/javascript" charset="utf-8">
        (function(){
            function resize_player() {
                var $p = $('#youtube-player');
                $p.css('width','100%');
                $p.height(Math.floor($p.width() * 0.5624));
            }

            function resize_activation_wrapper() {
                windowHeight = window.innerHeight;
                navbarHeight = $('#main-navbar').innerHeight();
                footerHeight = $('#main-footer').innerHeight();
                $('#activation-wrapper').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
            }

            $(document).ready(function() {
                $('.has-tooltip').tooltip();
                $(document).on('DOMNodeInserted','#player-outter', resize_player);
                resize_player();
                resize_activation_wrapper();
            });
            $(window).resize(resize_player);
            $(window).resize(resize_activation_wrapper);
        })();
    </script>
    {% endblock %}
</head>
<body>

    <div class="wrapper">
        {% include 'header.html' %}

        {% block content %}
        <h1>missing content block</h1>
        {% endblock %}

        <div id="push"></div>
    </div>



    {% include 'footer.html' %}

</body>
</html>
