<!DOCTYPE html>
<html>
<head>
    {% load compressed %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Timtec{% endblock %}</title>

    {% compressed_css 'all' %}
    {% compressed_js 'all' %}
</head>
<body>
    {% if user.is_authenticated %}
        {% include 'header-authenticated.html' %}
    {% else %}
        {% include 'header-guest.html' %}
    {% endif %}
    <div class="wrapper">
    <h1>{{ form.errors }}</h1>

        {% block content %}
        <h1>missing content block</h1>
        {% endblock %}
    </div>
    {% include 'footer.html' %}
</body>