{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        <!-- CONTAINER -->
        <div id="course" class="course-list">

            <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

            <div class="main-content">
                <div class="container">
                    <div class="col-left col-lg-9 col-md-9 col-sm-12">
                        {% for course in courses %}
                        <!-- COURSE -->
                            <div class="course row">
                                <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">
                                    <div class="course-thumb">
                                        <!-- tag img aqui -->
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <div class="course-info">
                                        <h3><a href="{% url 'course_intro' course.slug %}">{{ course.name }}</a></h3>
                                        <h4>Nome do professor</h4>
                                        <p>Ossim facerat eseque non pellabo. Hitaque moloribus et aut fugitis doluptatem nobita vendi autat ad mi, nis cus inulpa vendem qui andunt assitiis dic tem enim quiatiis mo occuptatur? Qui cu quist plia adit volorec tiorum am, cupti aut lacearum atum nihit ommolup taquosti iduntec tatibus sequiat ratur atemperesed quia illorrum conectur?atempore volorum raesent.</p>
                                        <a href="{% url 'course_intro' course.slug %}" class="btn">{% trans 'Go to course' %}</a>
                                    </div>
                                </div>
                            </div>
                        <!-- END COURSE -->
                        {% endfor %}
                    </div>
                    <div class="col-right col-lg-3 col-md-3 hidden-sm">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTAINER -->
{% endblock %}
