{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- CONTAINER -->
    <div id="course-content" class="course-intro">

        <!-- HEADER -->
        <header id="main-header" class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-9">
                        <h1 class="top">{{course.name}}</h1>
                        {% include "_course-professors-inline.html" with course=course %}
                    </div>
                    <div class="col-lg-3 textright">
                        <a href="{% url "enroll_course" course.slug %}" class="js-login-required btn btn-lg btn-danger col-lg-12 uppercase">{% trans "Take the Class" %}</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER -->

        <!-- MAIN CONTENT -->
        <section id="main-content" class="container">
            <div class="row">
                <div class="col-lg-9">
                    <section class="course-video top row">
                        {% with yid=course.intro_video.youtube_id %}
                        <div class="col-lg-12">
                            <iframe class="2 col-lg-12 left right" id="ytplayer" type="text/html" height="489" src="https://www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {% endwith %}
                    </section>

                    <section class="course-info row">
                        <div class="col-lg-6">
                            <div class="page-header-double">
                                <h3 class="top"><i class="icon-double-angle-right"></i> {% trans "Course Application" %}</h3>
                            </div>
                            <p>{{course.application}}</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="page-header-double">
                                <h3 class="top"><i class="icon-double-angle-right"></i> {% trans "Requirements" %}</h3>
                            </div>
                            <p>{{course.requirement}}</p>
                        </div>
                    </section>

                    <section class="course-lessons row">
                        <div class="2 col-lg-12">
                            <div class="page-header-double">
                                <h3><i class="icon-double-angle-right"></i> {% trans "Lessons" %}</h3>
                            </div>
                            <ul class="no-bullet">
                                {% for lesson in course.lesson_set.all %}
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-3 ">
                                                <img src="{% static 'img/lesson-default.png' %}" class="thumbnail">
                                            </div>
                                            <div class="col-lg-9 ">
                                                <p>
                                                    <span class="title">{{lesson.name}}</span>
                                                    <span class="description">{{lesson.desc}}</span>
                                                </p>
                                                <table class="table">
                                                    <tr>
                                                    {% for unit in lesson.unit_set.all %}
                                                        <td>
                                                            <a class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}" data-toggle="tooltip" data-placement="bottom" data-original-title="Unidade {{ unit.position|add:1 }}">
                                                                {% if unit.activity %}
                                                                <i class="icon-list"></i>
                                                                {% endif %}
                                                            </a>
                                                        </td>
                                                    {% endfor %}
                                                    </tr>
                                                </table>
                                                <p><i class="icon-youtube-play"></i> <small>{{ lesson.video_count }} {% trans "videos" %}</small> | <i class="icon-list"></i> <small>{{ lesson.activity_count }} {% trans "activities" %}</small></p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>

                    <section class="course-instructors row">
                        <div class="2 col-lg-12">
                            <div class="page-header-double">
                                <h3><i class="icon-double-angle-right"></i> {% trans "Instructors" %}</h3>
                            </div>
                        </div>

                        <div class="2 col-lg-12">
                            {% for course_professor in course.courseprofessor_set.all %}
                            <div id="luciano-ramalho" class="instructor row">
                                <div class="col-lg-3">
                                    <img src="{{ course_professor.user.get_picture_url }}" class="col-lg-12 thumbnail">
                                </div>
                                <div class="col-lg-9">
                                    <h1 class="fullname bottom top">{{ course_professor.user }}</h1>
                                    <h2 class="job-title top">{{ course_professor.get_job_display }}</h2>
                                    <p>{{ course_professor.biography }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>

                <div class="col-lg-3">
                    <div class="row">
                        <section class="course-summary 2 col-lg-12">
                            <div class="page-header-double top">
                                <h3 class="top"><i class="icon-double-angle-right"></i> {% trans "Abstract" %}</h3>
                            </div>
                            {{course.abstract|safe}}
                            <hr/>
                            <p class="bottom"><strong><i class="icon-list"></i> {% trans "Course Structure" %}:</strong></p>
                            {{course.structure|safe}}
                            <hr/>
                            <p class="bottom"><strong><i class="icon-time"></i> {% trans "Workload" %}:</strong></p>
                            {{course.workload|safe}}
                            <hr/>
                            {{course.pronatec|safe}}
                        </section>

                        <section class="course-social 2 col-lg-12" style="position:relative;overflow:hidden;">
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=479780832071303";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>

                            <p class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="270" data-show-faces="true" data-stream="false" data-show-border="true" data-header="true"></p>

                            <p><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></p>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                            <!-- Place this tag where you want the share button to render. -->
                            <div class="g-plus" data-action="share"></div>

                            <!-- Place this tag after the last share tag. -->
                            <script type="text/javascript">
                              (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                              })();
                            </script>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END CONTAINER -->

{% endblock %}
