{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load timtec_markdown %}

{% block content %}

<!-- CONTAINER -->
<div id="course-content" class="course-intro">

  <!-- HEADER -->
  <header id="main-header" class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
          <h1 class="course-name bottom top">{{course.name}}</h1>
          {% include "_course-professors-inline.html" with course=course %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 textright">
          {% if user_is_enrolled %}
            <a href="{% url "lesson" course.first_lesson.slug %}" class="js-login-required btn btn-lg btn-info col-lg-12 col-md-12 col-sm-12 col-xs-12 uppercase">{% trans "Resume" %}</a>
          {% else %}
            <a
              {% if user.is_authenticated %}
                onClick="ga('send', 'event', 'course', 'take the course', 'authenticated user', 1);"
              {% else %}
                onClick="ga('send', 'event', 'course', 'take the course', 'authenticated user', 0);"
              {% endif %}
              href="{% url "enroll_course" course.slug %}" class="js-login-required btn btn-lg btn-info col-lg-12 col-md-12 col-sm-12 col-xs-12 uppercase">{% trans "Take the Class" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <!-- END HEADER -->

  <!-- MAIN CONTENT -->
  <section id="main-content" class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <!-- COURSE-VIDEO -->
        <section class="course-video top row">
          {% with yid=course.intro_video.youtube_id %}
          <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
            <iframe id="youtube-player" type="text/html" frameborder="0"
                    src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" allowfullscreen>
            </iframe>
          </div>
          {% endwith %}
        </section>
        <!-- END COURSE-VIDEO -->

        <!-- COURSE-INFO -->
        <section class="course-info row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="page-header-double">
              <h3 class="top"><i class="icon-double-angle-right"></i> {% trans "Course Application" %}</h3>
            </div>
            <p>{{ course.application|timtec_markdown }}</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="page-header-double">
              <h3 class="top"><i class="icon-double-angle-right"></i> {% trans "Requirements" %}</h3>
            </div>
            <p>{{ course.requirement|timtec_markdown }}</p>
          </div>
        </section>
        <!-- END COURSE-INFO -->

        <!-- COURSE-SUMMARY -->
        <section class="course-summary hidden-lg hidden-md hidden-sm visible-xs row">
          <div class="col-xs-12">
            <div class="page-header-double">
              <h3 class="top"><i class="icon-double-angle-right"></i> {% trans "Abstract" %}</h3>
            </div>
            {{course.abstract|timtec_markdown}}
            <hr/>
            <p class="bottom"><strong><i class="icon-list"></i> {% trans "Course Structure" %}:</strong></p>
            {{course.structure|timtec_markdown}}
            <hr/>
            <p class="bottom"><strong><i class="icon-time"></i> {% trans "Workload" %}:</strong></p>
            {{course.workload|timtec_markdown}}
            <hr/>
            {{course.pronatec|timtec_markdown}}
          </div>
        </section>
        <!-- END COURSE-SUMMARY -->

        <!-- COURSE-LESSONS -->
        <section class="course-lessons row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header-double">
              <h3><i class="icon-double-angle-right"></i> {% trans "Lessons" %}</h3>
            </div>
            <ul class="no-bullet">
              {% for lesson in course.public_lessons %}
              <li>
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-sm-3 hidden-xs">
                    <img src="{{ lesson.thumbnail }}" class="thumbnail">
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <p>
                      {% if lesson.is_ready %}
                      <a href="{% url 'lesson' lesson.slug %}" class="title">{{ lesson.name }}</a>
                      {% else %}
                      <span class="title">{{ lesson.name }}</span>
                      {% endif %}
                      <span class="description">{{ lesson.desc }}</span>
                    </p>
                    <div class="hidden-xs">
                      <table class="table ">
                        <tr>
                          {% for unit in lesson.units.all %}
                          <td>
                            <a class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                               data-toggle="tooltip" data-placement="bottom"
                               data-original-title="Unidade {{ unit.position|add:1 }}"
                               href="{% url 'lesson' lesson.slug %}#/{{ unit.position }}">

                              {% if unit.activity %}
                              <i class="icon-list"></i>
                              {% endif %}
                            </a>
                          </td>
                          {% endfor %}
                        </tr>
                      </table>
                    </div>
                    {% if lesson.is_ready %}
                    <p><i class="icon-youtube-play"></i> <small>{{ lesson.video_count }} {% trans "videos" %}</small> | <i class="icon-list"></i> <small>{{ lesson.activity_count }} {% trans "activities" %}</small></p>
                    {% endif %}
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </section>
        <!-- END COURSE-LESSONS -->

        <!-- COURSE-INSTRUCTORS -->
        <section class="course-instructors row">
          <div class="col-lg-12 col-sm-12">
            <div class="page-header-double">
              <h3><i class="icon-double-angle-right"></i> {% trans "Instructors" %}</h3>
            </div>
          </div>

          <div class="col-lg-12 col-sm-12">
            {% for course_professor in course.courseprofessor_set.all %}
            <div id="{{ course_professor.user.username }}" class="instructor row">
              <div class="col-lg-3 col-sm-3">
                <img src="{{ course_professor.user.get_picture_url }}" class="col-lg-12 col-sm-12 thumbnail">
              </div>
              <div class="col-lg-9 col-sm-9">
                <h1 class="fullname bottom top">{{ course_professor.user }}</h1>
                <h2 class="job-title top">{{ course_professor.get_job_display }}</h2>
                <p>{{ course_professor.biography|timtec_markdown }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
        <!-- END COURSE-INSTRUCTORS -->
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
        <div class="row">
          <section class="course-summary col-lg-12 col-sm-12">
            <div class="page-header-double top">
              <h3 class="top"><i class="icon-double-angle-right"></i> {% trans "Abstract" %}</h3>
            </div>
            {{course.abstract|timtec_markdown}}
            <hr/>
            <p class="bottom"><strong><i class="icon-list"></i> {% trans "Course Structure" %}:</strong></p>
            {{course.structure|timtec_markdown}}
            <hr/>
            <p class="bottom"><strong><i class="icon-time"></i> {% trans "Workload" %}:</strong></p>
            {{course.workload|timtec_markdown}}
            <hr/>
            {{course.pronatec|timtec_markdown}}
          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- END MAIN CONTENT -->
</div>
<!-- END CONTAINER -->

{% endblock %}
