{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        <!-- CONTAINER -->
        <div id="course" class="course-list">

            <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

            <div class="main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-left col-lg-9 col-md-9 col-sm-12 js-fullheight">
                            {% for course in courses %}
                            <!-- COURSE -->
                                <div class="course row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">
                                        <div class="course-thumb">
                                            <!-- tag img aqui -->
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <div class="course-info">
                                            <h3><a href="{% url 'course_intro' course.slug %}">{{ course.name }}</a></h3>
                                            <h4>{% for professor in course.professors.all %}{{ professor.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</h4>
                                            <p>{{ course.abstract|truncatewords:35 }}</p>
                                            <a href="{% url 'course_intro' course.slug %}" class="btn btn-success">{% trans 'Go to course' %}</a>
                                        </div>
                                    </div>
                                </div>
                            <!-- END COURSE -->
                            {% endfor %}
                        </div>
                        <div class="col-right col-lg-3 col-md-3 hidden-sm js-fullheight">

                            <div class="box cyan col-lg-12 col-md-12">
                                <h3>Fique em contato</h3>
                                <p>Ossim facerat eseque non pellabo. Hitaque moloribus et aut fugitis dolupta tem nobita vendi autat ad mi, nis cus inulpa vendem qui andunt assitiis atem peresed quia illorrum conectempore volorum raesent.</p>
                            </div>
                            <div class="box orange col-lg-12 col-md-12">
                                <h3>Participe</h3>
                                <p>Ossim facerat eseque non pellabo. Hitaque moloribus et aut fugitis dolupta tem nobita vendi autat ad mi, nis cus inulpa vendem qui andunt assitiis atem peresed quia illorrum conectempore volorum raesent.</p>
                            </div>
                            <div class="box dark-blue col-lg-12 col-md-12">
                                <h3>Como funciona?</h3>
                                <p>Ossim facerat eseque non pellabo. Hitaque moloribus et aut fugitis dolupta tem nobita vendi autat ad mi, nis cus inulpa vendem qui andunt assitiis atem peresed quia illorrum conectempore volorum raesent.</p>
                            </div>
                            <div class="box blue col-lg-12 col-md-12">
                                <h3>Você é professor?</h3>
                                <p>Ossim facerat eseque non pellabo. Hitaque moloribus et aut fugitis dolupta tem nobita vendi autat ad mi, nis cus inulpa vendem qui andunt assitiis atem peresed quia illorrum conectempore volorum raesent.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTAINER -->
{% endblock %}
