{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load timtec_markdown %}

{% block content %}

<!-- COURSE -->
<div id="course" class="course-intro">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="left-col col-lg-7 col-md-7 col-sm-12 col-xs-12 js-fullheight">

                    <section class="course-main" role="main">

                        <header>
                            <h1>{{course.name}}</h1>
                            {% include "_course-professors-inline.html" with course=course %}
                        </header>

                        <!-- COURSE-VIDEO -->
                        <section class="video">
                            <!-- ROW -->
                            <div class="row">
                                {% with yid=course.intro_video.youtube_id %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                        <iframe id="youtube-player" type="text/html" frameborder="0" src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" allowfullscreen>
                                        </iframe>
                                    </div>
                                {% endwith %}
                            </div>
                            <!-- END ROW -->
                        </section>
                        <!-- END COURSE-VIDEO -->

                        <!-- COURSE-INFO -->
                        <section class="course-info">
                            <!-- ROW -->
                            <div class="row">
                                <!-- COL-LG-6 -->
                                <div class="application col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="page-header-double">
                                        <h3 class="top">{% trans "Why do this course?" %}</h3>
                                    </div>
                                    <div class="info">{{ course.application|timtec_markdown }}</div>
                                </div>
                                <!-- END COL-LG-6 -->
                                <!-- COL-LG-6 -->
                                <div class="requirement col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="page-header-double">
                                        <h3 class="top">{% trans "What do I have to know?" %}</h3>
                                    </div>
                                    <div class="info">{{ course.requirement|timtec_markdown }}</div>
                                </div>
                                <!-- END COL-LG-6 -->
                            </div>
                            <!-- END ROW -->
                        </section>
                        <!-- END COURSE-INFO -->
                    </section>
                    {% if user.is_authenticated and course.has_started %}
                    <div class="row">
                        <!-- COURSE-LESSONS -->
                        <section class="lessons col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- PAGE-HEADER-DOUBLE -->
                            <div class="page-header-double">
                                <h3>{% trans "Estrutura do Curso" %}</h3>
                                <p>Ossim facerat eseque non pellabo. Hitaque moloribus et aut fugitis doluptatem nobita vendi autat ad mi, nis cus inulpa vendem qui andunt assitiis dic tem enim quiatiis mo occuptatur? Qui culpa vent aut autatet mincta si blatur maximusae renis quaecti optur resciliqui quist plia adit volorec tiorum am, cupti aut lacearum atum nihit ommolup taquosti iduntec tatibus sequiat ratur atemperesed quia illorrum conectur? Quis dolo cus aut adiamus estiuntist, et inum que eum faceptur re labo. Nequibe atempore volorum raesent.</p>
                            </div>
                            <!-- END PAGE-HEADER-DOUBLE -->

                            <!-- FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                            {% for lesson in course.public_lessons %}
                                <!-- LESSON -->
                                <div class="lesson row">
                                    <!-- COL-LG-3 -->
                                    <div class="col-lg-3 col-sm-3 col-sm-3 hidden-xs">
                                        <img src="{{ lesson.thumbnail }}" class="img-thumbnail img-responsive">
                                    </div>
                                    <!-- END COL-LG-3 -->

                                    <!-- COL-LG-9 -->
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                        <p>
                                            {% if lesson.is_ready and user_is_enrolled %}
                                                <a href="{% url 'lesson' course.slug lesson.slug %}" class="title">{{ lesson.name }}</a>
                                            {% else %}
                                                <span class="title">{{ lesson.name }}</span>
                                            {% endif %}
                                            <span class="description">{{ lesson.desc }}</span>
                                        </p>

                                        <!-- HIDDEN-XS -->
                                        <div class="hidden-xs">
                                            <!-- TABLE -->
                                            <table class="units table ">
                                                <!-- TR -->
                                                <tr>
                                                    <!-- FOR UNIT IN UNITS -->
                                                    {% for unit in lesson.units.all %}
                                                        <!-- TD -->
                                                        <td>
                                                            {% if lesson.is_ready and user_is_enrolled %}
                                                                <a class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                                                                   data-toggle="tooltip" data-placement="bottom"
                                                                   data-original-title="Unidade {{ forloop.counter }}"
                                                                   href="{% url 'lesson' course.slug lesson.slug %}#/{{ forloop.counter }}">
                                                                   {% if unit.activity %}
                                                                       <i class="fa fa-list"></i>
                                                                   {% endif %}
                                                                </a>
                                                            {% else %}
                                                                <span class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                                                                      data-toggle="tooltip" data-placement="bottom"
                                                                      data-original-title="Unidade {{ forloop.counter }}">
                                                                      {% if unit.activity %}
                                                                          <i class="fa fa-list"></i>
                                                                      {% endif %}
                                                                </span>
                                                            {% endif %}
                                                        </td>
                                                        <!-- END TD -->
                                                    {% endfor %}
                                                    <!-- END FOR -->
                                                </tr>
                                                <!-- END TR -->
                                            </table>
                                            <!-- END TABLE -->
                                        </div>
                                        <!-- END HIDDEN-XS -->

                                        {% if lesson.is_ready %}
                                            <p><i class="fa fa-youtube-play"></i> <small>{{ lesson.video_count }} {% trans "videos" %}</small> | <i class="fa fa-list"></i> <small>{{ lesson.activity_count }} {% trans "activities" %}</small></p>
                                        {% endif %}
                                    </div>
                                    <!-- END COL-LG-9 -->
                                </div>
                                <!-- END LESSON -->
                            {% endfor %}
                            <!-- END FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                        </section>
                        <!-- END COURSE-LESSONS -->
                    </div>
                    {% endif %}
                </div>
                <div class="right-col col-lg-5 col-md-5 col-sm-12 col-xs-12 js-fullheight">

                    <div class="buttons row">
                        {% if course.first_lesson.slug %}
                            {% if user_is_enrolled %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                {% if course.has_started %}
                                    <a href="{% url "lesson" course.slug course.first_lesson.slug %}" class="js-login-required">{% trans "Resume" %}</a>
                                {% else %}
                                    <span href="#" class="has-tooltip js-login-required col-lg-6 col-md-6 col-sm-6 col-xs-12 uppercase" data-toggle="tooltip" data-placement="bottom" data-original-title="{% blocktrans with start_date=course.start_date|date:"d/m/Y" %}Este curso começa dia {{ start_date }} e você já está inscrito{% endblocktrans %}" title="{% blocktrans with start_date=course.start_date|date:"d/m/Y" %}Este curso começa dia {{ start_date }} e você já está inscrito{% endblocktrans %}">{% trans "Resume" %}</span>
                                {% endif %}
                                </div>
                                <div class=" col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 textright">
                                    <a href="#" class="share-facebook">Compartilhar</a>
                                </div>

                            {% else %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <a
                                    {% if user.is_authenticated %}
                                        onClick="ga('send', 'event', 'course', 'take the course', 'authenticated user', 1);"
                                    {% else %}
                                        onClick="ga('send', 'event', 'course', 'take the course', 'authenticated user', 0);"
                                    {% endif %}
                                    href="{% url "enroll_course" course.slug %}" class="js-login-required btn btn-lg btn-info col-lg-6 col-md-6 col-sm-6 col-xs-12 uppercase">{% trans "Take the Class" %}</a>
                                </div>

                                <div class=" col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 textright">
                                    <a href="#" class="share-facebook">Compartilhar</a>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>

                    <!-- COURSE-SUMMARY - VISIBLE ONLY FOR PHONES -->
                    <section class="summary row">
                        <!-- COL-XS-12 -->
                        <div class="col-xs-12">
                            <!-- ABSTRACT -->
                            <div class="page-header-double top">
                                <h3 class="top">{% trans 'Abstract' %}</h3>
                            </div>
                            {{course.abstract|timtec_markdown}}
                            <!-- END ABSTRACT -->
                        </div>
                        <!-- END COL-XS-12 -->
                    </section>
                    <!-- END COURSE-SUMMARY - VISIBLE ONLY FOR PHONES -->

                    <!-- COURSE-INSTRUCTORS -->
                    {% if course.courseprofessor_set.all %}
                        <section class="instructors row">
                            <div class="col-lg-12 col-sm-12">
                                {% for course_professor in course.courseprofessor_set.all %}
                                    <div id="{{ course_professor.user.username }}" class="instructor row">
                                        <div class="col-lg-12 col-sm-12">
                                            <img src="{{ course_professor.user.get_picture_url }}">
                                        </div>
                                        <div class="col-lg-12 col-sm-12">
                                            <h3 class="fullname bottom top">{{ course_professor.user.first_name }} {{ course_professor.user.last_name }}</h3>
                                            <h4 class="job-title top">{{ course_professor.get_job_display }}</h4>
                                            <p>{{ course_professor.biography|timtec_markdown }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                    <!-- END COURSE-INSTRUCTORS -->
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .content -->
</div>
<!-- END COURSE -->

{% endblock %}
