<!-- FOOTER -->
<div id="main-footer" class="footer">
    <div class="container">
        <div class="row">
            <div class=" col-lg-3">
                <ul class="no-bullet">
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Equipe</a></li>
                    <li><a href="">Imprensa</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <div class=" col-lg-3">
                <ul class="no-bullet">
                    <li><a href="">Blog</a></li>
                    <li><a href="">Ajuda</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class=" col-lg-3">
                <ul class="no-bullet">
                    <li><a href="">Política de Uso</a></li>
                    <li><a href="">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class=" col-lg-3">
                Coluna 4
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->