{% load i18n %}
{% load usergroup %}

    <header class="main-header" role="banner">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    <h1 class="text-hide"><a href="{% url 'home_view' %}">Instituto TIM</a></h1>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-3">
                    <h2 class="text-hide"><a href="{% url 'home_view' %}">TIMTec</a></h2>
                </div>

                <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-2 hidden-sm hidden-xs">
                    <ul class="social list-unstyled">
                        <li class="contato"><a href="#" data-toggle="modal" data-target="#modal-contact"><span>Contato</span></a></li>
                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
                        <li class="twitter"><a href="https://twitter.com/TIMTec_oficial" target="_blank"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
                    </ul><!-- .social -->
                </div><!-- .col-md-4 -->

            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .header -->

    <nav class="main-nav" role="navigation">
        <div class="container">
            <ul class="nav">
                <li><a id="institute-tab" href="{% url 'django.contrib.flatpages.views.flatpage' url='institute/' %}">Instituto TIM</a></li>
                <li><a id="about-tab" href="{% url 'django.contrib.flatpages.views.flatpage' url='about/' %}">Sobre <span class="tim">TIM</span><span class="tec">Tec</span></a></li>
                <li><a id="courses-tab" href="{%  url 'courses' %}">Cursos</a></li>
                <li>
                {% if user.is_authenticated %}
                    <a class="username dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ user.email|truncatechars:14 }}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu user-menu">
                        {% ifusergroup professors %}
                            <li><a href="{% url 'administration.home' %}">{% trans "Admin" %}</a></li>
                        {% endifusergroup %}
                        <li><a href="{% url 'user_courses' %}">{% trans "My Courses" %}</a></li>
                        <li><a href="{% url 'user_notes' %}">{% trans "My Notes" %}</a></li>
                        <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
                        <li><a href="{% url 'profile_edit' %}">{% trans "Settings" %}</a></li>
                        <!-- <li><a href="">{% trans "Settings" %}</a></li> -->
                        <li><a href="{% url 'timtec_logout' %}">{% trans "Logout" %}</a></li>
                    </ul>
                {% else %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign In' %}</a>
                    <div class="dropdown-menu login-menu">
                        <form onclick="event.stopPropagation()" method="post" action="{% url 'timtec_login' %}" class="navbar-form">{% csrf_token %}
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12{% if login_form.errors %} has-error{% endif %}">
                                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label">{% trans 'Username' %}</label>
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        <input name="username" type="text" class="form-control"
                                               value="{{login_form.username.value}}" placeholder="{% trans 'E-mail or username' %}"/>
                                        {% for error in login_form.username.errors %}
                                        <small>{{error}}</small>
                                        {% endfor error in %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12{% if login_form.errors %} has-error{% endif %}">
                                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label">{% trans 'Password' %}</label>
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        <input name="password" type="password" class="form-control" placeholder="{% trans 'Password' %}">
                                        {% for error in login_form.password.errors %}
                                        <small>{{error}}</small>
                                        {% endfor %}
                                        {% for error in login_form.non_field_errors %}
                                        <small>{{error}}</small>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="submit clearfix">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 forgot-pass">
                                    <a href="{% url 'account_reset_password' %}">{% trans 'Forgot my password' %}</a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 textright">
                                    <button class="btn sign-in">{% trans 'Sign In' %}</button>
                                </div>
                            </div>
                            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 textleft">
                                {% load socialaccount %}
                                <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="facebook">{% trans 'Connect with Facebook' %}</a>
                            </p>
                            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 textright">
                                <a href="{% url 'account_signup' %}" class="btn register">{% trans 'Signup' %}</a>
                            </p>

                        </form>
                    </div>
                {% endif %}
                </li>
            </ul>
        </div><!-- .container -->
    </nav><!-- .main-nav -->

    <div class="modal fade" id="modal-contact">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Contato</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-1">
                            <form class="form-horizontal" method="post" action="{% url 'contact' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Sou</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" name="{{contact_form.occupation.name}}">
                                            <option>Estudante</option>
                                            <option>Professor</option>
                                            <option>Jornalista</option>
                                            <option>Administrador de instituição educacional</option>
                                            <option>Outro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Quero falar sobre</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" name="{{contact_form.subject.name}}">
                                            <option>Problemas no registro de usuários</option>
                                            <option>Problemas técnicos</option>
                                            <option>Acessibilidade para estudantes</option>
                                            <option>Certificados e exames</option>
                                            <option>Relacionamento institucional</option>
                                            <option>Outro assunto</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Nome</label>
                                    <div class="col-lg-8">
                                        <input required type="text" class="form-control" name="{{contact_form.name.name}}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Email</label>
                                    <div class="col-lg-8">
                                        <input required type="email" class="form-control" name="{{contact_form.email.name}}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Mensagem</label>
                                    <div class="col-lg-8">
                                        <textarea required class="form-control" rows="6" name="{{contact_form.message.name}}"></textarea>
                                    </div>
                                </div>
                                <div class="submit textright">
                                    <button type="reset" class="btn btn-danger">Limpar</button>
                                    <button type="submit" class="btn btn-success">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
