{% load i18n %}

    <header class="main-header" role="banner">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    <h1 class="text-hide"><a href="#">Instituto TIM</a></h1>  
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-3">
                    <h2 class="text-hide"><a href="#">TIMTec</a></h2>
                </div>

                <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-2 hidden-sm hidden-xs">
                    <ul class="social list-unstyled">
                        <li class="contato"><a href="#"><i class="fa fa-envelope"></i><span class="sr-only">Contato</span></a></li>
                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
                        <li class="youtube"><a href="#"><i class="fa fa-youtube"></i><span class="sr-only">Youtube</span></a></li>
                    </ul><!-- .social -->
                </div><!-- .col-md-4 -->

            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .header -->

    <nav class="main-nav" role="navigation">
        <div class="container">
            <ul class="nav">
                <li><a href="#">Instituto TIM</a></li>
                <li><a href="#">Sobre TIMTec</a></li>
                <li><a href="#">Cursos</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign In' %}</a>
                    <div class="dropdown-menu">
                        <form onclick="event.stopPropagation()" method="post" action="{% url 'timtec_login' %}" class="navbar-form">{% csrf_token %}
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12{% if login_form.errors %} has-error{% endif %}">
                                    <label class="col-lg-5 col-md-5 col-sm-12 col-xs-12 control-label">{% trans 'Username' %}</label>
                                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                        <input name="username" type="text" class="form-control"
                                               value="{{login_form.username.value}}" placeholder="{% trans 'E-mail or username' %}"/>
                                        {% for error in login_form.username.errors %}
                                        <small>{{error}}</small>
                                        {% endfor error in %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12{% if login_form.errors %} has-error{% endif %}">
                                    <label class="col-lg-5 col-md-5 col-sm-12 col-xs-12 control-label">{% trans 'Password' %}</label>
                                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                        <input name="password" type="password" class="form-control" placeholder="{% trans 'Password' %}">
                                        {% for error in login_form.password.errors %}
                                        <small>{{error}}</small>
                                        {% endfor %}
                                        {% for error in login_form.non_field_errors %}
                                        <small>{{error}}</small>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="submit clearfix">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <a href="{% url 'account_reset_password' %}">{% trans 'Forgot my password' %}</a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 textright">
                                    <button class="btn btn-success">{% trans 'Sign In' %} <i class="fa fa-sign-in"></i></button>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <p class="bottom textcenter">
                                    {% load socialaccount %}
                                    <a href="{% provider_login_url 'facebook' method='oauth2' %}">{% trans 'Connect with Facebook' %}</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div><!-- .container -->
    </nav><!-- .main-nav -->
