{% load i18n %}

<!-- NAVBAR -->
<div id="main-navbar" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a class="navbar-brand" href="/">TIM Tec</a>
        <ul class="nav navbar-nav pull-right">
            <li class="hidden">
                <form class="navbar-form navbar-left" role="search">
                    <button type="submit" class="btn btn-default"><i class="icon-search"></i></button>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </li>
            <li><a href="#">{% trans 'Courses' %}</a></li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign In' %}</a>
                <div class="dropdown-menu dropdown-signin">
                    <form onclick="event.stopPropagation()" method="post" action="{% url 'timtec_login' %}" class="form-horizontal">{% csrf_token %}
                        <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                            <label class="col-lg-3 col-sm-4 control-label">{% trans 'Login' %}</label>
                            <div class="col-lg-9 col-sm-8">
                                <input name="username" type="text" class="form-control"
                                       value="{{login_form.username.value}}" placeholder="{% trans 'E-mail or username' %}"/>
                                {% for error in login_form.username.errors %}
                                <small>{{error}}</small>
                                {% endfor error in %}
                            </div>
                        </div>
                        <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                            <label class="col-lg-3 col-sm-4 control-label">{% trans 'Password' %}</label>
                            <div class="col-lg-9 col-sm-8">
                                <input name="password" type="password" class="form-control" placeholder="{% trans 'Password' %}">
                                {% for error in login_form.password.errors %}
                                <small>{{error}}</small>
                                {% endfor %}
                                {% for error in login_form.non_field_errors %}
                                <small>{{error}}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="submit">
                            <div class="row">
                                <div class="col-lg-8 col-sm-8">
                                    <a href="{% url 'auth_password_reset' %}">{% trans 'Forgot my password' %}</a>
                                </div>
                                <div class="col-lg-4 col-sm-4 textright">
                                    <button class="btn btn-success">{% trans 'Sign In' %} <i class="icon-signin"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--
                    <div class="divider"></div>
                    <p class="bottom textcenter">Entrar com <a href="">Facebook</a> ou <a href="">Google+</a></p>
                    -->
                </div>
            </li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign Up' %}</a>
                <div class="dropdown-menu dropdown-signup">
                    <form onclick="event.stopPropagation()" method="post" action="{% url 'registration_register' %}" class="form-horizontal">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">{% trans "Username" %}</label>
                            <div class="col-lg-8 col-sm-8">
                                <input name="username" type="text" class="form-control" placeholder="{% trans 'Choose an username' %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">{% trans 'E-mail' %}</label>
                            <div class="col-lg-8 col-sm-8">
                                <input name="email" type="email" class="form-control" placeholder="{% trans 'Insert your e-mail' %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">{% trans 'Password' %}</label>
                            <div class="col-lg-8 col-sm-8">
                                <p><input name="password1" type="password" class="form-control" placeholder="{% trans 'A really strong password' %}"></p>
                                <input name="password2" type="password" class="form-control" placeholder="{% trans 'Confirm your password' %}">
                            </div>
                        </div>
                        <div class="submit textright">
                            <button class="btn btn-success">{% trans 'Sign Up' %}</button>
                        </div>
                    </form>
                    <!--
                        <div class="divider"></div>
                        <p class="bottom textcenter">Cadastrar com <a href="">Facebook</a> ou <a href="">Google+</a></p>
                    -->
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END NAVBAR -->