{% extends 'base.html' %}

{% load i18n %}
{% load compressed %}

{% block head %}
    {{ block.super }}
    {% compressed_js 'core' %}
    <script>
        window.TWITTER_ACCOUNT = ""
    </script>
{% endblock %}

{% block content %}
        
        <div id="home" ng-app="core" ng-controller="HomeCtrl">

            <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

            <section class="main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="row">
                                <section class="videos" role="main">
                                    <div class="row" ng-repeat="courses_row in courses_rows">
                                        <div ng-repeat="course in courses_row" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {% verbatim %}
                                            <article class="video">
                                                <a ng-href="/course/{{ course.slug }}">
                                                    <div class="video-thumb">
                                                        <img ng-src="{{ course.home_thumbnail_url }}">
                                                    </div>
                                                </a>
                                                <div class="video-info">
                                                    <h3><a ng-href="/course/{{ course.slug }}">{{ course.name }}</a></h3>
                                                    <p>{{ course.professor_name }}</p>
                                                </div>
                                            </article>
                                            {% endverbatim %}
                                        </div>
                                    </div>
                                </section><!-- .videos -->
                            </div><!-- .row -->
                        </div><!-- .col-md-8 -->

                        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                            <section class="twitter" role="complementary">

                                <div class="row">
                                    <div class="col-lg-9 col-lg-offset-2 col-md-9 col-md-offset-2">
                                        <h3>
                                            <i class="fa fa-twitter"></i>
                                            Veja as últimas<br>informações<br><span>@timtec</span>
                                        </h3>
                                        <a class="twitter-timeline" width="262" height="936" href="https://twitter.com/outrobruno" data-widget-id="447856346524680192">Tweets by @outrobruno</a>
                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                    </div>
                                </div>
                            </section><!-- .twitter -->
                        </div><!-- .col-md-3 -->

                    </div><!-- .row -->
                </div><!-- .container -->

                <aside class="next-videos hidden-sm hidden-xs" role="complementary">

                    <div class="container">
                            
                        <div class="row">

                            <div class="video col-lg-12 col-md-12">
                                <h3><a href="#">Próximos <span>lançamentos</span></a></h3>
                            </div>
                            {% verbatim %}
                            <div class="video col-lg-4 col-md-4" ng-repeat="course in upcoming_courses">
                                <a ng-href="/course/{{ course.slug }}">
                                    <div class="thumb col-lg-6 col-md-6">
                                        <img ng-src="{{ course.home_thumbnail_url }}">
                                    </div>
                                </a>
                                <a ng-href="/course/{{ course.slug }}">
                                    <h4>{{ course.name }}</h4>
                                </a>
                            </div>
                            {% endverbatim %}

                        </div><!-- .row -->

                    </div><!-- .container -->

                </aside><!-- .slider-proximos -->

            </section><!-- .content -->

        </div><!-- #home -->
        
{% endblock %}
