{% extends 'base.html' %}

{% load i18n %}
{% load compressed %}

{% block head %}
    {{ block.super }}
    {% compressed_js 'core' %}
{% endblock %}

{% block content %}

        <div id="home" ng-app="core" ng-controller="HomeCtrl">

            <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

            <section class="main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="row">
                                <section class="videos col-lg-12 col-md-12 col-sm-12 col-xs-12" role="main">
                                    <div class="row" ng-repeat="courses_row in courses_rows">
                                        <div ng-repeat="course in courses_row" class="video-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            {% verbatim %}
                                            <article class="video">
                                                <a ng-href="/course/{{ course.slug }}">
                                                    <div class="video-thumb">
                                                        <img ng-src="{{ course.home_thumbnail_url }}">
                                                    </div>
                                                </a>
                                                <div class="video-info">
                                                    <h3><a ng-href="/course/{{ course.slug }}">{{ course.name }}</a></h3>
                                                    <p>{{ course.professors_names }}</p>
                                                </div>
                                            </article>
                                            {% endverbatim %}
                                        </div>
                                    </div>
                                </section><!-- .videos -->
                            </div><!-- .row -->
                        </div><!-- .col-md-8 -->

                        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">

                            <div class="row">

                                <section class="twitter col-lg-10 col-lg-offset-2 col-md-11 col-md-offset-1" role="complementary">

                                    <div class="row">
                                        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2">
                                            <h3>
                                                <i class="fa fa-twitter"></i>
                                                Veja as últimas<br>informações<br><span>@TIMTec_oficial</span>
                                            </h3>
                                            <div class="tweet" ng-repeat="twit in twits">
                                                {% verbatim %}
                                                <div class="info">
                                                    <span class="avatar">
                                                        <img ng-src="{{ twit.profile_image_url }}">
                                                    </span>
                                                    <a class="name" ng-href="https://twitter.com/{{ twit.screen_name }}" target="_blank">{{ twit.user_name }}</a>
                                                    <span class="date">{{ twit.date }}</span>
                                                    <span class="hour">{{ twit.hour }}</span>
                                                </div>
                                                <div class="text" ng-bind-html="twit.text|tweet">
                                                </div>
                                                {% endverbatim %}
                                            </div>
                                        </div>
                                    </div>
                                </section><!-- .twitter -->
                            </div>

                        </div><!-- .col-md-3 -->

                    </div><!-- .row -->
                </div><!-- .container -->

                <aside class="next-videos hidden-sm hidden-xs" role="complementary">

                    <div class="container">
                        <h3><a href="#">Próximos <span>lançamentos</span></a></h3>


                        <div class="slider">
                            {% verbatim %}
                            <carousel>
                                <slide ng-repeat="upcoming_courses_rows in upcoming_courses_rows" active="slide.active">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4" ng-repeat="course in upcoming_courses_rows">
                                            <div class="row">
                                                <a ng-href="/course/{{ course.slug }}">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="thumb">
                                                            <img ng-src="{{ course.home_thumbnail_url }}">
                                                        </div>
                                                    </div>
                                                    <h4 class="col-lg-6 col-md-6">{{ course.name }}</h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </slide>
                            </carousel>
                            {% endverbatim %}
                        </div>

                    </div><!-- .container -->

                </aside><!-- .slider-proximos -->

            </section><!-- .content -->

        </div><!-- #home -->

{% endblock %}
