{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="home">
    <div id="highlight">
        <div class="container">
            <h1>Chamada</h1>
        </div>
    </div>

    <div id="courses" class="container">
        <div class="row">
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">HTML5: Introdução ao Front End</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">Introdução à Lógica de Programação </a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">Introdução à Linguagem de Programação PHP</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">Arquitetura da Informação e Projeto de Sistemas</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">Edição e Tratamento de Imagens</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">Sete lições para a produção de textos</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">Desenho de Jogos</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">Publicação Digital em Dispositivos Móveis</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">TIM Faz Ciência</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="course col-lg-4 col-md-4 col-sm 6 col-xs-12">
                <div class="img row">
                    <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://d1wshrh2fwv7ib.cloudfront.net/courses/9037d20d-acff-48f9-af1f-b1414f784f18/frontpage_79479600.jpg">
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="info">
                            <h1><a href="">Introdução ao Uso de Banco de Dados e SQL</a></h1>
                            <p><a href="">Nome de instrutor</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="enroll">
                            <span class="col-lg-5 col-md-5 col-sm-5 col-xs-12 left right btn btn-lg btn-success">
                                <i class="icon icon-calendar"></i> Jul, 2014
                            </span>
                            <button class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left right btn btn-lg btn-success">
                                Começar curso
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}