{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="home">
    <div id="highlight">
        <nav class="nav-left">
            <img src="static/img/arrow-left.png"/>
        </nav>
        <img src="static/img/banner-003.jpg" class="img-responsive"/>
        <nav class="nav-right">
            <img src="static/img/arrow-right.png"/>
        </nav>
    </div>

    <div id="courses" class="clearfix">
        <nav class="nav-left">
            <img src="static/img/arrow-left.png"/>
        </nav>

        <div class="wrapper">
            <article class="prev">
                <div class="img">
                    <img src="static/img/course-001.jpg" class="img-responsive">
                </div>
                <div class="content">
                    <h1>HTML5: Introdução ao FrontEnd</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum justo in ipsum dignissim, at mattis nisi tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem lorem, aliquet eu purus eget, accumsan elementum libero.</p>
                </div>
            </article>
            <article class="current">
                <div class="img">
                    <img src="static/img/course-002.jpg" class="img-responsive">
                </div>
                <div class="content">
                    <h1>HTML5: Introdução ao FrontEnd</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum justo in ipsum dignissim, at mattis nisi tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem lorem, aliquet eu purus eget, accumsan elementum libero.</p>
                    <div class="more">
                        <div class="row">
                            <div class="col-lg-6">
                                <span class="date">
                                    <i class="fa fa-calendar"></i> Em breve
                                </span>
                            </div>
                            <div class="col-lg-6 textright">
                                Saiba Mais <img src="static/img/arrow-right-sm.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="next">
                <div class="img">
                    <img src="static/img/course-003.jpg" class="img-responsive">
                </div>
                <div class="content">
                    <h1>HTML5: Introdução ao FrontEnd</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum justo in ipsum dignissim, at mattis nisi tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem lorem, aliquet eu purus eget, accumsan elementum libero.</p>
                </div>
            </article>
        </div>
        
        <nav class="nav-right">
            <img src="static/img/arrow-right.png"/>
        </nav>
    </div>

    <div id="testimonials">
        <div class="container">
            <header>
                <h1>depoimentos</h1>                
            </header>
            <div class="row">
                <div class="highlight col-lg-12 textcenter">
                    <blockquote>
                        <i class="fa fa-quote-left"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget enim nulla. Aenean eget nisl sit amet orci mattis sollicitudin.
                        <i class="fa fa-quote-right"></i>
                    </blockquote>
                    <p class="author">Anderson Orui</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 textcenter">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 textcenter">
                            <img src="static/img/testimonials-001.jpg" class="img-circle img-responsive">
                        </div>
                    </div>
                    <blockquote>
                        <i class="fa fa-quote-left"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget enim nulla. Aenean eget nisl sit amet orci mattis sollicitudin.
                        <i class="fa fa-quote-right"></i>
                    </blockquote>
                    <p class="author textright">Anderson Orui</p>
                </div>
                <div class="col-lg-4 textcenter">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 textcenter">
                            <img src="static/img/testimonials-001.jpg" class="img-circle img-responsive">
                        </div>
                    </div>
                    <blockquote>
                        <i class="fa fa-quote-left"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget enim nulla. Aenean eget nisl sit amet orci mattis sollicitudin.
                        <i class="fa fa-quote-right"></i>
                    </blockquote>
                    <p class="author textright">Anderson Orui</p>
                </div>
                <div class="col-lg-4 textcenter">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 textcenter">
                            <img src="static/img/testimonials-001.jpg" class="img-circle img-responsive">
                        </div>
                    </div>
                    <blockquote>
                        <i class="fa fa-quote-left"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget enim nulla. Aenean eget nisl sit amet orci mattis sollicitudin.
                        <i class="fa fa-quote-right"></i>
                    </blockquote>
                    <p class="author textright">Anderson Orui</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}