{% extends "base.html" %}

{% load staticfiles %}
{% load timtec_markdown %}

{% block content %}

<script type="text/javascript">
window.lessonId = {{ lesson.pk }};
// Content type id for object type core.Unit used by django generic relations.
window.unit_content_type_id = {{ unit_content_type_id }};

$(document).ready(function() {
  $(".nav-tabs a").click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  })
  $('a.unit').tooltip();
})
</script>

<script type="text/javascript" src="{% static 'js/lesson.js' %}" charset="utf-8"></script>


<!-- CONTAINER -->
<div id="course-content" ng-app="lesson">

  <!-- HEADER -->
  {% include "_course-header-inline.html"  with course=lesson.course %}
  <!-- END HEADER -->

  <!-- MAIN CONTENT -->
  <section id="main-content" class="container" ng-controller="LessonMainCtrl">

    <!-- LESSON NAVIGATION FOR TABLET AND DESKTOP -->
    <nav class="course-lessons-nav row hidden-xs">
      <div class="col-lg-12 col-sm-12">
        <div class="btn-group button-watching">
          <button type="button" class="btn btn-sm btn-info">{{ lesson.name }}
          </button>
          <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">
            <i class="icon-chevron-down"></i>
          </button>
          <ul class="dropdown-menu">
            {% for list_lesson in lesson.course.public_lessons %}
            <li><a href="{% url 'lesson' list_lesson.slug %}"><span class="title">{{ list_lesson.name }}</span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- END LESSON NAVIGATION FOR TABLET AND DESKTOP -->

    <!-- LESSON NAVIGATION FOR PHONE -->
    <p class="visible-xs">
        <select onchange="document.location=this.value" class="form-control">
            <option>{{lesson.name}}</option>
            {% for list_lesson in lesson.course.public_lessons %}
                {% if list_lesson.name != lesson.name %}
                    <option value="{% url 'lesson' list_lesson.slug %}">{{ list_lesson.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <!-- END LESSON NAVIGATION FOR PHONE -->


    <!-- COURSE-VIDEO -->
    <section class="course-video top-xs">
      <!-- lesson_video.html -->
      <div class="row">
        {% verbatim %}
        <!-- UNITS NAVIGATION FOR TABLET AND DESKTOP -->
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
          <a style="display:block;" data-placement="right"
             title="{{ unit.video.name }}"
             href="#/{{ $index+1 }}" class="has-tooltip unit track" data-toggle="tooltip"
             onclick="return false;"
             ng-repeat="unit in lesson.units"
             ng-class="{watching: isSelected($index+1), done: isDone(unit)}"
             ng-click="select($index+1)">
                <i class="icon-caret-right" ng-if="isSelected($index+1)"></i>
                <span class="position">{{ unit.position + 1 }}</span>
                <i class="icon-list" ng-if="unit.activity !== null"></i>
          </a>
        </div>
        <!-- END UNITS NAVIGATION FOR TABLET AND DESKTOP -->

        <!-- UNITS NAVIGATION FOR PHONES -->
        <div class="col-xs-12 visible-xs">
            <p>
                <select ng-model="currentUnitPos" ng-change="select(currentUnitPos);" class="form-control">
                    <option ng-repeat="unit in lesson.units"
                            ng-value="$index+1"
                            ng-selected="isSelected($index+1)"
                            value="{{$index+1}}">Unidade {{ unit.position + 1 }}</option>
                </select>
            </p>
        </div>
        <!-- END UNITS NAVIGATION FOR PHONES -->
        {% endverbatim %}

        <div ng-view></div>

        <!-- NOTES -->
        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs" style="height:420px;">
            <ul class="nav nav-tabs">
                <li><a href="#side-notes" data-toggle="tab">Saiba mais</a></li>
                <li class="active"><a href="#notes" data-toggle="tab">Anotações</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="side-notes">
                  <br>
                  <span ng-bind-html="lesson.units[currentUnitPos-1].side_notes|markdown"></span>
                  <h2 ng-if="!lesson.units[currentUnitPos-1].side_notes">Essa unidade não tem nenhuma nota</h2>
                </div>
                {% include "_notes_inline.html" %}
            </div>
        </div>
        <!-- END NOTES -->
      </div>
      <!-- END ROW -->
    </section>

    <div class="row hidden-lg">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <section class="course-instructions">
              <div class="page-header-double">
                <h3><i class="icon-double-angle-right"></i> Notas do professor</h3>
              </div>
              {{ lesson.notes|timtec_markdown }}
            </section>
        </div>
    </div>

  <!-- END COURSE-VIDEO -->

  <!-- FORUM -->
  <div class="row">
    {% include "_forum_inline.html"  with course=lesson.course %}
    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
      <section class="course-instructions">
        <div class="page-header-double">
          <h3><i class="icon-double-angle-right"></i> Notas do professor</h3>
        </div>
        {{ lesson.notes|timtec_markdown }}
      </section>

      <section class="course-social" style="position:relative;overflow:hidden;">
      </section>
    </div>
  </div>
  <!-- END FORUM -->

</section>
<!-- END MAIN CONTENT -->
</div>
<!-- CONTAINER -->
{% endblock %}
