{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
{% include "_notes_angular.html" %}
        <!-- CONTAINER -->
        <div id="my-notes" class="container">
            <!-- COURSE-NOTES -->
            <div class="course-notes" ng-app="notes" ng-controller="CourseNotesCtrl">
                {% verbatim angularjs %}
                <!-- HEADER -->
                <header class="page-header-double">
                    <h3><i class="icon-double-angle-right"></i> Anotações - HTML5 - Introdução ao Front End</h3>
                </header>
                <!-- HEADER -->
                <div class="row">
                    <div class="col-sm-9 col-lg-9">
                        <!-- LESSON -->
                        <div id="lesson-{{ lesson.position }}" class="lesson" ng-repeat="lesson in lessons">
                            <!-- NOTES -->
                            <div id="lesson-{{ lesson.position }}-unit-{{ note.content_object.position }}" class="notes" ng-repeat="note in lesson.notes">
                                <h1>{{ lesson.name }} - {{ note.content_object.title }}</h1>
                                <!-- NOTE -->
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            <a href="/lesson/{{ lesson.slug }}#/{{ note.content_object.position }}"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>{{ note.text }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- END NOTE -->
                            </div>
                            <!-- END NOTES -->
                        </div>
                        <!-- END LESSON -->
                    </div>

                    <!-- LESSONS -->
                    <aside id="lessons" class="col-sm-3 col-lg-3">
                        
                        <div class="row">
                            <div class="goto-class btn-group uppercase col-lg-12 col-sm-12">
                                <a href="/lesson/{{ lessons[0].slug }}" class="col-lg-10 btn btn-success">Ir para o curso</a>
                                <a href="/lesson/{{ lessons[0].slug }}" class="col-lg-2 btn btn-success"><i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                        <ul class="well">
                            <li ng-repeat="lesson in lessons">
                                <a href="#lesson-{{ lesson.position }}">{{ lesson.name }}</a>
                                <ul>
                                    <li ng-repeat="note in lesson.notes">
                                        <a href="#lesson-{{ lesson.position }}-unit-{{ note.content_object.position }}">{{ note.content_object.title }}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                    <!-- END LESSONS -->
                </div>
                {% endverbatim angularjs %}
            </div>
            <!-- END COURSE-NOTES -->
        </div>
        <!-- CONTAINER -->
{% endblock %}