{% extends 'base.html' %}
{% load i18n %}
{% load compressed %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    {% compressed_js 'notes' %}
{% endblock %}

{% block content %}
<!-- CONTAINER -->
<div id="course" class="course-notes" ng-app="notes" ng-controller="CourseNotesCtrl">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">
        <div class="container">

            {% include "_course-header-inline.html"  with course=course question_form=false %}

            <section id="notes-content">

                <header>
                    <div class="row">
                        <div class="col-lg-9">
                            <h1>{% trans "Course Notes" %}</h1>
                        </div>
                    </div>
                </header>

                <section class="notes">
                    <p ng-if="lessons.length == 0">
                        {% trans "You have not made any notes yet." %}
                    </p>

                    {% verbatim angularjs %}
                    <div id="lesson-{{ lesson.position }}" class="lesson" ng-repeat="lesson in lessons">
                        <h2><span>Aula</span> <a href="/course/{{lesson.course}}/lesson/{{lesson.slug}}">{{ lesson.name }}</a></h2>
                        <div ng-repeat="unit in lesson.units_notes">
                            <div class="note">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <p><strong>Unidade {{unit.position + 1}}: {{unit.title}}</strong></p>
                                        <p>{{ unit.user_note.text }}</p>
                                    </div>
                                    <div class="col-lg-2 textright">
                                        <button class="btn btn-success">Editar</button>
                                        <button class="btn btn-danger" ng-click="delele_note(lesson, unit, unit.user_note)"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endverbatim angularjs %}
                </section>
            </section>
        </div>
    </div>
</div>
<!-- CONTAINER -->
{% endblock %}