{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
{% include "_notes_angular.html" %}

<!-- CONTAINER -->
<div id="my-notes" class="container" ng-app="notes" ng-controller="UserNotesCtrl">

    <header class="page-header-double">
        <h3><i class="fa fa-angle-double-right"></i> {% trans "My Notes" %}</h3>
    </header>

    <div class="courses" ng-repeat="course in courses">
        {% verbatim angularjs %}
        <div class="course">
            <div class="row">
                <div class="col-sm-8 col-lg-8">
                    <a href="/course/{{course.slug}}/mynotes/">{{course.name}}</a>
                    <small>{{course.lessons_notes.length}} {% trans "notes" %}</small>
                </div>
                <div class="col-sm-4 col-lg-4 textright">
                    <a href="/course/{{course.slug}}/mynotes/" class="btn btn-sm btn-info">Ver anotações</a>
                    <a href="/course/{{course.slug}}" class="btn btn-sm btn-success">Continuar aula</a>
                </div>
            </div>
        </div>
        {% endverbatim angularjs %}

    </div>
</div>
<!-- CONTAINER -->

{% endblock %}