{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

        <!-- CONTAINER -->
        <div id="my-notes" class="container">
            <!-- COURSE-NOTES -->
            <div class="course-notes">
                <!-- HEADER -->
                <header class="page-header-double">
                    <h3><i class="icon-double-angle-right"></i> Anotações - Introdução a Banco de Dados e SQL</h3>
                </header>
                <!-- HEADER -->

                <div class="row">
                    <div class="col-sm-9 col-lg-9">
                        <!-- LESSON -->
                        <div id="aula-1" class="lesson">
                            <!-- NOTES -->
                            <div id="aula-1-unidade-1" class="notes">
                                <h1>Aula 1 - Unidade I</h1>
                                <!-- NOTE -->
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <!-- END NOTE -->
                            
                                <!-- NOTE -->
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <!-- END NOTE -->
                            
                                <!-- NOTE -->
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <!-- END NOTE -->
                            </div>
                            <!-- END NOTES -->

                            <!-- NOTES -->
                            <div id="aula-1-unidade-2" class="notes">
                                <h1>Aula 1 - Unidade 2</h1>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END NOTES -->
                        
                            <!-- NOTES -->
                            <div id="aula-1-unidade-3" class="notes">
                                <h1>Aula 1 - Unidade 3</h1>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END NOTES -->
                        
                            <!-- NOTES -->
                            <div id="aula-1-unidade-4" class="notes">
                                <h1>Aula 1 - Unidade 4</h1>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END NOTES -->
                        
                            <!-- NOTES -->
                            <div id="aula-1-unidade-5" class="notes">
                                <h1>Aula 1 - Unidade 5</h1>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END NOTES -->
                        </div>
                        <!-- END LESSON -->

                        <!-- LESSON -->
                        <div id="aula-2" class="lesson">
                            <div id="aula-2-unidade-1" class="notes">
                                <h1>Aula 2 - Unidade I</h1>
                                <!-- NOTE -->
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <!-- END NOTE -->

                                <!-- NOTE -->
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <!-- END NOTE -->

                                <!-- NOTE -->
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <!-- END NOTE -->
                            </div>
                            <div id="aula-2-unidade-2" class="notes">
                                <h1>Aula 2 - Unidade 2</h1>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div id="aula-2-unidade-3" class="notes">
                                <h1>Aula 2 - Unidade 3</h1>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div id="aula-2-unidade-4" class="notes">
                                <h1>Aula 2 - Unidade 4</h1>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div id="aula-2-unidade-5" class="notes">
                                <h1>Aula 2 - Unidade 5</h1>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Ridiculus augue pulvinar, elementum sociis proin duis mus duis? Facilisis enim scelerisque, diam proin, velit montes phasellus? Nunc tempor porttitor. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Purus turpis nisi odio eu natoque lectus phasellus vel, in vel pulvinar, et pellentesque elementum cras, aliquet ultrices, auctor cum turpis mus! Tristique? Ut montes urna porta, duis, nec adipiscing eros massa cras? Ridiculus ac phasellus mauris, dignissim! Ac in. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-sm-1 col-lg-1">
                                            00:00
                                            <a href="aula.html"><i class="icon-play-circle icon-2x" data-toggle="tooltip" title="Assista ao vídeo"></i></a>
                                        </div>
                                        <div class="col-sm-10 col-lg-10">
                                            <p>Tortor? A natoque tempor in urna integer, mauris urna, facilisis natoque vut nunc? Dictumst, auctor! Tincidunt? Mus in in, magna habitasse ultrices, pulvinar nunc mattis! Eu porttitor, dictumst? Augue nunc sit nisi dis. Elit nascetur, scelerisque augue diam turpis. <i class="icon-pencil" data-toggle="tooltip" title="Clique para editar"></i></p>
                                        </div>
                                        <div class="col-sm-1 col-lg-1 textright"><i class="icon-remove" data-toggle="tooltip" title="Apagar nota"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END LESSON -->
                    </div>

                    <!-- LESSONS -->
                    <aside id="lessons" class="col-sm-3 col-lg-3">
                        
                        <div class="row">
                            <div class="goto-class btn-group uppercase col-lg-12 col-sm-12">
                                <a href="aula.html" class="col-lg-10 btn btn-success">Ir para o curso</a>
                                <a href="aula.html" class="col-lg-2 btn btn-success"><i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                        
                        <ul class="well">
                            <li>
                                <a href="#aula-1">Aula 1</a>
                                <ul>
                                    <li><a href="#aula-1-unidade-1">Unidade 1</a></li>
                                    <li><a href="#aula-1-unidade-2">Unidade 2</a></li>
                                    <li><a href="#aula-1-unidade-3">Unidade 3</a></li>
                                    <li><a href="#aula-1-unidade-4">Unidade 4</a></li>
                                    <li><a href="#aula-1-unidade-5">Unidade 5</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#aula-2">Aula 2</a>
                                <ul>
                                    <li><a href="#aula-2-unidade-1">Unidade 1</a></li>
                                    <li><a href="#aula-2-unidade-2">Unidade 2</a></li>
                                    <li><a href="#aula-2-unidade-3">Unidade 3</a></li>
                                    <li><a href="#aula-2-unidade-4">Unidade 4</a></li>
                                    <li><a href="#aula-2-unidade-5">Unidade 5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                    <!-- END LESSONS -->
                </div>
            </div>        
            <!-- END COURSE-NOTES -->
        </div>
        <!-- CONTAINER -->
{% endblock %}