{% extends "admin-base.html" %}

{% block content %}

<section id="courses">
    <header>
        <div class="row">
            <div class="col-lg-6">
                <h1>Cursos</h1>
            </div>
            <div class="col-lg-6 textright">
                <button class="btn btn-lg btn-success uppercase">Novo Curso</button>
            </div>
        </div>
    </header>
  
    <section id="all-courses" class="courses-list">
        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-success">Publicado</span>
                </div>
                <div class="col-lg-10">
                    <a href="">HTML5: Introdução ao Front End</a>
                </div>
            </div>
        </div>
        
        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-info">Listado</span>
                </div>
                <div class="col-lg-10">
                    <a href="">Introdução à Lógica de Programação</a>
                </div>
            </div>
        </div>

        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-warning">Rascunho</span>
                </div>
                <div class="col-lg-10">
                    <a href="">Introdução à Linguagem de Programação PHP</a>
                </div>
            </div>
        </div>

        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-warning">Rascunho</span>
                </div>
                <div class="col-lg-10">
                    <a href="">Arquitetura da Informação e Projeto de Sistemas</a>
                </div>
            </div>
        </div>

        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-warning">Rascunho</span>
                </div>
                <div class="col-lg-10">
                    <a href="">Edição e Tratamento de Imagens</a>
                </div>
            </div>
        </div>

        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-warning">Rascunho</span>
                </div>
                <div class="col-lg-10">
                    <a href="">Sete lições para a produção de textos</a>
                </div>
            </div>
        </div>

        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-warning">Rascunho</span>
                </div>
                <div class="col-lg-10">
                    <a href="">Desenho de Jogos</a>
                </div>
            </div>
        </div>

        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-warning">Rascunho</span>
                </div>
                <div class="col-lg-10">
                    <a href="">Publicação Digital em Dispositivos Móveis</a>
                </div>
            </div>
        </div>

        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-warning">Rascunho</span>
                </div>
                <div class="col-lg-10">
                    <a href="">TIM Faz Ciência</a>
                </div>
            </div>
        </div>

        <div class="course">
            <div class="row">
                <div class="col-lg-1">
                    <span class="label label-warning">Rascunho</span>
                </div>
                <div class="col-lg-10">
                    <a href="">Introdução ao Uso de Banco de Dados e SQL</a>
                </div>
            </div>
        </div>

    </section>
    <!-- END ALL-COURSES -->

</section>
<!-- END COURSES -->


{% endblock %}
