// Courses' page
// --------------------------------------------------

//## Course box used on course widget on dashboard and course list page
//##
.course-box {
    margin-bottom: 30px;

    .course-progress {
        .progress {
            border-radius: 0px;
            height: 5px;
            margin-bottom: 0;
        }
    }
    .progress-label {
        font-size: 9px;
        font-weight: 700;
        line-height: 60%;
    }
    .course-thumb-bg {
        background-position: center;
        background-size: cover;
        height: 115px;
    }
    .course-description {
        .course-title {
            font-size: 30px;
            line-height: 90%;
            margin: 5px 0;
        }
        .course-info {
            font-size: $font-size-small;

            p {
                margin: 0 0 5px 0; 
            }
            .unit-title {
                display: block;
                font-size: $font-size-base;
                font-weight: $bold;
            }
        }
    }
    .button-continue {
        background-color: $brand-primary;
        color: #fff;
        display: block;
        font-weight: $bold;
        padding: 3px;
        text-align: center; 
    }
    .course-update {
        @extend %icon-attention;
        font-size: $font-size-small;
        margin: 0; 

        &:before {
            margin-right: 5px;
        }
    }
}