// Shared forums components
// --------------------------------------------------

.forums {
    .user-icon {
        float: left;
        margin-right: 10px;
        img {
            border-radius: 50%;
        }
    }
    .info {
        color: $gray;
        margin-bottom: 5px;
        a {
            border-bottom: 1px solid transparent;
            color: $gray;
            font-weight: $bold;
            text-decoration: none;
            transition: border 0.5s ease;
            &:hover {
                border-bottom: 1px solid $gray;
            } 
        }
    }
    .actions {
        margin: 0 0 5px 50px;
    }
    .tags {
        margin-left: 50px;
        a {
            @extend %forum-tags;
        }
    }
}