// Page's headers
// --------------------------------------------------

.page-header {
    border: 0;
    margin: 20px 0 30px;
    padding: 0;
    &:first-child, &.first {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $brand-primary;
        font-size: 48px;
        font-weight: bold;
        margin: 0; 
    }
}

// Secondary page's headers
// --------------------------------------------------

.secondary-page-header {
    border: 0;
    margin: 20px 0 10px;
    padding: 0;
    &:first-child, &.first {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $brand-primary;
        font-size: 36px;
        font-weight: bold;
        margin: 0; 
    }
}