// Page's headers
// --------------------------------------------------

.page-header {
    border: 0;
    margin: 40px 0 20px;
    padding: 0;
    &:first-child {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $brand-primary;
        font-size: 36px;
        font-weight: bold;
        margin: 0; 
    }
}

// Shared course header
// --------------------------------------------------

.main-header {
    background-color: $gray-lighter;
    color: #000;
    padding: 20px 0;
    .container-fluid {
        max-width: 1050px !important;
    }
    .page-header {
        border: 0;
        margin: 0;
        h1 {
            font-size: 18px;
            margin: 0; 
            text-transform: uppercase;
            span {
                display: inline-block;
            }
        }
    }
    .course-name {
        font-size: 30px;
        margin: 0; 
        a {
            border-bottom: 2px solid transparent;
            color: $brand-primary;
            text-decoration: none;
            @include transition(border 0.5s ease);
            &:hover {
                border-color: $brand-primary; 
            } 
        }
    }
    .course-slug {
        margin-bottom: 5px;
        label {
            color: $gray-light;
            font-weight: normal;
        }
    }
    .course-details {
        font-size: $font-size-small;
        margin-top: 5px;
        text-transform: uppercase;
        .label {
            color: $gray;
            font-weight: normal;
            padding: 0;
            font-size: inherit;
        }
        a {
            color: $brand-primary;
            &:hover {
                color: darken($brand-primary, 10%);
            }
            &.course-instructor:after {
                content: " // ";
                color: black;
                margin-right: 3px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
    .course-sections {
        @media screen and (min-width: $screen-md-min) {
            text-align: right; 
        }
        a {
            border-bottom: 2px solid transparent;
            color: #000;
            display: inline-block;
            font-size: 11px;
            font-weight: $bold;
            max-width: 68px;
            vertical-align: top;
            text-align: center;
            text-decoration: none;
            text-transform: lowercase; 
            @include transition(border 0.5s ease);
            &:hover {
                border-color: #000; 
            }
            &:before {
                display: block;
                font-size: $font-size-large;
            }
        }
        .intro {
            @extend %icon-home;
        }
        .materials {
            @extend %icon-materials;
        }
        .notes {
            @extend %icon-notes;
        }
        .resume {
            @extend %icon-film;
        }
        .tools {
            @extend %icon-tools;
        }
        .dropdown {
            display: inline-block;
        }
    }
    .lesson-units {
        display: none;
        margin-top: 5px;
        @media screen and (min-width: $screen-md-min) {
            display: block;
        }
        .lesson-name {
            float: left;
            font-size: 16px;
            span {
                font-weight: $bold;
            }
        }
        .lesson-list-dropdown {
            float: left;
            button {
                background: transparent;
                border: 0;
                box-shadow: none;
                font-size: 16px;
            }
        }
    }
    .lesson-units-mobile {
        display: block;
        margin: 10px 0;
        @media screen and (min-width: $screen-md-min) {
            display: none;
        }
        .form-control {
            max-width: 400px;
        }
    }
}
.secondary-header {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 20px;
    padding-bottom: 20px;
    h1 {
        margin-top: 25px;
    }
    .btn {
        display: block;
        margin-top: 18px;
    }
}
.add-content {
    .secondary-header {
        padding-bottom: 10px;
        h2 {
            font-size: 20px;
            margin: 0;
        }
    }
}