// Page's headers
// --------------------------------------------------

.page-header-double {
    border-bottom: 1px solid $gray-lighter;
    margin: 40px 0 20px;
    padding: 0;
    h1, h2, h3, h4, h5, h6 {
        border-bottom: 1px solid $gray-lighter;
        color: $brand-primary;
        margin-bottom: 1px;
        padding-bottom: 7px;
    }
}

// Shared headers styles
// --------------------------------------------------

.main-header {
    .page-header {
        border-bottom: 1px solid $gray-lighter;
        margin-bottom: 20px;
        h1 {
            font-size: 18px;
            margin: 0; 
            text-transform: uppercase;
            span {
                display: inline-block;
            }
        }
    }
    .course-slug {
        margin-bottom: 5px;
        label {
            color: $gray-light;
            font-weight: normal;
        }
    }
    .course-details {
        text-transform: uppercase;
        font-size: 11px;
        .label {
            color: $gray-light;
            font-weight: normal;
            padding: 0;
            font-size: inherit;
        }
        a {
            color: $brand-success;
            &:hover {
                color: darken($brand-success, 10%);
            }
            &.course-instructor:after {
                content: " // ";
                color: black;
                margin-right: 3px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
}
.secondary-header {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 20px;
    padding-bottom: 20px;
    h1 {
        margin-top: 25px;
    }
    .btn {
        display: block;
        margin-top: 18px;
    }
}
.add-content {
    .secondary-header {
        padding-bottom: 10px;
        h2 {
            font-size: 20px;
            margin: 0;
        }
    }
}