// Widget's common styles
// --------------------------------------------------

.widget-topbar {
    background-color: $brand-primary;
    color: #fff;
    margin: -30px -30px 30px -30px !important;
    padding: 15px 0;

    .title {
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: $extra-bold;
        margin: 2px 0 10px;
        @media screen and (min-width: $screen-md-min) {
            margin: 2px 0;
        }
    }

    .filter {
        cursor: pointer;
        font-size: $font-size-base;
        font-weight: $semi-bold;
        text-decoration: underline; 
    }

    .button-goback {
        @extend %icon-goback;
        cursor: pointer;
        font-size: $font-size-base;
        font-weight: $semi-bold;
        margin-right: 20px;
        &:before {
            font-size: $font-size-small;
            margin-right: 5px;
        }
    }

    // pull right the last elements in large screens
    .column {
        &:last-child {
            @media screen and (min-width: $screen-md-min) {
                text-align: right;
            }
        }
    }
}

.widget-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 90%;
    margin: 0;
}

.widget-filter {
    margin: 10px 0;

    @media screen and (min-width: $screen-md-min) {
        float: right;
    }

    label {
        font-weight: 700;
        margin-right: 10px;
    }

    .form-control {
        font-size: $font-size-large;
        font-weight: 700;
        padding: 0px 15px;
    }
}

.section-title {
    border-bottom: 1px solid;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $bold;
    margin: 10px 0 20px;
    padding-bottom: 5px;
}

// Courses widget
// --------------------------------------------------

.courses-widget {
    @include card(rgba($gray,0.5));
    color: #000;

    .widget-filter {
        .form-control {
            &:focus {
                border-color: $brand-primary;
                box-shadow: none;
            }
        }
    }

    .course {
        margin-bottom: 30px;
    }

    .course-progress {
        .progress {
            border-radius: 0px;
            height: 5px;
            margin-bottom: 0;
        }
    }
    .progress-label {
        font-size: 9px;
        font-weight: 700;
        line-height: 60%;
    }
    .course-thumb-bg {
        background-position: center;
        background-size: cover;
        height: 115px;
    }
    .course-description {
        .course-title {
            font-size: 30px;
            line-height: 90%;
            margin: 5px 0;
        }
        .course-info {
            font-size: $font-size-small;

            p {
                margin: 0 0 5px 0; 
            }
            .unit-title {
                display: block;
                font-size: $font-size-base;
                font-weight: $bold;
            }
        }
    }
    .button-continue {
        background-color: $brand-primary;
        color: #fff;
        display: block;
        font-weight: $bold;
        padding: 3px;
        text-align: center; 
    }
    .course-update {
        @extend %icon-attention;
        font-size: $font-size-small;
        margin: 0; 

        &:before {
            margin-right: 5px;
        }
    }

    @media screen and (min-width: $screen-sm-min) {
        .course-thumb, .course-progress {
            padding-right: 5px !important;
        }
        .course-description, .progress-label {
            padding-left: 5px !important;
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {
    @include card(rgba(#fff,0.4));

    .widget-filter {
        @include icon(after, search);
        position: relative;
        &:after {
            color: $brand-primary;
            font-size: $font-size-large;
            position: absolute;
            right: 15px;
            top: 5px;
        }

        .form-control {
            &:focus {
                border-color: $brand-primary;
                box-shadow: none;
            }
        }
    }
    .forum-update {
        background-color: $brand-primary;
        color: #fff;
        font-weight: $extra-bold;
        margin: 0 0 20px 0; 
        padding: 20px;
    }
    .user-update {
        margin-bottom: 20px;
    }
    .thread-title {
        color: #000;
        display: block;
        font-size: $font-size-small;
        a {
            color: #000;
            &:hover {
                border-bottom: 1px solid #000;
            } 
        }
    }
}