// Widget's common styles
// --------------------------------------------------

.widget-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 90%;
    margin: 0;
}

.widget-filter {
    margin: 10px 0;

    @media screen and (min-width: $screen-md-min) {
        float: right;
    }

    label {
        font-weight: 700;
        margin-right: 10px;
    }

    .form-control {
        font-size: $font-size-large;
        font-weight: 700;
        padding: 0px 15px;
    }
}

.section-title {
    border-bottom: 1px solid;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $bold;
    margin: 10px 0;
    padding-bottom: 5px;
}

// Courses widget
// --------------------------------------------------

.courses-widget {
    @include card(rgba($gray,0.5));
    color: #000;

    .widget-filter {
        .form-control {
            &:focus {
                border-color: $brand-primary;
                box-shadow: none;
            }
        }
    }

    .course-progress {
        .progress {
            border-radius: 0px;
            height: 5px;
            margin-bottom: 0;
        }
    }
    .progress-label {
        font-size: 9px;
        font-weight: 700;
        line-height: 60%;
    }
    .course-thumb-bg {
        background-position: center;
        background-size: cover;
        height: 115px;
    }
    .course-description {
        .course-title {
            font-size: 30px;
            line-height: 90%;
            margin: 5px 0;
        }
        .course-info {
            font-size: $font-size-small;

            p {
                margin: 0 0 5px 0; 
            }
            .unit-title {
                display: block;
                font-size: $font-size-base;
                font-weight: $bold;
            }
        }
    }
    .button-continue {
        background-color: $brand-primary;
        color: #fff;
        display: block;
        font-weight: $bold;
        padding: 3px;
        text-align: center; 
    }
    .course-update {
        @extend %icon-attention;
        font-size: $font-size-small;

        &:before {
            margin-right: 5px;
        }
    }

    @media screen and (min-width: $screen-sm-min) {
        .course-thumb, .course-progress {
            padding-right: 5px !important;
        }
        .course-description, .progress-label {
            padding-left: 5px !important;
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {
    @include card(rgba(#fff,0.4));

    .widget-filter {
        @include icon(after, search);
        position: relative;
        &:after {
            color: $brand-primary;
            font-size: $font-size-large;
            position: absolute;
            right: 15px;
            top: 5px;
        }

        .form-control {
            &:focus {
                border-color: $brand-primary;
                box-shadow: none;
            }
        }
    }
    .forum-update {
        background-color: $brand-primary;
        color: #fff;
        font-weight: $extra-bold;
        margin: 0 0 20px 0; 
        padding: 20px;
    }
    .user-update {
        margin-bottom: 20px;
    }
    .user-icon {
        float: left;
        margin-right: 10px;
        img {
            border-radius: 50%;
        }
    }
    .info {
        color: $gray;
        margin-bottom: 5px;
        overflow: hidden; 
        a {
            border-bottom: 1px solid transparent;
            color: $gray;
            font-weight: $bold;
            text-decoration: none;
            transition: border 0.5s ease;
            &:hover {
                border-bottom: 1px solid $gray;
            } 
        }
        .thread {
            color: #000;
            display: block;
            font-size: $font-size-small;
            a {
                color: #000;
                &:hover {
                    border-bottom: 1px solid #000;
                } 
            }
        }
    }
    .actions {
        color: $brand-primary;
        font-size: $font-size-small;
        margin: 0 0 5px 50px;

        .button-like {
            @extend %icon-like;
        }
        .button-use {

        }
        span {
            cursor: pointer;
            margin-right: 10px;
            transition: color 0.2s ease;
            &:before {
                margin-right: 3px;
            }
            &:hover {
                color: darken($brand-primary, 10%);
            }
        }
    }
    .tags {
        margin-left: 50px;
        a {
            background-color: #fff;
            border-radius: 10px;
            display: inline-block;
            color: $gray;
            font-size: $font-size-small;
            font-weight: $bold;
            margin-right: 5px;
            padding: 3px 6px;
            text-decoration: none;
            transition: color 0.5s ease;

            &:hover {
                color: $brand-primary;
            } 
        }
    }
}