// Widget's grid system
// --------------------------------------------------

.widget {
    .line {
        @extend .row;
        &.one-column {
            .column {
                @extend .col-xs-12;
                @extend .col-sm-12;
                @extend .col-md-12;
                @extend .col-lg-12;
            }
        }
        &.two-column.fifty-fifty {
            .column {
                @extend .col-xs-12;
                @extend .col-sm-12;
                @extend .col-md-12;
                @extend .col-lg-6;

                .two-column {
                    .column {
                        @extend .col-xs-12;
                        @extend .col-sm-6;
                        @extend .col-md-6;
                        @extend .col-lg-6;
                    }
                }
                .one-column {
                    .column {
                        @extend .col-xs-12;
                        @extend .col-sm-12;
                        @extend .col-md-12;
                        @extend .col-lg-12;
                    }
                }
            }
        }
        &.two-column.forty-sixty {
            .column {
                &:first-child {
                    @extend .col-xs-12;
                    @extend .col-sm-12;
                    @extend .col-md-5;
                    @extend .col-lg-5;
                }
                &:last-child {
                    @extend .col-xs-12;
                    @extend .col-sm-12;
                    @extend .col-md-7;
                    @extend .col-lg-7;
                }
            }
        }
        &.widget-topbar.two-column.fifty-fifty, &.widget-header.two-column.fifty-fifty {
            .column {
                @extend .col-xs-12;
                @extend .col-sm-12;
                @extend .col-md-6;
                @extend .col-lg-6;
            }
        }
    }
}