// Widget's common styles
// --------------------------------------------------

.widget-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 90%;
    margin: 0;
}

.widget-filter {
    margin: 10px 0;

    @media screen and (min-width: $screen-md-min) {
        float: right;
    }

    label {
        font-weight: 700;
        margin-right: 10px;
    }

    .form-control {
        font-size: $font-size-large;
        font-weight: 700;
        padding: 0px 15px;
    }
}

.section-title {
    border-bottom: 1px solid;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $bold;
    margin: 10px 0;
    padding-bottom: 5px;
}

// Courses widget
// --------------------------------------------------

.courses-widget {
    @include card(rgba($gray,0.5));
    color: #000;

    .course-progress {
        .progress {
            border-radius: 0px;
            height: 5px;
            margin-bottom: 0;
        }
    }
    .progress-label {
        font-size: 9px;
        font-weight: 700;
        line-height: 60%;
    }
    .course-thumb-bg {
        background-position: center;
        background-size: cover;
        height: 115px;
    }
    .course-description {
        .course-title {
            font-size: 30px;
            line-height: 90%;
            margin: 5px 0;
        }
        .course-info {
            font-size: $font-size-small;

            p {
                margin: 0 0 5px 0; 
            }
            .unit-title {
                display: block;
                font-size: $font-size-base;
                font-weight: $bold;
            }
        }
    }
    .button-continue {
        background-color: $brand-primary;
        color: #fff;
        display: block;
        font-weight: $bold;
        padding: 3px;
        text-align: center; 
    }
    .course-update {
        @extend %icon-attention;
        font-size: $font-size-small;

        &:before {
            margin-right: 5px;
        }
    }

    @media screen and (min-width: $screen-sm-min) {
        .course-thumb, .course-progress {
            padding-right: 5px !important;
        }
        .course-description, .progress-label {
            padding-left: 5px !important;
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {
    @include card(rgba(#fff,0.4));
}