 <aside class="more-info">
    <div class="box">
        <h3>Fique atento</h3>
        <p>Acesse nossa <a href="https://www.facebook.com/TIMTecoficial" target="_blank">página no Facebook</a> e acompanhe as publicações do twitter na home de TIM Tec. Você fica informado sobre os lançamentos dos cursos, tem notícias sobre oportunidades de trabalho e carreira e fica sabendo de todas as novidades de TIM Tec.</p>
    </div>
    <div class="box">
        <h3>Participe</h3>
        <p>Nossa equipe está empenhada em oferecer a você os melhores professores e cursos.</p>
        <p>A única coisa que você precisa é de uma conexão internet! Invista em você. Transforme-se num profissional desejado pelo mercado.</p>
    </div>
    <div class="box">
        <h3>Como funciona?</h3>
        <ol>
            <li>Entre num curso que te interesse.</li>
            <li>Clique em “Fazer curso” e cadastre-se.</li>
            <li>Comece o curso ou espere até que ele seja lançado.</li>
            <li>Qualifique-se. Invista na sua formação. </li>
        </ol>
    </div>
</aside>
