{% load i18n %}
  <header id="main-header">
      <div class="row">
        <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7">
          <nav class="lesson-units hidden-xs">
               <h1 class="course-name">
                  <a href="{% url 'course_intro' course.slug %}">{{ course.name }}</a>
              </h1>
          </nav>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-5">
          <!-- COURSE-SECTION-NAV -->
          <nav class="course-sections">
            <a href="{% url 'course_intro' course.slug %}"><span class="has-tooltip intro" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'Intro' %}"></span></a>
            <a href="{% url 'lesson' course.slug course.first_lesson.slug %}"><span class="has-tooltip lessons" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'Lessons' %}"></span></a>
            <a href="{% url 'forum' course.slug %}"><span class="has-tooltip forum" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'Forum' %}"></span></a>
            <a href="{% url 'course_material' course.slug %}"><span class="has-tooltip material" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'Course material' %}"></span></a>
            <a href="{% url 'user_course_notes' course.slug %}"><span class="has-tooltip my-notes" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'Course notes' %}"></span></a>
          </nav>
          <!-- END COURSE-SECTION-NAV -->
        </div>
      </div>

      <!-- LESSON NAVIGATION FOR PHONE -->
      <p class="visible-xs">
          <select onchange="document.location=this.value" class="form-control">
              <option>{{course.first_lesson.name}}</option>
              {% for list_lesson in lesson.course.public_lessons %}
                  {% if list_lesson.name != lesson.name %}
                      <option value="{% url 'lesson' list_lesson.course.slug list_lesson.slug %}">{{ list_lesson.name }}</option>
                  {% endif %}
              {% endfor %}
          </select>
      </p>
      <!-- END LESSON NAVIGATION FOR PHONE -->

  </header>

