{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load timtec_markdown %}

{% block content %}

<!-- COURSE -->
<div id="course" class="course-intro">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="left-col col-lg-7 col-md-7 col-sm-12 col-xs-12 js-fullheight c1">

                    <section class="course-main" role="main">

                        <header>
                            <h1>{{course.name}}</h1>
                            {% include "_course-professors-inline.html" with course=course %}
                        </header>

                        <!-- COURSE-VIDEO -->
                        <section class="video">
                            <!-- ROW -->
                            <div class="row">
                                {% with yid=course.intro_video.youtube_id %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                        {% if yid %}
                                            <iframe id="youtube-player" type="text/html" frameborder="0" src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" allowfullscreen>
                                            </iframe>
                                        {% elif course.thumbnail %}
                                            <img class="img-responsive" src="{{ course.thumbnail.url }}">
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>
                            <!-- END ROW -->
                        </section>
                        <!-- END COURSE-VIDEO -->

                        <!-- COURSE-INFO -->
                        <section class="course-info">
                            <!-- ROW -->
                            <div class="row">
                                <!-- COL-LG-6 -->
                                <div class="application col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="page-header-double">
                                        <h3 class="top">{% trans "Why do this course?" %}</h3>
                                    </div>
                                    <div class="info">{{ course.application|timtec_markdown }}</div>
                                </div>
                                <!-- END COL-LG-6 -->
                                <!-- COL-LG-6 -->
                                <div class="requirement col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="page-header-double">
                                        <h3 class="top">{% trans "What do I have to know?" %}</h3>
                                    </div>
                                    <div class="info">{{ course.requirement|timtec_markdown }}</div>
                                </div>
                                <!-- END COL-LG-6 -->
                            </div>
                            <!-- END ROW -->
                        </section>
                        <!-- END COURSE-INFO -->
                    </section>

                    <div class="row">
                        <!-- COURSE-LESSONS -->
                        <section class="lessons col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- PAGE-HEADER-DOUBLE -->
                            <div class="page-header-double">
                                <h3>{% trans "Estrutura do Curso" %}</h3>
                                <p>{{ course.structure|timtec_markdown }}</p>
                            </div>
                            <!-- END PAGE-HEADER-DOUBLE -->
                            {% if user.is_authenticated and course.has_started %}
                            <!-- FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                            {% for lesson in course.public_lessons %}
                                <!-- LESSON -->
                                <div class="lesson row">
                                    <!-- COL-LG-3 -->
                                    <div class="col-lg-3 col-sm-3 col-sm-3 hidden-xs">
                                        <img src="{{ lesson.thumbnail }}" class="img-thumbnail img-responsive">
                                    </div>
                                    <!-- END COL-LG-3 -->

                                    <!-- COL-LG-9 -->
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                        <p>
                                            {% if lesson.is_ready and user_is_enrolled %}
                                                <a href="{% url 'lesson' course.slug lesson.slug %}" class="title">{{ lesson.name }}</a>
                                            {% else %}
                                                <span class="title">{{ lesson.name }}</span>
                                            {% endif %}
                                            <div class="description">{{ lesson.desc|timtec_markdown }}</div>
                                        </p>

                                        <!-- HIDDEN-XS -->
                                        <div class="hidden-xs">
                                            <!-- TABLE -->
                                            <table class="units table ">
                                                <!-- TR -->
                                                <tr>
                                                    <!-- FOR UNIT IN UNITS -->
                                                    {% for unit in lesson.units.all %}
                                                        <!-- TD -->
                                                        <td>
                                                            {% if lesson.is_ready and user_is_enrolled %}
                                                                <a class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                                                                   data-toggle="tooltip" data-placement="bottom"
                                                                   data-original-title="Unidade {{ forloop.counter }}"
                                                                   href="{% url 'lesson' course.slug lesson.slug %}#/{{ forloop.counter }}">
                                                                   {% if unit.activities.all %}
                                                                       <i class="fa fa-list"></i>
                                                                   {% endif %}
                                                                </a>
                                                            {% else %}
                                                                <span class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                                                                      data-toggle="tooltip" data-placement="bottom"
                                                                      data-original-title="Unidade {{ forloop.counter }}">
                                                                      {% if unit.activities.all %}
                                                                          <i class="fa fa-list"></i>
                                                                      {% endif %}
                                                                </span>
                                                            {% endif %}
                                                        </td>
                                                        <!-- END TD -->
                                                    {% endfor %}
                                                    <!-- END FOR -->
                                                </tr>
                                                <!-- END TR -->
                                            </table>
                                            <!-- END TABLE -->
                                        </div>
                                        <!-- END HIDDEN-XS -->

                                        {% if lesson.is_ready %}
                                            <p><i class="fa fa-youtube-play"></i> <small>{{ lesson.video_count }} {% trans "videos" %}</small> | <i class="fa fa-list"></i> <small>{{ lesson.activity_count }} {% trans "activities" %}</small></p>
                                        {% endif %}
                                    </div>
                                    <!-- END COL-LG-9 -->
                                </div>
                                <!-- END LESSON -->
                            {% endfor %}
                            <!-- END FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                            {% endif %}
                        </section>
                        <!-- END COURSE-LESSONS -->
                    </div>
                </div>
                <div class="right-col col-lg-5 col-md-5 col-sm-12 col-xs-12 js-fullheight c2">
                    <div class="buttons row">
                        {% if course.first_lesson.slug %}
                            {% if user_is_enrolled %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                {% if course.has_started %}
                                    <a href="{% url "lesson" course.slug course.first_lesson.slug %}" class="js-login-required">{% trans "Resume" %}</a>
                                {% else %}
                                    <span href="#" class="has-tooltip js-login-required uppercase" data-toggle="tooltip" data-placement="bottom" data-original-title="{% blocktrans with start_date=course.start_date|date:"d/m/Y" %}Este curso começa dia {{ start_date }} e você já está inscrito{% endblocktrans %}" title="{% blocktrans with start_date=course.start_date|date:"d/m/Y" %}Este curso começa dia {{ start_date }} e você já está inscrito{% endblocktrans %}">{% trans "Resume" %}</span>
                                {% endif %}
                                </div>
                            {% else %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    {% if course.has_started %}
                                    <a
                                    {% if user.is_authenticated %}
                                        onClick="ga('send', 'event', 'course', 'take the course', 'authenticated user', 1);"
                                    {% else %}
                                        onClick="ga('send', 'event', 'course', 'take the course', 'authenticated user', 0);"
                                    {% endif %}
                                    href="{% url "enroll_course" course.slug %}" class="js-login-required uppercase">{% trans "Take the Class" %}</a>
                                    {% else %}
                                        <span href="#" class="has-tooltip js-login-required uppercase" data-toggle="tooltip" data-placement="bottom" data-original-title="{% blocktrans with start_date=course.start_date|date:"d/m/Y" %}Este curso começa dia {{ start_date }} e você já está inscrito{% endblocktrans %}" title="{% blocktrans with start_date=course.start_date|date:"d/m/Y" %}Este curso começa dia {{ start_date }} e você já está inscrito{% endblocktrans %}">{% trans "Resume" %}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class=" col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 textright">
                            <a href="#" class="share-facebook" onclick="window.open(
                              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                              'fb-share-dialog',
                              'width=626,height=436');
                            return false;">Compartilhar</a>
                        </div>
                    </div>

                    <!-- COURSE-SUMMARY - VISIBLE ONLY FOR PHONES -->
                    <section class="summary row">
                        <!-- COL-XS-12 -->
                        <div class="col-xs-12">
                            <!-- ABSTRACT -->
                            <div class="page-header-double top">
                                <h3 class="top">{% trans 'Abstract' %}</h3>
                            </div>
                            {{course.abstract|timtec_markdown}}
                            <!-- END ABSTRACT -->
                        </div>
                        <!-- END COL-XS-12 -->
                    </section>
                    <!-- END COURSE-SUMMARY - VISIBLE ONLY FOR PHONES -->

                    <!-- COURSE-INSTRUCTORS -->
                    {% if course.courseprofessor_set.all %}
                        <section class="instructors row">
                            <div class="col-lg-12 col-sm-12">
                                {% for course_professor in course.courseprofessor_set.all %}
                                    <div id="{{ course_professor.user.username }}" class="instructor row">
                                        <div class="instructor-photo col-lg-4 col-md-5 col-sm-4">
                                            <img src="{{ course_professor.user.get_picture_url }}">
                                        </div>
                                        <div class="instructor-info col-lg-12 col-md-12 col-sm-8">
                                            <h3 class="fullname bottom top">{{ course_professor.user.first_name }} {{ course_professor.user.last_name }}</h3>
                                            <h4 class="job-title top">{{ course_professor.get_job_display }}</h4>
                                            <p>{{ course_professor.biography|timtec_markdown }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                    <!-- END COURSE-INSTRUCTORS -->
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .content -->
</div>
<!-- END COURSE -->

{% endblock %}
