{% extends 'default:header.html' %}
{% load i18n %}

{% block header_navbar %}
    <h1 class="text-hide"><a href="http://institutotim.org.br/">Instituto TIM</a></h1>
    <h2 class="text-hide"><a href="{% url 'home_view' %}">TIMTec</a></h2>
{% endblock %}

{% block header_site_nav %}
    <li><a href="/pages/institute">{% trans 'Instituto TIM' %}</a></li>
	<li><a href="/pages/about">{% trans 'About' %} <span class="tim">TIM</span><span class="tec">Tec</span></a></li>
	<li class="contact-link"><a href="#" data-toggle="modal" data-target="#modal-contact">{% trans 'Contact' %}</a></li>
	<li><a href="{% url 'courses' %}">{% trans 'Courses' %}</a></li>
	<li class="navbar-divider"></li>
{% endblock %}

{% block header_user_menu %}
	<a class="username dropdown-toggle" data-toggle="dropdown" href="#">
		<span>{% trans 'My area' %}</span>
		<i class="fa fa-caret-down"></i>
	</a>
	<ul class="dropdown-menu user-menu">
		<li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
		<li><a href="{% url 'profile_edit' %}">{% trans "Edit Profile and Account Settings" %}</a></li>
		<li><a href="{% url 'user_courses' %}">{% trans "My Courses" %}</a></li>
		<li><a href="{% url 'user_notes' %}">{% trans "My Notes" %}</a></li>
		<li><a href="{% url 'timtec_logout' %}?next={{ request.path }}">{% trans "Logout" %}</a></li>
	</ul>
{% endblock %}
