// COURSE CONTENT
#course-content {

    > .row {
        > div:first-child {
            @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
                .make-md-column(8);
            }
            @media (min-width: @screen-lg-min) {
                .make-lg-column(7);
            }

        }
        > div:nth-child(2) {
            background: #EFEFEF;
            @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
                .make-md-column(4);
            }
            @media (min-width: @screen-lg-min) {
                .make-lg-column(5);
            }
        }
    }

    // COURSE INFO - Course intro
    // ********************************************************************* //
    .course-info {
        margin-top: 40px;
        .page-header-double {
            margin-top: 0;
        }
        .application {
            border-right: 2px solid @gray-light;
        }
        .requirement {
            h3 {
                color: @brand-primary;
            }
        }
        .structure {
            margin-top: 40px;
        }
    }

    // COURSE SUMMARY - Course intro
    // ********************************************************************* //
    .summary {
        margin-top: 20px;
        .abstract {
            .page-header-double {
                margin-top: 0;
            }
            h3 {
                color: @brand-primary;
            }
        }
    }

    // COURSE LESSONS - Course intro
    // ********************************************************************* //
    .lessons {
        .lesson {
            background-color: #fff;
            border-radius: @border-radius-base;
            padding: 15px 0;
            margin-bottom: 20px;
        }
        // END LESSON
    }
      // END LESSONS

    // COURSE INSTRUCTORS - Course intro
    // ********************************************************************* //
    .instructors {
        h1.fullname {
            margin-bottom: 10px;
        }
        .thumbnail {
            padding: 0px;
            border: none;
            border-radius: 0;
            transition: none;
            width: 100%;
        }
    }
    // END INSTRUCTORS

    // NEXT LESSON
    // ********************************************************************* //
    .next-lesson {
        border: 1px solid #eeeeee;
        padding: 40px 20px;
        position: relative;
        text-align: center;
        @media (min-width: @screen-lg-min) {
            height: 424px;
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            height: 349px;
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            height: 372px;
        }
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        .btn {
            span {
                float: left;
            }
            .fa {
                float: right;
                font-size: 18px;
                margin: 1px 0 0 10px;
            }
        }
    }

    // COURSE NOTES - General
    // ********************************************************************* //
    #student-notes {
        @media (max-width: @screen-sm-max) { margin-top: 20px; }
    }
    .notes {
        textarea {
            @media (min-width: @screen-lg-min) { height: 310px; }
            @media (max-width: @screen-sm-max) { width: 100%; }
        }
    }

    // COURSE UNITS - General
    // ********************************************************************* //
    .units {
        a.unit {
            cursor: pointer;
        }
    }
}

// UPLOADED FILES LIST
ul.uploaded-files-list {
    li {
        border-bottom: 1px solid fade(@brand-primary, 20%);
    }
}
