// FORUM
// ********************************************************************* //

#forum-content {
    .filters {
        margin: 30px 0;
    }
}

// COURSE FORUM INLINE
// ********************************************************************* //

#course-content {
    .forum-inline {
        .page-header-double {
            margin-top: 30px;
            h3 {
                color: @brand-primary;
            }
        }
    }
}

