// HOMEPAGE
// ********************************************************************* //

#home {
    @media screen and (min-width: @screen-sm-min) { margin-top: -50px; }

    // banner
    #highlight {
        background-image: url(../img/banner-home.jpg);
        background-position: bottom center;
        background-size: cover;
        max-height: 630px;
        text-align: center;
        .text {
            color: #000000;
            height: 630px;
            left: initial;
            position: relative;
            right: initial !important;
            top: initial;
            h1 {
                font-family: ek-mukta-extralight;
                font-size: 66px;
                margin-bottom: 0;
            }
            h3 {
                font-family: ek-mukta-extralight;
                font-size: 42px;
                color: #817D7B;
                margin-top: 0;
            }
        }
        @media (max-width: @screen-sm-max) {
            .text {
                display: none;
            }
        }
    } // #hightlight

    // page title
    header {
        padding-bottom: 10px;
        h1 {
            color: @brand-primary;
            font-family: "jelly";
            font-size: 30px;
        }
    } //.page-title

    // courses section
    #courses {
        .course {
            .info {
                height: 120px;
                h3 {
                    margin-bottom: 5px;
                }
                .abstract {
                    display: none;
                }
            }
            .enroll {
                font-family: ek-mukta-extralight;
            }
        }
        header {
            margin: 0;
            .row {
                h1 {
                    display: none;
                }
            }
        }
    } // #courses

    // how it works
    #how-it-works {
        background-color: @brand-light;
        header {
          border-bottom: none;
        }
        .highlight {
            border-bottom: 2px dashed @brand-primary;
        }
        .block {
            .info {
                @media (min-width: @screen-sm-min) {
                    height: 340px;
                }
                h3 {
                    color: @brand-primary;
                    font-size: 20px;
                    font-family: 'jelly';
                    @media (min-width: @screen-lg-min) {
                        font-size: 36px;
                    }
                }
            }
        }
    } // #how-it-works
}
