// USERS ADMIN
// ********************************************************************* //
#users {
    .filters {
        .form-group {
            margin-bottom: 0;
            @media screen and (min-width: 600px) {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .filter-checkbox {
            margin-right: 5px;
            @media screen and (max-width: $screen-sm-max) {
                margin-bottom: 0;
            }
            .checkbox {
                margin: 0;
                @media (max-width: 599px) {
                    margin-top: 6px;
                }
                label {
                    margin-bottom: 0;
                    @media (max-width: 599px) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        #keyword {
            display: inline-block;
            width: auto;
            @media screen and (min-width: 600px) {
                margin-right: 15px;
            }
        }
    }
}
