{% load i18n %}
{% load staticfiles %}

<div class="container">
    <div class="ifs-certificate-container">
        {% if cert_template.pronatec_logo %}
        <div class="pronatec-logo">
            <img alt="Logo Instituto" src="{% static 'img/logopronatec.svg' %}">
        </div>
        {% endif %}
        {% if cert_template.mec_logo %}
        <div class="brasil-logo">
            <img alt="Logo Instituto" src="{% static 'img/logobrasil.svg' %}">
        </div>
        {% endif %}
        {% if cert_template.cert_logo_url %}
        <div class="institute-logo">
            <img alt="Logo Instituto" src="{{ cert_template.cert_logo_url }}">
        </div>
        {% endif %}
        <div class="text-center certificate-info">
            <p>O <span class="institute">{{ cert_template.organization_name }}</span></p>
            <p>certifica que</p>
            <h2 class="student">{{ object.course_student.user.get_full_name }}</h2>
            <p>
                Concluiu o curso de <strong>{{ object.course_student.course.name }}</strong>, com <strong>40</strong> horas em {{ object.modified_date | date:"d/m/Y" }}
            </p>

            <!-- TODO inserir edição de cidade -->
            <!--<p>-->
                <!--<strong>Campinas/SP</strong>, <strong>12</strong> de <strong>setembro</strong> de 20<strong>15</strong>.-->
            <!--</p>-->
        </div>
        <footer class="text-right">
            <div class="coordinator-section">
                <div class="name-coordinator">
                    <span><strong>{{ cert_template.name }}</strong></span>
                </div>
                <div class="role-coordinator">
                    <span>{{ cert_template.role }}</span>
                </div>
            </div>
            <div class="credits">
                <p>Realizado em: {{ site.domain }}</p>
                <p>URL de validação: <a href="{% url 'certificate' object.link_hash %}">{{ site.domain }}{% url 'certificate' object.link_hash %}</a></p>
            </div>

        </footer>
    </div>

</div>
