{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- TODO arrumar o link de impressão com a hash -->
        <a href="print" class="btn btn-default pull-right hidden-print"><i class=" glyphicon glyphicon-print"></i> Imprimir</a>
    </div>
    <div class="certificate-container">
        <div class="institute-logo">
            <img alt="Logo Instituto" src="">
        </div>
        <div class="text-center certificate-info">
            <!-- TODO colocar os dados corretos da instituição-->
            <p>O <span class="institute">INSTITUTO FEDERAL DE SÃO PAULO</span> certifica que</p>
            <!-- TODO colocar os dados corretos do usuário -->
            <h2 class="student">Maria Fernanda da Silva Pereira</h2>
            <p>
                concluiu o curso de <strong>Nome do curso</strong>, com <strong>120</strong> horas,
                no período de 01 de junho a 31 de agosto de 2015, no âmbito PRONATEC - Programa Nacional
                de Acesso ao Ensino Técnico e Emprego.
            </p>
            <!-- TODO colocar o nome correto do curso e carga horária -->
            <p>
                <strong>Campinas/SP</strong>, <strong>12</strong> de <strong>setembro</strong> de 20<strong>15</strong>.
            </p>
        </div>
    </div>
    <footer class="text-right">
        <!-- TODO colocar a data de emissão e código do certificado -->
        <p>Emitido em <span>18/08/2015</span></p>
        <p>Código de validação: <span> -código- </span></p>
    </footer>

</div>
{% endblock %}
