        <div class="question textleft">
            <h1>{{ currentUnit.activity.data.question }}</h1>
        </div>
        <div class="answers">
            <table class="table">
                <tr ng-repeat="alt in alternatives">
                    <td class="textcenter">
                        <input ng-model="$parent.answer.given" type="radio" name="unit-{{currentUnitId}}-alt"
                               id="optionradio-{{$index}}" ng-value="$index" _data-toggle="radio"/>
                    </td>
                    <td>
                        <label class="_radio" for="optionradio-{{$index}}">
                            {{ alt.title }}
                        </label>
                    </td>
                </tr>
            </table>
        </div>
