        <div class="question textleft">
            <h1>{{ currentUnit.activity.question }}</h1>
        </div>
        <div class="answers">
            <table class="table">
                <thead>
                    <tr>
                        <td class="textcenter">Verdadeiro</td>
                        <td class="textcenter">Falso</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="alt in alternatives">
                        <td class="textcenter">
                            <input ng-model="$parent.answer.given[$index]" type="radio"
                                   name="unit-{{currentUnitId}}-alt-{{$index}}"
                                   id="optioncheckbox-{{$index}}" ng-value="true" _data-toggle="checkbox"/>
                        </td>
                        <td class="textcenter">
                            <input ng-model="$parent.answer.given[$index]" type="radio"
                                   name="unit-{{currentUnitId}}-alt-{{$index}}"
                                   id="optioncheckbox-{{$index}}" ng-value="false" _data-toggle="checkbox"/>
                        </td>
                        <td>
                            <label class="_checkbox" for="optioncheckbox-{{$index}}">
                                {{ alt.title }}
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="submit textcenter clearfix">
                <div class="alignleft"><button class="btn btn-default">Pular</button></div>
                <div class="alignright">
                    <button class="btn btn-info">Rever Vídeo</button>
                    <button class="btn btn-success" ng-click="sendAnswer()">Enviar</button>
                </div>
            </div>
        </div>
