        <div class="question textleft">
            <h1>{{ currentUnit.activity.data.question }}</h1>
        </div>
        <div class="answers">
                <div ng-repeat="alt in alternatives">
                    <label class="radio">
                    <input ng-model="$parent.answer.given" type="radio" name="unit-{{currentUnitId}}-alt"
                           id="optionradio-{{$index}}" ng-value="$index" radio />
                        {{ alt.title }}
                    </label>
                </div>
            </table>
        </div>
