        <div class="question textleft">
            <h1>{{ currentUnit.activity.data.question }}</h1>
        </div>
        <div class="answers">
            <table class="table">
                <thead>
                    <tr>
                        <td class="textcenter">Verdadeiro</td>
                        <td class="textcenter">Falso</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="alt in alternatives">
                        <td class="textcenter">
                        <label class="radio">
                            <input ng-model="$parent.answer.given[$index]" type="radio"
                                   name="unit-{{currentUnitId}}-alt-{{$index}}"
                                   id="optioncheckbox-{{$index}}" ng-value="true" radio/>
                        </label>
                        </td>
                        <td class="textcenter">
                        <label class="radio">
                            <input ng-model="$parent.answer.given[$index]" type="radio"
                                   name="unit-{{currentUnitId}}-alt-{{$index}}"
                                   id="optioncheckbox-{{$index}}" ng-value="false" radio/>
                        </label>
                        </td>
                        <td>
                            <label class="_checkbox" for="optioncheckbox-{{$index}}">
                                {{ alt.title }}
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
