    <div class="course-activity {{currentUnit.activity.type}}">
        <div class="question textleft">
            <h1>{{ currentUnit.activity.question }}</h1>
        </div>
        <div class="answers">
            <table class="table">
                <thead>
                    <tr>
                        <th class="textleft" colspan="2">Coluna 1</th>
                        <th class="textleft" colspan="2">Coluna 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="alt in currentUnit.activity.column1 track by $index">
                        <td class="textcenter"> {{ $index+1 }}. </td>
                        <td class="textleft">
                            {{ alt }}
                        </td>

                        <td class="textright col-lg-2">
                            <input ng-model="$parent.answer.given[$index]" type="number"
                                   name="unit-{{currentUnitId}}-alt-{{$index}}"
                                   class="form-control"
                                   id="optioncheckbox-{{$index}}" />
                        </td>
                        <td class="textleft">
                            <label for="optioncheckbox-{{$index}}">
                                {{ currentUnit.activity.column2[$index] }}
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="submit textcenter clearfix">
                <div class="alignleft"><button class="btn btn-default">Pular</button></div>
                <div class="alignright">
                    <button class="btn btn-info">Rever Vídeo</button>
                    <button class="btn btn-success" ng-click="sendAnswer()">Enviar</button>
                </div>
            </div>
        </div>
    </div>