    <div class="activity {{currentUnit.activity.type}} col-lg-12">
        <div class="question textcenter">
            <h1>{{ currentUnit.activity.question }}</h1>
        </div>
        <div class="answers">
            <table class="table">
                <tr ng-repeat="alt in alternatives" class="{{ alt.eval }}">
                    <td class="textcenter">
                        <label class="_checkbox" for="optioncheckbox-{{$index}}">
                            <input ng-model="$parent.answer.choice" type="checkbox" name="unit-{{currentUnitId}}-alt"
                                   id="optioncheckbox-{{$index}}" ng-value="$index" _data-toggle="checkbox"/>
                        </label>
                    </td>
                    <td>{{ alt.title }}</td>
                </tr>
            </table>

            <div class="submit textcenter clearfix">
                <div class="alignleft"><button class="btn btn-default">Pular</button></div>
                <div class="alignright">
                    <button class="btn btn-info">Rever Vídeo</button>
                    <button class="btn btn-success" ng-click="sendAnswer()">Enviar</button>
                </div>
            </div>
        </div>
    </div>