<div class="col-lg-1 col-sm-1">
  <a style="display:block;" ng-repeat="unit in lesson.units" href="#/{{ $index }}" class="has-tooltip unit track" ng-class="{watching: $index == currentUnitPos, done: lesson.units[$index].progress.complete}" data-toggle="tooltip" data-placement="right" data-original-title="{{ unit.position + 1 }}">
    <i class="icon-caret-right" ng-if="$index == currentUnitPos"></i>
    <span class="position">{{ unit.position + 1 }}</span>
    <i class="icon-list" ng-if="unit.activity !== null"></i>
  </a>
</div>

<div class="course-activity col-sm-8 col-lg-8 left">
    <!-- ACTIVITY -->
    <ng:include src="activity_template" ng-class="{correct: isCorrect, wrong: (isCorrect===false)}"></ng:include>
    <!-- END ACTIVITY -->
</div>
