<div class="col-lg-1 col-sm-1">
  <a style="display:block;" ng-repeat="unit in lesson.units" href="#/{{ $index }}" class="has-tooltip unit track" ng-class="{watching: $index == currentUnitPos, done: lesson.units[$index].progress.complete}" data-toggle="tooltip" data-placement="right" data-original-title="{{ unit.position + 1 }}">
    <i class="icon-caret-right" ng-if="$index == currentUnitPos"></i>
    <span class="position">{{ unit.position + 1 }}</span>
    <i class="icon-list" ng-if="unit.activity !== null"></i>
  </a>
</div>

<div class="course-activity col-sm-8 col-lg-8 left">

    <ng:include src="activity_template"></ng:include>

    <p ng-show="isCorrect" class="text-center correct">
        <strong>Sua resposta está correta!</strong>
    </p>
    <p ng-show="isCorrect === false" class="text-center wrong">
        <strong>Sua resposta está incorreta. Reveja o vídeo com mais atenção e tente de novo.</strong>
    </p>

    <div class="submit textcenter clearfix">
        <div class="alignleft"><button class="btn btn-default">Pular</button></div>
        <div class="alignright">
            <button class="btn btn-info">Rever Vídeo</button>
            <button class="btn btn-success" ng-click="sendAnswer()">Enviar</button>
        </div>
    </div>
</div>
