{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="activation-accomplished" class="container">
    <div class="centered">
        <h1>Login</h1>

        <form method="post" action="{% url 'timtec_login' %}" class="form-horizontal">{% csrf_token %}
            <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                <label class=" col-lg-3 control-label">{% trans "Login" %}</label>
                <div class=" col-lg-9">
                    <input name="username" type="text" class="form-control"
                           value="{{login_form.username.value}}" placeholder="Qual o seu email?"/>
                    {% for error in login_form.username.errors %}
                    <small>{{error}}</small>
                    {% endfor error in %}
                </div>
            </div>
            <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                <label class=" col-lg-3 control-label">Senha</label>
                <div class=" col-lg-9">
                    <input name="password" type="password" class="form-control" placeholder="Senha">
                    {% for error in login_form.password.errors %}
                    <small>{{error}}</small>
                    {% endfor %}
                    {% for error in login_form.non_field_errors %}
                    <small>{{error}}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="submit">
                <div class="row">
                    <div class=" col-lg-8">
                        <a href="{% url 'auth_password_reset' %}">Esqueci minha senha</a>
                    </div>
                    <div class=" col-lg-4 textright">
                        <button class="btn btn-success">Entrar</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
})
</script>

{% endblock %}
