{% load i18n %}

<!-- Modal -->
<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="{% url 'timtec_login' %}">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="loginModalLabel">Login</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                            <label class="col-sm-3 col-lg-3 control-label">E-mail</label>
                            <div class="col-sm-9 col-lg-7">
                                <input name="username" type="email" class="form-control"
                                       value="{{login_form.username.value}}" placeholder="Qual o seu email?"/>
                                {% for error in login_form.username.errors %}
                                <small>{{error}}</small>
                                {% endfor error in %}
                            </div>
                        </div>
                        <div class="form-group{% if login_form.errors %} has-error{% endif %}">
                            <label class="col-sm-3 col-lg-3 control-label">{% trans 'Password' %}</label>
                            <div class="col-sm-9 col-lg-7">
                                <input name="password" type="password" class="form-control" placeholder="Senha">
                                {% for error in login_form.password.errors %}
                                <small>{{error}}</small>
                                {% endfor %}
                                {% for error in login_form.non_field_errors %}
                                <small>{{error}}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="next" />
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                    <button class="btn btn-primary btn-success">{% trans "Enter" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
