{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="activation-accomplished" class="container">
    <div class="centered">
        <h1 class="textcenter">
            <i class="icon-thumbs-up-alt"></i><br/>
            {% trans "Password reset complete" %}</br>
        </h1>
        <form onclick="event.stopPropagation()" method="post" action="{% url 'timtec_login' %}" class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <label class="col-lg-3 control-label">E-mail</label>
                <div class="col-lg-9">
                    <input name="username" type="email" class="form-control" placeholder="Qual o seu email?" autofocus="autofocus"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Senha</label>
                <div class="col-lg-9">
                    <input name="password" type="password" class="form-control" placeholder="Senha">
                </div>
            </div>
            <div class="submit">
                <div class="row">
                    <div class="col-lg-8">
                        <a href="">Esqueci minha senha</a>
                    </div>
                    <div class="col-lg-4 textright">
                        <button class="btn btn-success">Entrar <i class="icon-signin"></i></button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{% url 'home_view' %}"/>
        </form>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
})
</script>

{% endblock %}