{% extends 'base.html' %}

{% block content %}

<div id="activation-accomplished" class="container">
    <div class="centered">
        <h1 class="textcenter">
            <i class="icon-frown"></i><br/>
            Esqueci minha senha
        </h1>
        <form onclick="event.stopPropagation()" method="post" action="{% url 'auth_password_reset' %}" class="form-horizontal">{% csrf_token %}

            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <p>Coloque seu e-mail para que possamos enviar as <br/> instruções para a recuperação da sua senha.</p>
                <div class="col-lg-12 col-sm-12">
                    <p><input name="email" type="email" class="form-control" placeholder="Qual o seu email?"></p>
                    {% for error in errors %}<small>{{ error }}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            <div class="submit textcenter">
                <button class="btn btn-success">Enviar</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
})
</script>

{% endblock %}
