{% extends 'base.html' %}

{% block content %}

<div id="activation-accomplished" class="container">
    <div class="centered">
        <h1>Password reset</h1>
        <form onclick="event.stopPropagation()" method="post" action="{% url 'auth_password_reset' %}" class="form-horizontal">{% csrf_token %}

            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label class="col-sm-4 col-lg-4 control-label">E-mail</label>
                <div class="col-sm-8 col-lg-8">
                    <input name="email" type="email" class="form-control" placeholder="Qual o seu email?">
                    {% for error in errors %}<small>{{ error }}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            <div class="submit textright">
                <button class="btn btn-success">Reset</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
})
</script>

{% endblock %}
