{% extends 'base.html' %}

{% block content %}

<div id="activation-accomplished" class="container">
    <div class="centered">
        <h1 class="bottom">
            <i class="icon-inbox"></i><br/>
            Confira sua caixa postal!<br/>
        </h1>
        <h3>Enviamos um e-mail com as instruções <br/>para recuperar a sua senha</h3>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
})
</script>

{% endblock %}