{% extends 'base.html' %}

{% block content %}

<div id="activation-accomplished" class="container">
    <div class="centered">
        <h1>
            <i class="icon-unlock-alt"></i><br/>
            {% trans "Change your password" %}
        </h1>
        <form onclick="event.stopPropagation()" method="post" class="form-horizontal">{% csrf_token %}

            {% with errors=form.new_password2.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">

                <div class="2 col-lg-12">
                    <p><input name="new_password1" type="password" class="form-control" placeholder="{{form.new_password1.label}}"></p>
                    <input name="new_password2" type="password" class="form-control" placeholder="{{form.new_password2.label}}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
            </div>
            {% endwith %}

            <div class="submit">
                <button class="btn btn-success">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
})
</script>

{% endblock %}
