{% extends 'base.html' %}

{% block content %}

<div id="activation-accomplished" class="container">
    <div class="centered">
        <h1 class="textcenter">
            <i class="icon-inbox"></i><br/>
            Validation email sent.<br/>
            Check your inbox!
        </h1>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    windowHeight = window.innerHeight;
    navbarHeight = $('#main-navbar').innerHeight();
    footerHeight = $('#main-footer').innerHeight();
    $('#activation-accomplished').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
    $('#activation-accomplished').on('click', function(e) {
        e.preventDefault();
        $('.navbar').find('.dropdown-signin').toggle();
    })
})
</script>

{% endblock %}