// Helpers
// --------------------------------------------------
// generic and multi-purpose classes and placeholders

//== Icon's placeholders
// 
%icon {
    &-angle-right {
        @include icon(after, angle-right);
    }
    &-attention {
        @include icon(before, attention);
    }
    &-chat {
        @include icon(before, chat);
    }
    &-comment {
        @include icon(before, comment);
    }
    &-compress {
        @include icon(after, compress);
    }
    &-courses {
        @include icon(before, courses);
    }
    &-discussion {
        @include icon(before, discussion);
    }
    &-expand {
        @include icon(after, expand);
    }
    &-f-register {
        @include icon(before, register-forum);
    }
    &-film {
        @include icon(before, film);
    }
    &-filter {
        @include icon(before, filter);
    }
    &-forum {
        @include icon(before, forum);
    }
    &-goback {
        @include icon(before, goback);
    }
    &-help {
        @include icon(before, help);
    }
    &-home {
        @include icon(before, home);
    }
    &-like {
        @include icon(before, like);
    }
    &-login {
        @include icon(before, login);
    }
    &-logout {
        @include icon(before, logout);
    }
    &-materials {
        @include icon(before, materials);
    }
    &-map-pin {
        @include icon(before, map-pin);
    }
    &-notes {
        @include icon(before, notes);
    }
    &-notifications {
        @include icon(before, notifications);
    }
    &-occupation {
        @include icon(before, occupation);
    }
    &-profile {
        @include icon(before, profile);
    }
    &-register {
        @include icon(before, register);
    }
    &-repositories {
        @include icon(before, repositories);
    }
    &-save {
        @include icon(before, save);
    }
    &-site {
        @include icon(before, site);
    }
    &-tools {
        @include icon(before, tools);
    }
    &-undo {
        @include icon(before, undo);
    }
    &-use {
        @include icon(before, use);
    }
}

// List styles

%list-inline {
    padding-left: 0;
    list-style: none;
    margin: 0 0 0 -5px;

    li {
        display: inline-block;
    }
}

// this class exists to circunvent a flash + youtube api error
// in which if the video div is really hidden the api breaks
.hidder {
    position: absolute;
    left: -3000px;
}