// Variables
// --------------------------------------------------

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    "Questrial", $font-family-sans-serif !default;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
$icon-font-path:        "../bower_components/font-awesome/fonts/" !default;

//** File name for all font files.
$icon-font-name:        "fontawesome-webfont" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id:      "fontawesomeregular" !default;
