// Variables
// --------------------------------------------------
// Override Boostrap's variables


//== Typography

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    "Questrial", $font-family-sans-serif !default;

//== Iconography
//
//## Specify custom location and filename of the included FontAwesome icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
$icon-font-path:        "../bower_components/font-awesome/fonts/" !default;

//** File name for all font files.
$icon-font-name:        "fontawesome-webfont" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id:      "fontawesomeregular" !default;


// Declare specifc project variables 
// --------------------------------------------------

//== Specific component colors
//
//** Site header background color
$site-header-bg-color:      #fff !default;

//** Main navigation background color
$main-nav-bg-color:         #aaa !default;

//** User info background color
$user-info-bg-color:        $main-nav-bg-color !default;

//== Icons

//** Set icon's font family
$icon-font-family:      "FontAwesome";

//** Map icon names to font unicode characters
$icons: (
    attention: "\f06a",
    chat: "\f27a",
    comment: "\f0e5",
    courses: "\f12e",
    forum: "\f10d",
    help: "\f059",
    goback: "\f053",
    like: "\f087",
    login: "\f090",
    logout: "\f08b",
    notes: "\f044",
    notifications: "\f06a",
    profile: "\f007",
    register: "\f055",
    repositories: "\f07b",
    search: "\f002"
);

//== Typography
//
//## Font weight variables

$lighter:           300;
$normal:            400;
$semi-bold:         600;
$bold:              700;
$extra-bold:        800;