// Variables
// --------------------------------------------------
// Override Boostrap's variables


//== Typography

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    "Questrial", $font-family-sans-serif !default;

//== Iconography
//
//## Specify custom location and filename of the included FontAwesome icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
$icon-font-path:        "../font-awesome/fonts/" !default;

//** File name for all font files.
$icon-font-name:        "fontawesome-webfont" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id:      "fontawesomeregular" !default;


// Declare specifc project variables
// --------------------------------------------------

//== Specific component colors
//
//** Site header background color
$site-header-bg-color:      #fff !default;

//** Main navigation background color
$main-nav-bg-color:         #aaa !default;

//** User info background color
$user-info-bg-color:        $main-nav-bg-color !default;

//== Icons

//** Set icon's font family
$icon-font-family:      "FontAwesome";

//** Map icon names to font unicode characters
$icons: (
    angle-right: "\f105",
    attention: "\f06a",
    chat: "\f27a",
    comment: "\f0a1",
    compress: "\f066",
    courses: "\f12e",
    discussion: "\f086",
    expand: "\f065",
    film: "\f008",
    filter: "\f0b0",
    forum: "\f10d",
    help: "\f059",
    home: "\f015",
    goback: "\f053",
    like: "\f087",
    login: "\f090",
    logout: "\f08b",
    materials: "\f0f6",
    map-pin: "\f041",
    notes: "\f044",
    notifications: "\f06a",
    occupation: "\f0b1",
    profile: "\f007",
    register: "\f055",
    register-forum: "\f0ea",
    repositories: "\f07b",
    save: "\f058",
    site: "\f0ac",
    search: "\f002",
    tools: "\f013",
    undo: "\f0e2",
    use: "\f0c9"
);

//== Typography
//
//## Font weight variables

$lighter:           300;
$normal:            400;
$semi-bold:         600;
$bold:              700;
$extra-bold:        800;
