<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ course }}</title>

        {% include "_assets.html" with admin=True %}

        {% load static %}

        {% block js %}{% endblock %}

        {% endblock %}
    </head>
    <body id="admin">

        <!-- NAVBAR -->
        <div id="main-navbar" class="navbar navbar-inverse">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">TIMTec</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="main-navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="/admin/courses">Cursos</a></li>
                      <li><a href="/admin/users">Usuários</a></li>
                      <li><a href="/admin/stats">Estatísticas</a></li>
                      <li class="divider"></li>
                      <li><a href="/">TIMTec</a></li>
                      <li class="divider"></li>
                      <li><a href="/admin/profile">{{ user }}</a></li>
                  </ul>
              </div>
            </div>
        </div>
        <!-- END NAVBAR -->

        <!-- WRAPPER -->
        <div class="wrapper">
            {% block content %}
            <h1>missing content block</h1>
            {% endblock %}
        </div>
        <!-- END WRAPPER -->

        <!-- FOOTER -->
        {% include 'footer.html' %}
        <!-- END FOOTER -->
    </body>
</html>
