<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Admin: {{ course }}</title>

        {% include "_assets.html" with admin=True %}

        {% block js %}{% endblock %}

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('.has-tooltip').tooltip();
            });
        </script>
        {% endblock %}
    </head>
    <body id="admin" {% spaceless %}{% block body_attrs %}{% endblock %}{% endspaceless %}>

        {% include 'header.html' %}

        <!-- WRAPPER -->
        <div class="wrapper">
            {% block content %}
            <h1>missing content block</h1>
            {% endblock %}
        </div>
        <!-- END WRAPPER -->

        <!-- FOOTER -->
        {% include 'footer.html' %}
        <!-- END FOOTER -->
    </body>
</html>
