{% extends "admin-base.html" %}
{% load static %}
{% load i18n %}


{% block js %} {{block.super}}
{% endblock %}

{% block body_attrs %}
ng-app="messages"
{% endblock %}


{% block content %}

<!--  COURSE CONTENT  -->
<div class="messages">

    <!--  HEADER  -->
    <header class="container">
        <!--  PAGE-HEADER  -->
        <div class="page-header">
            <!--  ROW  -->
            <div class="row">
                <!--  COL-LG-9  -->
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

                </div>
                <!--  END COL-LG-8  -->
                <!--  COL-LG-3  -->
                <div class="col-lg-3 col-sm-3">
                    <nav class="course-sections textright">
                        <a href=""><span class="has-tooltip fa fa-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
                        <a href=""><span class="has-tooltip fa fa-film" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Lessons' %}"></span></a>
                        <a ng-href="{% verbatim %}/{{forum_url}}{% endverbatim %}"><span class="has-tooltip fa fa-comments" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Forum' %}"></span></a>
                        <a ng-href="{% verbatim %}/{{course_material_url}}{% endverbatim %}"><span class="has-tooltip fa fa-file" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Material' %}"></span></a>
                    </nav>
                </div>
                <!--  END COL-LG-3  -->
            </div>
            <!--  END ROW  -->
        </div>
        <!--  END PAGE-HEADER  -->
    </header>
    <!--  END HEADER  -->

    <!--  COURSE CONTENT  -->
    <section id="course-content" class="container">
    </section>
    <!--  END COURSE CONTENT  -->
</div>
<!--  END COURSE CONTENT  -->

{% endblock %}
