{% extends "admin-base.html" %}
{% load static %}
{% load i18n %}


{% block js %} {{block.super}}
{% endblock %}



{% block content %}

<!--  COURSE CONTENT  -->
<div id="messages" class="course-messages">

    <!-- MAIN-HEADER -->
    <header id="main-header" class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-9 col-sm-9">
                    <h1 class="course-name bottom top">
                        <a href="">HTML5 - INTRODUÇÃO AO FRONT END</a>
                    </h1>
                    <ul class="instructors">
                        <li><a href="/profile/fabioflat">Fabio Flatschart</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <!-- COURSE-SECTION-NAV -->
                    <nav class="course-sections textright">
                        <a href=""><span class="has-tooltip fa fa-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
                        <a href=""><span class="has-tooltip fa fa-film" data-toggle="tooltip" data-placement="top" data-original-title="Aulas"></span></a>
                        {% comment %}
                        <!-- TODO: Bruno Martin -->
                        <a href="profile-note.html"><span class="has-tooltip fa fa-pencil" data-toggle="tooltip" data-placement="top" data-original-title="Anotações"></span></a>
                        {% endcomment %}
                        <a href=""><span class="has-tooltip fa fa-comments" data-toggle="tooltip" data-placement="top" data-original-title="Fórum"></span></a>
                        <a href=""><span class="has-tooltip fa fa-file" data-toggle="tooltip" data-placement="top" data-original-title="Material Didádico"></span></a>
                        <a href=""><span class="has-tooltip fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" data-original-title="Notas"></span></a>
                    </nav>
                    <!-- END COURSE-SECTION-NAV -->
                </div>
            </div>
        </div>
    </header>
    <!-- MAIN-HEADER -->

    <!-- COURSE-CONTENT -->
    <section id="messages-content" class="container">
        <header>
            <div class="row">
                <div class="col-lg-9">
                    <h1>{% trans "Messages" %}</h1>
                </div>
                <div class="col-lg-3">
                    <a class="new-message btn btn-lg btn-danger uppercase" data-toggle="modal" data-target="#new-message">{% trans "Send New Message" %}</a>
                </div>
            </div>
        </header>
        
        <div class="message">
            <h1 class="bottom">What is Lorem Ipsum?</h1>
            <p class="date">05/02/2014</p>
            <div class="body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div class="row">
                <div class="students col-lg-12">
                    <h2>Estudantes</h2>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
            
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
            
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
            
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
            
                        <div class="col-lg-2">
                            <div class="student">Anderson Orui</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        
    </section>
    <!--  END COURSE CONTENT  -->
</div>
<!--  END COURSE CONTENT  -->

{% endblock %}
