{% extends "admin-base.html" %}
{% load compressed %}
{% load static %}
{% load i18n %}


{% block js %}
    {{block.super}}
    {% compressed_js 'admin_course_header' %}
    {% compressed_js 'messages' %}
{% endblock %}



{% block content %}

<!--  COURSE CONTENT  -->
<div id="course" class="course-messages" ng-app="messages">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->
    
    <!-- COURSE-CONTENT -->
    <div class="main-content">
        <div class="container">
            <div ng-controller="HeaderController">
                <header id="main-header">
                    <div class="row">
                      <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7">
                        <nav class="lesson-units hidden-xs">
                            <h1 class="course-name">
                                {% verbatim %}
                                <a href="/admin/courses/{{course.id}}" ng-bind="course.name"></a>
                                {% endverbatim %}
                            </h1>
                        </nav>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-5">
                        <!-- COURSE-SECTION-NAV -->
                        <nav class="course-sections">
                            <a ng-href="{% verbatim %}/{{course_url}}{% endverbatim %}"><span class="has-tooltip intro" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'Intro' %}"></span></a>
                            <a ng-href="{% verbatim %}/{{forum_url}}{% endverbatim %}"><span class="has-tooltip forum" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'Forum' %}"></span></a>
                            <a ng-href="{% verbatim %}/{{course_material_url}}{% endverbatim %}"><span class="has-tooltip material" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'Course material' %}"></span></a>
                            <a ng-href="{% verbatim %}/{{messages_url}}{% endverbatim %}"><span class="has-tooltip my-notes" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'My notes' %}"></span></a>
                            <a ng-href="{% verbatim %}/{{reports_url}}{% endverbatim %}"><span class="has-tooltip my-notes" data-toggle="tooltip" data-placement="bottom" data-original-title="{%  trans 'My notes' %}"></span></a>
                        </nav>
                        <!-- END COURSE-SECTION-NAV -->
                      </div>
                    </div>
                </header>
            </div>
            <section id="messages-content" class="container" ng-controller="MessagesListController">
                <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1">
                    <header ng-controller="NewMessageController">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1>{% trans "Messages" %}</h1>
                            </div>
                            <div class="col-lg-3">
                                <a class="new-message btn btn-lg btn-danger uppercase" ng-click="new_message()">{% trans "Send New Message" %}</a>
                            </div>
                                <script type="text/ng-template" id="newMessageModal.html">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{% trans "New Message" %}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="new_message.subject" placeholder="{% trans 'Subject' %}"/>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="10" ng-model="new_message.message" placeholder="{% trans 'Message' %}"></textarea>
                                            </div>
                                            <div class="form-group row">
                                                <div class="students col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <p><input type="search" value="Pesquisar" class="form-control"/>
                                                                <div>
                                                                    <label>
                                                                        <input type="checkbox" ng-model="modal.all_checked" ng-click="checkAll()"> {% trans 'Check all' %}
                                                                    </label>
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-repeat="row in users_rows">
                                                        <div class="col-lg-6" ng-repeat="user in row">
                                                            <div class="student">
                                                                {% verbatim %}
                                                                <label><input type="checkbox" checklist-model="new_message.users" checklist-value="user.id"> {{ user.name || user.username }}</label>
                                                                {% endverbatim %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-lg-12">
                                                <button type="button" class="btn btn-danger" ng-click="cancel()">{% trans "Close" %}</button>
                                                <button type="button" class="btn btn-success" ng-click="send()">{% trans "Send" %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </script>
                        </div>
                    </header>
                    {% block messages_content %}
                    <div class="messages">
                        <div class="message" ng-repeat="message in messages">
                            <div class="row">
                                <div class="col-lg-1 textright">
                                    {% verbatim %}
                                    <span class="date">{{ message.date|date:"dd/MM/yy" }}</span>
                                    {% endverbatim %}
                                </div>
                                <div class="col-lg-11">
                                    {% verbatim %}
                                    <div class="subject">{{ message.subject }}</div>
                                    {% endverbatim %}
                                    <div class="body"> 
                                    <span ng-bind-html="message.message|markdown|words:50"></span>{% verbatim %} <a ng-href="/admin/course/{{course_id}}/message/{{message.id}}">{% endverbatim %} {% trans 'More...' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </section>
        </div>
    </div>
    <!--  END COURSE CONTENT  -->
</div>
<!--  END COURSE CONTENT  -->

{% endblock %}
