{% extends 'admin-base.html' %}

{% block content %}

<!-- COURSE-CONTENT -->
<div id="course" class="course-lesson">
    
    <!-- ACTIONS -->
    <div class="actions">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    
                    <span class="status">
                        <span class="label">Status</span>
                        <div class="btn-group">
                            <button class="btn btn-default">Nova</button>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="">Rascunho</a></li>
                                <li><a href="">Listada</a></li>
                                <li><a href="">Publicada</a></li>
                            </ul>
                        </div>
                    </span>
                    
                    <span class="publication">
                        <span class="label">Publicação</span>
                        <div class="btn-group">
                            <button class="btn btn-default">Dia</button>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="">01</a></li>
                                <li><a href="">02</a></li>
                                <li><a href="">03</a></li>
                            </ul>
                        </div>
                    </span>
                    
                    <div class="btn-group">
                        <button class="btn btn-default">Mês</button>
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="">Janeiro</a></li>
                            <li><a href="">Fevereiro</a></li>
                            <li><a href="">Março</a></li>
                        </ul>
                    </div>
                    
                    <div class="btn-group">
                        <button class="btn btn-default">Ano</button>
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="">2013</a></li>
                            <li><a href="">2014</a></li>
                            <li><a href="">2015</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 textright">
                    <button class="btn btn-success">Salvar</button>
                    <button class="btn btn-warning">Publicar Lição | <i class="fa fa-rocket"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- END ACTIONS -->
    
    
    <!-- MAIN-HEADER -->
    <header id="main-header" class="container">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <!-- ROW -->
            <div class="row">
                <!-- COL-LG-9 -->
                <div class="col-lg-9 col-sm-9">
                    <h1 class="course-name bottom top">
                        <a href="/admin/courses/new">HTML5 - Introdução ao Front End</a>
                    </h1>
                    <ul class="instructors">
                        <li><a href="">Fabio Flatschart</a></li>
                    </ul>
                </div>
                <!-- END COL-LG-9 -->
                <!-- COL-LG-3 -->
                <div class="col-lg-3 col-sm-3">
                    <!-- COURSE-SECTION-NAV -->
                    <nav class="course-sections textright">
                        <a href=""><span class="has-tooltip fa fa-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
                        <a href=""><span class="has-tooltip fa fa-film" data-toggle="tooltip" data-placement="top" data-original-title="Aulas"></span></a>
                        <a href=""><span class="has-tooltip fa fa-comments" data-toggle="tooltip" data-placement="top" data-original-title="Fórum"></span></a>
                        <a href=""><span class="has-tooltip fa fa-file" data-toggle="tooltip" data-placement="top" data-original-title="Material Didádico"></span></a>
                    </nav>
                    <!-- END COURSE-SECTION-NAV -->
                </div>
                <!-- END COL-LG-3 -->
            </div>
            <!-- END ROW -->
        </div>
        <!-- END PAGE-HEADER -->
    </header>
    <!-- MAIN-HEADER -->

    <!-- COURSE-CONTENT -->
    <section id="course-content" class="container">
        
        <nav class="course-lessons">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="top editable"><span contenteditable="true">Título da lição</span></h1>
                    <p class="description editable"><span contenteditable="true">Descrição da lição</span></p>
                </div>
            </div>
        </nav>
        
        <nav class="lesson-units">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default">Título da lição</button>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="">Título da lição #1</a></li>
                    <li><a href="">Título da lição #2</a></li>
                    <li><a href="">Título da lição #3</a></li>
                </ul>
            </div>
        </nav>

        <!-- ROW -->
        <div class="row">
            <div class="col-lg-1">
                <div class="units admin-units">
                    <a href="" class="unit">1</a>
                    <a href="" class="unit current">2</a>
                    <a href="" class="unit">3</a>
                    <a href="" class="unit">4</a>
                    <a href="" class="unit">5</a>
                    <a href="" class="add-unit unit"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="add-content row">
                    <div class="col-lg-6">
                        <button class="btn btn-success selected" href="">Vídeo</button>
                        <button class="btn btn-default">Atividade</button>
                    </div>
                    <div class="col-lg-6 textright">
                        <button class="btn btn-danger delete"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
                <div class="video">
                    <!-- ROW -->
                    <div class="row">
                        <!-- ADD-VIDEO-INTRO -->
                        <div class="add-video-intro col-sm-12 col-lg-12 textcenter">
                            <!-- CENTERED -->
                            <div class="centered">
                                <i class="fa fa-youtube-play fa-4x"></i>
                                <h1 class="top">Vídeo da unidade</h1>
                                <p class="form-group">
                                    <input type="text" class="form-control"/>
                                </p>
                                <p>
                                    <button class="btn btn-danger btn-lg uppercase">Cancelar</button>
                                    <button class="btn btn-success btn-lg uppercase">Adicionar</button>
                                </p>
                            </div>
                            <!-- END CENTERED -->
                        </div>
                        <!-- END ADD-VIDEO-INTRO -->
                    </div>
                    <!-- END ROW -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="add-side-notes">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#side-notes" data-toggle="tab">Saiba Mais</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="side-notes">
                            <div contenteditable="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW -->
    </section>
    <!-- END COURSE-CONTENT -->

</div>
<!-- END COURSE-CONTENT -->

{% endblock content %}