{% extends "admin-base.html" %}
{% load static %}
{% load i18n %}


{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/new-course/app.js' %}">// must be the 1º</script>
<script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}">// must be the 2º</script>
<script type="text/javascript" src="{% static 'js/filters/text.js' %}"></script>
<script type="text/javascript" src="{% static 'js/new-course/directives.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/contenteditable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/sortable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/new-course/controllers.js' %}"></script>
{% endblock %}

{% block body_attrs %}
ng-app="new-course"
{% endblock %}


{% block content %}

<!--  COURSE CONTENT  -->
<div id="course" class="course-intro" ng-controller="CourseEditController">

    <!-- ACTIONS -->
    <div class="actions" fixed-bar>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-danger" title="{% trans 'Delete course' %}" ng-click="deleteCourse()"><i class="fa fa-trash-o"></i> | {% trans 'Delete this course' %}</button>
                </div>
                <div class="col-lg-6 textright">
                    <!-- <button class="btn btn-info">Listar | <i class="fa fa-star-o"></i></button> -->
                    <button class="btn btn-success" ng-click="saveCourse()">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
                    <button class="btn btn-warning" ng-click="publishCourse()">{% trans 'Publish' %} | <i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>

    </div>
    <!-- END ACTIONS -->

    <!--  HEADER  -->
    <header class="container">
        <!--  PAGE-HEADER  -->
        <div class="page-header">
            <!--  ROW  -->
            <div class="row">
                <!--  COL-LG-9  -->
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <h1><span ng-class="{'blink-text-danger':errors.name}" ng-model="course.name"
                              placeholder="{% trans 'Course name' %}" contenteditable="true"
                              tabindex="1"></span></h1>

                    <div class="course-slug clearfix">
                      <label>http://{{ site.domain }}/course/</label>
                        <strong>
                            <span ng-bind="course.name|slugify" ng-hide="course.slug"></span>
                            <span ng-model="course.slug" contenteditable></span>
                        </strong>
                    </div>
                </div>
                <!--  END COL-LG-8  -->
                <!--  COL-LG-3  -->
                <div class="col-lg-3 col-sm-3">
                    <nav class="course-sections textright">
                        <a href=""><span class="has-tooltip fa fa-home" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Course' %}"></span></a>
                        <a ng-href="{% verbatim %}/{{forum_url}}{% endverbatim %}"><span class="has-tooltip fa fa-comments" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Forum' %}"></span></a>
                        <a ng-href="{% verbatim %}/{{course_material_url}}{% endverbatim %}"><span class="has-tooltip fa fa-file" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Material' %}"></span></a>
                        <a ng-href="{% verbatim %}/{{messages_url}}{% endverbatim %}"><span class="has-tooltip fa fa-envelope-o" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Messages' %}"></span></a>
                        <a ng-href="{% verbatim %}/{{reports_url}}{% endverbatim %}"><span class="has-tooltip fa fa-bar-chart-o" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Stats' %}"></span></a>
                    </nav>
                </div>
                <!--  END COL-LG-3  -->
            </div>
            <!--  END ROW  -->
        </div>
        <!--  END PAGE-HEADER  -->
    </header>
    <!--  END HEADER  -->

    <!--  COURSE CONTENT  -->
    <section id="course-content" class="container">
        <!--  ROW  -->
        <div class="row">
            <!--  COL-LG-9  -->
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" ng-init="mediaSection='video'">
                <!-- ADD CONTENT -->
                <div class="add-content row">
                    <div class="col-lg-6">
                        <button ng-click="mediaSection='video'"
                                ng-class="{'btn-success':mediaSection=='video'}"
                                class="btn btn-default uppercase selected">{% trans 'Video' %}</button>

                        <button class="btn btn-default uppercase"
                                ng-class="{'btn-success':mediaSection=='thumbnail'}"
                                ng-click="mediaSection='thumbnail'">{% trans 'Thumbnail' %}</button>
                    </div>
                </div>
                <!-- END ADD CONTENT -->

                <section class="thumbnail" ng-show="mediaSection=='thumbnail'" ng-init="thumbfile=null">

                    <div class="row" ng-show="addThumb" ng-init="addThumb=(thumbfile===null)">

                        <div class="add-thumbnail col-sm-12 col-lg-12 textcenter">
                            <div class="centered">
                                <div class="form-group">
                                    <i class="fa fa-picture-o fa-4x"></i>
                                    <h1 class="bottom top">{% trans 'Thumbnail' %}</h1>
                                    <p>({% trans "min-width" %}: 845px)</p>

                                    <file ng-model="thumbfile" name="thumbnail" class="form-control"></file>
                                </div>

                                <p>
                                    <br>
                                    <button class="btn btn-danger btn-lg uppercase"
                                            ng-click="thumbfile=null; addThumb=!course.thumbnail_url">{% trans 'Cancel' %}</button>

                                    <button class="btn btn-success btn-lg uppercase"
                                            ng-click="addThumb=(thumbfile===null); saveThumb()">{% trans 'Add' %}</button>

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="!addThumb">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img local-image ng-model="thumbfile" class="img-responsive"/>
                            {% verbatim %}
                            <img ng-src="{{course.thumbnail_url}}" class="img-responsive" ng-show="!thumbfile"/>
                            {% endverbatim %}
                        </div>

                        <div class="col-lg-12 textright">
                            <button class="btn-edit-thumbnail btn btn-success btn-sm uppercase"
                                    ng-click="addThumb=true">{% trans 'Change thumbnail' %}</button>
                        </div>
                    </div>
                </section>

                <!--  COURSE-VIDEO  -->
                <section class="video" ng-show="mediaSection=='video'">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12" ng-show="course.intro_video.youtube_id && !playerReady">
                            <div class="waiting textcenter jumbotron" style="height: 515px">
                                <div class="middle">
                                    <i class="fa fa-refresh fa-5x"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12" style="overflow:hidden;"
                             ng-style="{'margin-left': course.hasVideo() && playerReady ?'':'-2000px'}">

                            <div id="youtube-player" player-height="475px" player-width="100%" youtube-player></div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <p class="video-title" ng-model="course.intro_video.name" placeholder="Nome do vídeo" contenteditable><p>
                                </div>
                                <div class="col-lg-2 textcenter">
                                    <button class="btn-edit-video btn btn-success btn-sm uppercase"
                                            ng-click="course.intro_video.youtube_id=''">{% trans 'Change video' %}</button>
                                </div>
                            </div>
                        </div>

                        <div class="add-video-intro col-sm-12 col-lg-12 textcenter"
                             ng-show="!course.intro_video.youtube_id">
                            <div class="centered">
                                <div class="form-group">
                                    <i class="fa fa-youtube-play fa-4x"></i>
                                    <h1 class="top">{% trans 'Introduction video' %}</h1>
                                    <input type="text" tabindex="8" ng-model="youtube_id" class="form-control"/>
                                </div>

                                <p>
                                    <button class="btn btn-danger btn-lg uppercase"
                                            ng-click="course.intro_video.youtube_id=''">{% trans 'Cancel' %}</button>
                                    <button tabindex="9"
                                            class="btn btn-success btn-lg uppercase"
                                            ng-show="!course.intro_video.youtube_id"
                                            ng-click="course.intro_video.youtube_id=youtube_id">{% trans 'Add' %}</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  END COURSE-VIDEO  -->

                <!--  COURSE-INFO  -->
                <section class="course-info">
                    <!--  ROW  -->
                    <div class="row">
                        <!--  COL-LG-6  -->
                        <div class="application col-sm-6 col-lg-6">
                            <div class="page-header-double">
                                <h3 class="top"><i ng-class="{'blink-text-danger':errors.application}" class="fa fa-angle-double-right"></i> {% trans 'Application' %}</h3>
                            </div>
                            <modalmarkdowneditor tabindex="6" on-save="saveCourse()" title="{% trans 'Application' %}" content="course.application"></modalmarkdowneditor>
                        </div>
                        <!--  END COL-LG-6  -->

                        <!--  COL-LG-6  -->
                        <div class="requirement col-sm-6 col-lg-6">
                            <div class="page-header-double">
                                <h3 class="top"><i ng-class="{'blink-text-danger':errors.requirement}" class="fa fa-angle-double-right"></i> {% trans 'Requirements' %}</h3>
                            </div>
                            <modalmarkdowneditor tabindex="7" on-save="saveCourse()" title="{% trans 'Requirements' %}" content="course.requirement"></modalmarkdowneditor>

                        </div>
                        <!--  END COL-LG-6  -->
                    </div>
                    <!--  END ROW  -->
                </section>
                <!--  END COURSE-INFO  -->

                <!--  COURSE-LESSONS  -->
                <section class="lessons">
                    <!--  PAGE-HEADER-DOUBLE  -->
                    <div class="page-header-double">
                        <h3><i class="fa fa-angle-double-right"></i> {% trans 'Lessons' %}</h3>
                    </div>
                    <!--  END PAGE-HEADER-DOUBLE  -->

                    <p><a href="" ng-click="organizingLessons=true" ng-show="!organizingLessons">{% trans 'Organize lesson' %}</a></p>
                    <!-- <a href="" ng-click="organizingLessons=false" ng-show="organizingLessons">Lista detalhada de lições</a> -->

                    <!-- ORGANIZING LESSONS -->
                    <div class="lessons organizing-lessons" ng-show="organizingLessons"
                         sortable="lessons" on-update="repositionLessons()">

                        <!-- LESSON -->
                        <div class="lesson" ng-repeat="lesson in lessons">
                            <div class="row">

                                <div class="col-lg-9">
                                    <span class="handle"><span class="btn btn-warning"><i class="fa fa-bars"></i></span></span>
                                    <span class="title" ng-bind="lesson.name">{% trans 'Lesson name' %}</span>
                                </div>

                                <div class="col-lg-3 textright">
                                    <div class="btn-group" ng-init="openDropdown=false;">
                                        <button type="button" class="btn btn-default">
                                            <span ng-show="lesson.status=='draft'"> {% trans 'Draft' %}</span>
                                            <span ng-show="lesson.status=='listed'"> {% trans 'Listed' %}</span>
                                            <span ng-show="lesson.status=='published'"> {% trans 'Published' %}</span>
                                        </button>
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                ng-click="openDropdown=!openDropdown;">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu textleft" ng-style="{display:openDropdown?'block':'none'}">
                                            <li>
                                                <a ng-click="lesson.status='draft';openDropdown=false;"
                                                   ng-show="lesson.status!='draft'"> {% trans 'Draft' %}</a>
                                           </li>
                                            <li>
                                                <a ng-click="lesson.status='listed';openDropdown=false;"
                                                   ng-show="lesson.status!='listed'"> {% trans 'Listed' %}</a>
                                           </li>
                                            <li>
                                                <a ng-click="lesson.status='published';openDropdown=false;"
                                                   ng-show="lesson.status!='published'"> {% trans 'Published' %}</a>
                                           </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-danger" ng-click="deleteLesson(lesson)"><i class="fa fa-trash-o"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- END LESSON -->

                        <div class="submit textright">
                            <button class="btn btn-danger" ng-click="organizingLessons=false">{% trans 'Cancel' %}</button>
                            <button class="btn btn-success" ng-click="saveAllLessons()">{% trans 'Save' %}</button>
                        </div>
                    </div>
                    <!-- END ORGANIZING LESSONS -->

                    <!--  LESSON  -->
                    <div class="lesson row" ng-repeat="lesson in lessons" ng-hide="organizingLessons">
                        <!--  COL-LG-3  -->
                        <div class="col-lg-3 col-sm-3 col-sm-3 hidden-xs">
                            {% verbatim %}
                            <img ng-src="{{ lesson.thumbnail }}" class="img-thumbnail">
                            {% endverbatim %}
                        </div>
                        <!--  END COL-LG-3  -->

                        <!--  COL-LG-9  -->
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <p>
                                <a {% verbatim %}href="lessons/{{lesson.id}}"{% endverbatim %} class="title editable" ng-bind="lesson.name">{% trans 'Lesson name' %}</a>
                                <modalmarkdowneditor on-save="saveLesson(lesson)" title="{% trans 'Lesson description' %}" content="lesson.desc"></modalmarkdowneditor>
                            </p>
                            <!--  HIDDEN-XS  -->
                            <div class="hidden-xs" ng-show="lesson.units">
                                <table class="table units">
                                    <tbody>
                                        <tr>
                                            <td ng-repeat="unit in lesson.units">
                                                {% verbatim %}
                                                <span class="has-tooltip unit " data-toggle="tooltip"
                                                      data-placement="bottom" data-original-title="{{unit.title}}">
                                                    <i class="fa fa-list" ng-show="unit.activities"></i>
                                                </span>
                                                {% endverbatim %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--  END HIDDEN-XS  -->

                            <p><i class="fa fa-youtube-play"></i> <small>{% verbatim %}{{ lesson.countVideos() }}{% endverbatim %} {% trans 'videos' %}</small> | <i class="fa fa-list"></i> <small>{% verbatim %}{{ lesson.countActivities() }}{% endverbatim %} {% trans 'activities' %}</small></p>

                        </div>
                        <!--  END COL-LG-9  -->
                    </div>
                    <!--  END LESSON  -->

                    <div class="row textcenter">
                        <div class="col-lg-12">
                            {% verbatim %}
                            <a href="/admin/courses/{{course.id}}/lessons/new" class="col-lg-12 btn btn-lg btn-default uppercase">{% endverbatim %}{% trans 'Add lesson' %}</a>
                        </div>
                    </div>

                </section>
                <!--  END COURSE-LESSONS  -->

                <!-- INSTRUCTORS -->
                <section class="instructors">
                    <!-- PAGE-HEADER-DOUBLE -->
                    <div class="page-header-double">
                        <h3><i class="fa fa-angle-double-right"></i> {% trans 'Instructors'%}</h3>
                    </div>
                    <!-- END PAGE-HEADER-DOUBLE -->

                    <!-- <a href="" ng-click="organizingInstructors=false" ng-show="organizingInstructors">Editar biografias</a> -->
                    <p><a href="" ng-click="organizingInstructors=true" ng-hide="organizingInstructors">{% trans 'Organize Instructors'%}</a></p>

                    <div class="instructors organizing-instructors" ng-show="organizingInstructors"
                         sortable="courseProfessors" on-update="repositionInstructors()">

                        <div class="instructor" ng-repeat="professor in courseProfessors">
                            <div class="row">
                                <div class="col-lg-11">
                                    <span class="handle"><span class="btn btn-warning"><i class="fa fa-bars"></i></span></span>
                                    <span class="title" ng-bind="professor.user_info.name">{% trans 'Name' %}</span>
                                </div>
                                <div class="col-lg-1 textright">
                                    <button class="btn btn-danger"
                                            ng-click="deleteProfessor(professor)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="submit textright">
                            <button class="btn btn-danger" ng-click="organizingInstructors=false">{% trans 'Close' %}</button>
                            <button class="btn btn-success" ng-click="saveAllInstructors()">{% trans 'Save' %}</button>
                        </div>
                    </div>

                    <!-- INSTRUCTOR -->
                    <div id="" class="instructor row" ng-repeat="professor in courseProfessors" ng-hide="organizingInstructors">
                        <div class="col-lg-3 col-sm-3">
                            {% verbatim %}
                            <img ng-src="{{ professor.user_info.picture }}"
                                 onerror="this.src='/static/img/avatar-default.png'"
                                 class="img-thumbnail">
                            {% endverbatim %}
                        </div>
                        <div class="col-lg-9 col-sm-9">
                            <h1 class="fullname bottom top" ng-bind="professor.user_info.name">{% trans 'Name' %}</h1>
                            <h2 class="job-title top"></h2>
                            <modalmarkdowneditor title="{% trans 'Biography' %}" on-save="saveProfessor(professor)" content="professor.biography"></modalmarkdowneditor>
                        </div>
                    </div>
                    <!-- END INSTRUCTOR -->

                    <div class="row textcenter">
                        <div class="col-lg-12">
                            <a ng-click="professorsModalActive=true" class="col-lg-12 btn btn-lg btn-default uppercase">{% trans 'Add instructor' %}</a>
                        </div>
                    </div>
                </section>
                <!-- END INSTRUCTORS -->
            </div>
            <!--  END COL-LG-9  -->

            <!--  COL-LG-3  -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <!--   COURSE-SUMMARY  -->
                <section class="summary">

                    <!--  ABSTRACT  -->
                    <div class="page-header-double top">
                        <h3 class="top"><i ng-class="{'blink-text-danger':errors.abstract}" class="fa fa-angle-double-right"></i> {% trans 'Abstract' %}</h3>

                    </div>
                    <modalmarkdowneditor tabindex="2" on-save="saveCourse()" title="{% trans 'Abstract' %}" content="course.abstract"></modalmarkdowneditor>

                    <hr/>
                    <!--  END ABSTRACT  -->

                    <!--  STRUCTURE  -->
                    <div class="page-header-double top">
                        <h3 class="top"><i ng-class="{'blink-text-danger':errors.structure}" class="fa fa-angle-double-right"></i> {% trans 'Course structure' %}</h3>
                    </div>
                    <modalmarkdowneditor tabindex="3" on-save="saveCourse()" title="{% trans 'Structure' %}" content="course.structure"></modalmarkdowneditor>

                    <hr/>
                    <!--  END STRUCTURE  -->

                    <!--  WORKLOAD  -->
                    <div class="page-header-double top">
                        <h3 class="top"><i ng-class="{'blink-text-danger':errors.workload}" class="fa fa-angle-double-right"></i> {% trans 'Workload' %}</h3>
                    </div>
                    <modalmarkdowneditor tabindex="4" on-save="saveCourse()" title="{% trans 'Workload' %}" content="course.workload"></modalmarkdowneditor>

                    <hr/>
                    <!--  END WORKLOAD  -->

                    <div class="page-header-double top">
                        <h3 class="top"><i class="fa fa-angle-double-right"></i> PRONATEC</h3>
                    </div>
                    <modalmarkdowneditor tabindex="5" on-save="saveCourse()" title="PRONATEC" content="course.pronatec"></modalmarkdowneditor>

                </section>
                <!--  END COURSE-SUMMARY  -->
            </div>
            <!--  END COL-LG-3  -->
        </div>
        <!--  ROW  -->
    </section>
    <!--  END COURSE CONTENT  -->


    <!-- ALERT -->
    <div class="tt-popup notifications" alert-popup ng-class="{'hideTop': alert.hidden}">
        <div class="alert fade in" ng-class="'alert-' + alert.type">
            <button type="button" class="close" ng-click="alert.hidden=true">×</button>
            <h4 ng-bind="alert.title"></h4>
            <div class="bottom">
                <ol class="bottom">
                    <li ng-repeat="message in alert.messages" ng-bind="message"></li>
                </ol>
            </div>
            <div ng-show="alert.showControls">
                <hr/>
                <button type="button" class="btn" ng-class="'btn-'+alert.type"
                         ng-click="alert.hidden=true">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
    <!-- ALERT -->
    <professorslist on-select="addProfessor" active="professorsModalActive"></professorslist>
</div>
<!--  END COURSE CONTENT  -->

{% endblock %}
