.edit-certificates{
    max-width: 800px;
    margin: 0 auto;
}
.institute-logo{
	// border: 1px solid #e5e5e5;
	text-align: center;
    padding: 1em;
    max-width: 180px;
    height: 95px;
    position: relative;
    .btn{
        position: absolute;
        right: -110px;
        top: 10px;
        box-shadow: 2px 2px 5px 0px rgba(173,173,173,1);
    }
    img{
        max-height: 60px;
    }
}
.certificate-container{
  border: none;
  height: 566px;
  color: #FFF;
  text-align: left;
  width: 800px;
  padding: 240px 250px 60px 40px;
  border-radius: 4px;
  // padding: 1em;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 2em;
  &.certificate-admin{
    padding: 0;
  }
  footer{
  	font-size: 0.8em;
  }
  &.receipt{
    background-image: url('../img/receipt-bg.png');
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
    .coordinator-section{
      margin-top: 30px;
      font-size: 0.8em;
    }
    .student-name{
      color: #39aba7;
      font-size: 1.5em;
    }
    .coordinator-name{
      padding-bottom: 0;
      margin-bottom: 0;
      width: 200px;
      margin: 0 auto;
    }
    .course-coordinator{
      border-top: 2px solid #39aba7;
      width: 200px;
      font-weight: normal;
    }
    .logo{
      width: 150px;
      margin-top: 0;
    }
    footer{
      margin-top: 30px;
      width: 700px;
    }
  }
}
.certificate-signature{
    position: relative;
    .btn{
        position: absolute;
        right: -120px;
        bottom: 30px;
        box-shadow: 2px 2px 5px 0px rgba(173,173,173,1);

    }
    p{
        background-color: #fff;
    }
    img{
        max-height: 60px;
    }
}
.dropdown-menu {
    top: initial;
}
.certificate-admin{
  counter-reset: steps-counter;
  color: #444;
  position: relative;
  .text-muted, .student{
      cursor: not-allowed;
      opacity: 0.2;
  }
  .coordinator-section{
    position: absolute;
    bottom: 270px;
    right: 15%;
    width: 200px;
  }
  .institute:before, .institute-logo:before, .name-coordinator:before, .role-coordinator:before{
      background-color: #FB4E4E;
      border-radius: 50%;
      color: #FFF;
      content: counter(steps-counter);
      display: inline-block;
      height: 2em;
      left: -30px;
      padding-top: 0.25em;
      position: absolute;
      text-align: center;
      width: 2em;
  }
  .institute-logo, .name-coordinator, .role-coordinator, .institute {
      counter-increment: steps-counter;
      position: relative;
  }
}

.credits-receipt{
  text-align: left;
  font-size: 12px;
  line-height: 1;
}
