// MY NOTES
// ********************************************************************* //
#my-notes {
  min-height: 520px;
  #notes-content {
    .btn-my-notes {
      max-width: 300px;
    }
    .notes {
      margin-top: 20px;
      .col-xs-12 {
        padding-bottom: 20px;
      }
      .lesson {
        margin-bottom: 20px;
        padding-bottom: 20px;
        h1 {
          font-size: 20px;
          span {
            color: @gray-light;
            font-size: 12px;
            margin-right: 40px;
            text-transform: uppercase;
            height: 20px;
            display: block;
            float: left;
          }
        }
        .note {
          border-bottom: 1px solid @gray-lighter;
          margin-bottom: 20px;
          margin-left: 76px;
          .transition(background-color 0.3s);
          &:hover {
            background-color: @gray-lighter;
            border-radius: 4px;
          }
        }
        .note-content {
            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
        .actions {
          margin-top: 20px;
        }
      }
    }
  }
  .courses {
    .course {
      border-bottom:1px solid @gray-lighter;
      padding:9px 0;
      small {
        color: @gray-light;
        display: block;
        font-size: 12px;
      }
    }
    .btn {
      text-transform:uppercase;
    }
  }
}
