{% load i18n %}
{% load get_current_class %}
<div class="course-details">
    <div><span class="label">{% trans 'By' %}:</span>
        {% for course_professor in course.get_video_professors %}
            <a class="course-instructor" {% if course_professor.user %}href="{% url 'profile' course_professor.user.username %}"{% endif %}>{{ course_professor.get_name }}</a>
        {% endfor %}
    </div>
    {% get_current_class course as current_class %}
    <div>{% if current_class.assistant %}<span class="label">{% trans 'Assistant Professor' %}:</span> {{ current_class.assistant.get_full_name }} {% endif %} {% if not course.default_class %} <span class="label">{% trans 'Class' %}:</span> {{ current_class.name }} {% endif %}</div>
</div>
