{% load i18n %}
<header id="main-header" class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-9 col-sm-8">
                <h1 class="course-name bottom top">
                    <a href="{% url 'course_intro' course.slug %}">{{ course.name }}</a>
                </h1>
                {% include "_course-professors-inline.html" with course=course %}
            </div>
            <div class="col-lg-3 col-sm-4">
                <!-- COURSE-SECTION-NAV -->
                <nav class="course-sections textright" id="course-nav">
                    <a href="{% url 'course_intro' course.slug %}"><span class="has-tooltip fa fa-home" data-toggle="tooltip" data-placement="top" data-original-title="{%  trans 'Intro' %}"></span></a>
                    <a href="{% url "lesson" course.slug course.first_lesson.slug %}"><span class="has-tooltip fa fa-film" data-toggle="tooltip" data-placement="top" data-original-title="{%  trans 'Lessons' %}"></span></a>
                    <a href="{% url 'forum' course.slug %}"><span class="has-tooltip fa fa-comments" data-toggle="tooltip" data-placement="top" data-original-title="{%  trans 'Forum' %}"></span></a>
                    <a href="{% url 'course_material' course.slug %}"><span class="has-tooltip fa fa-file" data-toggle="tooltip" data-placement="top" data-original-title="{%  trans 'Course material' %}"></span></a>
                    <a href="{% url 'user_course_notes' 'html5' %}"><span class="has-tooltip fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" data-original-title="{%  trans 'My notes' %}"></span></a>
                    <!-- se o usuário for professor tutor mostrar-->
                    <a href="#"><span class="has-tooltip fa fa-users" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Class' %}"></span></a>
                </nav>
                <!-- END COURSE-SECTION-NAV -->
            </div>
        </div>
    </div>
</header>
