{% load i18n %}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            {% trans 'Edit question/anwser' %}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger" role="alert" ng-if="new_answer_validation_error">
                    <ul>
                        <li><a href="#wmd-input"></a></li>
                    </ul>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="question.title">
                </div>
                <div class="form-group text-editor">
                    <div class="wmd-panel" markdowneditor="true">
                        <div id="wmd-button-bar" class="js-button-bar"></div>
                        <textarea ng-model="question.text" class="form-control" id="wmd-input" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                </div>
                <!-- <div class="form-group textright bottom">
                    <button ng-click="new_answer()" class="btn btn-success">{% trans 'Send' %}</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary" ng-click="save()">{% trans 'Save' %}</button>
    </div>
</div>
