{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Accept terms and conditions' %}
{% endblock %}

{% block content %}
    <div class="page static-page">
        <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->
        <div class="main-content">

            <!-- CONTAINER -->
            <div class="container js-fullheight c1">
              <form action="/accept_terms/" method="post" style="padding-top: 80px;">{% csrf_token %}
                {% with errors=form.accept_terms.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <span class="checkbox-wrapper"><input name="accept_terms" type="checkbox" {% if form.accept_terms.value %}checked=""{% endif %} class=""></span>
                    <label>Aceito os <a href="{% url 'django.contrib.flatpages.views.flatpage' url='terms/' %}" target="_blank">termos de uso</a></label>
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                </div>
                {% endwith %}
                <input class="btn btn-success" type="submit" value="Enviar" />
              </form>
            </div>
        </div>
    </div>
{% endblock %}
