<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
{% load compressed %}
{% load metron_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>

    {% compressed_css 'common' %}
    {% compressed_css 'public' %}

    <link href="{% static 'css/introjs.min.css' %}" rel="stylesheet">

    <script>
        window.STATIC_URL = '{{ STATIC_URL }}';
        window.MEDIA_URL = '{{ MEDIA_URL }}';
        window.DEBUG = '{{ DEBUG }}';
    </script>

    {% compressed_js 'all' %}
    {% compressed_js 'codemirror' %}

    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Converter.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Editor.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Sanitizer.js' %}" charset="utf-8"></script>

    {% block js %}{% endblock %}

    {% analytics %}
    <script type="text/javascript" charset="utf-8">
        (function(){
            function resize_player() {
                var $p = $('#youtube-player');
                $p.css('width','100%');
                $p.height(Math.floor($p.width() * 0.5624));
            }

            function resize_activation_wrapper() {
                windowHeight = window.innerHeight;
                navbarHeight = $('#main-navbar').innerHeight();
                footerHeight = $('#main-footer').innerHeight();
                $('#activation-wrapper').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
            }

            function wrapper_min_height() {
                windowHeight = window.innerHeight;
                navbarHeight = $('#main-navbar').outerHeight(true);
                footerHeight = $('#main-footer').outerHeight(true);
                $('.wrapper').css('min-height', windowHeight - navbarHeight - footerHeight);
            }

            $(document).ready(function() {
                $('.has-tooltip').tooltip();
                $(document).on('DOMNodeInserted','#player-outter', resize_player);
                {% if not in_admin %}
                    resize_player();
                {% endif %}
                resize_activation_wrapper();
                wrapper_min_height();
                startIntro();
            });
            $(window).resize(resize_player);
            $(window).resize(resize_activation_wrapper);
        })();
    </script>
</head>
<body {% if in_admin %}id="admin"{% endif %} {% spaceless %}{% block body_attrs %}{% endblock %}{% endspaceless %}>
    <script>
    window.STATIC_URL = '{{ STATIC_URL }}';
    {% if debug %}window.DEBUG = true;{% endif %}
    </script>

    {% include 'header.html' %}

    <div class="wrapper">
        {% block content %}
        <h1>missing content block</h1>
        {% endblock %}
    </div>
    {% include 'footer.html' %}

    <script type="text/javascript" src="{% static 'js/intro.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript">
        function startIntro(){
            var intro = introJs();
            intro.setOptions({
                steps: [
                    {
                        element: '#site-brand',
                        intro: 'Área para marca da Instituição',
                        position: 'bottom'
                    },
                    {
                        element: '#site-nav',
                        intro: 'Menu superior',
                        position: 'bottom'
                    },
                    {
                        //element: '#highlight',
                        intro: 'Imagem de destaque',
                        position: 'bottom'
                    },
                    {
                        element: '#courses header',
                        intro: 'Área para cursos em destaque',
                        position: 'top'
                    },
                    {
                        element: '#how-it-works header',
                        intro: 'Área para instruções aos usuários',
                        position: 'top'
                    },
                    {
                        element: '.course',
                        intro: 'Clique para ir ao curso',
                        position: 'bottom'
                    },
                    {
                        element: '#step7',
                        intro: 'Página inicial de um curso',
                        position: 'left'
                    },
                    {
                        element: '#course-video',
                        intro: 'Vídeo de apresentação do curso',
                        position: 'right'
                    },
                    {
                        element: '#instructors-info',
                        intro: 'Currículo do professor',
                        position: 'left'
                    },
                    {
                        element: '#lesson-list',
                        intro: 'Estrutura do curso e lista das aulas',
                        position: 'top'
                    },
                    {
                        element: '#go-to-course',
                        intro: 'Clique para iniciar o curso',
                        position: 'bottom'
                    },
                    {
                        element: '#step12',
                        intro: 'Página das aulas',
                        position: 'left'
                    },
                    {
                        element: '#lesson-list-dropdown',
                        intro: 'Menu com a lista de aulas',
                        position: 'bottom'
                    },
                    {
                        element: '#lesson-units-nav',
                        intro: 'Conjunto de capítulos de uma aula',
                        position: 'right'
                    },
                    {
                        element: '#student-notes',
                        intro: 'Área para anotações do aluno',
                        position: 'left'
                    },
                    {
                        element: '#materials',
                        intro: 'Área para materiais adicionais',
                        position: 'top'
                    },
                    {
                        element: '#forum',
                        intro: 'Fórum do curso',
                        position: 'top'
                    },
                    {
                        element: '#course-nav',
                        intro: 'Menu para acessar cada uma das áreas e o caderno virtual',
                        position: 'bottom'
                    },
                    {
                        element: '#admin-link',
                        intro: 'Administração dos cursos',
                        position: 'bottom'
                    },
                    {
                        element: '#step20',
                        intro: 'Botões para inserir vídeos e atividades',
                        position: 'left'
                    },
                    {
                        element: '#save-publish-buttons',
                        intro: 'Botões para salvar e publicar aulas',
                        position: 'bottom'
                    }
                ]
            });

            intro.start();
        }
    </script>
</body>
</html>
