{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if object.type == 'receipt' %}
        {% include "_course-header-inline.html"  with course=object.course_student.course %}
        {% endif %}
        <!-- TODO arrumar o link de impressão com a hash -->
        <a href="{% url 'certificate-download' object.link_hash %}"
           class="btn btn-default pull-right hidden-print">
            <i class=" glyphicon glyphicon-print"></i>
            {% if object.type == 'receipt' %}
            {% trans 'Baixar Comprovante' %}
            {% else %}
            {% trans 'Baixar Certificado' %}
            {% endif %}
        </a>
    </div>
    {% if object.type == 'receipt' %}
    {% include "_certificate-receipt.html" %}
    {% else %}
    {%  block certificate %}
    {% include "_certificate-certificate.html" %}
    {% endblock %}
    {% endif %}
</div>
{% endblock %}
