{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}

{% if object.type == 'receipt' %}
    <div class="container">
        {% include "_course-header-inline.html"  with course=object.course_student.course %}
        <div class="container certificate-container">
            <h1><span class="fa fa-check-square-o text-success"></span> Comprovante de conclusão de curso</h1>

            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="/media/{{ object.course.home_thumbnail }}" />
                </div>
                <div class="col-sm-8">
                    <p><strong class="text-uppercase">{{ object.course_student.user.get_full_name }}</strong> assistiu ao curso <em>{{ object.course.name }}</em> com duração de 10 horas.</p>
                </div>
            </div>
            <footer class="text-right">
                <!-- TODO colocar a data de emissão e código do certificado -->
                <p class="text-muted">O comprovante não possui a mesma validade do certificado.</p>
                <!-- <p>Emitido automaticamente em <span>18/08/2015</span></p>
                <p>Este comprovante não possui a validade de uma certificado.</p> -->
            </footer>

        </div>
    </div>
{% else %}
    <div class="container">

        <div class="row">
            <!-- TODO arrumar o link de impressão com a hash -->
            <a href="print" class="btn btn-default pull-right hidden-print"><i class=" glyphicon glyphicon-print"></i> Imprimir</a>
        </div>
        <div class="certificate-container">

            <div class="institute-logo">
                <img alt="Logo Instituto" src="">
            </div>
            <div class="text-center">
                <!-- TODO colocar os dados corretos da instituição-->
                <p><strong>Nome da Instituição</strong> confere a</p>
                <h2 class="top">{{ object.course_student.user.get_full_name }}</h2>
                <p>o comprovante de conclusão do curso online</p>
                <h1>{{ object.course.name }}</h1>
                <p>que possui carga horária de <span>30 horas</span>.</p>
            </div>
            <div class="row">
                <!-- TODO fazer um for de instrutores -->
                <div class="col-xs-3">
                    <!-- TODO colocar a assinatura do instrutor -->
                    <img alt="Assinatura" src="" />
                    <hr />
                    <!-- TODO colocar o nome correto do instrutor e da instituição -->
                    <small>
                    Nome do instrutor <br/>
                    Nome da Instituição
                    </small>
                </div>
            </div>
        </div>
        <footer class="text-right hide">
            <!-- TODO colocar a data de emissão e código do certificado -->
            <p>Emitido em <span>18/08/2015</span></p>
            <p>Código de validação: <span> -código- </span></p>
        </footer>
    </div>
{% endif %}


{% endblock %}
