{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load compressed %}
{% load is_course_coordinator %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'certificate' %}
{% endblock %}

{% block wrapper_classes %}
    wrapper-course-lesson
{% endblock %}

{% block content %}

<!-- TODO colocar header do curso -->

<!-- TODO if user is logged in and don't have the certificate for this course, display button Request Certificate -->

<div class="container">

    <div class="container certificate-container">

        <p>{{ object.course_student }} assistiu a 97% do conteúdo do curso <em>TIM faz ciência</em> com duração de X horas.</p>
        <p>Texto editado pelo admin no template certificate-settings.</p>

        <footer class="text-right">
            <!-- TODO colocar a data de emissão e código do certificado -->
            <p>Emitido automaticamente em <span>18/08/2015</span></p>
            <p>Este comprovante não possui a validade de uma certificado.</p>
        </footer>

    </div>
</div>
{% endblock %}
