{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

<!-- class-modal -->
<div class="modal fade" id="class-modal" tabindex="-1" role="dialog" aria-labelledby="class-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="class-modal-label">{{ object.name }}</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class"form-group">
                        <label for="class-users-list">{% trans 'Users' %}</label>
                        <textarea id="class-users-list" class="form-control" rows="10" placeholder="Paste users list here, one user per line."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">{% trans 'Add users' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="classes" class="course-classes">
    <!-- ACTIONS -->
    <div class="actions-menu" fixed-bar>
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-5 col-xs-7 textright">
                    <!-- <button class="btn btn-info">Listar | <i class="fa fa-star-o"></i></button> -->
                    <button class="btn btn-danger" title="{% trans 'Delete course' %}" ng-click="deleteCourse()">{% trans 'Delete' %} | <i class="fa fa-trash-o"></i></button>
                    <button class="btn btn-success" ng-click="saveCourse()">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>

    </div>
    <!-- END ACTIONS -->

    {% include "_course-header-inline.html"  with course=object.course %}
    <section id="classes-content" class="container">
    	<header class="secondary-header">
            <div class="row">
                <div class="col-lg-9">
                    <h1>
                        <span contenteditable=true>{{ object.name }}</span>
                    </h1>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-lg btn-danger uppercase" data-toggle="modal" data-target="#class-modal">{% trans 'Add users' %}</a>
                </div>
            </div>
        </header>
        <table class="table table-list">
            <tr>
                <th class="classname">{% trans "Username" %}</th>
                <th class="email">{% trans "Email" %}</th>
                <th class="fullname">{% trans "Full name" %}</th>
                <th class="actions">{% trans "Actions" %}</th>
            </tr>
            {% for student in object.students.all %}
            <tr>
                <td>{{ student.username }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.get_full_name }}</td>
                <td class="actions">
                    <a href="#" class="btn btn-warning"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>

{% endblock %}
