{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

<!-- class-modal -->
<div class="modal fade" id="class-modal" tabindex="-1" role="dialog" aria-labelledby="class-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="class-modal-label">Nome da Turma</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class"form-group">
                        <label for="class-users-list">{% trans 'Users' %}</label>
                        <textarea id="class-users-list" class="form-control" rows="10" placeholder="Paste users list here, one user per line.">
                            
                        </textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">{% trans 'Add users' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="classes" class="course-classes">
    {% include "_course-header-inline.html"  with course=course %}
    <section id="classes-content" class="container">
    	<header class="secondary-header">
            <div class="row">
                <div class="col-lg-9">
                    <h1>Nome da turma</h1>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-lg btn-danger uppercase" data-toggle="modal" data-target="#class-modal">{% trans 'Add users' %}</a>
                </div>
            </div>
        </header>
        <table class="table table-list">
            <tr>
                <th class="classname">{% trans "Username" %}</th>
                <th class="email">{% trans "Email" %}</th>
                <th class="fullname">{% trans "Full name" %}</th>
                <th class="actions">{% trans "Actions" %}</th>
            </tr>
            <tr>
                <td>Nome do user</td>
                <td>email@email.com</td>
                <td>Nome completo do user</td>
                <td class="actions">
                    <a href="#" class="btn btn-warning"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </table>
    </section>
</div>
{% endblock %}
