{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<div class="modal fade" id="class-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="class-modal-label">{% trans 'New class name' %}</h4>
            </div>
            <form role="form" method="post" action="{% url 'class-create' %}">
                {% csrf_token %}
                <input type="hidden" name="course" value="{{course.id}}">
                <div class="modal-body">
                        <div class"form-group">
                            <label for="class-name" class="sr-only">{% trans 'New class name' %}</label>
                            <input id="class-name" name="name" class="form-control" placeholder="{% trans 'New class name' %}"></input>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Add class' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="classes" class="course-classes">
    {% include "_course-header-inline.html"  with course=course %}
    <section id="classes-content" class="container">
    	<header class="secondary-header">
            <div class="row">
                <div class="col-lg-9">
                    <h1>{% trans 'Classes' %}</h1>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-lg btn-danger uppercase" data-toggle="modal" data-target="#class-modal">{% trans 'Add class' %}</a>
                </div>
            </div>
        </header>
        <table class="table table-list">
            <tr>
                <th class="classname">{% trans "Class name" %}</th>
                <th class="assistant">{% trans "Assistant Professor" %}</th>
                <th class="students">{% trans "Students" %}</th>
                <th class="actions">{% trans "Actions" %}</th>
            </tr>
            {% for class in object_list %}
            <tr>
                <td><a href="{% url 'class' pk=class.id %}">{{ class.name }}</a></td>
                <td>{{ class.assistant | default:'' }}</td>
                <td>{{ class.students.count }}</td>
                <td class="actions">
                    <form method="post" action="{% url 'class-delete' pk=class.id %}">
                        <a href="{% url 'class' pk=class.id %}" class="btn btn-danger"><i class="fa fa-gear"></i></a>
                        {% csrf_token %}
                        {% if class.course.default_class.id != class.id %}
                            <button type="submit" class="btn btn-warning"><i class="fa fa-trash-o"></i></button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}
