{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
<div id="classes" class="course-classes">
    {% include "_course-header-inline.html"  with course=course %}
    <section id="classes-content" class="container">
    	<header class="secondary-header">
            <div class="row">
                <div class="col-lg-9">
                    <h1>{% trans 'Classes' %}</h1>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-lg btn-danger uppercase">{% trans 'Add class' %}</a>
                </div>
            </div>
        </header>
        <table class="table table-list">
            <tr>
                <th class="classname">{% trans "Class name" %}</th>
                <th class="actions">{% trans "Actions" %}</th>
            </tr>
            <tr>
                <td>Nome da Turma</td>
                <td class="actions">
                    <a href="{% url 'class' 'html5' %}" class="btn btn-danger"><i class="fa fa-gear"></i></a>
                    <a href="#" class="btn btn-warning"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </table>
    </section>
</div>
{% endblock %}
