{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        <!-- CONTAINER -->
        <div id="courses-page" class="container">
            <header class="page-header-double">
                <h2><i class="fa fa-angle-double-right"></i> {% trans 'Courses' %}</h2>
            </header>

            <section id="courses" class="row">
                <div class="col-md-8">
{#                    <div class="filters">#}
{#                        <!--  FORM INLINE -->#}
{#                        <div class="form-inline">#}
{#                            <!-- ROW -->#}
{#                            <div class="row">#}
{#                                <div class="status col-sm-7">#}
{#                                    <button class="btn btn-info">Todos</button>#}
{#                                    <button class="btn btn-default">Em andamento</button>#}
{#                                    <button class="btn btn-default">Próximos</button>                                #}
{#                                </div>#}

{#                                <div class="col-sm-5 textright">#}
{#                                    <div class="search input-group">#}
{#                                        <input type="text" ng-model="filters.textsearch" placeholder="Pesquisar" class="form-control ng-pristine ng-valid">#}
{#                                        <span class="input-group-btn"><button class="btn btn-info"><i class="fa fa-search"></i></button></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- END FORM INLINE -->#}
{#                    </div>#}
                    {% for course in courses %}
                    <!-- COURSE -->
                    <div class="course">
                        <a href="{% url "course_intro" course.slug %}" class="course-link">
                            <div class="thumb-wrapper">
                                <span class="mouseover"></span>
                                {% if course.home_thumbnail %}
                                <span class="thumb" style="background-image: url({{ course.home_thumbnail.url }})"></span>
                                {% endif %}
                            </div>
                            <div class="info-box">
                                <div class="info">
                                    <h3>{{ course.name }}</h3>
                                    <p class="instructors">{% for professor in course.professors.all %}{{ professor.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                    <p class="abstract">{{ course.abstract }}</p>
                                </div>
                                <div class="enroll">
                                    <span>
                                        <i class="fa fa-calendar"></i> {{ course.start_date |date:"M, Y" }}
                                    </span>
                                    <span class="enroll-link textright uppercase">
                                        Começar curso <i class="fa fa-angle-right"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- END COURSE -->
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <aside class="more-info">
                        <div class="box">
                            <h3>Fique em contato</h3>
                            <p>Curta nossa página no Facebook para ficar informado sobre os lançamentos dos cursos.</p>
                        </div>
                        <div class="box">
                            <h3>Participe</h3>
                            <p>Nossa equipe está empenhada em oferecer a você os melhores professores e cursos.</p>
                            <p>A única coisa que você precisa é de uma conexão internet! Invista em você. Transforme-se num profissional desejado pelo mercado.</p>
                        </div>
                        <div class="box">
                            <h3>Como funciona?</h3>
                            <ol>
                                <li>Entre num curso que te interesse.</li>
                                <li>Clique em “Fazer curso” e cadastra-se.</li>
                                <li>Comece o curso ou espere até que ele seja lançado.</li>
                                <li>Qualifique-se. Invista na sua formação. </li>
                            </ol>
                        </div>
                        <div class="box">
                            <h3>Você é professor?</h3>
                            <p>Você está interessado em fazer um curso aberto na plataforma TIM Tec?</p>
                            <a href="#" class="btn btn-info btn-block btn-lg" data-toggle="modal" data-target="#modal-contact">Entre em contato <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </aside>
                </div>
            </section>
        </div>
        <!-- CONTAINER -->
{% endblock %}
