{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load compressed %}
{% load is_course_coordinator %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'certificate' %}
{% endblock %}

{% block wrapper_classes %}
    wrapper-course-lesson
{% endblock %}

{% block content %}

    <div >

        <!-- TODO make header the same as lesson template -->
        {% include "_course-header-inline.html"  with course=course %}

        <!-- MAIN CONTENT -->
        <section class="container">

            <header class="secondary-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>{% trans "Evaluations" %} </h1>
                    </div>
                </div>
            </header>
        </section>
        <section class="container">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>{% trans 'Class' %}</th>
                                <th>{% trans 'Allows certificate' %}</th>
                                <th>{% trans 'Asked for certificate' %}</th>
                                <th>{% trans 'Able to attend evaluation' %}</th>
                                <th>{% trans 'Already have certificate' %}</th>
                                <th>{% trans 'Scheduled evaluations' %}</th>
                                <th>{% trans 'Upcoming evaluations' %}</th>
                                <th>{% trans 'Manage evaluations' %}</th>
                            </tr>
                        </thead>
                        <tr>
                            <td><a href="#" title="Manage evaluations">Turma A</a></td>
                            <td><input type="checkbox" checked> Yes</td>
                            <td>50</td>
                            <td>14</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td><a class="btn btn-xs btn-success"
                                   href="{% url 'class-evaluations' object.id %}"
                                        >{% trans 'Manage evaluations' %}</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" title="Manage evaluations">Turma B</a></td>
                            <td><input type="checkbox"> No</td>
                            <td>0</td>
                            <td>5</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td><button class="btn btn-xs btn-default" disabled>{% trans 'Manage evaluations' %}</button></td>
                        </tr>
                        <tr>
                            <td><a href="#" title="Manage evaluations">Turma C</a></td>
                            <td><input type="checkbox"> No</td>
                            <td>0</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td><button class="btn btn-xs btn-default" disabled >{% trans 'Manage evaluations' %}</button></td>
                        </tr>
                    </table>

                </div>
            </div>
        </section>
    </div>


{% endblock %}
