{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load compress %}
{% load static %}
{% load is_course_coordinator %}

{% block js %}
    {{ block.super }}
    {% compress js %}
<script type="text/javascript" src="{% static 'js/certificate/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/certificate/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/certificate/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/certificate/services.js' %}"></script>
<script type="text/javascript" src="{% static 'checklist-model/checklist-model.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/previewImage.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
{% endcompress %}

{% endblock %}

{% block wrapper_classes %}
    wrapper-course-lesson
{% endblock %}

{% block body_attrs %}ng-app='certification'{% endblock %}

{% block content %}

    <div id="classes" class="course-classes" ng-controller="ClassEvaluationsController">

        {% include "_course-header-inline.html"  with course=object.course %}
        <section id="classes-content" class="container">
            <header class="secondary-header row">
                <div class="col-sm-8">
                    <h1>{% trans 'Evaluations for class' %}
                        <em>{% verbatim %}
                            {{ klass.name }}
                        {% endverbatim %}
                        </em>
                    </h1>
                </div>
                <h3 class="col-sm-4">
                    <a role="menuitem" tabindex="-1"
                       ng-disabled="!switches.can_certificate"
                       ng-click="createEvaluation()"
                       href="#" class="btn btn-success">
                       {% trans 'Schedule evaluation' %}
                    </a>
                </h3>
            </header>
            <div class="alert row" role="alert"
                 ng-class="{'alert-info': switches.can_certificate, 'alert-danger': !switches.can_certificate}">
                <div class="col-xs-8">
                    {% trans 'Selecione à direita se esta turma pode emitir ou não certificados.' %}
                </div>
                <div class="col-xs-4">
                    <div class="professor-assistant user-can-certificate text-right">
                            <input  {% if stats.can_certificate %}checked{% endif %}
                                    ng-model="klass.user_can_certificate"
                                    ng-change="toggleClassCertifiable()"
                                    type="checkbox" />
                        <label>
                            {% trans 'Allows Certification' %}
                        </label>
                    </div>
                </div>
            </div>

            <div class="well row">
                <div class="col-sm-6">
                    <h2>{% trans 'Evaluation status' %}</h2>
                    <ul class="list-unstyled">
                        <li>
                            {% trans 'Students that can certificate' %}:
                            <strong>
                                {% verbatim %}
                                {{ stats.user_can_certificate }}
                                {% endverbatim %}
                            </strong>
                        </li>
                        <li>
                            {% trans 'Students that requested certificate' %}:
                            <strong>
                                {% verbatim %}
                                {{ certification_processes.length }}
                                {% endverbatim %}
                            </strong>
                        </li>
                        <li>
                            {% trans 'Already have certificate' %}:
                            <strong>
                                {% verbatim %}
                                {{ stats.has_certificate }}
                                {% endverbatim %}
                            </strong>
                        </li>
                        <li>
                            {% trans 'Scheduled evaluations' %}:
                            <strong>
                                {% verbatim %}
                                {{ class_evaluations.length }}
                                {% endverbatim %}
                            </strong>
                        </li>
                        <li>
                            {% trans 'Upcoming evaluations' %}:
                            <strong>
                                {% verbatim %}
                                {{ stats.upcoming }}
                                {% endverbatim %}
                            </strong>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2>{% trans 'Class progress' %}</h2>
                    <ul class="list-unstyled">
                        <li>
                            {% trans 'Number of enroled students' %}:
                            <strong>
                                {% verbatim %}
                                {{ class_students.length }}
                                {% endverbatim %}
                            </strong>
                        </li>
                        <li>
                            {% trans 'Number of students able to attend evaluation:' %} <strong>10</strong>
                            {% trans 'out of' %} 100
                        </li>
                    </ul>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                        <span class="sr-only">10% Completed the course and filled profile</span>
                      </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-3 well evaluations-list">
                    <a role="menuitem" tabindex="-1"
                       ng-disabled="!switches.can_certificate"
                       ng-click="createEvaluation()"
                       href="#" class="btn btn-success">
                       {% trans 'Schedule evaluation' %}
                    </a>
                    <p ng-show="!class_evaluations.length">{% trans 'No evaluation found.' %}
                       {% trans 'Schedule one at' %}
                        <a role="menuitem" tabindex="-1"
                           ng-click="createEvaluation()"
                           ng-disabled="!switches.can_certificate"
                           href="#">
                            {% trans 'Schedule evaluation' %}
                        </a>.
                    </p>
                    <p ng-show="class_evaluations.length">{% trans 'Escolha uma avaliação da lista abaixo:' %}</p>
                    <ul class="nav nav-pills nav-stacked">
                      <li role="presentation" ng-repeat="evaluation in class_evaluations"
                        ng-class="{ active : isCurrent(evaluation.id)}">
                        <a href="#" ng-click="changeEvaluation($event, $index)" class="fa fa-calendar">
                            {% trans 'Evaluation' %} -
                            {% verbatim %}
                            {{ evaluation.date | date : "dd 'de' MMM H:mm" }}
                            {% endverbatim %}
                        </a>
                      </li>

                    </ul>
                </div>

                <div class="col-sm-9" ng-show="evaluation.id">
                    <header class="row">
                        <div class="col-sm-6">
                            <h3 ng-show="!evaluation.processes.length">
                                {% trans 'Chose an evaluation throught the left aside menu or schedule a new one.' %}
                            </h3>

                            <h3 ng-show="evaluation.processes.length">
                                {% trans 'Evaluation' %} -
                                {% verbatim %}
                                {{ evaluation.date | date : "dd 'de' MMM H:mm" }}
                                {% endverbatim %}
                            </h3>
                        </div>
                        <div class="col-sm-6 text-right manage-buttons">
                            <button class="btn btn-success" ng-click="createEvaluation(true)">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                                {% trans 'Edit evaluation' %}
                            </button>
                            <button ng-click="addStudentEvaluation()" class="btn btn-success">
                                <span class="fa fa-plus-square" aria-hidden="true"></span>
                                {% trans 'Add student' %}
                            </button>
                        </div>
                    </header>

                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "Full name" %}</th>
                                <th>{% trans "Username" %}</th>
                                <th>{% trans "Email" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="!evaluation.processes.length">
                                {{ evaluation.process.length }}
                                <td colspan="8">{% trans 'No students found' %}</td>
                            </tr>
                            <tr ng-repeat="process in certification_processes | attending:evaluation.id">
                                {% verbatim %}
                                <td>{{ process.student.get_full_name }}</td>
                                <td>{{ process.student.username }}</td>
                                <td>{{ process.student.email }}</td>
                                {% endverbatim %}
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <!-- Templates -->
            <script type="text/ng-template" id="createEvaluationModal.html">
                <div class="modal-header">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger"  ng-click="cancel()">{% trans "Close" %}</button>
                        <button type="button" class="btn btn-success" ng-click="save()">{% trans "Send" %}</button>
                    </div>
                    <h4 class="modal-title" id="myModalLabel">
                        {% trans "Schedule Evaluation" %}</h4>
                </div>
                <div class="modal-body row">
                    <div class="alert alert-danger" role="alert" ng-show="empty_error || empty_error ">
                    </div>
                    <div class="form-group col-xs-5">
                        <label>{% trans 'Evaluation Date' %}</label>
                        <p class="input-group">
                            <input datetime-picker="dd MMM yyyy HH:mm"
                                   class="form-control"
                                   type="text"
                                   ng-model="evaluation.date"
                                   is-open="calendar.eval_date" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="openCalendar($event, 'eval_date')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-xs-5">
                        <label>{% trans 'Results Date' %}</label>
                        <p class="input-group">
                            <input datetime-picker="dd MMM yyyy HH:mm"
                                   class="form-control"
                                   type="text"
                                   ng-model="evaluation.results_date"
                                   is-open="calendar.eval_results_date" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="openCalendar($event, 'eval_results_date')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <label>{% trans 'Mininum grade' %}</label>
                        <input class="form-control" ng-model="evaluation.min_grade"
                               type="number" />
                    </div>
                    <div class="col-xs-12">
                        <textarea class="form-control" rows="5"
                                  ng-model="evaluation.instructions"
                                  placeholder="{% trans 'Instructions' %}">

                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            ng-click="cancel()">{% trans "Close" %}</button>
                    <button type="button" class="btn btn-success"
                            ng-click="save()">{% trans "Send" %}</button>
                </div>
            </script>

            <script type="text/ng-template" id="addStudentModal.html">
                <div class="modal-header">
                    <h4 class="modal-title"> {% trans 'Students that can attend' %}</h4>
                    <button type="button" class="btn btn-danger"
                            ng-click="cancel()">{% trans "Close" %}</button>
                    <button type="button" class="btn btn-success"
                            ng-click="save()">{% trans "Send" %}</button>
                </div>
                <div class="modal-body row">
                    <div class="students col-lg-12">
                        <table class="table table-list">
                            <tr>
                                <th class="fullname">{% trans "Full name" %}</th>
                                <th class="actions course-sections textright">
                                    <a class="has-tooltip fa fa-cog dropdown-toggle"
                                       data-placement="top"
                                       data-original-title="{%  trans 'Manage evaluations' %}"
                                       id="course-tools" data-toggle="dropdown"
                                       aria-expanded="true">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="course-tools">
                                        <li>
                                            <a ng-click="selectAll(true)">
                                                Select all
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="selectAll(false)">
                                                De-select all
                                            </a>
                                        </li>
                                    </ul>
                                </th>
                            </tr>
                            <tr ng-repeat="process in class_students | can_attend">
                                {% verbatim %}
                                <td>{{process.student.name}} {{ process.student.email }}</td>
                                {% endverbatim %}
                                <td class="text-center">
                                    <input class="text-center" type="checkbox"
                                           ng-click=""
                                           ng-model="process.selected"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            ng-click="cancel()">{% trans "Close" %}</button>
                    <button type="button" class="btn btn-success"
                            ng-click="save()">{% trans "Send" %}</button>
                </div>
            </script>

            <script type="text/ng-template" id="certificationProcess.html">
                <div class="container">
                    <table class="table table-list">
                        <tr>
                            <th class="studentname">{% trans "User name" %}</th>
                            <th class="progress">{% trans "Assistant Professor" %}</th>
                            <th class="student">{% trans "Class" %}</th>
                        </tr>
                        {% for proc in object_list %}
                            {% with proc.course_certification.course_student.user as proc_user %}
                                <tr>
                                    <td><a href="{% url 'certificate_process' pk=proc.id %}"
                                            >
                                        {{ proc_user }}</a></td>
                                    <td>{{ proc.klass.assistant | default:'' }}</td>
                                    <td>{{ proc.klass.name }}</td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </table>
                </div>
            </script>

            <script type="text/ng-template" id="certificationProcessEdit.html">
                <div class="certificate" ng-app="certification">
                    <div ng-controller="CertificationProcessEditController"
                         class="container">
                        <form class="form-horizontal" role="form" ng-submit="update()">
                            <div class="form-group">
                                <label for="exam_grade">
                                    {% trans 'Student exam grade' %}
                                </label>
                                <input ng-model="cp.exam_grade" class="form-control"
                                       type="number" />
                            </div>
                            <div class="form-group">
                                <label for="exam_grade_needed">
                                    {% trans 'Exam needed grade' %}
                                </label>
                                <input class="form-control" type="number"
                                       ng-model="cp.exam_grade_needed" />
                            </div>
                            <div class="form-group">
                                <label for="exam_date">
                                    {% trans 'Exam date' %}</label>
                                <p class="input-group">
                                    <input datetime-picker="dd MMM yyyy HH:mm"
                                           class="form-control"
                                           type="text"
                                           ng-model="cp.exam_date"
                                           is-open="calendar.exam_date" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="openCalendar($event, 'exam_date')">
                                            <i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="exam_results_date">
                                    {% trans 'Exam results date' %}</label>
                                <p class="input-group">
                                    <input datetime-picker="dd MMM yyyy HH:mm"
                                           class="form-control"
                                           type="text"
                                           ng-model="cp.exam_results_date"
                                           is-open="calendar.exam_results_date" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="openCalendar($event, 'exam_results_date')">
                                            <i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <input type="submit" class="btn btn-success" value="update" />
                        </form>
                    </div>
                </div>
            </script>
        </section>
    </div>
{% endblock %}
