{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load compressed %}
{% load is_course_coordinator %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'certificate' %}
{% endblock %}

{% block wrapper_classes %}
    wrapper-course-lesson
{% endblock %}

{% block content %}

    <div id="classes" class="course-classes" ng-app="certification"
         ng-controller="EvaluationCtrl">

        {% include "_course-header-inline.html"  with course=object.course %}
        <section id="classes-content" class="container">
            <header class="secondary-header row">
                <div class="col-sm-8">
                    <h1>{% trans "Evaluations for class" %} {class}</h1>
                </div>
                {% verbatim %}
                <h3 class="col-sm-4">
                    {{ evaluation.date | date : "dd 'de' MMM H:mm" }}
                    <a role="menuitem" tabindex="-1"
                       ng-click="createEvaluation(true)"
                       href="#" class="btn btn-success">
                       Schedule evaluation
                    </a>
                </h3>
                {% endverbatim %}
            </header>

            <div class="well row">
                <div class="col-sm-6">
                    <h2>Evaluation status</h2>
                    <ul class="list-unstyled">
                        <li>
                            Students that can certificate: <strong>12</strong>
                        </li>
                        <li>
                            Students that requested certificate: <strong>40</strong>
                        </li>
                        <li>
                            Already have certificate: <strong>24</strong>
                        </li>
                        <li>
                            Scheduled evaluations: <strong>3</strong>
                        </li>
                        <li>
                            Upcoming evaluations: <strong>4</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2>Class progress</h2>
                    <ul class="list-unstyled">
                        <li>
                            Number of enroled students: <strong>100</strong></strong>
                        </li>
                        <li>
                            Number of students able to attend evaluation: <strong>10</strong> out of 100
                        </li>
                    </ul>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                        <span class="sr-only">10% Completed the course and filled profile</span>
                      </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-3 well">
                    <p>
                        <a role="menuitem" tabindex="-1"
                           ng-click="createEvaluation(true)"
                           href="#" class="fa fa-plus-square">
                            Schedule evaluation
                        </a>
                    </p>
                    <p>Escolha uma avaliação da lista abaixo:</p>
                    <ul class="nav nav-pills nav-stacked">
                      <li role="presentation" class="active"><a href="#" class="fa fa-calendar"> Prova 1 - 16/10</a></li>
                      <li role="presentation"><a href="#" class="fa fa-calendar"> Prova 2 - 25/11</a></li>
                      <li role="presentation"><a href="#" class="fa fa-calendar"> Prova 3 - 15/12</a></li>
                    </ul>
                </div>

                <div class="col-sm-9">
                    <header class="row">
                        <div class="col-sm-4">
                            <h3>Título Evaluation - 16/10</h3>
                        </div>
                        <div class="col-sm-8">
                            <button class="btn btn-success"><span class="fa fa-pencil" aria-hidden="true"></span> {% trans 'Edit evaluation' %}</button>
                            <button class="btn btn-success"><span class="fa fa-plus-square" aria-hidden="true"></span> {% trans 'Add student' %}</button>
                        </div>
                    </header>

                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "Full name" %}</th>
                                <th>{% trans "Username" %}</th>
                                <th>{% trans "Email" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="!evaluation.processes.length">
                                {{ evaluation.process.length }}
                                <td colspan="8">{% trans 'No students found' %}</td>
                            </tr>

                            <tr ng-repeat="process in certification_processes | attending:evaluation.id">
                                {% verbatim %}
                                <td>{{ process.student.get_full_name }}</td>
                                <td>{{ process.student.username }}</td>
                                <td>{{ process.student.email }}</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                                {% endverbatim %}
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria do Rosario</td>
                                <td>maria</td>
                                <td>maria@gmail.com</td>
                                <td class="actions">
                                    <button class="btn btn-xs btn-success">{% trans 'Edit student' %}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <!-- Templates -->
            <script type="text/ng-template" id="createEvaluationModal.html">
                <div class="modal-header">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger"  ng-click="cancel()">{% trans "Close" %}</button>
                        <button type="button" class="btn btn-success" ng-click="save()">{% trans "Send" %}</button>
                    </div>
                    <h4 class="modal-title" id="myModalLabel">
                        {% trans "Schedule Evaluation" %}</h4>
                </div>
                <div class="modal-body row">
                    <div class="alert alert-danger" role="alert" ng-show="empty_error || empty_error ">
                    </div>
                    <div class="form-group col-xs-5">
                        <label>{% trans 'Evaluation Date' %}</label>
                        <p class="input-group">
                            <input datetime-picker="dd MMM yyyy HH:mm"
                                   class="form-control"
                                   type="text"
                                   ng-model="evaluation.date"
                                   is-open="calendar.eval_date" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="openCalendar($event, 'eval_date')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-xs-5">
                        <label>{% trans 'Results Date' %}</label>
                        <p class="input-group">
                            <input datetime-picker="dd MMM yyyy HH:mm"
                                   class="form-control"
                                   type="text"
                                   ng-model="evaluation.results_date"
                                   is-open="calendar.eval_results_date" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="openCalendar($event, 'eval_results_date')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <label>{% trans 'Mininum grade' %}</label>
                        <input class="form-control" ng-model="evaluation.min_grade"
                               type="number" />
                    </div>
                    <div class="col-xs-12">
                        <textarea class="form-control" rows="5"
                                  ng-model="evaluation.instructions"
                                  placeholder="{% trans 'Instructions' %}">

                        </textarea>
                    </div>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title"> {% trans 'Students attending list' %}</h4>
                </div>
                <div class="modal-body row">
                    <div class="students col-lg-12">

                        <table class="table table-list">
                            <tr>
                                <th class="fullname">{% trans "Full name" %}</th>
                                <th class="actions course-sections textright">
                                    <a class="has-tooltip fa fa-cog dropdown-toggle"
                                       data-placement="top"
                                       data-original-title="{%  trans 'Manage evaluations' %}"
                                       id="course-tools" data-toggle="dropdown"
                                       aria-expanded="true">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="course-tools">
                                        <li>
                                            <a ng-click="selectAll(true)">
                                                Select all
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="selectAll(false)">
                                                De-select all
                                            </a>
                                        </li>
                                    </ul>
                                </th>
                            </tr>
                            <tr ng-repeat="student in class_students">
                                {% verbatim %}
                                <td>{{student.name}} {{ student.email }}</td>
                                {% endverbatim %}
                                <td class="text-center">
                                    <input class="text-center" type="checkbox"
                                           ng-click=""
                                           ng-model="student.selected"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            ng-click="cancel()">{% trans "Close" %}</button>
                    <button type="button" class="btn btn-success"
                            ng-click="save()">{% trans "Send" %}</button>
                </div>
            </script>

            <script type="text/ng-template" id="certificationProcess.html">
                <div class="container">
                    <table class="table table-list">
                        <tr>
                            <th class="studentname">{% trans "User name" %}</th>
                            <th class="progress">{% trans "Assistant Professor" %}</th>
                            <th class="student">{% trans "Class" %}</th>
                        </tr>
                        {% for proc in object_list %}
                            {% with proc.course_certification.course_student.user as proc_user %}
                                <tr>
                                    <td><a href="{% url 'certificate_process' pk=proc.id %}"
                                            >
                                        {{ proc_user }}</a></td>
                                    <td>{{ proc.klass.assistant | default:'' }}</td>
                                    <td>{{ proc.klass.name }}</td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </table>
                </div>
            </script>

            <script type="text/ng-template" id="certificationProcessEdit.html">
                <div class="certificate" ng-app="certification">
                    <div ng-controller="CertificationProcessEditController"
                         class="container">
                        <form class="form-horizontal" role="form" ng-submit="update()">
                            <div class="form-group">
                                <label for="exam_grade">
                                    {% trans 'Student exam grade' %}
                                </label>
                                <input ng-model="cp.exam_grade" class="form-control"
                                       type="number" />
                            </div>
                            <div class="form-group">
                                <label for="exam_grade_needed">
                                    {% trans 'Exam needed grade' %}
                                </label>
                                <input class="form-control" type="number"
                                       ng-model="cp.exam_grade_needed" />
                            </div>
                            <div class="form-group">
                                <label for="exam_date">
                                    {% trans 'Exam date' %}</label>
                                <p class="input-group">
                                    <input datetime-picker="dd MMM yyyy HH:mm"
                                           class="form-control"
                                           type="text"
                                           ng-model="cp.exam_date"
                                           is-open="calendar.exam_date" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="openCalendar($event, 'exam_date')">
                                            <i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="exam_results_date">
                                    {% trans 'Exam results date' %}</label>
                                <p class="input-group">
                                    <input datetime-picker="dd MMM yyyy HH:mm"
                                           class="form-control"
                                           type="text"
                                           ng-model="cp.exam_results_date"
                                           is-open="calendar.exam_results_date" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="openCalendar($event, 'exam_results_date')">
                                            <i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <input type="submit" class="btn btn-success" value="update" />
                        </form>
                    </div>
                </div>
            </script>
        </section>
    </div>
{% endblock %}
