<!-- FOOTER -->
<div id="main-footer" class="footer">
    <div class="container">
        <div class="row">
            <ul class="textcenter col-lg-12">
                <li><a>Ajuda</a></li>
                <li><a>Política de uso</a></li>
                <li><a>Política de privacidade</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- END FOOTER -->

<div class="modal fade" id="modal-about">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sobre o TIM Tec</h4>
            </div>
            <div class="modal-body">
                <p>TIM Tec é uma iniciativa do Instituto TIM, que está alinhada aos ideais e objetivos do PRONATEC, o Programa Nacional de Acesso ao Ensino Técnico e Emprego. O programa, considerado pelo governo federal como a mais ambiciosa reforma já realizada na Educação Profissional e Tecnológica brasileira, tem 5 objetivos estratégicos, entre os quais estão expandir, interiorizar e democratizar a oferta presencial e à distância de cursos técnicos e de formação inicial e continuada (FIC).</p>

                <p>Os cursos oferecidos por TIM Tec correspondem ao Eixo Tecnológico “Informação e Comunicação”, terminologia adotada pelo PRONATEC. Cursos que ensinam linguagens de programação, banco de dados, websites, desenho de jogos, entre outros, estão disponíveis gratuitamente.</p>

                <p>TIM Tec é uma plataforma do tipo MOOC (massive open online courses) e foi desenvolvida em código aberto para que instituições interessadas também possam se apropriar da plataforma e adaptá-la aos seus interesses e objetivos.</p>

                <p>Com TIM Tec, o Instituto TIM expressa seu compromisso com a educação profissional e tecnológica no país.</p>

                <h5>Conselho Consultivo</h5>
                
                <p>TIM Tec conta com um Conselho Consultivo, responsável pela análise dos cursos e da plataforma. Conheça os profissionais que compõem o conselho:</p>

                <p><strong>Regina Melo Silveira:</strong> professora e pesquisadora da Escola Politécnica da Universidade de São Paulo (Poli-USP) a atua na Rede Nacional de Pesquisa (RNP). Realizou pós-doutorado pela Universidade da Califórnia em Santa Cruz e doutorado pela Poli-USP.</p>

                <p><strong>Jarbas Barato:</strong> doutor pela Universidade Estadual de Campinas (UNICAMP), mestre pela San Diego State University e professor. Foi consultor da UNESCO, PNUD, Ministério da Educação, Fundação Bradesco e Fundação Padre Anchieta (TV Cultura).</p>

                <p><strong>Lucia Franco:</strong> doutora pela Escola Politécnica da USP. Professora Associada da Universidade Federal do ABC (UFABC) onde coordena o Núcleo de Tecnologia da Informação.</p>

                <p><strong>Bianca Santana:</strong> autora e colaboradora de livros e objetos educacionais multimídia, é uma das fundadoras da Casa da Cultura Digital, atual diretora de educação do Instituto Educadigital, mestre pela Universidade de São Paulo (USP).</p>

                <p><strong>Luís Otoni Ribeiro:</strong> auxilia a Secretaria de Educação Profissional e Tecnológica no Ministério da Educação na coordenação nacional dos cursos do e-Tec Idiomas da Rede e-Tec Brasil. É doutor pela Universidade Federal do Rio Grande do Sul (UFRGS).</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Contato</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1">
                        <form class="form-horizontal" method="post" action="{% url 'contact' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Sou</label>
                                <div class="col-lg-8">
                                    <select class="form-control" name="{{contact_form.occupation.name}}">
                                        <option>Estudante</option>
                                        <option>Professor</option>
                                        <option>Jornalista</option>
                                        <option>Administrador de instituição educacional</option>
                                        <option>Outro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Quero falar sobre</label>
                                <div class="col-lg-8">
                                    <select class="form-control" name="{{contact_form.subject.name}}">
                                        <option>Problemas no registro de usuários</option>
                                        <option>Problemas técnicos</option>
                                        <option>Acessibilidade para estudantes</option>
                                        <option>Certificados e exames</option>
                                        <option>Relacionamento institucional</option>
                                        <option>Outro assunto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Nome</label>
                                <div class="col-lg-8">
                                    <input required type="text" class="form-control" name="{{contact_form.name.name}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Email</label>
                                <div class="col-lg-8">
                                    <input required type="email" class="form-control" name="{{contact_form.email.name}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Mensagem</label>
                                <div class="col-lg-8">
                                    <textarea required class="form-control" rows="6" name="{{contact_form.message.name}}"></textarea>
                                </div>
                            </div>
                            <div class="submit textright">
                                <button type="reset" class="btn btn-danger">Limpar</button>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
