{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load timtec_markdown %}
{% load compressed %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'forum' %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}

<div id="forum" class="course-forum" ng-app="forum">
    {% if in_admin %}
        {% include "_admin_header_inline.html" with course=course %}
    {% else %}
        {% include "_course-header-inline.html"  with course=course question_form=false %}
    {% endif %}

    <section id="forum-content" class="container">
        <header class="secondary-header">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <h1>{% trans "Questions & Answers" %}</h1>
                </div>
                {% if not in_admin %}
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <a href="{% url 'forum_question_create' course.slug %}" class="ask-a-question btn btn-lg btn-danger uppercase">{% trans "Ask a question" %}</a>
                </div>
                {% endif %}
            </div>
        </header>

        <section class="questions col-sm-12 col-lg-12 clearfix">
            <div class="row" ng-app="forum">
                {% include "_forum_inline.html"  with course=course %}
            </div>
        </section>
    </section>
</div>

{% endblock %}
