{% extends 'base.html' %}

{% load i18n %}
{% load compressed %}

{% block head %}
    {{ block.super }}
    {% compressed_js 'core' %}
{% endblock %}

{% block content %}
        
    <div id="home" ng-app="core" ng-controller="HomeCtrl">
        <div id="courses" class="container">
            <h1>Confira nossos cursos</h1>
            <div class="row">
                <div ng-repeat="course in courses" class="course col-md-4 col-sm-6 col-xs-12">
                    {% verbatim %}
                    <div class="img">
                        <a ng-href="/course/{{ course.slug }}">
                            <span style="background-image: url({{ course.home_thumbnail_url }})"></span>
                        </a>
                    </div>
                    <div class="info">
                        <h3><a ng-href="/course/{{ course.slug }}">{{ course.name }}</a></h3>
                        <p class="instructors">{{ course.professors_names }}</p>
                        <p class="abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis neque, varius at nisi ac, adipiscing hendrerit metus. Donec sed metus at diam gravida ultricies eget nec ante. Cras nunc mi, interdum vitae porta ac, eleifend a lectus. Quisque semper elit vel suscipit lobortis. Donec gravida in quam in vestibulum. Nullam suscipit neque magna, et semper tellus porttitor ac. Vivamus ornare lacus vitae nisl fringilla, vitae mollis velit porta. Vestibulum ut odio consectetur, tincidunt purus vitae, posuere turpis. Phasellus feugiat risus sit amet dolor lobortis sodales. Nam fermentum lectus id venenatis tempus.</p>
                    </div>
                    <div class="enroll">
                        <a href="">
                            <span>
                                <i class="fa fa-calendar"></i> Jul, 2014
                            </span>
                            <span class="enroll-link textright uppercase">
                                Começar curso <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                    {% endverbatim %}
                </div>
            </div><!-- .row -->

        </div>


    </div><!-- #home -->

</div>
        
{% endblock %}
