{% extends 'base.html' %}

{% load i18n %}
{% load compressed %}
{% load is_enrolled %}
{% load get_flatpage %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'core' %}
    <script type="text/javascript" src="/static/js/introjs/home.js"></script>
{% endblock %}

{% block wrapper_classes %}
home
{% endblock %}

{% block content %}

    <div id="home" ng-app="core" ng-controller="HomeCtrl">
        {% if in_admin %}
        <!-- ACTIONS -->
        <div class="actions-menu" fixed-bar>
            <div class="container">
                <div class="actions-buttons">
                    <button class="btn btn-default" ng-click="organizingCourses=!organizingCourses">
                        {% trans 'Organize courses' %} | <i class="fa fa-th-large"></i></button>
                    <button class="btn btn-default" data-toggle="modal" data-target="#modalSelectCourses" ng-click="start_changing_home_cousers()">
                        {% trans 'Choose home courses' %} | <i class="fa fa-pencil-square-o"></i></button>
                    <button class="btn btn-danger" ng-click="cancel_home_changes()">{% trans 'Cancel' %} | <i class="fa fa-times"></i></button>
                    <button class="btn btn-success" ng-click="save_home()">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
                </div>
                {% include 'administration/_alert.html' %}
            </div>
        </div>
        <!-- END ACTIONS -->
        {% endif %}

        <div id="highlight">
            {% include '_highlight.html' %}
        </div>

        <section id="courses" class="container">

            <header>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <h1>{% trans 'Featured courses' %}</h1>
                    </div>
                    {% if in_admin %}
                    <div class="col-xs-12 textright">
                        <button class="btn btn-default" ng-click="organizingCourses=!organizingCourses">
                            {% trans 'Organize courses' %} | <i class="fa fa-th-large"></i></button>
                    </div>
                    {% endif %}
                </div>
            </header>
            {% if in_admin %}
            <div class="row" class="sortable-container grid" sv-root sv-part="home_courses" sv-on-sort="set_order_changed()">
                <div ng-repeat="course in home_courses" sv-element="opts" class="grid block course col-md-4 col-sm-6 col-xs-12" ng-class="{drag:organizingCourses}">
                    {% verbatim %}
                    <span class="btn btn-warning btn-drag" sv-handle ng-show="organizingCourses"><i class="fa fa-bars"></i></span>
                    <div class="thumb-wrapper">
                        <span class="mouseover"></span>
                        <span class="thumb" ng-style="{'background-image': 'url(' + course.home_thumbnail_url + ')'}"></span>
                    </div>
                    <div class="info">
                        <h3>{{ course.name }}</h3>
                        <p class="instructors">{{ course.professors_names }}</p>
                        <p class="abstract">{{ course.abstract }}</p>
                    </div>
                    <div class="enroll">
                        <span class="course-date">
                            <i class="fa fa-calendar"></i> {{ course.start_date | date : 'MMM, yyyy' | capitalize}}
                        </span>
                        <span class="enroll-link textright uppercase">Começar curso <i class="fa fa-angle-right"></i>
                        </span>
                    </div>
                    {% endverbatim %}
                </div>
            </div><!-- .row -->

            {% else %}

            <div class="row">

                {% for course in home_courses %}
                    <div class="block course col-md-4 col-sm-6">
                    {% if user|is_enrolled:course %}
                        <a href="{% url "resume_course" course.slug %}" class="course-link">
                    {% else %}
                        <a href="{% url "course_intro" course.slug %}" class="course-link">
                    {% endif %}
                            {% if not course.has_started %}<span class="coming-soon-label">{% trans 'Soon' %}</span>{% endif %}
                            <div class="thumb-wrapper">
                                <span class="mouseover"></span>
                                <span class="thumb" {% if course.home_thumbnail %}style="background-image: url({{ course.home_thumbnail.url }})"{% endif %}></span>
                            </div>
                            <div class="info">
                                <h3>{{ course.name }}</h3>
                                <p class="instructors">{% for professor in course.get_video_professors %}{{ professor.get_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                <p class="abstract">{{ course.abstract }}</p>
                            </div>
                             <div class="enroll">
                                <span>
                                    <i class="fa fa-calendar"></i> {{ course.start_date|date:'M, Y'}}
                                </span>
                                <span class="enroll-link textright uppercase">
                                    {% if user|is_enrolled:course %}
                                        {% trans 'Resume course' %}<i class="fa fa-angle-right"></i>
                                    {% else %}
                                        {% trans 'Go to course' %}<i class="fa fa-angle-right"></i>
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div><!-- .row -->
            {% endif %}

            <div class="row">
                <div class="see-all-courses col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <a href="{% url 'courses' %}" class="btn btn-lg btn-info btn-block">{% trans "All courses" %}</a>
                </div>
            </div>
        </section><!-- #courses -->

        <section id="how-it-works">
            <div class="container">

                {% if in_admin %}
				<div class="editable">
					<header>
						{% verbatim %}
						<h1 ng-hide="!bottom_home_flatpages.$resolved"
							ng-click="home_bottom_intro.active = true">{{ home_bottom_intro.title }}</h1>
						{% endverbatim %}
					</header>
					<div class="highlight textcenter">
						<div class="col-lg-12" ng-hide="bottom_home_flatpages.$resolved">
							<i class="loading fa fa-refresh fa-spin"></i>
						</div>
						<modalmarkdowneditorwithtitle tabindex="2"
													  on-save="save_home_text(home_bottom_intro)"
													  title-model="home_bottom_intro.title"
													  content="home_bottom_intro.content"
													  ng-hide="!bottom_home_flatpages.$resolved"
													  active="home_bottom_intro.active">
						</modalmarkdowneditorwithtitle>
					</div>
				</div>
                {% else %}
                {% get_flatpage '/home/bottom/intro/' as home_bottom_intro %}
                <header>
                    <h1>{{ home_bottom_intro.title }}</h1>
                </header>
                <div class="highlight textcenter">
                        <p>{{ home_bottom_intro.content }}</p>
                </div>
                {% endif %}
                <div class="row">
                    <div class="block col-md-4 col-sm-6 col-xs-12">
                        <div class="info">
                            <div class="icon"><i class="fa fa-video-camera"></i></div>
                            {% if in_admin %}
                            <div class="editable">
                                <div class="col-lg-12" ng-hide="bottom_home_flatpages.$resolved">
                                    <i class="loading fa fa-refresh fa-spin"></i>
                                </div>
                                {% verbatim %}
                                <h3 ng-hide="!bottom_home_flatpages.$resolved"
									ng-click="home_bottom_left.active = true">{{ home_bottom_left.title }}</h3>
                                {% endverbatim %}
                                <modalmarkdowneditorwithtitle tabindex="2"
                                                  on-save="save_home_text(home_bottom_left)"
                                                  title-model="home_bottom_left.title"
                                                  content="home_bottom_left.content"
                                                  ng-hide="!bottom_home_flatpages.$resolved"
                                                  active="home_bottom_left.active">
                                </modalmarkdowneditorwithtitle>
                            </div>
                            {% else %}
                                {% get_flatpage '/home/bottom/left/' as home_bottom_left %}
                                <h3>{{ home_bottom_left.title }}</h3>
                                <p>{{ home_bottom_left.content }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="block col-md-4 col-sm-6 col-xs-12">
                        <div class="info">
                            <div class="icon"><i class="fa fa-check-square-o"></i></div>
                            {% if in_admin %}
                            <div class="editable">
                                <div class="col-lg-12" ng-hide="bottom_home_flatpages.$resolved">
                                    <i class="loading fa fa-refresh fa-spin"></i>
                                </div>
                                {% verbatim %}
                                <h3 ng-hide="!bottom_home_flatpages.$resolved"
                                    ng-click="home_bottom_center.active = true">{{ home_bottom_center.title }}</h3>
                                {% endverbatim %}
                                <modalmarkdowneditorwithtitle tabindex="2"
                                                  on-save="save_home_text(home_bottom_center)"
                                                  title-model="home_bottom_center.title"
                                                  content="home_bottom_center.content"
                                                  ng-hide="!bottom_home_flatpages.$resolved"
                                                  active="home_bottom_center.active">
                                </modalmarkdowneditorwithtitle>
                            </div>
                            {% else %}
                                {% get_flatpage '/home/bottom/center/' as home_bottom_center %}
                                <h3>{{ home_bottom_center.title }}</h3>
                                <p>{{ home_bottom_center.content }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="block col-md-4 col-sm-6 col-xs-12">
                        <div class="info">
                            <div class="icon"><i class="fa fa-comments-o"></i></div>
                            {% if in_admin %}
                            <div class="editable">
                                <div class="col-lg-12" ng-hide="bottom_home_flatpages.$resolved">
                                    <i class="loading fa fa-refresh fa-spin"></i>
                                </div>
                                {% verbatim %}
                                <h3 class="ng-hide=!bottom_home_flatpages.$resolved"
                                	ng-click="home_bottom_right.active = true">{{ home_bottom_right.title }}</h3>
                                {% endverbatim %}
                                <modalmarkdowneditorwithtitle tabindex="2"
                                                  on-save="save_home_text(home_bottom_right)"
                                                  title-model="home_bottom_right.title"
                                                  content="home_bottom_right.content"
                                                  ng-hide="!bottom_home_flatpages.$resolved"
                                                  active="home_bottom_right.active">
                                </modalmarkdowneditorwithtitle>
                            </div>
                            {% else %}
                                {% get_flatpage '/home/bottom/right/' as home_bottom_right %}
                                <h3>{{ home_bottom_right.title }}</h3>
                                <p>{{ home_bottom_right.content }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #how-it-works -->

        {% if in_admin %}
            <div class="modal fade" id="modalSelectCourses">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel_courses_selection()">&times;</button>
                    <h4 class="modal-title">{% trans 'Edit home courses' %}</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                        {% verbatim %}
                        <div ng-repeat="course in all_courses">
                            <div class="select-course col-xs-6" ng-click="selectCourse(course)" ng-class="{active: course.home_published}">
                                <div class="course-thumb" style="background-image: url({{ course.home_thumbnail_url }});">
                                    <span class="selected"></span>
                                </div>
                                <div class="course-info">
                                    <h3>{{ course.name }}</h3>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel_courses_selection()">{% trans 'Cancel' %}</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="apply_courses_selection()">Ok</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}
    </div><!-- #home -->

</div>



{% endblock %}
