{% extends 'base.html' %}
{% load i18n %}
{% load compressed %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'notes' %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}

<!-- CONTAINER -->
<div id="my-courses" ng-app="notes" ng-controller="UserNotesCtrl">

    {% block notes_header %}
    <header class="main-header container">
        <div class="page-header">
            <h1 class="bottom top">
                <i class="fa fa-angle-double-right"></i> {% trans "My Notes" %}
            </h1>
        </div>
    </header>
    {% endblock %}

    <section id="notes-content" class="container">
        <p ng-if="courses.length == 0">
            {% trans "You have not made any notes yet." %}
        </p>

        <div class="courses courses-list" ng-repeat="course in courses">

            <div class="course">
                <header>
                    <div class="row">
                        <div class="col-sm-7 col-lg-8">
                            <h1>
                                {% verbatim angularjs %}<a href="/course/{{course.slug}}/mynotes/">{{course.name}}</a>{% endverbatim angularjs %}
                                <small>({% verbatim angularjs %}{{course.course_notes_number}}{% endverbatim angularjs %} {% trans 'Notes' %})</small>
                            </h1>
                        </div>

                        <div class="col-sm-5 col-lg-4 textright">
                            <div class="btn-group">
                                <a href="/course/{% verbatim angularjs %}{{course.slug}}{% endverbatim angularjs %}/intro/" class="btn btn-sm btn-success">{% trans 'Resume course' %}</a>
                                <a href="/course/{% verbatim angularjs %}{{course.slug}}{% endverbatim angularjs %}/intro/" class="btn btn-sm btn-success"><i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>

                    </div>
                </header>

                <div class="row">
                    <div class='col-sm-12'>

                    </div>
                </div>

                <a href="/course/{% verbatim angularjs %}{{course.slug}}{% endverbatim angularjs %}/mynotes/" class="btn btn-default btn-sm">{% trans 'Go to notes' %}</a>
            </div>
        </div>
    </section>
</div>
<!-- CONTAINER -->

{% endblock %}
