{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/profile/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile/services.js' %}"></script>
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<div id="profile" class="container" ng-app="profile" ng-controller="UserProfileController">
    <div class="col-lg-12" ng-hide="user_profile.$resolved">
        <p><i class="loading fa fa-refresh fa-spin"></i></p>
    </div>
    <div class="row" ng-show="user_profile">
        <div class="col-sm-2 col-xs-12">
            <div class="thumbnail">
                {% verbatim %}
                <img class="img-responsive" ng-src="{{ user_profile.picture }}">
                {% endverbatim %}
            </div>
        </div>

        <div class="col-sm-10 col-xs-12">
            <div class="textleft top">
                {% verbatim %}
                <h3 class="top">{{user_profile.first_name}} {{user_profile.last_name}}</h3>
                <div>
                    <p ng-if="user_profile.occupation">
                        <span>
                            <i class="fa fa-briefcase"></i> {{user_profile.occupation}}
                        </span>
                    </p>
                    <p ng-if="user_profile.city">
                        <span>
                            <i class="fa fa-map-marker"></i> {{user_profile.city}}
                            <span ng-if="user_profile.state">({{ user_profile.state|uppercase }})</span>
                        </span>
                    </p>
                    <p ng-if="user_profile.birth_date">
                        <span>
                            <i class="fa fa-birthday-cake"></i> {{user_profile.birth_date|date:"dd/MM/yyyy"}}
                        </span>
                    </p>
                    <p ng-if="user_profile.site">
                        <a href="{{user_profile.site}}" target="_blank">{{user_profile.site}}</a>
                    </p>
                </div>
                {% endverbatim %}
                <!--<span>2 cursos finalizados</span> | <span>1 certificado de conclusão</span>-->
            </div>

            {% verbatim %}
            <div class="social-media">
                <span ng-repeat='item in user_profile.social_medias' title='Visite o {{ item.social_media }} deste usuário.'>
                    <a href="{{ item.get_absolute_url }}" class='btn btn-default btn-sm' target="_blank">
                        <i ng-hide="item.social_media == 'facebook'" class='fa fa-{{ item.social_media }}'></i>
                        <i ng-show="item.social_media == 'facebook'" class='fa fa-facebook-official'></i>
                    </a>
                </span>
            </div>
            {% endverbatim %}

            <div class="user-bio">
                {% verbatim %}
                <p>{{user_profile.biography}}</p>
                {% endverbatim %}
            </div>
        </div>
    </div>
    <hr />
    <h2 ng-if="user_profile.certificates.length>0"><i class="fa fa-check-square-o"></i> {% trans 'Finished courses' %}</h2>
    <div class="row">

        <div class="block course col-sm-4" ng-repeat="certificate in user_profile.certificates">

            <div class="course-card">
                <div class="thumb-wrapper">
                    {% verbatim %}
                    <img class="img-responsive" ng-src="{{ certificate.course.home_thumbnail_url }}" />
                    {% endverbatim %}
                </div>
                <div class="info">
                    {% verbatim %}
                        <a class="course-link" ng-href="/course/{{ certificate.course.slug }}/intro/">
                            <h3>{{ certificate.course.name }}</h3>
                        </a>
                    {% endverbatim %}
                    <p class="instructors">
                        <span ng-repeat="professor in certificate.course.professors">
                            {% verbatim %}
                            {{ professor }}<span ng-if="!$last">, </span>
                            {% endverbatim %}
                        </span>
                    </p>.
                </div>
                <div class="conclusion">
                    <p>
                        {% trans 'Finished at' %} {% verbatim %}{{ certificate.created_date|date:"dd/MM/yyyy" }}{% endverbatim %}.
                    </p>
                    {% verbatim %}
                    <a class="enroll-link text-uppercase" ng-href="/certificate/{{ certificate.link_hash }}">
                    {% endverbatim %}
                        <i class="fa fa-file-text-o"></i>
                        <span ng-if="certificate.type == 'receipt'">
                            {% trans 'View Receipt' %}
                        </span>
                        <span ng-if="certificate.type == 'certificate'">
                            {% trans 'View Certificate' %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <h2 ng-if="user_profile.courses.length>0"><i class="fa fa-check-square-o"></i> {% trans 'Current courses' %}</h2>
    <div class="row">

        <div class="block course col-sm-4" ng-repeat="course in user_profile.courses">

            <div class="course-card">
                <div class="thumb-wrapper">
                    {% verbatim %}
                    <img class="img-responsive" ng-src="{{ course.home_thumbnail_url }}" />
                    {% endverbatim %}
                </div>
                <div class="info">
                    {% verbatim %}
                        <a class="course-link" ng-href="/course/{{ course.slug }}/intro/">
                            <h3>{{ course.name }}</h3>
                        </a>
                    {% endverbatim %}
                    <p class="instructors">
                        <span ng-repeat="professor in course.professors">
                            {% verbatim %}
                            {{ professor }}<span ng-if="!$last">, </span>
                            {% endverbatim %}
                        </span>
                    </p>.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
