{% extends "base.html" %}
{% load compressed %}
{% load static %}
{% load i18n %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'admin_course_header' %}
    {% compressed_js 'course_permissions' %}

{% endblock %}

{% block content %}
<section id="users" ng-app="course-permissions" ng-controller="PermissionsController">
    <div>
        {% include "_admin_header_inline.html" %}
    </div>
    <section id="users-content" class="container">
        <header class="secondary-header">
            <div class="row">
                <div class="col-lg-9">
                    <h1>{% trans 'Permissions' %}</h1>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-lg btn-danger uppercase">{% trans 'Add user' %}</a>
                </div>
            </div>
        </header>
        <table class="table table-list">
            <tr>
                <th class="fullname">{% trans "Full name" %}</th>
                <th class="email">{% trans "Email" %}</th>
                <th class="username">{% trans "Username" %}</th>
                <th class="role">{% trans "Role" %}</th>
                <th class="actions">{% trans "Actions" %}</th>
            </tr>
            <tr ng-repeat="professor in professors">
                {%  verbatim %}
                <td>{{professor.user_info.name}}</td>
                <td>{{professor.user_info.email}}</td>
                <td>{{professor.user_info.username}}</td>
                <td>{{ professor.role }}</td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#edit-user"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-warning" ng-click="remove_professor(professor.id, $index)"><i class="fa fa-trash-o"></i></button>
                </td>
                {% endverbatim %}
            </tr>
            <tr>
                <td>Asa</td>
                <td>lhfagundes@hacklab.com.br</td>
                <td>&nbsp;</td>
                <td>{% trans "Student"%}</td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#edit-user"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-warning"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </table>
    </section>
</section>

<div class="modal fade" id="edit-user" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Editando usuário NOME DO USUÁRIO</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-lg-3">{% trans "Username" %}</label>
                        <div class="col-lg-9">
                            <input type="text" value="andersonorui" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">{% trans "Email" %}</label>
                        <div class="col-lg-9">
                            <input type="text" value="andersonorui@hacklab.com.br" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">{% trans "Full name" %}</label>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" value="Anderson" class="form-control">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" value="Orui" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">{% trans "Role" %}</label>
                        <div class="col-lg-9">
                            <p>
                                <label class="contro-label"><input type="checkbox"> {% trans "Admin" %}</label><br>
                                <label class="contro-label"><input type="checkbox"> {% trans "Professor" %}</label><br>
                                <label class="contro-label"><input type="checkbox"> {% trans "Student" %}</label>
                            </p>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
