{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        <!-- CONTAINER -->
        <div id="my-courses" class="container">
            <header class="page-header-double">
                <h2><i class="fa fa-angle-double-right"></i> {% trans "My Courses" %}</h2>
            </header>

            <section class="courses">
                {% for cs in request.user.coursestudent_set.all %}
                <!-- COURSE -->
                <div class="course">
                    <header>
                        <div class="row">
                            <div class="col-sm-8">
                                <h1>{{ cs.course.name }}</h1>
                            </div>
                            <div class="col-sm-4 textright">
                                <div class="btn-group">
                                    <a href="{% url 'enroll_course' cs.course.slug %}" class="btn btn-sm btn-success">{% trans "Resume Class" %}</a>
                                    <a href="{% url 'enroll_course' cs.course.slug %}" class="btn btn-sm btn-success"><i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="progress">
                        <div class="progress-bar" style="width:{{cs.percent_progress}}%;"></div>
                    </div>
                    <a href="{% url 'user_course_notes' cs.course.slug %}" class="btn btn-default btn-sm">{% trans "My Notes" %}</a>
                    <a href="" class="btn btn-default btn-sm">{% trans "Details" %}</a>
                    <span class="info">0 min of lecture and 0 quizzes remaining in 1.1a Equivalent Fractions.</span>
                </div>
                <!-- END COURSE -->
                {% endfor %}
            </section>
        </div>
        <!-- CONTAINER -->
{% endblock %}
