{% load staticfiles %}
<script src="{% static 'js/course_material/app.js' %}"></script>
<script src="{% static 'js/course_material/services.js' %}"></script>
<script src="{% static 'js/course_material/controllers.js' %}"></script>
<script src="{% static 'js/course_material/directives.js' %}"></script>
<script src="{% static 'js/course_material/filters.js' %}"></script>
<script src="{% static 'dropzone/downloads/dropzone.js' %}"></script>
<script src="{% static 'js/admin-header/app.js' %}"></script>
<script src="{% static 'js/admin-header/controllers.js' %}"></script>
<script src="{% static 'js/factories/timtec-models.js' %}"></script>
