{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load forum_markdown %}

{% block head %}
{{ block.super }}
{% include "_course_material_angular.html" %}
{% endblock %}

{% block content %}
<script>
    window.course_id = {{ course.pk }};
</script>
        <!-- CONTAINER -->
        <div>
            <!-- HEADER -->
            {% include "_course-header-inline.html"  with course=course %}
            <!-- END HEADER -->
            <!-- MAIN CONTENT -->
            <section id="main-content" class="container">
                <div class="row">
                    <div class="col-sm-9 col-lg-9">
                        <!-- COURSE MATERIAL TEXT FORM -->
                        <div class="row">
                            <p class="description">{{ course_material.text|my_markdown }}</p>
                        </div>
                        <!-- COURSE MATERIAL TEXT FORM -->
                    </div>
                    <!-- ASIDE -->
                    <aside class="col-sm-3 col-lg-3">
                        <form action="{% url 'file_upload' course.slug %}" class="dropzone" drop-zone id="file-dropzone">
                            {% csrf_token %}
                        </form>
                        <ul>
                        {% for file in course_material.files.all %}
                            <li><a href="{{ file.file.url }}">{{ file.file.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </aside>
                    <!-- END ASIDE -->
                </div>
            </section>
            <!-- END MAIN CONTENT-->
        </div>
        <!-- END CONTAINER -->
{% endblock %}
