{% extends 'base.html' %}
{% load i18n %}
{% load compressed %}
{% load staticfiles %}
{% load timtec_markdown %}

{% block head %}
    {{ block.super }}
    {% compressed_js 'course_material' %}
{% endblock %}

{% block content %}
<script>
    window.course_id = {{ course.pk }};
</script>
<!-- CONTAINER -->
<div id="course" class="course-material">

    <div class="illust hidden-xs"></div><!-- .illust // top ilustration -->

    <div class="main-content">

        <div class="container js-fullheight c1">
            <!-- HEADER -->
            {% include "_course-header-inline.html"  with course=course %}
            <!-- END HEADER -->
            <!-- MAIN CONTENT -->
            <section id="course-content">
                <header>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8">
                            <h1>{% trans "Course Material" %}</h1>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <a href="{% url "lesson" course.slug course.first_lesson.slug %}" class="goto-course btn btn-success col-lg-12">{% trans "Go to course" %}</a>
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8">
                        <!-- COURSE MATERIAL TEXT FORM -->
                        <p class="description">{{ course_material.text|timtec_markdown }}</p>
                        <!-- COURSE MATERIAL TEXT FORM -->
                    </div>
                    <!-- ASIDE -->
                    <aside class="col-lg-3 col-md-3 col-sm-4">
                        <ul class="uploaded-files-list">
                            <li><h5>{% trans "Files" %}</h5></li>
                            {% for file in course_material.files.all %}
                                <li><a href="{{ file.file.url }}">{{ file.file.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <!-- END ASIDE -->
                </div>
            </section>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
</div>
<!-- END CONTAINER -->
{% endblock %}
