// Forums' pages
// --------------------------------------------------

.forum-thread {
    background-color: rgba(#fff,0.8);
    padding: 15px;

    .thread-header {
        margin: 0 0 10px 0;
        font-family: $font-family-sans-serif;
    }
    .thread-title {
        display: inline;
        font-family: $font-family-sans-serif;
        font-size: 22px;
        font-weight: $bold;
    }
    .user-name {
        color: #000;
    }
    .actions {
        display: inline-block;
        margin: 0 5px 5px 0; 
    }
    .tags {
        display: inline-block;
        margin: 0 0 5px 0;
    }
    .thread-post {
        background-color: rgba($brand-primary, 0.5);
        margin-top: 10px;
        padding: 15px;

        p:last-child {
            margin-bottom: 0; 
        }
    }
    .comments {
        border-top: 1px solid $brand-primary;
        margin-top: 20px;
        padding-top: 20px;
        > .thread {
            border-bottom: 1px dashed lighten($gray-light,20%);
            margin-bottom: 20px;
            padding-bottom: 20px;
            .thread {
                border-left: 2px solid lighten($gray-light,20%); 
                margin: 20px 0 0 20px;
                padding-left: 20px;
            }
        }
        .thread:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .user-name {
            display: inline-block;
            margin-bottom: 5px;
        }
        .actions {
            margin: 0 0 5px 50px;
        }
    }
    .comments-title {
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: $extra-bold;
        margin: 0 0 20px 0; 
    }
}

.forum-list {
    table {
        width: 100%;
    }
    thead {
        th {
            font-size: $font-size-small;
            font-weight: normal;
            color: $gray;
            padding: 0 20px 5px;
        }
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: rgba(#fff,0.5);
            }
            &:hover {
                background-color: rgba($brand-primary,0.2);
            }
        }
        td {
            padding: 10px 20px;
        }
    }
    .thread-name {
        color: $gray;
        display: block;
        font-size: $font-size-base;
        font-weight: $bold;
    }
    .last-update {
        color: #000;
        display: block;
        font-size: $font-size-small;
    }
    .tags {
        margin: 0; 
    }
}