// WAITING/LOADING
// ********************************************************************* //

// SPINNING ICON
@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg); }
}

.waiting {
    display: table;
    width: 100%;
}
.waiting .middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.waiting .middle i {
    animation: spin 2s infinite;
    -webkit-animation: spin 2s linear infinite; /* Safari and Chrome */
}

.waiting-screen {
  background-color: rgba(0,0,0,0.85);
  bottom: 0;
  color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}

@-moz-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-ms-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}