    <!--  PAGE-HEADER  -->
        <div class="page-header">
            <!--  ROW  -->
            <div class="row">
                <!--  COL-LG-9  -->
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <h1><span ng-class="{'blink-text-danger':errors.name}" ng-model="course.name"
                              placeholder="{% trans 'Course name' %}" contenteditable="true"
                              tabindex="1"></span></h1>

                    <div class="course-slug clearfix">
                        <label>http://www.timtec.com.br/course/</label>
                        <strong>
                            <span ng-bind="course.name|slugify" ng-hide="course.slug"></span>
                            <span ng-model="course.slug" contenteditable></span>
                        </strong>
                    </div>

                    <ul class="instructors">
                        <li><a ng-click="professorsModalActive=true"><span class="icon-addable fa fa-plus-square left right"></span>Add professors in course</a></li>
                    </ul>
                </div>
                <!--  END COL-LG-8  -->
                <!--  COL-LG-3  -->
                <div class="col-lg-3 col-sm-3">
                    <nav class="course-sections textright">
                        <a href=""><span class="has-tooltip fa fa-home" data-toggle="tooltip" data-placement="top" data-original-title="Intro"></span></a>
                        <a href=""><span class="has-tooltip fa fa-film" data-toggle="tooltip" data-placement="top" data-original-title="Lessons"></span></a>
                        <a ng-href="{% verbatim %}/{{forum_url}}{% endverbatim %}"><span class="has-tooltip fa fa-comments" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Forum' %}"></span></a>
                        <a ng-href="{% verbatim %}/{{course_material_url}}{% endverbatim %}"><span class="has-tooltip fa fa-file" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Material' %}"></span></a>
                        <a href=""><span class="has-tooltip fa fa-envelope-o" data-toggle="tooltip" data-placement="top" data-original-title="Mensagens"></span></a>
                    </nav>
                </div>
                <!--  END COL-LG-3  -->
            </div>
            <!--  END ROW  -->
        </div>
        <!--  END PAGE-HEADER  -->