<div class="container">
    <div class="certificate-container">
        <div class="institute-logo">
            <img alt="Logo Instituto" src="{{ cert_template.cert_logo_url }}>
        </div>
        <div class="text-center">
            <p><strong>cert_template.organization_name</strong></p>
            <p>confere a</p>
            <h2 class="top">{{ object.course_student.user.get_full_name }}</h2>
            <p>o comprovante de conclusão do curso online</p>
            <h1>{{ object.course_student.course.name }}</h1>
            <p>que possui carga horária de <span>40 horas</span>.</p>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <hr />
                <small>
                    {{ cert_template.name }} <br/>
                    {{ cert_template.role }}
                </small>
            </div>
        </div>
    </div>
    <footer class="text-right hide">
        <p>Emitido em <span>{{ object.modified_date | date:"d/m/Y" }}</span></p>
        <div class="pull-left">Realizado em: ({{ site.domain }})</div>
        <p>URL de validação: <a href="{% url 'certificate' object.link_hash %}">{{ site.domain }}{% url 'certificate' object.link_hash %}</a></p>
    </footer>
</div>