{% load i18n %}
{% load is_assistant_or_coordinator %}
{% load is_course_coordinator %}
<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2 class="course-name">
                    <a href="{% url 'course_intro' course.slug %}">{{ course.name }}</a>
                </h2>
                {% include "_course-details-inline.html" with course=course %}

                {% block lesson_headder %}
                    {% include '_lesson_header.html' %}
                {% endblock %}
            </div>
            {% if course.first_lesson.slug %}
            <div class="col-md-4">
                <!-- COURSE-SECTION-NAV -->
                <nav class="course-sections">
                    <a href="{% url 'course_intro' course.slug %}" class="intro {% if '/intro/' in request.path %}active{% endif %}">{% trans 'Home' %}</a>
                    <a href="{% url 'resume_course' course.slug %}" class="resume {% if '/lesson/' in request.path %}active{% endif %}">{% trans 'Resume course' %}</a>
                    <a href="{% url 'user_course_notes' course.slug %}" class="notes {% if '/mynotes/' in request.path %}active{% endif %}">{%  trans 'Course notes' %}</a>
                    <a href="{% url 'course_material' course.slug %}" class="materials {% if '/material/' in request.path %}active{% endif %}">{%  trans 'Course material' %}</a>
                    {% if user|is_assistant_or_coordinator:course %}
                        <div class="dropdown">
                            <a class="tools dropdown-toggle{% if '/messages/' in request.path or '/reports/' in request.path or '/classes/' in request.path %} active{% endif %}" class="course-tools"aria-expanded="true"><span class="sr-only">{% trans 'Tools' %}</span></a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="course-tools">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'messages' course.slug %}">{% trans 'Messages' %}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'reports' course.slug %}">{% trans 'Reports' %}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'classes' course.slug %}">{%  trans 'Classes' %}</a></li>
                                {% if user.is_superuser or user|is_course_coordinator:course %}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'administration.edit_course' course.id %}">{%  trans 'Edit course' %}</a></li>
                                <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'course-evaluations' course.slug %}">{%  trans 'Evaluations' %}</a></li>-->
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </nav>
                <!-- END COURSE-SECTION-NAV -->
            </div>
            {% endif %}
        </div>
    </div>
</header>
