{% extends 'base.html' %}
{% load i18n %}
{% load is_enrolled %}

{% block wrapper_classes %}
wrapper-courses
{% endblock %}

{% block content %}
        <!-- CONTAINER -->
        <div class="courses-page page container-fluid">
            <header class="page-header">
                <h2><i class="fa fa-angle-double-right"></i> {% trans 'Courses' %}</h2>
            </header>

            <section class="courses-list row">
                <div class="col-md-8 col-lg-9">
                    {% for course in courses %}
                    <!-- COURSE -->
                    <div class="course-box course-widget widget">
                        <div class="line two-column fifty-fifty">
                            <div class="course-progress column">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                    </div>
                                </div>    
                            </div>
                            <div class="progress-label column">65% completo</div>
                        </div>
                        <div class="line two-column fifty-fifty">
                            <div class="course-thumb column">
                                <div class="course-thumb-bg" {% if course.home_thumbnail %}style="background-image: url({{ course.home_thumbnail.url }})"{% endif %}></div>
                             {% if user|is_enrolled:course and course.has_started %}
                                <a href="{% url "resume_course" course.slug %}" class="button-continue">continuar módulo</a>
                            {% else %}
                                <a href="{% url "course_intro" course.slug %}" class="button-continue">continuar módulo</a>
                            {% endif %}
                            </div>
                            <div class="course-description column">
                                <h3 class="course-title">{{ course.name }}</h3>
                                <div class="course-info">
                                    <p><b>Iniciado em:</b> 00/00/0000 | <b>Cidade:</b> Camaçari</p>
                                    <p>você parou em <span class="unit-title">Nome da Unidade e Também o Nome da Aula</span></p>
                                </div>
                                <p class="course-update"><strong>atualização:</strong> lorem ipsum dolor sit amet, consectetur adipiscing elit | <span>xx horas atrás</span></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="course-filters">
                        <!--  FORM INLINE -->
                        <div class="form-inline">
                            <ul>
                                <li class="selected">todas</li>
                                <li>em andamento</li>
                                <li>formações fixas</li>
                                <li>mini formações</li>
                                <li>tic's e tac's</option>
                            </ul>
                        </div>
                        <!-- END FORM INLINE -->
                    </div>
                </div>
            </section>
        </div>
        <!-- CONTAINER -->
{% endblock %}
