{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load timtec_markdown %}
{% load is_assistant_or_coordinator %}

{% if in_admin %}
    {% block js %} {{block.super}}
    <script type="text/javascript" src="{% static 'js/new-course/app.js' %}">// must be the 1º</script>
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}">// must be the 2º</script>
    <script type="text/javascript" src="{% static 'js/filters/text.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/new-course/directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/contenteditable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/sortable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/new-course/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/markdown/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/markdown/filters.js' %}"></script>
    <script>
        window.course_id = {{ course.pk }};

    </script>
    {% endblock %}

    {% block body_attrs %}
    ng-app="new-course"
    {% endblock %}
{% endif %}

{% block wrapper_classes %}
wrapper-course-intro
{% endblock %}

{% block content %}

{% if not in_admin %}
<script type="text/javascript" src="{% static 'js/introjs/course.js' %}"></script>
{% endif %}

<!-- COURSE -->
<div class="course course-intro" {% if in_admin %}ng-controller="CourseEditController"{% endif %}>

    {% if in_admin %}
        <!-- ACTIONS -->
        <div class="actions-menu" fixed-bar>
            <div class="container">
                <div class="actions-buttons align-left">
                    <!-- LEFT BUTTON GROUP -->
                    <button class="btn btn-success" ng-click="saveCourse()">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
                    <button class="btn btn-success" title="{% trans 'Export course and download' %}" ng-click="export_course()">{% trans 'Export' %} | <i class="fa fa-download"></i></button>
                    <!-- END LEFT BUTTON GROUP -->
                </div>
                {% include 'administration/_alert.html' %}
                <div class="actions-buttons align-right">
                    <!-- RIGHT BUTTON GROUP -->
                    <button class="btn btn-danger" title="{% trans 'Delete course' %}" ng-click="deleteCourse()">{% trans 'Delete' %} | <i class="fa fa-trash-o"></i></button>
                    <!-- RIGHT BUTTON GROUP -->
                </div>

            </div>
        </div>
        <!-- END ACTIONS -->
    {% endif %}


    {% if in_admin %}
    <!-- HEADER -->
        {% include "_admin_header_inline.html" with course=course course_intro_admin=1 %}
    <!-- END HEADER -->
    {% elif user|is_assistant_or_coordinator:course or user_is_enrolled and course.has_started %}
        {% include "_course-header-inline.html"  with course=course %}
    {% else %}
        {% include "_go-to-course-button-inline.html"  with course=course %}
    {% endif %}

    <!-- COURSE-CONTENT -->
    <section class="course-content">

        <div class="course-video" ng-init="mediaSection='video'">
        {% if in_admin %}
            <!-- ADD CONTENT -->
            <div class="add-content row">
                <div class="col-lg-6">
                    <button ng-click="mediaSection='video'"
                            ng-class="{'btn-success':mediaSection=='video'}"
                            class="btn btn-default uppercase selected">{% trans 'Video' %}</button>

                    <button class="btn btn-default uppercase"
                            ng-class="{'btn-success':mediaSection=='thumbnail'}"
                            ng-click="mediaSection='thumbnail'">{% trans 'Thumbnail' %}</button>

                    <button class="btn btn-default uppercase"
                            ng-class="{'btn-success':mediaSection=='homethumbnail'}"
                            ng-click="mediaSection='homethumbnail'">{% trans 'Home thumbnail' %}</button>
                </div>
            </div>
            <!-- END ADD CONTENT -->

            <section class="thumbnail" ng-show="mediaSection=='thumbnail'" ng-init="thumbfile=null">
                <div ng-show="addThumb" ng-init="addThumb=(thumbfile===null)">
                    <div class="add-thumbnail">
                        <div class="centered">
                            <div class="form-group">
                                <i class="fa fa-picture-o fa-4x"></i>
                                <h1 class="bottom top">{% trans 'Thumbnail' %}</h1>
                                <p>({% trans "min-width" %}: 845px)</p>

                                <file ng-model="thumbfile" name="thumbnail" class="form-control"></file>
                            </div>

                            <p>
                                <br>
                                <button class="btn btn-danger btn-lg uppercase"
                                        ng-click="thumbfile=null; addThumb=!course.thumbnail_url">{% trans 'Cancel' %}</button>

                                <button class="btn btn-success btn-lg uppercase"
                                        ng-click="addThumb=(thumbfile===null); saveThumb()">{% trans 'Add' %}</button>

                            </p>
                        </div>
                    </div>
                </div>

                <div ng-show="!addThumb">
                    <div>
                        <img preview-image ng-model="thumbfile" class="img-responsive" ng-show="thumbfile"/>
                        {% verbatim %}
                        <img ng-src="{{course.thumbnail_url}}" class="img-responsive" ng-show="!thumbfile"/>
                        {% endverbatim %}
                    </div>

                    <div>
                        <button class="btn-edit-thumbnail btn btn-success btn-sm uppercase"
                                ng-click="addThumb=true">{% trans 'Change thumbnail' %}</button>
                    </div>
                </div>
            </section>

            <!-- Home thumbnail -->
            <section class="thumbnail" ng-show="mediaSection=='homethumbnail'" ng-init="home_thumbfile=null">

                <div ng-show="addHomeThumb" ng-init="addHomeThumb=(home_thumbfile===null)">

                    <div class="add-thumbnail">
                        <div class="centered">
                            <div class="form-group">
                                <i class="fa fa-picture-o fa-4x"></i>
                                <h1 class="bottom top">{% trans 'Home thumbnail' %}</h1>
                                <p></p>

                                <file ng-model="home_thumbfile" name="home_thumbnail" class="form-control"></file>
                            </div>

                            <p>
                                <br>
                                <button class="btn btn-danger btn-lg uppercase"
                                        ng-click="home_thumbfile=null; addHomeThumb=!course.home_thumbnail_url">{% trans 'Cancel' %}</button>

                                <button class="btn btn-success btn-lg uppercase"
                                        ng-click="addHomeThumb=(home_thumbfile===null); saveHomeThumb()">{% trans 'Add' %}</button>

                            </p>
                        </div>
                    </div>
                </div>

                <div ng-show="!addHomeThumb">
                    <div class="add-thumbnail">
                        <div class="centered">
                            <img preview-image ng-model="home_thumbfile" class="img-thumbnail" />
                            {% verbatim %}
                            <img ng-src="{{course.home_thumbnail_url}}" class="img-thumbnail" ng-show="!home_thumbfile"/>
                            {% endverbatim %}
                            <p><button class="btn btn-success btn-edit-thumbnail uppercase"
                                ng-click="addHomeThumb=true">{% trans 'Change thumbnail' %}</button>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End home thumbnail -->

            <!--  COURSE-VIDEO  -->
            <section class="video" ng-show="mediaSection=='video'">
                
                <div ng-show="course.intro_video.youtube_id && !playerReady">
                    <div class="waiting textcenter jumbotron" style="height: 515px">
                        <div class="middle">
                            <i class="fa fa-refresh fa-5x"></i>
                        </div>
                    </div>
                </div>

                <div ng-class="{'hidder': !(course.hasVideo() && playerReady)}">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="embed-responsive-item" id="youtube-player" youtube-player></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p class="video-title editable-content" ng-model="course.intro_video.name" placeholder="Nome do vídeo" contenteditable><p>
                        </div>
                        <div class="col-lg-2 textcenter">
                            <button class="btn-edit-video btn btn-success btn-sm uppercase"
                                    ng-click="course.intro_video.youtube_id=''">{% trans 'Change video' %}</button>
                        </div>
                    </div>
                </div>

                <div class="add-video-intro" ng-show="!course.intro_video.youtube_id">
                    <div class="centered">
                        <div class="form-group">
                            <i class="fa fa-youtube-play fa-4x"></i>
                            <h1 class="top">{% trans 'Introduction video' %}</h1>
                            <input type="text" tabindex="8" ng-model="youtube_id" class="form-control"/>
                        </div>

                        <p>
                            <button class="btn btn-danger btn-lg uppercase"
                                    ng-click="course.intro_video.youtube_id=''">{% trans 'Cancel' %}</button>
                            <button tabindex="9"
                                    class="btn btn-success btn-lg uppercase"
                                    ng-show="!course.intro_video.youtube_id"
                                    ng-click="course.intro_video.youtube_id=youtube_id">{% trans 'Add' %}</button>
                        </p>
                    </div>
                </div>

            </section>
            <!--  END COURSE-VIDEO  -->
        {% else %}
            <!-- COURSE-VIDEO -->
            <section class="video embed-responsive embed-responsive-16by9" id="course-video">
                {% with yid=course.intro_video.youtube_id %}
                {% if yid %}
                    <iframe id="youtube-player"
                            type="text/html"
                            src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque"
                            allowfullscreen>
                    </iframe>
                {% elif course.thumbnail %}
                    <img class="img-responsive" src="{{ course.thumbnail.url }}">
                {% endif %}
                {% endwith %}
            </section>
            <!-- END COURSE-VIDEO -->
        {% endif %}
        </div>

        <!-- COURSE INFO -->
        <div class="course-info">
            <!-- COLUMN -->
            <div class="column">
                {% block course_info %}
                <!-- COURSE-INFO -->
                <section class="info">
                    <!-- ABSTRACT -->
                    <div class="abstract">
                        <div class="secondary-page-header first">
                            <h3><i ng-class="{'blink-text-danger':errors.abstract}" class="fa fa-angle-double-right"></i> {% trans 'Abstract' %}</h3>
                        </div>
                        {% if in_admin %}
                            <modalmarkdowneditor tabindex="2" on-save="saveCourse()" title="{% trans 'Abstract' %}" content="course.abstract"></modalmarkdowneditor>
                        {% else %}
                            {{course.abstract|timtec_markdown}}
                        {% endif %}
                    </div>
                    <!-- END ABSTRACT -->

                    <!-- APPLCATION -->
                    <div class="application">
                        <div class="secondary-page-header">
                            <h3 class="top"><i ng-class="{'blink-text-danger':errors.application}" class="fa fa-angle-double-right"></i> {% trans "Why do this course?" %}</h3>
                        </div>
                        {% if in_admin %}
                            <modalmarkdowneditor tabindex="6" on-save="saveCourse()" title="{% trans 'Application' %}" content="course.application"></modalmarkdowneditor>
                        {% else %}
                            <div class="content">{{ course.application|timtec_markdown }}</div>
                        {% endif %}
                    </div>
                    <!-- END APPLCATION -->

                    <!-- REQUIREMENT -->
                    <div class="requirement">
                        <div class="secondary-page-header">
                            <h3 class="top"><i ng-class="{'blink-text-danger':errors.requirement}" class="fa fa-angle-double-right"></i> {% trans "What do I have to know?" %}</h3>
                        </div>
                        {% if in_admin %}
                            <modalmarkdowneditor tabindex="7" on-save="saveCourse()" title="{% trans 'Requirements' %}" content="course.requirement"></modalmarkdowneditor>
                        {% else %}
                            <div class="content">{{ course.requirement|timtec_markdown }}</div>
                        {% endif %}
                    </div>
                    <!-- END REQUIREMENT -->
                </section>
                <!-- END COURSE-INFO -->
                {% endblock %}
            </div>
            <!-- END COLUMN -->

            <!-- COLUMN -->
            <div class="column">
                <!-- COURSE-SUMMARY -->
                <section class="summary">
                    <!-- START DATE -->
                    {% if in_admin %}
                        <div class="secondary-page-header first">
                            <h3 class="top">{% trans 'This course is' %}</h3>
                        </div>

                        <div class="course-status btn-group">
                            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            ng-if="course.isPublished()"><span class="status-label">{% trans 'Published' %}</span> <span class="caret"></span></button>

                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                            ng-if="course.isDraft()"><span class="status-label">{% trans 'Draft' %}</span> <span class="caret"></span></button>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-if="course.isDraft()"><button class="btn btn-success" ng-click="publishCourse()">{% trans 'Published' %}</button></li>
                                <li ng-if="course.isPublished()"><button class="btn btn-danger" ng-click="set_course_as_draft()">{% trans 'Draft' %}</button></li>
                            </ul>
                        </div>

                        <div class="secondary-page-header">
                            <h3><i ng-class="{'blink-text-danger':errors.abstract}"
                                   class="fa fa-angle-double-right"></i>
                                {% trans 'Progresso necessario para certificado' %}
                            </h3>
                        </div>
                        <div class="editable editable-text">
                            <input type="number" max="100" min="0"
                                   ng-model="course.min_percent_to_complete" />
                        </div>

                        <div class="secondary-page-header">
                            <h3><i ng-class="{'blink-text-danger':errors.abstract}" class="fa fa-angle-double-right"></i> {% trans 'Start date' %}</h3>
                        </div>
                        <div class="editable editable-text">
                            <input type="text" ng-model="course.start_date" datepicker-popup="dd/MM/yyyy" is-open="opened" show-button-bar="false" ng-click="opened = true" />
                        </div>
                        {% elif not course.has_started and course.start_date %}
                        <div class="secondary-page-header">
                            <h3 class="top"><i class="fa fa-angle-double-right"></i> {% trans 'Start date' %}</h3>
                        </div>
                        <p>{{ course.start_date }}</p>
                    {% endif %}

                    <!-- STRUCTURE -->
                    <div class="structure">
                        <div class="secondary-page-header first">
                            <h3 class="top"><i ng-class="{'blink-text-danger':errors.requirement}" class="fa fa-angle-double-right"></i> {% trans "Estrutura do Curso" %}</h3>
                        </div>
                        {% if in_admin %}
                            <modalmarkdowneditor tabindex="8" on-save="saveCourse()" title="{% trans 'Estrutura do Curso' %}" content="course.structure"></modalmarkdowneditor>
                        {% else %}
                            <p>{{ course.structure|timtec_markdown }}</p>
                        {% endif %}
                    </div>
                    <!-- END STRUCTURE -->

                    <!-- COURSE-INSTRUCTORS -->
                    {%  include '_course_authors_inline.html' %}
                    <!-- END COURSE-INSTRUCTORS -->

                    <!-- CLASS PROFESSOR -->
                    {%  include '_class-professors-inline.html' %}
                    <!-- END CLASS PROFESSOR -->
                </section>
                <!-- END COURSE-SUMMARY -->
            </div>
            <!-- END COLUMN -->
        </div>
        <!-- END COURSE INFO -->

        <!-- COURSE-LESSONS -->
        {% block course_lessons %}
            {% if in_admin %}
            <section class="lessons" id="lesson-list">
                <!-- PAGE-HEADER-DOUBLE -->
                <div class="secondary-page-header">
                    <h3><i class="fa fa-angle-double-right"></i> {% trans "Lessons" %}</h3>
                </div>
                <!-- END PAGE-HEADER-DOUBLE -->

                <p><a href="" ng-click="organizingLessons=true" ng-show="!organizingLessons">{% trans 'Organize lesson' %}</a></p>

                <!-- ORGANIZING LESSONS -->
                <div class="lessons organizing-lessons" ng-show="organizingLessons" sortable="lessons" on-update="repositionLessons()">
                    <!-- LESSON -->
                    <div class="row" ng-repeat="lesson in lessons">
                        <div class="col-xs-12">
                            <div class="lesson">
                                <div class="row">

                                    <div class="col-lg-9">
                                        <span class="handle"><span class="btn btn-warning"><i class="fa fa-bars"></i></span></span>
                                        <span class="title" ng-bind="lesson.name">{% trans 'Lesson name' %}</span>
                                    </div>

                                    <div class="col-lg-3 textright">
                                        <div class="btn-group" ng-init="openDropdown=false;">
                                            <button type="button" class="btn btn-default">
                                                <span ng-show="lesson.status=='draft'"> {% trans 'Draft' %}</span>
                                                <span ng-show="lesson.status=='published'"> {% trans 'Published' %}</span>
                                            </button>
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    ng-click="openDropdown=!openDropdown;">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu textleft" ng-style="{display:openDropdown?'block':'none'}">
                                                <li>
                                                    <a ng-click="lesson.status='draft';openDropdown=false;"
                                                       ng-show="lesson.status!='draft'"> {% trans 'Draft' %}</a>
                                               </li>
                                                <li>
                                                    <a ng-click="lesson.status='listed';openDropdown=false;"
                                                       ng-show="lesson.status!='listed'"> {% trans 'Listed' %}</a>
                                               </li>
                                                <li>
                                                    <a ng-click="lesson.status='published';openDropdown=false;"
                                                       ng-show="lesson.status!='published'"> {% trans 'Published' %}</a>
                                               </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-danger" ng-click="deleteLesson(lesson)"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END LESSON -->

                    <div class="submit textright">
                        <button class="btn btn-danger" ng-click="organizingLessons=false">{% trans 'Cancel' %}</button>
                        <button class="btn btn-success" ng-click="saveAllLessons()">{% trans 'Save' %}</button>
                    </div>
                </div>
                <!-- END ORGANIZING LESSONS -->

                <!--  LESSON  -->
                <div class="lesson row" ng-repeat="lesson in lessons" ng-hide="organizingLessons">
                    <!--  COL-LG-3  -->
                    <div class="col-lg-3 col-sm-3 col-sm-3 hidden-xs">
                        {% verbatim %}
                        <img ng-src="{{ lesson.thumbnail }}" class="img-thumbnail">
                        {% endverbatim %}
                    </div>
                    <!--  END COL-LG-3  -->

                    <!--  COL-LG-9  -->
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <a {% verbatim %}href="lessons/{{lesson.id}}"{% endverbatim %} class="title" ng-bind="lesson.name">{% trans 'Lesson name' %}</a>
                        <div ng-bind-html="lesson.desc|markdown"></div>
                        <!--  HIDDEN-XS  -->
                        <div class="hidden-xs" ng-show="lesson.units">
                            <table class="table units">
                                <tbody>
                                    <tr>
                                        <td ng-repeat="unit in lesson.units">
                                            {% verbatim %}
                                            <span class="has-tooltip unit " data-toggle="tooltip"
                                                  data-placement="bottom" data-original-title="{{unit.title}}">
                                                <i class="fa fa-list" ng-show="unit.activities"></i>
                                            </span>
                                            {% endverbatim %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--  END HIDDEN-XS  -->

                                <p><i class="fa fa-youtube-play"></i> <small>{% verbatim %}{{ lesson.countVideos() }}{% endverbatim %} {% trans 'videos' %}</small> | <i class="fa fa-list"></i> <small>{% verbatim %}{{ lesson.countActivities() }}{% endverbatim %} {% trans 'activities' %}</small></p>

                    </div>
                    <!--  END COL-LG-9  -->
                </div>
                <!--  END LESSON  -->

                <div class="row textcenter">
                    <div class="col-lg-12">
                        {% verbatim %}
                        <a href="/admin/courses/{{course.id}}/lessons/new" class="col-lg-12 btn btn-lg btn-default uppercase">{% endverbatim %}{% trans 'Add lesson' %}</a>
                    </div>
                </div>
            </section>
            {% else %}
                {% if user.is_authenticated and course.has_started %}
                <section class="lessons lesson-list">
                    <!-- PAGE-HEADER-DOUBLE -->
                    <div class="secondary-page-header">
                        <h3><i class="fa fa-angle-double-right"></i> {% trans "Lessons" %}</h3>
                    </div>
                    <!-- END PAGE-HEADER-DOUBLE -->
                    <!-- FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                    {% for lesson in course.public_lessons %}
                        <!-- LESSON -->
                        <div class="lesson row">
                            <!-- COL-LG-3 -->
                            <div class="col-lg-3 col-sm-3 col-sm-3 hidden-xs">
                                <img src="{{ lesson.thumbnail }}" class="img-responsive">
                            </div>
                            <!-- END COL-LG-3 -->

                            <!-- COL-LG-9 -->
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                <h4 class="title">
                                    {% if lesson.is_ready and user_is_enrolled %}
                                        <a href="{% url 'lesson' course.slug lesson.slug %}" class="title">{{ lesson.name }}</a>
                                    {% else %}
                                        {{ lesson.name }}
                                    {% endif %}
                                </h4>
                                <div class="description">{{ lesson.desc|timtec_markdown }}</div>

                                <!-- HIDDEN-XS -->
                                <div class="lesson-units-nav hidden-xs">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                    </div>
                                    <div class="units">
                                        <span class="units-title">{% trans 'Chapters' %}</span>
                                        <!-- FOR UNIT IN UNITS -->
                                        {% for unit in lesson.units.all %}
                                            {% if lesson.is_ready and user_is_enrolled %}
                                                <a class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   data-original-title="Unidade {{ forloop.counter }}"
                                                   href="{% url 'lesson' course.slug lesson.slug %}#/{{ forloop.counter }}">
                                                   {% if unit.activities.exists %}
                                                       {{ forloop.counter }}
                                                   {% endif %}
                                                </a>
                                            {% else %}
                                                <span class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                                                      data-toggle="tooltip" data-placement="bottom"
                                                      data-original-title="Unidade {{ forloop.counter }}">
                                                      {% if unit.activities.exists %}
                                                          {{ forloop.counter }}
                                                      {% endif %}
                                                </span>
                                            {% endif %}
                                            <!-- END TD -->
                                        {% endfor %}
                                        <!-- END FOR -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END LESSON -->
                    {% endfor %}
                    <!-- END FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                </section>
                {% endif %}
            {% endif %}
        <!-- END COURSE-LESSONS -->
        {% endblock %}

    </section>
    <!-- END COURSE CONTENT -->

    {% if in_admin %}
        {% include '_course_professors_modal.html' %}
    {% endif %}

</div>
<!-- END COURSE -->

{% endblock %}
