{% extends 'base.html' %}
{% load i18n %}
{% load is_coordinator %}

{% block content %}

<div ng-app="core" ng-controller="ForumCtrl">
    
    <section class="forums forums-page forums-widget widget container-fluid">
        <div class="widget-topbar line two-column fifty-fifty">
            <div class="column">
                <h2 class="title">Mostrando todos os resultados</h2>
            </div>
            <div class="column">
                <a href="#" class="button-goback"><span>voltar</span></a>
                <a href="#" class="button-filter"><span>filtrar por tags e categorias</span></a>
            </div>
        </div>

        <header class="widget-header line two-column fifty-fifty">
            <div class="column">
                <h2 class="widget-title">fóruns</h2>
            </div>
            <div class="column">
                <form class="widget-filter form-inline">
                    <input class="form-control" type="text" placeholder="Busca nos fóruns...">
                </form>
            </div>
        </header>

        <div class="line one-column">
            <div class="column">
                <h3 class="section-title">Avante e Entremeios</h3>
            </div>
        </div>

        <div class="line one-column">
            <div class="column">
                <div class="forum-thread">
                    <div class="user-icon">
                        <img src="http://placehold.it/40" alt="Joana Terra">
                    </div>
                    <div class="info">
                        <h4 class="thread-header"><span class="thread-title">Lorem ipsum dolor sit amet</span> por <a href="#" class="user-name">Joana Terra</a></h4>
                    </div>
                    <div class="actions">
                        <a href="#" class="button-like" href="#">4 curtiram</a>
                        <a href="#" class="button-use" href="#">7 usaram</a>
                    </div>
                    <div class="tags">
                        <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a><a href="#">#ipsum</a>
                    </div>
                    <div class="thread-post">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor lacinia sem, eu cursus sem malesuada eu. Duis blandit accumsan metus ac auctor.</p>

                        <p>Suspendisse tempus commodo viverra. Vestibulum id arcu efficitur, ultrices ipsum sit amet, rhoncus ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
                    </div>

                    <div class="comments">
                        <h3 class="comments-title">Comentários</h3>
                        <div class="thread">
                            <div class="user-icon">
                                <img src="http://placehold.it/40" alt="Maria Alice dos Anjos">
                            </div>
                            <div class="info">
                                <a href="#" class="user-name">Maria Alice dos Anjos</a>
                                <div class="comment-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor lacinia sem, eu cursus sem malesuada eu. Duis blandit accumsan metus ac auctor.</div>
                            </div>
                            <div class="actions">
                                <a href="#" class="button-comment" href="#">1 resposta</a>
                                <a href="#" class="button-like" href="#">4 curtiram</a>
                            </div>

                            <div class="thread">
                                <div class="user-icon">
                                    <img src="http://placehold.it/40" alt="Roberta Reis">
                                </div>
                                <div class="info">
                                    <a href="#" class="user-name">Roberta Reis</a>
                                    <div class="comment-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor lacinia sem, eu cursus sem malesuada eu. Duis blandit accumsan metus ac auctor.</div>
                                </div>
                                <div class="actions">
                                    <a href="#" class="button-comment" href="#">1 resposta</a>
                                    <a href="#" class="button-like" href="#">4 curtiram</a>
                                </div>
                            </div>
                        </div>
                        <div class="thread">
                            <div class="user-icon">
                                <img src="http://placehold.it/40" alt="Maria Alice dos Anjos">
                            </div>
                            <div class="info">
                                <a href="#" class="user-name">Maria Alice dos Anjos</a>
                                <div class="comment-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor lacinia sem, eu cursus sem malesuada eu. Duis blandit accumsan metus ac auctor.</div>
                            </div>
                            <div class="actions">
                                <a href="#" class="button-comment" href="#">1 resposta</a>
                                <a href="#" class="button-like" href="#">4 curtiram</a>
                            </div>

                            <div class="thread">
                                <div class="user-icon">
                                    <img src="http://placehold.it/40" alt="Roberta Reis">
                                </div>
                                <div class="info">
                                    <a href="#" class="user-name">Roberta Reis</a>
                                    <div class="comment-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor lacinia sem, eu cursus sem malesuada eu. Duis blandit accumsan metus ac auctor.</div>
                                </div>
                                <div class="actions">
                                    <a href="#" class="button-comment" href="#">1 resposta</a>
                                    <a href="#" class="button-like" href="#">4 curtiram</a>
                                </div>
                            </div>
                        </div>
                        <div class="thread">
                            <div class="user-icon">
                                <img src="http://placehold.it/40" alt="Maria Alice dos Anjos">
                            </div>
                            <div class="info">
                                <a href="#" class="user-name">Maria Alice dos Anjos</a>
                                <div class="comment-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor lacinia sem, eu cursus sem malesuada eu. Duis blandit accumsan metus ac auctor.</div>
                            </div>
                            <div class="actions">
                                <a href="#" class="button-comment" href="#">1 resposta</a>
                                <a href="#" class="button-like" href="#">4 curtiram</a>
                            </div>

                            <div class="thread">
                                <div class="user-icon">
                                    <img src="http://placehold.it/40" alt="Roberta Reis">
                                </div>
                                <div class="info">
                                    <a href="#" class="user-name">Roberta Reis</a>
                                    <div class="comment-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor lacinia sem, eu cursus sem malesuada eu. Duis blandit accumsan metus ac auctor.</div>
                                </div>
                                <div class="actions">
                                    <a href="#" class="button-comment" href="#">1 resposta</a>
                                    <a href="#" class="button-like" href="#">4 curtiram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>

{% endblock %}
