{% extends 'base.html' %}
{% load i18n %}
{% load is_coordinator %}

{% block content %}

<div ng-app="core" ng-controller="ForumCtrl">
    
    <section class="forums forums-page forums-widget widget container-fluid">
        <div class="widget-topbar line one-column">
            <div class="column">
                <a href="#" class="button-clean"><span>limpar filtro</span></a>
                <a href="#" class="button-filter"><span>filtrar por tags e categorias</span></a>
            </div>
        </div>

        <header class="widget-header line two-column fifty-fifty">
            <div class="column">
                <h2 class="widget-title">fóruns</h2>
            </div>
            <div class="column">
                <form class="widget-filter form-inline">
                    <input class="form-control" type="text" placeholder="Busca nos fóruns...">
                </form>
            </div>
        </header>

        <div class="line one-column">
            <div class="column">
                <h3 class="section-title">últimas postagens</h3>
            </div>
        </div>

        <div class="line two-column fifty-fifty">
            <div class="column">
                <div class="user-update">
                    <div class="user-icon">
                        <img src="http://placehold.it/40" alt="Carla Marques">
                    </div>
                    <div class="info">
                        <b>Carla Marques</b> comentou no fórum <a href="#">Curso de Mediação</a>
                        <span class="thread-title">tópico: <a href="#">Lorem ipsum dolor sit amet...</a></span>
                    </div>
                    <div class="actions">
                        <a href="#" class="button-comment" href="#">1 resposta</a>
                        <a href="#" class="button-like" href="#">4 curtiram</a>
                        <a href="#" class="button-use" href="#">7 usaram</a>
                    </div>
                    <div class="tags">
                        <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                    </div>
                </div>
                <div class="user-update">
                    <div class="user-icon">
                        <img src="http://placehold.it/40" alt="Carla Marques">
                    </div>
                    <div class="info">
                        <b>Carla Marques</b> criou o tópico <a href="#">Curso de Mediação</a> no fórum <a href="#">Experiências Pedagógicas</a></span>
                    </div>
                    <div class="actions">
                        <a href="#" class="button-discussion">discussão</a>
                        <a href="#" class="button-comment small" href="#">1</a>
                        <a href="#" class="button-like small" href="#">4</a>
                        <a href="#" class="button-use small" href="#">7</a>
                    </div>
                    <div class="tags">
                        <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                    </div>
                </div>
                <div class="user-update">
                    <div class="user-icon">
                        <img src="http://placehold.it/40" alt="Carla Marques">
                    </div>
                    <div class="info">
                        <b>Carla Marques</b> comentou no fórum <a href="#">Curso de Mediação</a>
                        <span class="thread-title">tópico: <a href="#">Lorem ipsum dolor sit amet...</a></span>
                    </div>
                    <div class="actions">
                        <a href="#" class="button-like" href="#">4 curtiram</a>
                        <a href="#" class="button-use" href="#">7 usaram</a>
                    </div>
                    <div class="tags">
                        <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="user-update">
                    <div class="user-icon">
                        <img src="http://placehold.it/40" alt="Carla Marques">
                    </div>
                    <div class="info">
                        <b>Carla Marques</b> comentou no fórum <a href="#">Curso de Mediação</a>
                        <span class="thread-title">tópico: <a href="#">Lorem ipsum dolor sit amet...</a></span>
                    </div>
                    <div class="actions">
                        <a href="#" class="button-comment" href="#">1 resposta</a>
                        <a href="#" class="button-like" href="#">4 curtiram</a>
                        <a href="#" class="button-use" href="#">7 usaram</a>
                    </div>
                    <div class="tags">
                        <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                    </div>
                </div>
                <div class="user-update">
                    <div class="user-icon">
                        <img src="http://placehold.it/40" alt="Carla Marques">
                    </div>
                    <div class="info">
                        <b>Carla Marques</b> criou o tópico <a href="#">Curso de Mediação</a> no fórum <a href="#">Experiências Pedagógicas</a></span>
                    </div>
                    <div class="actions">
                        <a href="#" class="button-discussion">discussão</a>
                        <a href="#" class="button-comment small" href="#">1</a>
                        <a href="#" class="button-like small" href="#">4</a>
                        <a href="#" class="button-use small" href="#">7</a>
                    </div>
                    <div class="tags">
                        <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                    </div>
                </div>
                <div class="user-update">
                    <div class="user-icon">
                        <img src="http://placehold.it/40" alt="Carla Marques">
                    </div>
                    <div class="info">
                        <b>Carla Marques</b> comentou no fórum <a href="#">Curso de Mediação</a>
                        <span class="thread-title">tópico: <a href="#">Lorem ipsum dolor sit amet...</a></span>
                    </div>
                    <div class="actions">
                        <a href="#" class="button-like" href="#">4 curtiram</a>
                        <a href="#" class="button-use" href="#">7 usaram</a>
                    </div>
                    <div class="tags">
                        <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="line one-column">
            <div class="column">
                <h3 class="section-title">geral</h3>
            </div>
        </div>

        <div class="forum-list">
            <table>
                <thead>
                    <tr>
                        <th>tópico</th>
                        <th>reações</th>
                        <th>categorias</th>
                        <th>tags</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="thread-name">Lorem ipsum dolor sit amet</span>
                            <span class="last-update">Última atividade <b>há 2 horas</b></span>
                        </td>
                        <td>
                            <a href="#" class="button-comment small" href="#">1</a>
                            <a href="#" class="button-like small" href="#">4</a>
                            <a href="#" class="button-use small" href="#">7</a>
                        </td>
                        <td>
                            <a href="#" class="button-discussion">discussão</a>
                        </td>
                        <td>
                            <div class="tags">
                                <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="thread-name">Lorem ipsum dolor sit amet</span>
                            <span class="last-update">Última atividade <b>há 2 horas</b></span>
                        </td>
                        <td>
                            <a href="#" class="button-comment small" href="#">1</a>
                            <a href="#" class="button-like small" href="#">4</a>
                            <a href="#" class="button-use small" href="#">7</a>
                        </td>
                        <td>
                            <a href="#" class="button-schedule">pauta</a>
                        </td>
                        <td>
                            <div class="tags">
                                <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="thread-name">Lorem ipsum dolor sit amet</span>
                            <span class="last-update">Última atividade <b>há 2 horas</b></span>
                        </td>
                        <td>
                            <a href="#" class="button-comment small" href="#">1</a>
                            <a href="#" class="button-like small" href="#">4</a>
                            <a href="#" class="button-use small" href="#">7</a>
                        </td>
                        <td>
                            <a href="#" class="button-register">registro</a>
                        </td>
                        <td>
                            <div class="tags">
                                <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="thread-name">Lorem ipsum dolor sit amet</span>
                            <span class="last-update">Última atividade <b>há 2 horas</b></span>
                        </td>
                        <td>
                            <a href="#" class="button-comment small" href="#">1</a>
                            <a href="#" class="button-like small" href="#">4</a>
                            <a href="#" class="button-use small" href="#">7</a>
                        </td>
                        <td>
                            <a href="#" class="button-discussion">discussão</a>
                        </td>
                        <td>
                            <div class="tags">
                                <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="thread-name">Lorem ipsum dolor sit amet</span>
                            <span class="last-update">Última atividade <b>há 2 horas</b></span>
                        </td>
                        <td>
                            <a href="#" class="button-comment small" href="#">1</a>
                            <a href="#" class="button-like small" href="#">4</a>
                            <a href="#" class="button-use small" href="#">7</a>
                        </td>
                        <td>
                            <a href="#" class="button-schedule">pauta</a>
                        </td>
                        <td>
                            <div class="tags">
                                <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="thread-name">Lorem ipsum dolor sit amet</span>
                            <span class="last-update">Última atividade <b>há 2 horas</b></span>
                        </td>
                        <td>
                            <a href="#" class="button-comment small" href="#">1</a>
                            <a href="#" class="button-like small" href="#">4</a>
                            <a href="#" class="button-use small" href="#">7</a>
                        </td>
                        <td>
                            <a href="#" class="button-register">registro</a>
                        </td>
                        <td>
                            <div class="tags">
                                <a href="#">#lorem</a><a href="#">#ipsum</a><a href="#">#lorem</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

</div>

{% endblock %}
