{% load i18n %}
{% load is_coordinator %}

<header class="site-header" role="navigation">
    {% block header_navbar %}
    <div class="site-logo">
        <h1><a href="/"><img src="/static/img/site-logo.svg" alt="{{ site.name }}"></a></h1>
    </div>
    {% endblock %}

    {% if user.is_authenticated %}
        <ul class="user-tools">
            <li>
                <a class="notifications" href="#">{% trans 'Notifications' %}</a>
            </li>
            <li>
                <a class="chat" href="#">{% trans 'Chat' %}</a>
            </li>
        </ul>
    {% else %}
        <ul class="login">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign In' %}</a>
                {% include '_login_modal.html' %}
            </li>
            <li>
            {% block header_signup_link %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign Up' %}</a>
                {% include '_signup_modal.html' %}
            {% endblock %}
            </li>
        </ul>
    {% endif %}
</header>