{% load i18n %}
{% load is_coordinator %}

<header class="site-header" role="navigation">
    <div class="user-info">
        {% if user.is_authenticated %}
            {% block header_user_menu %}
                <div class="user-icon"><img src="http://placehold.it/40" alt="{{ user }}" class="img-circle"></div>
                <div class="user-name">{{ user }}</div>
                <div class="menu-label">menu</div>
            {% endblock %}
        {% endif %}
    </div>

    {% block header_navbar %}
    <div class="site-logo">
        <h1><a href="/"><img src="/static/img/site-logo-orange.svg" alt="{{ site.name }}"></a></h1>
    </div>
    {% endblock %}

    {% if user.is_authenticated %}
        <ul class="user-tools">
            <li>
                <a class="notifications" href="#">{% trans 'Notifications' %}</a>
            </li>
            <!--<li>-->
                <!--<a class="chat" href="#">{% trans 'Chat' %}</a>-->
            <!--</li>-->
        </ul>
    {% endif %}
</header>

{% if user.is_authenticated %}
<div class="notifications-panel">
    <h2 class="notifications-title">{% trans 'Notifications' %}</h2>
    <ul class="notifications-list">
        <li class="notifications-item">
            <span class="icon"><img src="http://placehold.it/50"></span>
            <span class="info"><b>Lenina Freire</b> fez ação tal no tópico <a href="">Lorem Ipsum Dolor Sit Amet</a> no fórum <a href="">Lorem Ipsum Dolor Sit Amet</a></span>
            <span class="date">há 30 minutos</span> 
        </li>
        <li class="notifications-item not-read">
            <span class="icon"><img src="http://placehold.it/50"></span>
            <span class="info"><b>Lenina Freire</b> fez ação tal no tópico <a href="">Lorem Ipsum Dolor Sit Amet</a> no fórum <a href="">Lorem Ipsum Dolor Sit Amet</a></span>
            <span class="date">há 30 minutos</span> 
        </li>
        <li class="notifications-item not-read">
            <span class="icon"><img src="http://placehold.it/50"></span>
            <span class="info"><b>Lenina Freire</b> fez ação tal no tópico <a href="">Lorem Ipsum Dolor Sit Amet</a> no fórum <a href="">Lorem Ipsum Dolor Sit Amet</a></span>
            <span class="date">há 30 minutos</span> 
        </li>
        <li class="notifications-item">
            <span class="icon"><img src="http://placehold.it/50"></span>
            <span class="info"><b>Lenina Freire</b> fez ação tal no tópico <a href="">Lorem Ipsum Dolor Sit Amet</a> no fórum <a href="">Lorem Ipsum Dolor Sit Amet</a></span>
            <span class="date">há 30 minutos</span> 
        </li>
        <li class="notifications-item">
            <span class="icon"><img src="http://placehold.it/50"></span>
            <span class="info"><b>Lenina Freire</b> fez ação tal no tópico <a href="">Lorem Ipsum Dolor Sit Amet</a> no fórum <a href="">Lorem Ipsum Dolor Sit Amet</a></span>
            <span class="date">há 30 minutos</span> 
        </li>
        <li class="notifications-item">
            <span class="icon"><img src="http://placehold.it/50"></span>
            <span class="info"><b>Lenina Freire</b> fez ação tal no tópico <a href="">Lorem Ipsum Dolor Sit Amet</a> no fórum <a href="">Lorem Ipsum Dolor Sit Amet</a></span>
            <span class="date">há 30 minutos</span> 
        </li>
        <li class="notifications-item">
            <span class="icon"><img src="http://placehold.it/50"></span>
            <span class="info"><b>Lenina Freire</b> fez ação tal no tópico <a href="">Lorem Ipsum Dolor Sit Amet</a> no fórum <a href="">Lorem Ipsum Dolor Sit Amet</a></span>
            <span class="date">há 30 minutos</span> 
        </li>
        <li class="notifications-item">
            <span class="icon"><img src="http://placehold.it/50"></span>
            <span class="info"><b>Lenina Freire</b> fez ação tal no tópico <a href="">Lorem Ipsum Dolor Sit Amet</a> no fórum <a href="">Lorem Ipsum Dolor Sit Amet</a></span>
            <span class="date">há 30 minutos</span> 
        </li>
    </ul>
    <a href="#" class="see-more">ver todos</a>
</div>
{% endif %}