{% load i18n %}
{% load is_coordinator %}

<header class="site-header" role="navigation">
    <div class="user-info">
        {% if user.is_authenticated %}
            {% block header_user_menu %}
                <div class="user-icon"><img src="http://placehold.it/40" alt="{{ user }}" class="img-circle"></div>
                <div class="user-name">{{ user }}</div>
                <div class="menu-label">menu</div>
            {% endblock %}
        {% endif %}
    </div>

    {% block header_navbar %}
    <div class="site-logo">
        <h1><a href="/"><img src="/static/img/site-logo-orange.svg" alt="{{ site.name }}"></a></h1>
    </div>
    {% endblock %}

    {% if user.is_authenticated %}
        <ul class="user-tools">
            <li>
                <a class="notifications" href="#">{% trans 'Notifications' %}</a>
            </li>
            <!--<li>-->
                <!--<a class="chat" href="#">{% trans 'Chat' %}</a>-->
            <!--</li>-->
        </ul>
    {% endif %}
</header>