{% extends 'base-unlogged.html' %}

{% load i18n %}
{% load pipeline %}
{% load is_enrolled %}
{% load get_flatpage %}

{% block js %}
    {{ block.super }}
    {% javascript 'core' %}
{% endblock %}

{% block wrapper_classes %}
home
{% endblock %}

{% block content %}

<div ng-app="core" ng-controller="HomeCtrl">
    <section class="blocks">
        
        <div class="line">
            <div class="welcome">
                <h2>Seja bem vindo ao Paralapracá!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="login">
                <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
                    <fieldset>
                        <legend>Login do usuário</legend>
                        <div class="form-group">
                            <label for="username" class="sr-only">nome de usuário</label>
                            <input name="login" type="text" class="form-control" id="username" placeholder="nome de usuário">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">senha</label>
                            <input name="password" type="password" class="form-control" id="password" placeholder="senha">
                        </div>
                        <button type="submit" class="btn btn-submit">entrar</button>
                        <!--<div class="checkbox">-->
                            <!--<label>-->
                                <!--<input type="checkbox" value="rememberme"> Lembrar do meu usuário neste computador.-->
                            <!--</label>-->
                        <!--</div>-->
                    </fieldset>
                    <p class="info">Esqueceu sua senha? <a href="#">Clique aqui para recuperá-la</a></p>
                </form>
            </div>
        </div>

        <div class="line">
            <div class="register">
                <h2>Conheça a plataforma</h2>
                <p>Cadastre-se na área livre em 4 passos  e deguste o conteúdo do Paralapracá.</p>
                <a href="" class="btn btn-register">quero me cadastrar</a>
            </div>

            <div class="use">
                <p>Pense, aprende e converse sobre educação e transformação pedagógica.</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}
