{% extends "base.html" %}

{% load i18n %}
{% load pipeline %}
{% load staticfiles %}
{% load timtec_markdown %}

{% block js %}
{{ block.super }}
{% javascript 'lesson' %}

<script type="text/javascript" src="{% static 'js/introjs/lesson.js' %}"></script>

<script type="text/javascript">
window.lessonId = {{ lesson.pk }};
// Content type id for object type core.Unit used by django generic relations.
window.unit_content_type_id = {{ unit_content_type_id }};

$(document).ready(function() {
    $(".nav-tabs a").click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('a.unit').tooltip();

    // startIntro();
});
</script>

{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}

<!-- COURSE -->
<div class="course course-lesson" ng-app="lesson">

    <!-- HEADER -->
    {% include "_course-header-inline.html"  with course=lesson.course %}
    <!-- END HEADER -->

    <!-- UNITS NAVIGATION FOR TABLET AND DESKTOP -->
    <div class="lesson-units-nav">
        <div class="line"></div>
        {% block units_nav %}
        <!-- UNITS -->
        <div class="container-fluid">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
            </div>
            <div class="units">
                <span class="units-title">{% trans 'Chapters' %}</span>
                {% verbatim %}
                <a data-placement="right"
                   title="{{unit.video.name}}"
                   href="#/{{$index+1}}"
                   class="has-tooltip unit done" data-toggle="tooltip"
                   ng-repeat="unit in lesson.units"
                   ng-class="{watching: unit==currentUnit, done: unit.progress.complete}">
                       <span ng-bind="unit.position+1">1</span>
                </a>
                <a href="#" class="unit current">
                    <span>2</span>
                </a>
                <a href="#" class="unit">
                    <span>3</span>
                </a>
                <a href="#" class="unit">
                    <span>4</span>
                </a>
                <a href="#" class="unit">
                    <span>5</span>
                </a>
                <a href="#" class="unit">
                    <span>6</span>
                </a>
                <a href="#" class="unit">
                    <span>7</span>
                </a>
                <a href="#" class="unit">
                    <span>8</span>
                </a>
                <a href="#" class="unit">
                    <span>9</span>
                </a>
                <a href="#" class="unit">
                    <span>10</span>
                </a>

                {% endverbatim %}
            </div>
        </div>
        <!-- END UNITS -->
        {% endblock %}
    </div>
    <!-- END UNITS NAVIGATION FOR TABLET AND DESKTOP -->

    <!-- UNITS NAVIGATION FOR PHONES -->
    {% block units_nav_mobile %}
        <div class="visible-xs">
            {% verbatim %}
            <select ng-model="selectedIndex" ng-change="locationChange(selectedIndex)" class="form-control">
                <option ng-repeat="unit in lesson.units"
                        ng-value="$index+1"
                        ng-selected="unit==currentUnit"
                        value="{{$index+1}}">{% endverbatim %}{% trans 'Unit' %}{% verbatim %} {{ unit.position + 1 }}</option>
            </select>
        </div>
        {% endverbatim %}
    {% endblock %}
    <!-- END UNITS NAVIGATION FOR PHONES -->

    <!-- COURSE CONTENT -->
    <section class="course-content" ng-controller="MainCtrl">

        {% block lesson_video %}
        <!--
        this class exists to circunvent a flash + youtube api error
        in which if the video div is really hidden the api breaks
        -->
        <div ng-class="{hidder: section!='video'}" class="video embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item" id="youtube-player" youtube-player></div>
        </div>
        <div ng-show="section=='activity'" class="course-activity">
            <ng:include src="activityTemplateUrl"></ng:include>
        </div>
        <div ng-show="section=='comment'" class="comment">
            <div class="panel panel-default" style="min-height: 368px;">
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans 'Professor comment' %}</h2>
                </div>
                <div class="panel-body" ng-bind-html="currentActivity.comment|markdown"></div>
            </div>
            <div class="row" ng-if="answer.correct">
                <div class="col-lg-12 col-md-12 col-sm-12 textright">
                    <button class="btn btn-success" ng-click="nextStep()">{% trans 'Continue' %}</button>
                </div>
            </div>
        </div>
        <div ng-show="section=='end'" class="next-lesson">
            <div class="centered">
                {% if next_url %}
                    <a class="btn btn-info btn-lg" href="{{ next_url }}"><span>Vá para a próxima aula</span><i class="fa fa-caret-right"></i></a>
                {% else %}
                    <a class="btn btn-info btn-lg" href="{% url 'course_intro' lesson.course.slug %}"><span>Voltar para home do curso</span><i class="fa fa-caret-right"></i></a>
                {% endif %}
            </div>
        </div>
        {% endblock %}

        <nav class="course-lessons hidden-xs">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{ lesson.name }}</h1>
                    <div class="description">{{ lesson.desc|timtec_markdown }}</div>
                </div>
            </div>
        </nav>

        <div class="materials">
            {% block lesson_adicional_material %}
            <!-- SIDENOTES -->
            <div class="side-notes">
                <div class="page-header-double">
                    <h3><i class="fa fa-angle-double-right"></i> {% trans 'Addicional materials' %}</h3>
                </div>
                <span ng-bind-html="currentUnit.side_notes|markdown"></span>
                <p ng-if="!currentUnit.side_notes">{% trans 'This unit has no addicional materials' %}</p>
            </div>
            <!-- END SIDENOTES -->
            {% endblock %}
        </div>

    </section>
    <!-- END COURSE CONTENT -->

    <div class="student-notes">
        <button class="button-show">abrir anotações</button>
        <div class="notes-container">
            <div class="notes-header">
                <h4>anotação</h4>
                <a href="" class="all-notes">ver todas as anotações do curso</a>
                <button class="button-hide">esconder</button>
                <button class="btn btn-xs button-save">salvar</button>
            </div>
            <div class="notes-content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
            </div>
        </div>
    </div>

    <!-- COURSE COMPLETE MODAL -->
    {% block complete_modal_template %}
        {% include "_modal_course_complete.html" %}
    {% endblock %}
    <!-- END COURSE COMPLETE MODAL -->
</div>
<!-- END COURSE -->
{% endblock %}
