{% extends 'base-unlogged.html' %}

{% load i18n %}
{% load pipeline %}
{% load is_enrolled %}
{% load get_flatpage %}

{% block js %}
    {{ block.super }}
    {% javascript 'core' %}
{% endblock %}

{% block wrapper_classes %}
login-page
{% endblock %}

{% block content %}

<div ng-app="core" ng-controller="HomeCtrl">
    <div class="alert alert-danger" role="alert">
        Usuário ou senha incorretos! Tente novamente
    </div>

    <form class="login-form">
        <fieldset>
            <legend>Login do usuário</legend>
            <div class="form-group">
                <label for="username" class="sr-only">nome de usuário</label>
                <input type="text" class="form-control" id="username" placeholder="nome de usuário">
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">senha</label>
                <input type="password" class="form-control" id="password" placeholder="senha">
            </div>
            <button type="submit" class="btn btn-submit">entrar</button>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="rememberme"> Lembrar do meu usuário neste computador.
                </label>
            </div>
        </fieldset>
        <p class="info">Esqueceu sua senha? <a href="#">Clique aqui para recuperá-la</a></p>
    </form>      

</div>

{% endblock %}