{% extends 'base.html' %}
{% load i18n %}
{% load pipeline %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    {% javascript 'notes' %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}

<!-- CONTAINER -->
<div class="my-notes page container-fluid" ng-app="notes" ng-controller="UserNotesCtrl">

    <section class="content">
        {% block notes_header %}
        <div class="page-header">
            <h2><i class="fa fa-angle-double-right"></i> {% trans "My Notes" %}</h2>
        </div>
        {% endblock %}

        <p ng-if="courses.length == 0">
            {% trans "You have not made any notes yet." %}
        </p>

        <div class="courses courses-list" ng-repeat="course in courses">
            <div class="row">
                <div class="col-sm-7 col-lg-8">
                    {% verbatim angularjs %}
                    <a href="/course/{{course.slug}}/mynotes/">{{course.name}}</a>
                    {% endverbatim angularjs %}
                    <small>{% verbatim angularjs %}{{course.course_notes_number}}{% endverbatim angularjs %} {% trans 'Notes' %}</small>
                </div>
                <div class="col-sm-5 col-lg-4 textright">
                    <a href="/course/{% verbatim angularjs %}{{course.slug}}{% endverbatim angularjs %}/mynotes/" class="btn btn-sm btn-info">{% trans 'Go to notes' %}</a>
                    <a href="/course/{% verbatim angularjs %}{{course.slug}}{% endverbatim angularjs %}/intro/" class="btn btn-sm btn-success">{% trans 'Resume course' %}</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- CONTAINER -->

{% endblock %}
