{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/profile/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile/services.js' %}"></script>
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<div class="profile page container-fluid" ng-app="profile" ng-controller="UserProfileController">
    <div class="col-lg-12" ng-hide="user_profile.$resolved">
        <p><i class="loading fa fa-refresh fa-spin"></i></p>
    </div>
    <div class="row" ng-show="user_profile">
        <div class="profile-picture col-sm-4 col-xs-12">
            {% verbatim %}
            <img class="img-responsive" ng-src="{{ user_profile.picture }}">
            {% endverbatim %}
        </div>

        <div class="col-sm-8 col-xs-12">
            {% verbatim %}
            <h2 class="profile-name">{{user_profile.first_name}} {{user_profile.last_name}}</h2>
            <div class="profile-info">
                <p ng-if="user_profile.occupation" class="occupation">
                    {{user_profile.occupation}}
                </p>
                <p ng-if="user_profile.city" class="city">
                    {{user_profile.city}}
                </p>
                <p class="site"><a href="{{user_profile.site}}" target="_blank">{{user_profile.site}}</a></p>
            </div>
            {% endverbatim %}
            <!--<span>2 cursos finalizados</span> | <span>1 certificado de conclusão</span>-->
            <div class="profile-bio">
                {% verbatim %}
                <p>{{user_profile.biography}}</p>
                {% endverbatim %}
            </div>
            <div class="profile-edit">
                <a href="#" class="btn btn-primary">editar perfil</a>
            </div>
        </div>
    </div>

    <h2 ng-if="user_profile.certificates.length>0"><i class="fa fa-check-square-o"></i> {% trans 'Finished courses' %}</h2>
    <div class="row">

        <div class="block course col-sm-4" ng-repeat="certificate in user_profile.certificates">

            <div class="course-card">
                <div class="thumb-wrapper">
                    {% verbatim %}
                    <img class="img-responsive" ng-src="{{ certificate.course.home_thumbnail_url }}" />
                    {% endverbatim %}
                </div>
                <div class="info">
                    {% verbatim %}
                        <a class="course-link" ng-href="/course/{{ certificate.course.slug }}/intro/">
                            <h3>{{ certificate.course.name }}</h3>
                        </a>
                    {% endverbatim %}
                    <p class="instructors">
                        <span ng-repeat="professor in certificate.course.professors">
                            {% verbatim %}
                            {{ professor }}<span ng-if="!$last">, </span>
                            {% endverbatim %}
                        </span>
                    </p>
                </div>
                <div class="conclusion">
                    <p>
                        {% trans 'Finished at' %} {% verbatim %}{{ certificate.created_date|date:"dd/MM/yyyy" }}{% endverbatim %}.
                    </p>
                    {% verbatim %}
                    <a class="enroll-link text-uppercase" ng-href="/certificate/{{ certificate.link_hash }}">
                    {% endverbatim %}
                        <i class="fa fa-file-text-o"></i>
                        <span ng-if="certificate.type == 'receipt'">
                            {% trans 'View Receipt' %}
                        </span>
                        <span ng-if="certificate.type == 'certificate'">
                            {% trans 'View Certificate' %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
